@model Improvar.ViewModels.TransactionKhasraEntry
@{
    string PageControllerName = "T_Bilty_Khasra";
    switch (Model.MENU_PARA)
    {
        case "KHSR":
            ViewBag.Title = "Khasra"; break;
        case "TRFB":
            ViewBag.Title = "Sotck Transfer Bale"; break;
        case "TRWB":
            ViewBag.Title = "Stk Trnf with Waybill (Bale)"; break;
        default: ViewBag.Title = ""; break;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    .TextAreaRemarks {
        height: 190px;
    }
</style>
<script src="~/Scripts/jquery.min.js"></script>
<link rel="stylesheet" href="~/Content/jquery.stickytable.css">
<script type="text/javascript">
    $("#WaitingMode").show();
    $(document).ready(function () {
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") {
            modeView();
            $(".sl_bom_grid").prop("disabled", false);
        }
        else if ("@Model.DefaultAction" == "E") {
            if ("@Model.MENU_PARA" == "TRFB" || "@Model.MENU_PARA" == "TRWB") {
                $("#GOCD").attr('readonly', 'readonly');
                $("#gocdhlp").hide();
            }
        }
        else if ("@Model.DefaultAction" == "A") {
            $('form :input:enabled:visible:not([readonly]):first').focus();
        }
        $("#WaitingMode").hide();
    });
</script>
<script>
    @{
        string mldauto = "";
        if (@Model.T_CNTRL_HDR != null)
        {
            if (@Model.T_CNTRL_HDR.AUTONO != null)
            {
                mldauto = Model.T_CNTRL_HDR.AUTONO.ToString();
                if (Model.T_CNTRL_HDR.CANCEL == "Y")
                {
                    ViewBag.formname = ViewBag.formname + "   " + "(Record Cancelled)";
                }
            }
        }
        else
        {
            mldauto = "";
        }
    }
    function ModifyLogDetails() {
        if ("@Model.DefaultAction" == "V") {
            ModifyLogDtl('@mldauto');
        }
    }
</script>
<script>
    function requiredFieldValidator() {
        debugger;
        if (!emptyFieldCheck("Please Select / Enter Document Date", "DOCDT")) { return false; }
        var GridRowMain = $("#T_Bilty_Khasra_Main > tbody > tr").length;

        if ("@Model.MENU_PARA" == "TRFB" || "@Model.MENU_PARA" == "TRWB") {
            var gocd = $("#GOCD").val();
            if (!emptyFieldCheck("Please Select / Enter Document Godown", "GOCD")) { return false; }
            for (var i = 0; i < GridRowMain; i++) {
                var grgocd = $("#GOCD_" + i).val();
                if (gocd == grgocd) {
                    msgInfo("GOCD header and grid should not same. ");
                    message_value = "GOCD";
                    return false;
                }
            }
        }

        for (var i = 0; i < GridRowMain; i++) {
            var grgocd = $("#GOCD_" + i).val();
            if (grgocd == "") {
                msgInfo("GOCD enter in the grid");
                message_value = "GOCD_" + i;
                return false;
            }
        }

        if ("@Model.MENU_PARA" == "TRWB") {
            if (!emptyFieldCheck("Please Select / Enter Mutia", "MUTSLCD")) { return false; }
        }
        return true;
    }
</script>
<script>
    $(function () {
        if ("@Model.DefaultAction" != "V") {
            $("#DOCDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate', minDate: '@Model.mindate' });
            $("#LRDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate' });
        }
    });
</script>

<script>
    function AddDOCrow() {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("AddDOCRow", PageControllerName)",
            data: $('form').serialize(),
            success: function (result) {
                $("#partialdivDocument").animate({ marginTop: '-10px' }, 50);
                $("#partialdivDocument").html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
    function DeleteDOCrow() {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("DeleteDOCRow", PageControllerName)",
            data: $('form').serialize(),
            success: function (result) {
                $("#partialdivDocument").animate({ marginTop: '0px' }, 50);
                $("#partialdivDocument").html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>
<script>

    function DeleteRow() {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("DeleteRow", PageControllerName)",
            data: $('form').serialize(),
            success: function (result) {
                $("#partialdivMain").animate({ marginTop: '0px' }, 50);
                $("#partialdivMain").html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>
<script>
    function GetData() {
        if ("@Model.DefaultAction" != "V") {
            if (!emptyFieldCheck("Please Select / Enter Document Date", "DOCDT")) { return false; }
            if ("@Model.MENU_PARA" == "TRFB" || "@Model.MENU_PARA" == "TRWB") {
                if (!emptyFieldCheck("Please Select / Enter Godown", "GOCD")) { return false; }
            }
            $.ajax({
                type: 'POST',
                url: "@Url.Action("GetData", PageControllerName)",
                beforesend: $("#WaitingMode").show(),
                data: $('form').serialize(),
                success: function (result) {
                    $("#WaitingMode").hide();
                    if (result == 0)
                    { return msgWarning("Record not Found! Please enter valid Document date."); }
                    $("#popup").animate({ marginTop: '-10px' }, 50);
                    $("#popup").html(result);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });
        }
    }
</script>
<script>
    //function SelectMatchingCheckBoxes() {
    //    debugger;;
    //    var arr = new Array();
    //    var GridRowMain = $("#T_Bilty_Khasra_PopUp > tbody > tr").length;
    //    for (i = 0; i <= GridRowMain - 1; i++) {
    //        var chkbox = document.getElementById("chkid_K_POPUP_" + i);
    //        if (chkbox.checked) { arr.push(document.getElementById("BLAUTONO_K_POPUP_" + i)); }

    //    }
    //    for (i = 0; i <= GridRowMain - 1; i++) {
    //        if (arr.indexOf(document.getElementById("BLAUTONO_K_POPUP_" + i)) != -1) {
    //            document.getElementById("chkid_K_POPUP_" + i).checked = true;
    //        }
    //    }

    //}
    function SelectMatchingCheckBoxes(index, checkboxid, matchingid, tableid) {
        debugger;
        var arrmatchingfld = matchingid.split('/');
        var chkbox = document.getElementById(checkboxid + index).checked;
        if (chkbox == true) {
            var Table_name = "#" + tableid + " > tbody > tr";
            var lngth = $(Table_name).length;
            for (var i = 0; i <= lngth - 1; i++) {
                var flag = true;
                var lrnoflag = false;
                for (var j = 0; j <= arrmatchingfld.length - 1; j++) {
                    if ($("#" + arrmatchingfld[j] + index).val() != $("#" + arrmatchingfld[j] + i).val()) {
                        flag = false;
                        break;
                    }
                    if (arrmatchingfld[j] == "LRNO_POPUP_") {
                        lrnoflag = true;
                    }
                }
                if (flag == true) {
                    document.getElementById(checkboxid + i).checked = true;
                    if (lrnoflag == true) {
                        document.getElementById("chkid_K_POPUP_" + i).checked = true;
                    }
                }
            }
        }
        else {
            var Table_name = "#" + tableid + " > tbody > tr";
            var lngth = $(Table_name).length;
            for (var i = 0; i <= lngth - 1; i++) {
                var flag = true;
                var lrnoflag = false;
                for (var j = 0; j <= arrmatchingfld.length - 1; j++) {
                    if ($("#" + arrmatchingfld[j] + index).val() != $("#" + arrmatchingfld[j] + i).val()) {
                        flag = false;
                        break;
                    }
                    if (arrmatchingfld[j] == "LRNO_POPUP_") {
                        lrnoflag = true;
                    }
                }
                if (flag == true) {
                    document.getElementById(checkboxid + i).checked = false;
                    if (lrnoflag == true) {
                        document.getElementById("chkid_K_POPUP_" + i).checked = false;
                    }
                }
            }
        }
    }
    function SelectPendingLRNO() {
        debugger;
        var mutslcd = ""; var CheckAll = false;
        var docdt = $("#DOCDT").val();
        if ($("#MUTSLCD").val() != "") mutslcd = $("#MUTSLCD").val();
        var Count = 0;
        var GridPendingPO = $("#T_Bilty_Khasra_PopUp > tbody > tr").length;
        for (var i = 0; i <= GridPendingPO - 1; i++) {
            var Check = document.getElementById("chkid_K_POPUP_" + i).checked;
            if ("@Model.MENU_PARA" == "KHSR") CheckAll = document.getElementById("CheckedAll_" + i).checked;
            if (Check == true || CheckAll == true) {
                Count = Count + 1;
            }
        }
        if (Count > 0) {
            $.ajax({
                type: 'post',
                url: "@Url.Action("SelectPendingLRNO", PageControllerName )",
                beforesend: $("#WaitingMode").show(),
                data: $('form').serialize() + "&DOCDT=" + docdt + "&MUTSLCD=" + mutslcd,
                success: function (result) {
                    //var res = result.split("^^^^^^^^^^^^~~~~~~^^^^^^^^^^");

                    $("#partialdivMain").animate({ marginTop: '0px' }, 50);
                    $("#partialdivMain").html(result);
                    $("#WaitingMode").hide();
                    @*$('#partialdivMain').html(res[0]);
                    if ("@Session["CLIENT_CODE"]" == "ADHU") {
                        $("#OTHREFNO").val(res[1]);
                    }*@
                    $('#popup').html("");
                    $('.PopUp_Backround').fadeOut();
                    if ("@Model.MENU_PARA" == "TRFB" || "@Model.MENU_PARA" == "TRWB") {
                        $("#GOCD").attr('readonly', 'readonly');
                        $("#gocdhlp").hide();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });
        }

    }

    function CancelLRNO() {
        $('#popup').html("");
        $('.PopUp_Backround').fadeOut();
    }
    function GodownBaleopenFill(index) {
        debugger;
        var GOCD = $("#GOCD_" + index).val();
        var GONM = $("#GONM_" + index).val();
        var FLAG1 = $("#FLAG1_" + index).val();
        var BALEOPEN = document.getElementById("CheckedBALEOPEN_" + index).checked;

        var BLAUTONO = $("#BLAUTONO_" + index).val();
        var BALENO = $("#BALENO_" + index).val();

        var Table_name = "#T_Bilty_Khasra_Main > tbody > tr";
        var lngth = $(Table_name).length;
        for (var i = 0; i <= lngth - 1; i++) {
            if (BLAUTONO == $("#BLAUTONO_" + i).val() && BALENO == $("#BALENO_" + i).val()) {
                $("#GOCD_" + i).val(GOCD);
                $("#GONM_" + i).val(GONM);
                $("#FLAG1_" + i).val(FLAG1);
                if (BALEOPEN == true && $("#FLAG1_" + i).val() == "SHOP") {
                    document.getElementById("CheckedBALEOPEN_" + i).checked = true;
                }
                else {
                    document.getElementById("CheckedBALEOPEN_" + i).checked = false;
                }
            }
        }
    }
</script>
<script>
    function CalulateTareWt(GRWT, NTWT, TRWT) {
        var DefaultAction = $("#DefaultAction").val();
        if (DefaultAction == "V") return true;
        var GROSS = document.getElementById(GRWT.id).value;
        if (GROSS == "") {
            GROSS = parseFloat(0);
        }
        var NET = document.getElementById(NTWT.id).value;
        if (NET == "") {
            NET = parseFloat(0);
        }
        var TARE = GROSS - NET;
        document.getElementById(TRWT.id).value = TARE.toFixed(3);

    }
</script>
<script>
    function pageprinting() {
        debugger;
        var ty = $("#DOCCD").val();
        $.ajax({
            type: 'POST',
            url: "@Url.Action("Print", PageControllerName)",
            data: $('form').serialize() + "&DOCNO=" + $("#DOCONLYNO").val() + "&DOC_CD=" + $("#DOCCD").val() + "&DOCDT=" + $("#DOCDT").val(),
            success: function (result) {
                window.open("@Url.Action("Khasra_BaleTrnf_Print", "Khasra_BaleTrnf_Print", new { US = Model.UNQSNO_ENCRYPTED })", "_blank")
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>
<script>
    function GetGodown(id, index) {
        if ("@Model.DefaultAction" != "V") {
            debugger;
            if (id == "") {
                ClearAllTextBoxes("GOCD_" + index + ",GONM_" + index + ",FLAG1_" + index);
                GodownBaleopenFill(index);
            }
            else {
                var gocd = $("#GOCD").val();
                $.ajax({
                    type: 'POST',
                    beforesend: $("#WaitingMode").show(),
                    url: "@Url.Action("GetGodownDetails", PageControllerName)",
                    data: "&Code=" + gocd + "&val=" + id,
                    success: function (result) {
                        var MSG = result.indexOf('#helpDIV');
                        if (MSG >= 0) {
                            ClearAllTextBoxes("GOCD_" + index + ",GONM_" + index + ",FLAG1_" + index);
                            $('#SearchFldValue').val("GOCD_" + index);
                            $('#helpDIV').html(result);
                            $('#ReferanceFieldID').val("GOCD_" + index + "/GONM_" + index);
                            $('#ReferanceColumn').val("1/0");
                            $('#helpDIV_Header').html("Godown Details");
                        }
                        else {
                            var MSG = result.indexOf(String.fromCharCode(181));
                            if (MSG >= 0) {
                                $("#GOCD_" + index).val(returncolvalue(result, "GOCD"));
                                $("#GONM_" + index).val(returncolvalue(result, "GONM"));
                                $("#FLAG1_" + index).val(returncolvalue(result, "FLAG1"));
                                GodownBaleopenFill(index);
                            }
                            else {
                                $('#helpDIV').html("");
                                msgInfo("" + result + " !");
                                ClearAllTextBoxes("GOCD_" + index + ",GONM_" + index + ",FLAG1_" + index);
                                GodownBaleopenFill(index);
                                message_value = "GOCD_" + index;
                            }
                        }
                        $("#WaitingMode").hide();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#WaitingMode").hide();
                        msgError(XMLHttpRequest.responseText);
                        $("body span h1").remove(); $("#msgbody_error style").remove();
                    }
                });
            }
        }
    }
</script>
<script>
    function GetLastGodown(id) {
        if ("@Model.DefaultAction" != "V") {
            debugger;
            if (id == "") { $("#BALENO").val(""); $("#GONM1").val(""); return false; }
            if (!emptyFieldCheck("Please Select / Enter Document Date", "DOCDT")) { return false; }
            $.ajax({
                type: 'POST',
                beforesend: $("#WaitingMode").show(),
                url: "@Url.Action("GetLastGodown", PageControllerName)",
                data: $('form').serialize(),
                success: function (result) {

                    var MSG = result.indexOf(String.fromCharCode(181));
                    if (MSG >= 0) {
                        $("#GONM1").val(returncolvalue(result, "GONM"));
                    }
                    else {
                        msgInfo("Invalid Bale No.!");
                        $("#BALENO").val(""); $("#GONM1").val("");
                        message_value="BALENO";
                    }
                    $("#WaitingMode").hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });

        }
    }


</script>
@using (Html.BeginForm())
{
    if (Model.DefaultView == true)
    {
        @Html.HiddenFor(a => Model.maxdate)
        @Html.HiddenFor(a => Model.mindate)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" id="btnSave" value="@Url.Action("SAVE", PageControllerName)" />
        <input type="hidden" id="srhpnl" value="@Url.Action("SearchPannelData", PageControllerName)" />
        <input type="hidden" id="urlcancelrecord" value="@Url.Action("cancelRecords", PageControllerName)" />
        <input type="hidden" id="partylinkcd" value="S" />
        <input type="hidden" id="trnsportlinkcd" value="T" />
        @Html.HiddenFor(s => s.DefaultAction)
        @Html.HiddenFor(a => a.T_BALE_HDR.AUTONO, new { id = "AUTONO" })
        @Html.HiddenFor(a => a.T_CNTRL_HDR.MNTHCD)
        @Html.HiddenFor(a => a.T_CNTRL_HDR.EMD_NO)
        @Html.HiddenFor(a => a.T_CNTRL_HDR.DOCNO)
        <div class="form-horizontal">
            @if (Model.DefaultAction == "V")
            {
                @Html.Partial("_FilteredSearch")
            }
            <div class="row">
                <div class="col-md-5" style="margin-top: 6px;">
                    <div class="editor-label">
                        @Html.Label("", "Document Code")
                        <b style="color:Red;">*</b>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="editor-field">
                        @if (Model.DefaultAction == "A")
                        {
                            @Html.DropDownListFor(model => model.T_CNTRL_HDR.DOCCD, new SelectList(Model.DocumentType, "Value", "Text"), new { @class = "form-control", id = "DOCCD", @onchange = "ChangeDoctype();" })
                        }
                        else
                        {
                            @Html.DropDownListFor(model => model.T_CNTRL_HDR.DOCCD, new SelectList(Model.DocumentType, "Value", "Text"), new { @class = "form-control", id = "DOCCD", style = "pointer-events:none;background-color:#eee" })
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Document Date")
                        <b style="color:Red;">*</b>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.T_CNTRL_HDR.DOCDT, new { htmlAttributes = new { @class = "form-control", id = "DOCDT", onblur = "DocumentDateCHK(this);", autocomplete = "off", @placeholder = "dd/mm/yyyy", maxlength = 10 } })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Document No.")
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.T_CNTRL_HDR.DOCONLYNO, new { htmlAttributes = new { @class = "form-control", id = "DOCONLYNO", @placeholder = "Doc. No.", maxlength = 6, @readonly = "readonly" } })
                        @*@if (Model.MENU_PARA != "TRFB")
                            {
                                    @Html.HiddenFor(a => a.T_TXN.GOCD, new { id = "GOCD" })
                                }*@
                    </div>
                </div>
                @if (Model.DefaultAction != "V")
                    {
                    <div class="col-md-7">
                        <div class="editor-field" style="margin-top: 2px;">
                            <input type="button" class="btn btn-primary" style="padding:2px;" value="Get Data " onclick="GetData()" />
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                @if (Model.MENU_PARA == "TRFB" || Model.MENU_PARA == "TRWB")
                {
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Godown")
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.T_TXN.GOCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "GOCD", onkeydown = "GetHelpBlur('" + @Url.Action("GetGodownDetails", PageControllerName) + "','Godown Details','GOCD','GOCD=GOCD=1/GONM=GONM=0')", onblur = "GetHelpBlur('" + @Url.Action("GetGodownDetails", PageControllerName) + "','Godown Details','GOCD','GOCD=GOCD=1/GONM=GONM=0');", @placeholder = "Code", maxlength = 6 } })
                            <img src="~/Image/search.png" width="20px" height="20px" id="gocdhlp" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetGodownDetails", PageControllerName)','Godown Details','GOCD','GOCD=GOCD=1/GONM=GONM=0')" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.GONM, new { htmlAttributes = new { @class = "form-control", @TabIndex = -1, @title = "Godown Name", @placeholder = "Godown Name", @readonly = "readonly" } })
                        </div>
                    </div>
                }
                else
                {
                    @Html.HiddenFor(a => a.T_TXN.GOCD)
                    if (Model.DefaultAction != "V")
                    {  <div class="col-md-5">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Bale No.")
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="editor-field" style="margin-top:6px;">
                        @Html.EditorFor(model => model.BALENO, new { htmlAttributes = new { @class = "form-control", id = "BALENO", @placeholder = "Bale No.", maxlength = 30, onblur = "GetLastGodown(this.value);" } })
                    </div>
                </div>
                        <div class="col-md-7">
                            <div class="editor-field" style="margin-top:6px;">
                                @Html.EditorFor(model => model.GONM1, new { htmlAttributes = new { @class = "form-control", id = "GONM1", @placeholder = "Godown Name", @TabIndex = -1, @readonly = "readonly" } })
                            </div>
                        </div>}



                }
                @*<div class="col-md-3">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Bale Open")
                        </div>
                    </div>
                    <div class="editor-field" style="margin-top:6px;">
                        @Html.CheckBoxFor(model => model.BALEOPEN, new { id = "BALEOPEN" })
                    </div>*@
                @if (Model.MENU_PARA == "TRWB")
                {
                    <div class="col-md-4">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Mutia")
                            <b style="color:Red;">*</b>
                        </div>
                    </div>
                                    <div class="col-md-3">
                                        <div class="editor-field">
                                            @Html.EditorFor(model => model.T_BALE_HDR.MUTSLCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "MUTSLCD", onkeydown = "GetHelpBlur('" + @Url.Action("GetSubLedgerDetails", PageControllerName) + "','Mutia Details','MUTSLCD','MUTSLCD=MUTSLCD=1/SLNM=slnm=0','trnsportlinkcd')", onblur = "GetHelpBlur('" + @Url.Action("GetSubLedgerDetails", PageControllerName) + "','Mutia Details','MUTSLCD','MUTSLCD=SLCD=1/SLNM=slnm=0','trnsportlinkcd');", @placeholder = "MUTSLCD", maxlength = 8 } })
                                            <img src="~/Image/search.png" id="PARTY_HELP" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetSubLedgerDetails", PageControllerName)','Mutia Details','MUTSLCD','MUTSLCD=slcd=1/SLNM=slnm=0','trnsportlinkcd')" />
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="editor-field">
                                            @Html.EditorFor(model => model.SLNM, new { htmlAttributes = new { @class = "form-control", id = "SLNM", maxlength = 45, @title = "Only for View", @placeholder = "Mutia Name", @readonly = "readonly", tabindex = "-1" } })
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="width:auto">
                                        <div class="editor-label" style="margin-top: 6px;">
                                            @Html.Label("", "Subledger")
                                            @*<b style="color:Red;">*</b>*@
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="editor-field">
                                            @Html.EditorFor(model => model.T_TXN.SLCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "SLCD", onkeydown = "GetHelpBlur('" + @Url.Action("GetSubLedgerDetails", PageControllerName) + "','Subledger Details','SLCD','SLCD=slcd=1/SLNM1=slnm=0','partylinkcd')", onblur = "GetHelpBlur('" + @Url.Action("GetSubLedgerDetails", PageControllerName) + "','Subledger Details','SLCD','SLCD=SLCD=1/SLNM1=slnm=0','partylinkcd');", @placeholder = "SLCD", maxlength = 8 } })
                                            <img src="~/Image/search.png" id="PARTY_HELP" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetSubLedgerDetails", PageControllerName)','Subledger Details','SLCD','SLCD=slcd=1/SLNM1=slnm=0','partylinkcd')" />
                                        </div>
                                    </div>
                                    <div class="col-md-9" style="width:auto">
                                        <div class="editor-field">
                                            @Html.EditorFor(model => model.SLNM1, new { htmlAttributes = new { @class = "form-control", id = "SLNM1", maxlength = 45, @title = "Only for View", @placeholder = "Subledger Name", @readonly = "readonly", tabindex = "-1" } })
                                        </div>
                                    </div>

                }
            </div>
            <div class="row" style="margin-top:5px;">
                <ul class="nav nav-tabs">
                    <li id="Main_LI4" class="active"><a data-toggle="tab" href="#Main" accesskey="M">Main(M)</a></li>
                    <li id="Transport_LI" class=""><a data-toggle="tab" href="#Transport" accesskey="T">Transport(T)</a></li>
                    <li id="Remarks_LI4" class=""><a data-toggle="tab" href="#Remarks" accesskey="R">Remarks(R)</a></li>
                    <li id="Documents_LI4" class=""><a data-toggle="tab" href="#Documents" accesskey="U">Documents(U)</a></li>
                </ul>
                <div id="popup" class="row" style="margin-top: 11px;top:15%;left:2%;right:2%;position:absolute;width:750px;">
                </div>
                <div class="tab-content">
                    <div id="Main" class="tab-pane fade in active" style="margin-top: 10px;margin-left: 11px;">
                        <div class="row" style="margin-top: 11px;background-color:#c4b9b9;border:5px groove;width:fit-content;">
                            <div id="partialdivMain">
                                @Html.Partial("_T_Bilty_Khasra_Main")
                            </div>
                        </div>
                    </div>
                    <div id="Transport" class="tab-pane fade" style="margin-top: 10px;margin-left: 11px;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="editor-label" style="margin-top: 6px;">
                                    @Html.Label("", "Transporter")
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.T_TXNTRANS.TRANSLCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "TRANSLCD", onkeydown = "GetHelpBlur('" + @Url.Action("GetSubLedgerDetails", PageControllerName) + "','Transporter Details','TRANSLCD','TRANSLCD=slcd=1/TRANSLNM=slnm=0','trnsportlinkcd')", onblur = "GetHelpBlur('" + @Url.Action("GetSubLedgerDetails", PageControllerName) + "','Transporter Details','TRANSLCD','TRANSLCD=slcd=1/TRANSLNM=slnm=0','trnsportlinkcd');", @placeholder = "Code", maxlength = 8 } })
                                    <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetSubLedgerDetails", PageControllerName)','Transporter Details','TRANSLCD','TRANSLCD=slcd=1/TRANSLNM=slnm=0','trnsportlinkcd')" />
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.TRANSLNM, new { htmlAttributes = new { @class = "form-control", id = "TRANSLNM", maxlength = 45, @TabIndex = -1, @placeholder = "Transporter Name", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="editor-label" style="margin-top: 6px;">
                                    @Html.Label("", "Transport Mode")
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="editor-field">
                                    @Html.DropDownListFor(model => model.T_TXNTRANS.TRANSMODE, new SelectList(Model.TRANSMODE, "Value", "Text"), "=Select=", new { @class = "form-control", id = "TRANSMODE" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="editor-label" style="margin-top: 6px;">
                                    @Html.Label("", "Eway Bill Number")
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.T_TXNTRANS.EWAYBILLNO, new { htmlAttributes = new { @class = "form-control", id = "EWAYBILLNO", maxlength = 20, @placeholder = "Eway Bill Number" } })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="editor-label" style="margin-top: 6px;">
                                    @Html.Label("", "LR Number")
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.T_TXNTRANS.LRNO, new { htmlAttributes = new { @class = "form-control", id = "LRNO", maxlength = 15, @placeholder = "LR Number" } })
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="editor-label" style="margin-top: 6px;">
                                    @Html.Label("", "LR Date")
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.T_TXNTRANS.LRDT, new { htmlAttributes = new { @class = "form-control", id = "LRDT", maxlength = 10, onblur = "DocumentDateCHK(this);", autocomplete = "off", @placeholder = "dd/mm/yyyy" } })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="editor-label" style="margin-top: 6px;">
                                    @Html.Label("", "Vechicle Number")
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.T_TXNTRANS.LORRYNO, new { htmlAttributes = new { @class = "form-control", id = "LORRYNO", maxlength = 16, @placeholder = "Vechicle Number" } })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="editor-label" style="margin-top: 6px;">
                                    @Html.Label("", "Vehicle Type")
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="editor-field">
                                    @Html.DropDownListFor(model => model.T_TXNTRANS.VECHLTYPE, new SelectList(Model.VECHLTYPE, "Value", "Text"), "=Select=", new { @class = "form-control", id = "VECHLTYPE" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="editor-label" style="margin-top: 6px;">
                                    @Html.Label("", "Gross Weight")
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.T_TXNTRANS.GRWT, new { htmlAttributes = new { @class = "form-control", id = "GRWT", onblur = "CalulateTareWt(GRWT,NTWT,TRWT);", @onkeypress = "return numericOnly(this,4);", maxlength = 12, @placeholder = "Gross Weight" } })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="editor-label" style="margin-top: 6px;">
                                    @Html.Label("", "Net Weight")
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.T_TXNTRANS.NTWT, new { htmlAttributes = new { @class = "form-control", id = "NTWT", onblur = "CalulateTareWt(GRWT,NTWT,TRWT);", @onkeypress = "return numericOnly(this,4);", maxlength = 12, @placeholder = "Net Weight" } })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="editor-label" style="margin-top: 6px;">
                                    @Html.Label("", "Tare Weight")
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.T_TXNTRANS.TRWT, new { htmlAttributes = new { @class = "form-control", id = "TRWT", @onkeypress = "return numericOnly(this,4);", maxlength = 12, @placeholder = "Tare Weight", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Remarks" class="tab-pane fade">
                        <div class="row">
                            <div>
                                <div id="partialdivRemarks">
                                    @Html.Partial("_TRANSACTIONREMARKS")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Documents" class="tab-pane fade" style="margin-top: 10px;">
                        <div class="row" style="background-color:#c4b9b9;border:5px groove;width:fit-content;">
                            <div>
                                <div id="partialdivDocument" style="margin-top:0px;">
                                    @Html.Partial("_UPLOADDOCUMENTS")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
    else
    {
        @ViewBag.ErrorMessage
    }

    <div class="container">
        <div id="helpDIV">

        </div>
    </div>
}
