@model Improvar.ViewModels.ReportViewinHtml
@{
    ViewBag.Title = "Order Register";
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
<script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/Content/bootstrap-select.css" />
@Scripts.Render("~/Scripts/Multiple-Select-min.js")
@Scripts.Render("~/Scripts/bootstrap-select.js")
<script src="~/Scripts/jquery.min.js"></script>
<script>
    $(function () {
        $("#FDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate' });
        $("#TDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate' });
    });
</script>
@{
    string PageControllerName = "Rep_OrdReg";
}
<script>
    $(document).ready(function () {
        ItemDivtoggle();
    });
</script>
<script>
    function ItemDivtoggle() {
        var ItemDetails = $('[name="TEXTBOX3"]:checked').val();
        if (ItemDetails == "Details") {
            $(".itemdiv").show();
        }
        else {
            $(".itemdiv").hide();
        }
    }
</script>
@using (Html.BeginForm())
{
    @Html.HiddenFor(a => Model.maxdate)
    @Html.HiddenFor(a => Model.mindate)
    <div class="form-horizontal">
        @Html.HiddenFor(s => s.DefaultAction)
        <div class="row">
            <div class="col-lg-9">
                <div class="row" style="margin-top: 8px;">
                    <div class="col-md-6">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "From Date")
                            <b style="color:Red;">
                                <sup>*</sup>
                            </b>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.FDT, new { htmlAttributes = new { @class = "form-control", id = "FDT", onblur = "DocumentDateCHK(this);", @placeholder = "dd/mm/yyyy", maxlength = 10 } })
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 8px;">
                    <div class="col-md-6">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "To Date")
                            <b style="color:Red;">
                                <sup>*</sup>
                            </b>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TDT, new { htmlAttributes = new { @class = "form-control", id = "TDT", onblur = "DocumentDateCHK(this);", @placeholder = "dd/mm/yyyy", maxlength = 10 } })
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:6px">
                    <div class="col-md-6">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Agent")
                        </div>
                    </div>
                    <div class="col-md-6">
                        @(new HtmlString(Model.Agslnm))
                    </div>
                </div>
                <div class="row" style="margin-top:6px">
                    <div class="col-md-6">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Party")
                        </div>
                    </div>
                    <div class="col-md-6">
                        @(new HtmlString(Model.Slnm))
                    </div>
                </div>
                <div class="row" style="margin-top:6px">
                    <div class="col-md-6">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Order Type")
                        </div>
                    </div>
                    <div class="col-md-6">
                        @(new HtmlString(Model.TEXTBOX4))
                    </div>
                </div>
                <div class="row" style="margin-top:6px">
                    <div class="col-md-6">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Document Type")
                        </div>
                    </div>
                    <div class="col-md-6">
                        @(new HtmlString(Model.Docnm))
                    </div>
                </div>
                <div class="itemdiv row" style="margin-top:6px">
                    <div class="col-md-6">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Item")
                        </div>
                    </div>
                    <div class="col-md-6">
                        @(new HtmlString(Model.Itnm))
                    </div>
                </div>
                @*<div class="itemdiv row" style="margin-top:6px">
                    <div class="col-md-6">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Batch No")
                        </div>
                    </div>
                    <div class="col-md-6">
                        @(new HtmlString(Model.Batchno))
                    </div>
                </div>*@
                <div class="itemdiv row" style="margin-top:6px">
                    <div class="col-md-6">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Item Color")
                        </div>
                    </div>
                    <div class="col-md-6">
                        @(new HtmlString(Model.TEXTBOX10))
                    </div>
                </div>
                <div class="row" style="margin-top: 8px;">
                    <div class="col-md-6">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Txn upto (in case of Pending)")
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TEXTBOX1, new { htmlAttributes = new { @class = "form-control", id = "txnupto", onblur = "DocumentDateCHK(this);", @placeholder = "dd/mm/yyyy", maxlength = 10 } })
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 8px;">
                    <div class="col-md-6">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Pending as Per")
                        </div>
                    </div>
                    <div class="col-md-8" style="border: 2px groove;">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(g => g.TEXTBOX2, "PSLIP")  @Html.Label("Packing Slip")
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(g => g.TEXTBOX2, "Bill", new { @checked = "checked" })  @Html.Label("Bill")
                        </label>

                    </div>
                </div>
                <div class="row" style="margin-top: 8px;">
                    <div class="col-md-6">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Report Type")
                        </div>
                    </div>
                    <div class="col-md-8" style="border: 2px groove;width:auto;">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(g => g.TEXTBOX3, "Details", new { onclick = "ItemDivtoggle();" })  @Html.Label("Details")
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(g => g.TEXTBOX3, "Summary", new { @checked = "checked", onclick = "ItemDivtoggle();" })  @Html.Label("Summary")
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(g => g.TEXTBOX3, "Supper Summary", new { onclick = "ItemDivtoggle();" })  @Html.Label("Supper Summary")
                        </label>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" formtarget="_blank" name="Show_rep" value="Show Report" title="Show report in a new tab" class="btn btn-default" />
                    </div>
                </div>
            </div>
            <div class=" col-lg-3">
                <table style="border:1px solid;margin-top: 8px;">
                    <tr>
                        <td style="border:1px groove;">Only Balance Order</td>
                        <td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox1, new { id = "Checkbox1", Style = "width:18px;height:18px;" })</td>
                    </tr>
                    <tr>
                        <td style="border:1px groove;">Show Bill Details</td>
                        <td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox7, new { id = "Checkbox7", Style = "width:18px;height:18px;" })</td>
                    </tr>
                    <tr class="itemdiv">
                        <td style="border:1px groove;">Show Color</td>
                        <td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox4, new { id = "Checkbox4", Style = "width:18px;height:18px;" })</td>
                    </tr>
                    <tr class="itemdiv">
                        <td style="border:1px groove;">Show Batch Number Column</td>
                        <td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox5, new { Style = "width:18px;height:18px;" })</td>
                    </tr>
                    <tr class="itemdiv">
                        <td style="border:1px groove;">Show SL Column</td>
                        <td style="border:1px groove;"> @Html.CheckBoxFor(model => model.Checkbox6, new { Style = "width:18px;height:18px;" })</td>
                    </tr>
                    <tr>
                        <td style="border:1px groove;">Merge All Locations</td>
                        <td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox3, new { id = "Checkbox3", Style = "width:18px;height:18px;" })</td>
                    </tr>
                    <tr>
                        <td style="border:1px groove;">Show Knitting Details in Details Report</td>
                        <td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox8, new { id = "Checkbox8", Style = "width:18px;height:18px;" })</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

}
