@model Improvar.ViewModels.ReportViewinHtml
@{
    ViewBag.Title = "Bill Wise Outstanding (Bills " + (Model.MENU_PARA.Split(',')[0] == "DR" ? "Receivable" : "Payable") + ")" + (Model.MENU_PARA.Split(',').Count() > 1 ? " [Retail Party]" : "");
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
<script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/Content/bootstrap-select.css" />
@Scripts.Render("~/Scripts/Multiple-Select-min.js")
@Scripts.Render("~/Scripts/bootstrap-select.js")
<script src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if ("@Model.MENU_PARA.Split(',')[0]" == "DR")//Receivable
        {
            $("#radio_doc").prop("checked", true);
            $("#radio_bill").prop("checked", false);
        }
        else {
            $("#radio_doc").prop("checked", false);
            $("#radio_bill").prop("checked", true);
        }
    });
</script>
<script>
    $(function () {
        debugger;
        $("#TEXTBOX3").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate' });
        $("#TEXTBOX4").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate' });

        $("#TEXTBOX5").change(function () {
            $("#rowd1").hide();
            $("#rowd2").hide();
            $("#rowd3").hide();
            $("#rowd4").hide();
            $("#rowd5").hide();
            if ($("#TEXTBOX5").val() == "1") {
                $("#rowd1").show();
            }
            else if ($("#TEXTBOX5").val() == "2") {
                $("#rowd1").show();
                $("#rowd2").show();
            }
            else if ($("#TEXTBOX5").val() == "3") {
                $("#rowd1").show();
                $("#rowd2").show();
                $("#rowd3").show();
            }
            else if ($("#TEXTBOX5").val() == "4") {
                $("#rowd1").show();
                $("#rowd2").show();
                $("#rowd3").show();
                $("#rowd4").show();
            }
            else if ($("#TEXTBOX5").val() == "5") {
                $("#rowd1").show();
                $("#rowd2").show();
                $("#rowd3").show();
                $("#rowd4").show();
                $("#rowd5").show();
            }
        });
        $("#Checkbox1").change(function () {
            debugger;
            if ($(this).is(':checked')) {
                $('[name="bdr"]').show();
            } else {
                $('[name="bdr"]').hide();
            }

        });
        $("#Checkbox16").change(function () {
            debugger;
            if ($(this).is(':checked')) {
                $('#divPymtRemCTG').show();
            } else {
                $('#divPymtRemCTG').hide();
            }
        });

    });
</script>
<script>
    $(function () {
        $("#FDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate' });
        $("#TDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate' });
    });
</script>
<script>
    function ChkAgentSubagent(id) {
        debugger;
        var Checkbox4 = document.getElementById("Checkbox4");
        var Checkbox17 = document.getElementById("Checkbox17");
        if (id == "Checkbox4")
       {//Checkbox17.checked = false;
         $('#Checkbox17').attr('checked', false);
        }
        else if (id == "Checkbox17") { $('#Checkbox4').attr('checked', false); }
    }
</script>
@{
    string PageControllerName = "Rep_BlWise";
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(a => Model.maxdate)
    @Html.HiddenFor(a => Model.mindate)
    <div class="form-horizontal">
        @Html.HiddenFor(s => s.DefaultAction)
        @Html.HiddenFor(s => s.TEXTBOX8)
        <div class="row">
            <div class="col-lg-9">
                <div class="row" style="margin-top: 8px;">
                    <div class="col-md-8">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "As on Date")
                            <b style="color:Red;">
                                <sup>*</sup>
                            </b>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TDT, new { htmlAttributes = new { @class = "form-control", id = "TDT", onblur = "DocumentDateCHK(this);", @placeholder = "dd/mm/yyyy", maxlength = 10 } })
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top:6px">
                    <div class="col-md-8">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Account Head Selection")
                        </div>
                    </div>
                    <div class="col-md-6">
                        @(new HtmlString(Model.Glnm))
                    </div>
                </div>
                <div class="row" style="margin-top:6px">
                    <div class="col-md-8">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Party Code")
                        </div>
                    </div>
                    <div class="col-md-6">
                        @(new HtmlString(Model.Slnm))
                    </div>
                </div>
                <div class="row" style="margin-top:6px">
                    <div class="col-md-8">
                        <div class="editor-label" style="margin-top: 2px;">
                            @Html.Label("", "Class 1")
                        </div>
                    </div>
                    <div class="col-md-6">
                        @(new HtmlString(Model.CLASS1CD))
                    </div>
                </div>
                <div class="row" style="margin-top:6px">
                    <div class="col-md-8">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Party Grouping")
                        </div>
                    </div>
                    <div class="col-md-6">
                        @(new HtmlString(Model.SubLeg_Grp))
                    </div>
                </div>
                <div class="row" style="margin-top:6px">
                    <div class="col-md-8">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Agent")
                        </div>
                    </div>
                    <div class="col-md-6">
                        <select id="AGENT" name="AGENT" class="selectpicker" multiple data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true" style="font-size: small;">
                            <optgroup label="AGENT">
                                @foreach (var i in Model.DropDown_list_AGSLCD)
                                {
                                    <option value="@i.value">
                                        @i.text
                                    </option>
                                }
                            </optgroup>
                        </select>
                    </div>
                </div>

                <div class="row" style="margin-top:6px">
                    <div class="col-md-8">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Voucher Type")
                        </div>
                    </div>
                    <div class="col-md-6">
                        <select id="VCHTYPE" name="VCHTYPE" class="selectpicker" multiple data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true" style="font-size: small;">
                            <optgroup label="AGENT">
                                @foreach (var i in Model.DropDown_list3)
                                {
                                    <option value="@i.value">
                                        @i.text
                                    </option>
                                }
                            </optgroup>
                        </select>
                    </div>
                </div>

                <div class="row" style="margin-top:6px;display:none" id="divPymtRemCTG">
                    <div class="col-md-8">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Bill Remarks Category")
                        </div>
                    </div>
                    <div class="col-md-6">
                        @(new HtmlString(Model.TEXTBOX7))
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Due days calculate on")
                        </div>
                    </div>
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input type="radio" name="ddco" value="D" checked style="margin-top: 2px;" />Due Date
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="ddco" value="B" style="margin-top: 2px;" />Document Date
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="ddco" value="L" style="margin-top: 2px;" />LR Date
                        </label>
                    </div>
                </div>
                <div class="row" style="margin-top:6px">
                    <div class="col-md-8">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Report Format")
                        </div>
                    </div>
                    <div class="col-md-11" style="border: 2px groove;">
                        <label class="radio-inline">
                            @Html.RadioButton("OPTIONS", "FORM1", isChecked: true)@Html.Label("Format-1")
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButton("OPTIONS", "FORM2", isChecked: true)@Html.Label("Format-2")
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButton("OPTIONS", "NIL", isChecked: false)@Html.Label("Clear Bills")
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButton("OPTIONS", "ALL", isChecked: false)@Html.Label("All")
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Due days Shows as")
                        </div>
                    </div>
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input type="radio" name="ddshowas" value="B" checked style="margin-top: 2px;" />Due Days
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="ddshowas" value="D" style="margin-top: 2px;" />Overdue Days
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" name="bdr" style="display:none;">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Bill Date From")
                            <b style="color:Red;">
                                <sup>*</sup>
                            </b>
                        </div>
                    </div>
                    <div class="col-md-4" name="bdr" style="display:none;">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TEXTBOX3, new { htmlAttributes = new { @class = "form-control", id = "TEXTBOX3", @placeholder = "dd/mm/yyyy", maxlength = 10, autocomplete = "off", onblur = "DocumentDateCHK(this)" } })
                        </div>
                    </div>
                    <div class="col-md-4" name="bdr" style="display:none;">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Bill Date To")
                            <b style="color:Red;">
                                <sup>*</sup>
                            </b>
                        </div>
                    </div>
                    <div class="col-md-4" name="bdr" style="display:none;">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TEXTBOX4, new { htmlAttributes = new { @class = "form-control", id = "TEXTBOX4", @placeholder = "dd/mm/yyyy", maxlength = 10, autocomplete = "off", onblur = "DocumentDateCHK(this)" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Days aging value")
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="editor-field" style="margin-top: 5px;">
                            @Html.EditorFor(model => model.TEXTBOX5, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", id = "TEXTBOX5", min = 0, Max = 5, type = "number" } })
                        </div>
                    </div>
                </div>
                <div class="row" id="rowd1" style="display:none">
                    <div class="col-md-8">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Days Range 1")
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="editor-field" style="margin-top: 5px;">
                            <input type="text" name="days1" id="days1" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row" id="rowd2" style="display:none">
                    <div class="col-md-8">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Days Range 2")
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="editor-field" style="margin-top: 5px;">
                            <input type="text" name="days2" id="days2" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row" id="rowd3" style="display:none">
                    <div class="col-md-8">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Days Range 3")
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="editor-field" style="margin-top: 5px;">
                            <input type="text" id="days3" name="days3" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row" id="rowd4" style="display:none">
                    <div class="col-md-8">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Days Range 4")
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="editor-field" style="margin-top: 5px;">
                            <input type="text" id="days4" name="days4" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row" id="rowd5" style="display:none">
                    <div class="col-md-8">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Days Range 5")
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="editor-field" style="margin-top: 5px;">
                            <input type="text" id="days5" name="days5" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Flag")
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TEXTBOX6, new { htmlAttributes = new { @class = "form-control", id = "FLAG", @placeholder = "Specific Flag", maxlength = 3 } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Report Type")
                        </div>
                    </div>
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input type="radio" name="format" value="B" checked style="margin-top: 2px;" />Bill Wise Details
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="format" value="S" style="margin-top: 2px;" />Summary
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Sorting By")
                        </div>
                    </div>
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input type="radio" name="Sorting" value="DOC" id="radio_doc" style="margin-top: 2px;" />Document Date Wise
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="Sorting" value="BILL" id="radio_bill" style="margin-top: 2px;" />Bill Date Wise
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <input type="submit" formtarget="_blank" name="submitbutton" value="Show Report" title="Show report in a new tab" class="btn btn-default" />
                    </div>
                    <div class="col-md-6">
                        <input type="submit" formtarget="_blank" name="submitbutton" value="Download Excel" title="Download Excel" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <table style="border:1px solid;margin-top: 8px;">
                    <tr>
                        <td style="border:1px groove;">Adjust Credit Bal (fifo)</td>
                        <td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox7, new { Style = "width:18px;height:18px;" })</td>
                    </tr>
                    <tr>
                        <td style="border:1px groove;">Print Order No</td>
                        <td style="border:1px groove;"> @Html.CheckBoxFor(model => model.Checkbox2, new { Style = "width:18px;height:18px;" })</td>
                    </tr>
                    <tr>
                        <td style="border:1px groove;">Print LR Date</td>
                        <td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox3, new { Style = "width:18px;height:18px;" })</td>
                    </tr>
                    <tr>
                        <td style="border:1px groove;">Print LR Info</td>
                        <td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox9, new { Style = "width:18px;height:18px;" })</td>
                    </tr>
                    <tr>
                        <td style="border:1px groove;">Print Recd Amt in All Report Type</td>
                        <td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox11, new { Style = "width:18px;height:18px;" })</td>
                    </tr>
                    <tr>
                        <td style="border:1px groove;">Print Received Amt</td>
                        <td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox10, new { Style = "width:18px;height:18px;" })</td>
                    </tr>

                    <tr>
                        <td style="border:1px groove;">Show Agent wise</td>
                        <td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox4, new { Style = "width:18px;height:18px;",id= "Checkbox4", onclick = "ChkAgentSubagent('Checkbox4');" })</td>
                    </tr>
                    <tr>
                        <td style="border:1px groove;">Show Sub Agent Wise</td>
                        <td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox17, new { Style = "width:18px;height:18px;", id = "Checkbox17", onclick = "ChkAgentSubagent('Checkbox17');" })</td>
                    </tr>
                    <tr>
                        <td style="border:1px groove;">Show Consignee</td>
                        <td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox8, new { Style = "width:18px;height:18px;" })</td>
                    </tr>
                    <tr>
                        <td style="border:1px groove;">Show Bill / Pymt Remarks</td>
                        <td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox12, new { Style = "width:18px;height:18px;" })</td>
                    </tr>
                    <tr>
                        <td style="border:1px groove;">Show Negative Amt Seperate</td>
                        <td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox5, new { Style = "width:18px;height:18px;" })</td>
                    </tr>
                    <tr>
                        <td style="border:1px groove;">Show Item Value</td>
                        <td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox6, new { Style = "width:18px;height:18px;" })</td>
                    </tr>
                    <tr>
                        <td style="border:1px groove;">Bill Date Range</td>
                        <td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox1, new { Style = "width:18px;height:18px;" })</td>
                    </tr>
                    <tr>
                        <td style="border:1px groove;">Show Bill Days/ Pymt Days</td>
                        <td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox13, new { Style = "width:18px;height:18px;" })</td>
                    </tr>
                    <tr>
                        <td style="border:1px groove;">Skip Clear Bills</td>
                        <td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox14, new { Style = "width:18px;height:18px;" })</td>
                    </tr>
                    <tr>
                        <td style="border:1px groove;">Show Agent Column</td>
                        <td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox15, new { Style = "width:18px;height:18px;" })</td>
                    </tr>
                    <tr>
                        <td style="border:1px groove;">Show Pymt Hold Remarks</td>
                        <td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox16, new { Style = "width:18px;height:18px;" })</td>
                    </tr>
                    <tr>
                        <td style="border:1px groove;">Show only UnAdjusted Reference</td>
                        <td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox18, new { Style = "width:18px;height:18px;" })</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}
