@model Improvar.ViewModels.ReportViewinHtml
@{
    ViewBag.Title = "Agent wise Report";
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
@{
    var PageControllerName = "Rep_Agent";
}
<script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/Content/bootstrap-select.css" />
@Scripts.Render("~/Scripts/Multiple-Select-min.js")
@Scripts.Render("~/Scripts/bootstrap-select.js")
<script src="~/Scripts/jquery.min.js"></script>
<script>
    $(document).ready(function () {


    });
</script>
<script>
    $(function () {
        $("#FDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate', minDate: '@Model.mindate' });
        $("#TDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate', minDate: '@Model.mindate' });

        //$('input[name="ReportTakenOn"]').on('click', function () {
        //    if ($(this).val() == 'A') {
        //        $('#agnt').show(); $('#subagnt').hide();
        //    }
        //    else {
        //        $('#subagnt').show(); $('#agnt').hide();
        //    }
        //});

        $('input[name="reptype"]').on('click', function () {
            if ($(this).val() == 'Sales with Payment') {
                $('#showItdet').hide(); $('#shorton').hide();
                $("#details").css("display", "block");
            }
            else {
                $('#showItdet').show(); $('#shorton').show();
                $("#details").css("display", "none");
            }
        });
    
    });
</script>
<script></script>
@using (Html.BeginForm())
{
    if (Model.DefaultView == true)
    {
        <div class="form-horizontal">
            @Html.HiddenFor(s => s.DefaultAction)
            <div class="report_center" style="background-color:lightgrey; padding:1%;border: 1px solid; margin: 2% 22% 2% 22%;">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 4px;">
                            @Html.Label("", "From Date")
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.FDT, new { htmlAttributes = new { @class = "form-control", id = "FDT", maxlength = 10, onblur = "DocumentDateCHK(this,true);", @placeholder = "dd/mm/yyyy" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 4px;">
                            @Html.Label("", "To Date")
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TDT, new { htmlAttributes = new { @class = "form-control", id = "TDT", maxlength = 10, onblur = "DocumentDateCHK(this,true);", @placeholder = "dd/mm/yyyy" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Report taken on")
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="editor-field">
                            <input type="radio" name="ReportTakenOn" value="A" checked />Agent
                            <input type="radio" name="ReportTakenOn" value="S" />Sub Agent
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:6px">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Account Head Selection")
                        </div>
                    </div>
                    <div class="col-md-6">
                        @(new HtmlString(Model.Glnm))
                    </div>
                </div>
                <div class="row" id="agnt" style="margin-top:6px">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Party")
                        </div>
                    </div>
                    <div class="col-md-6">
                        @(new HtmlString(Model.Slnm))
                    </div>
                </div>
                <div class="row" id="agnt" style="margin-top:6px">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Agent")
                        </div>
                    </div>
                    <div class="col-md-6">
                        @(new HtmlString(Model.Agslnm))
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 4px;">
                            @Html.Label("", "Rep Type")
                        </div>
                    </div>
                    @*<div class="col-lg-4">
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.TEXTBOX1, new SelectList(Model.DropDown_list1, "Value", "Text", Model.TEXTBOX1), new { @class = "form-control", id = "TEXTBOX1" })
                        </div>
                    </div>*@
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input type="radio" name="reptype" value="Sales" id="radio_Sales" style="margin-top: 2px;" checked />Sales
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="reptype" value="Sales with Payment" id="radio_SalesWithPay" style="margin-top: 2px;" />Sales with Payment
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 4px;">
                            @Html.Label("", "Show")
                        </div>
                    </div>
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input type="radio" name="reptypeBil" value="All Bill" id="radio_Bill" style="margin-top: 2px;" checked />All Bill
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="reptypeBil" value="Clear Bill" id="radio_Clear" style="margin-top: 2px;" />Clear Bill
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="reptypeBil" value="Pending Balance" id="radio_Balance" style="margin-top: 2px;" />Pending Balance
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 4px;">
                            @Html.Label("", "Show Bill wise details")
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="editor-field">
                            @Html.CheckBoxFor(model => model.Checkbox1)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2" style="width:auto">
                        <div class="editor-label" style="margin-top: 4px;">
                            @Html.Label("", "Output as Excel Dump")
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="editor-field">
                            @Html.CheckBoxFor(model => model.Checkbox2)
                        </div>
                    </div>
                </div>
                <div class="row" id="showItdet">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 4px;">
                            @Html.Label("", "Show Item Details")
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="editor-field">
                            @Html.CheckBoxFor(model => model.Checkbox3)
                        </div>
                    </div>
                </div>
                <div class="row" id="shorton">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Sorting on")
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="editor-field">
                            <input type="radio" name="sorton" value="P" />Party
                            <input type="radio" name="sorton" value="B" checked />Bill Date
                        </div>
                    </div>
                </div>
                <div class="row" id="details" style="display:none">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Details")
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="editor-field">
                            <input type="radio" name="deatil" value="D" checked />Detail
                            <input type="radio" name="deatil" value="S" />Summary
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10PX">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-6">
                        <input type="submit" value="Show Report" name="submitbutton" class="btn btn-default" formtarget="_blank" />
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="container">
        <div id="helpDIV" style="z-index: 2;">

        </div>
    </div>
}
