@model Improvar.ViewModels.ReportViewinHtml
@{
    ViewBag.Title = "Sys_StkTrnf";
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
<script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/Content/bootstrap-select.css" />
@Scripts.Render("~/Scripts/Multiple-Select-min.js")
@Scripts.Render("~/Scripts/bootstrap-select.js")
<script src="~/Scripts/jquery.min.js"></script>
@{
    var PageControllerName = "Sys_StkTrnf";
}
<script>
    function Proceed(TAG) {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("Sys_StkTrnf1", PageControllerName)",
            beforesend: $("#WaitingMode").show(),
            data: $('form').serialize() + "&Tag=" + TAG,
            success: function (result) {
                msgInfo(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>
<script>
    function FinStockChecked(id, id1) {
        var chk = document.getElementById(id).checked;
        if (chk == true) {
            document.getElementById(id1).checked = false;
        }
    }
</script>
@using (Html.BeginForm())
{
    if (Model.DefaultView == true)
    {
        <div class="form-horizontal">
            @Html.HiddenFor(s => s.DefaultAction)

            <div class="report_center" style="background-color:lightgrey; padding:1%;border: 1px solid; margin: 2% 22% 2% 22%;">

                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label">
                            @Html.Label("", "Finish Stock from Prev.Year")
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="editor-field" style="margin-top: 1px;">
                            @Html.CheckBoxFor(model => model.Checkbox2, new { id = "Checkbox2", onclick = "FinStockChecked(this.id,'Checkbox7');" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label">
                            @Html.Label("", "Finish Stock from Prev.Year (Fifo)")
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="editor-field" style="margin-top: 1px;">
                            @Html.CheckBoxFor(model => model.Checkbox7, new { id = "Checkbox7", onclick = "FinStockChecked(this.id,'Checkbox2');" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label">
                            @Html.Label("", "Bale Stock Transfer")
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="editor-field" style="margin-top: 1px;">
                            @Html.CheckBoxFor(model => model.Checkbox8)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label">
                            @Html.Label("", "Physical Stock Transfer")
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="editor-field" style="margin-top: 1px;">
                            @Html.CheckBoxFor(model => model.Checkbox10)
                        </div>
                    </div>
                </div>

                @if (CommVar.NextYearSchema(Model.UNQSNO) == "")
                {  <div class="row" style="margin-top:10PX">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-3">
                        <input type="button" value="Proceed" name="submitbutton" class="btn btn-default" style="width:150px; " onclick="Proceed();" />
                    </div>
                    <div class="col-lg-6">
                        <input type="button" value="BarNo Master Transfer" name="submitbutton" class="btn btn-info" onclick="Proceed('BarNo_Transfer');" />
                    </div>
                </div> }

            </div>
        </div>
    }
    <div class="container">
        <div id="helpDIV" style="z-index: 2;">

        </div>
    </div>
}
