@model Improvar.ViewModels.GodownMasterEntry
@{
    ViewBag.Title = "Godown Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") {
            modeView();
            $("#GOCD").attr("disabled", "true");
        }
        else if ("@Model.DefaultAction" == "E") {

            $("#GOCD").attr("readonly", "readonly");
            $("#GOCD").attr("disabled", "true");
        }
        else if ("@Model.DefaultAction" == "A") {
            $('form :input:enabled:visible:not([readonly]):first').focus();
        }
        $("#WaitingMode").hide();
   });
</script>
<script>
   function requiredFieldValidator()
   {
       if (!emptyFieldCheck("Enter Godown Code", "GOCD")) {
           $("li").removeClass("active").addClass("");
           $(".nav-tabs li:first-child").addClass('active');
           //below set the  child sequence
           $(".tab-content div").removeClass("active");
           $(".tab-content div:first-child").removeClass("tab-pane fade").addClass("tab-pane fade in active");
           return false;
       }
       if (!emptyFieldCheck("Enter Godown Name", "GONM")) {
           $("li").removeClass("active").addClass("");
           $(".nav-tabs li:first-child").addClass('active');
           //below set the  child sequence
           $(".tab-content div").removeClass("active");
           $(".tab-content div:first-child").removeClass("tab-pane fade").addClass("tab-pane fade in active");
           return false;
       }
       //if (mobile.length < 10) {
       //    msgInfo("Enter 10 digit mobile number!");
       //    message_value = "MOBILE";
       //    $("li").removeClass("active").addClass("");
       //    $(".nav-tabs li:first-child").addClass('active');
       //    //below set the  child sequence
       //    $(".tab-content div").removeClass("active");
       //    $(".tab-content div:first-child").removeClass("tab-pane fade").addClass("tab-pane fade in active");
       //    return false;
       //}
       var mail = $("#GOEMAIL").val();
       var mailformat = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
       if (!mailformat.test(mail)) {
           msgInfo("Enter valid Email id!");
           message_value = "GOEMAIL";
           $("li").removeClass("active").addClass("");
           $(".nav-tabs li:first-child").addClass('active');
           //below set the  child sequence
           $(".tab-content div").removeClass("active");
           $(".tab-content div:first-child").removeClass("tab-pane fade").addClass("tab-pane fade in active");
           return false;
       }
        return true;
   }
</script>
<script>
    @{
        string mldauto = "";
        if (@Model.M_GODOWN != null)
        {
            mldauto = Model.M_GODOWN.M_AUTONO.ToString();
        }
        else
        {
            mldauto = "";
        }
    }
    function ModifyLogDetails() {
        if ("@Model.DefaultAction" == "V") {
            ModifyLogDtl(@mldauto);
        }
    }
</script>
<script>
    function CheckGodownCode(id) {
        if ("@Model.DefaultAction" == "A") {
            var valu = document.getElementById(id).value;
            if (valu == "") {
            }
            else {
                $.ajax({
                    type: 'GET',
                    url: $("#checkGodowncode").val(),
                    data: {
                        val: valu
                    },
                    success: function (result) {
                        if (result == "1") {
                            $("#Msgdiv1").show();
                            $("#info").show();
                            $("#GOCD").val("");
                            $("#msgbody_info").html("Code Already Exists : Please Enter a Valid Code !! ");
                            $("#btnok").focus();
                            message_value = "GOCD";
                            return false;
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#WaitingMode").hide();
                        msgError(XMLHttpRequest.responseText);
                        $("body span h1").remove(); $("#msgbody_error style").remove();
                    }
                });
            }
        }
    }
</script>
@{
    string PageControllerName = "M_Godown";
}
@using (Html.BeginForm())
{
    if (Model.DefaultView == true)
    {
        @Html.HiddenFor(a => Model.maxdate)
        @Html.HiddenFor(a => Model.mindate)
        <div class="form-horizontal" style="padding-left:5px;padding-right:5px;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" id="checkGodowncode" value="@Url.Action("CheckGodownCode", PageControllerName)" />
            <input type="hidden" id="btnSave" value="@Url.Action("SAVE", PageControllerName)" />
            <input type="hidden" id="srhpnl" value="@Url.Action("SearchPannelData", PageControllerName)" />
            @Html.HiddenFor(s => s.DefaultAction)
            @Html.HiddenFor(a => a.M_GODOWN.M_AUTONO)

            <ul class="nav nav-tabs">
                <li class="active">    <a data-toggle="tab" href="#Standard">Standard</a></li>
                <li><a data-toggle="tab" href="#CompanyLocation">Company Location</a></li>
            </ul>

            <div class="tab-content">
                <div id="Standard" class="tab-pane fade in active" style="margin-top: 10px;">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="editor-field" style="margin-top: 4px;">
                                @Html.Label("", "Code")
                                <b style="color:red"><sup>*</sup></b>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.M_GODOWN.GOCD, new { htmlAttributes = new { @class = "form-control ", onblur = "CheckGodownCode('GOCD');", id = "GOCD", @placeholder = "code", maxlength = 6, @style = "text-transform:uppercase;" } })
                                @Html.HiddenFor(a => a.M_GODOWN.GOCD)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="editor-field" style="margin-top: 4px;">
                                @Html.Label("", "Name")
                                <b style="color:red"><sup>*</sup></b>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.M_GODOWN.GONM, new { htmlAttributes = new { @class = "form-control ", id = "GONM", @placeholder = "Name", maxlength = 30 } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="editor-field" style="margin-top: 4px;">
                                @Html.Label("", "Address 1")
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.M_GODOWN.GOADD1, new { htmlAttributes = new { @class = "form-control ", id = "GOADD1", @placeholder = "Address 1", maxlength = 40 } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="editor-field" style="margin-top: 4px;">
                                @Html.Label("", "Address 2")
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.M_GODOWN.GOADD2, new { htmlAttributes = new { @class = "form-control ", id = "GOADD2", @placeholder = "Address 2", maxlength = 40 } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="editor-field" style="margin-top: 4px;">
                                @Html.Label("", "Address 3")
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.M_GODOWN.GOADD3, new { htmlAttributes = new { @class = "form-control ", id = "GOADD3", @placeholder = "Address 3", maxlength = 40 } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="editor-field" style="margin-top: 4px;">
                                @Html.Label("", "District")
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.M_GODOWN.DISTRICT, new { htmlAttributes = new { @class = "form-control ", id = "DISTRICT", @placeholder = "District", maxlength = 40 } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="editor-field" style="margin-top: 4px;">
                                @Html.Label("", "Pin Code")
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.M_GODOWN.PIN, new { htmlAttributes = new { @class = "form-control ", id = "PIN", @placeholder = "Pin Code", @title = "Only Numeric",@onkeypress = "return event.charCode > 47 && event.charCode < 58;", maxlength = 7 } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="editor-field" style="margin-top: 4px;">
                                @Html.Label("", "Phone No.")
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.M_GODOWN.GOPHNO, new { htmlAttributes = new { @class = "form-control ", id = "GOPHNO", @title = "Only Numeric", @onkeypress = "return event.charCode > 47 && event.charCode < 58;", @placeholder = "Phone No", maxlength = 30 } })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="editor-field" style="margin-top: 4px;">
                                @Html.Label("", "Email id")
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.M_GODOWN.GOEMAIL, new { htmlAttributes = new { @class = "form-control ", id = "GOEMAIL", @placeholder = "Email Id", maxlength = 50 } })
                            </div>
                        </div>
                    </div>
                                       
                    <div class="row">
                        <div class="col-md-3">
                            <div class="editor-field" style="margin-top: 4px;">
                                @Html.Label("", "fssai Lic #")
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.M_GODOWN.FSSAILICNO, new { htmlAttributes = new { @class = "form-control ", id = "FSSAILICNO", @placeholder = "fssai Lic No", maxlength = 25 } })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="editor-label" style="margin-top:0px;margin-bottom: -5px;display: inline-block;">
                                @Html.Label("", "Deactivate")
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="editor-field" style="display: inline-block;">
                                @Html.CheckBoxFor(model => model.Deactive)
                            </div>
                        </div>
                    </div>
                </div>

                <div id="CompanyLocation" class="tab-pane fade" style="margin-top: 10px;">
                    <div class="row">
                        <div class="editor-field">
                            <table id="CompanyLoation"  cellpadding="3PX" cellspacing="3PX" border="1" width="300px" style="margin-left:15px;">
                                <tr>
                                    <td align="center">
                                        <input type="checkbox" name="Test" onclick="SetAllCheckBoxes(this, 'CompanyLoation')" />
                                        @*@Html.CheckBoxFor(model => model.COMPLOC, new { htmlAttributes = new { title = "Click to Select All", id = "SelectAll", onclick = "SetAllCheckBoxes(this);" } })*@
                                    </td>
                                    <td align="center">
                                        Company Name
                                    </td>
                                    <td align="center">
                                        Location Name
                                    </td>
                                </tr>
                                @for (int i = 0; i < Model.CompanyLocationName.Count(); i++)
                                {
                                    <tr>
                                        <td align="center">
                                            @*<input type="checkbox" name="chkid" />*@
                                            @Html.CheckBoxFor(model => model.CompanyLocationName[i].Checked, new { id = "SelectCheck_" + i })
                                        </td>
                                        <td align="center">
                                            @{ string STRC = Model.CompanyLocationName[i].COMPNM.ToString();}
                                            @Html.DisplayFor(model => STRC)
                                            @Html.HiddenFor(model => model.CompanyLocationName[i].COMPCD)
                                        </td>
                                        <td align="center">
                                            @{ string STRL = Model.CompanyLocationName[i].LOCNM.ToString();}
                                            @Html.DisplayFor(model => STRL)
                                            @Html.HiddenFor(model => model.CompanyLocationName[i].LOCCD)
                                        </td>
                                    </tr>

                                                }
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>


                                                }
                                                else
                                                {
                                                    @ViewBag.ErrorMessage
                                                }

                                                <div class="container">
                                                    <div id="helpDIV">

                                                    </div>
                                                </div>
                                                }
