@model Improvar.ViewModels.ReportViewinHtml
@{
    string MP = Model.MENU_PARA;
    ViewBag.Title = "Pending Challan";
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    string PageControllerName = "Rep_PendChallan";
}
<script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/Content/bootstrap-select.css" />
@Scripts.Render("~/Scripts/Multiple-Select-min.js")
@Scripts.Render("~/Scripts/bootstrap-select.js")
<script src="~/Scripts/jquery.min.js"></script>
<script>
    $(function ()
    {        
        $("#FDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate' });
        $("#TDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate' });
        $("#ASONDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate' });
    });
</script>
<script>
    function SelectJobCode(id, JOBCD, JOBNM)
    {
        debugger;
        if (id == "")
        {
            ClearAllTextBoxes((JOBCD.id + "," + JOBNM.id));
        }
        else
        {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetJobDetails", PageControllerName)',
                data: { val: id },
                success: function (result)
                {
                    var MSG = result.indexOf(String.fromCharCode(181));
                    if (result == "0")
                    {
                        $("#Msgdiv1").show();
                        $("#info").show();
                        ClearAllTextBoxes((JOBCD.id + "," + JOBNM.id));
                        $("#btnok").focus();
                        $("#msgbody_info").html("Invalid Job Code ! Please Select / Enter a Valid Job Code !!");
                        message_value = "JOBCD";
                    }
                    else
                    {
                        $("#tempHDD").val(result);
                        var str = $("#tempHDD").val().split(String.fromCharCode(181));
                        ////document.getElementById(JOBCD.id).value = returncolvalue(findstr, "JOBCD");
                        ////document.getElementById(JOBNM.id).value = returncolvalue(findstr, "JOBNM");
                        $("#" + JOBCD.id).val(str[0]);
                        $("#" + JOBNM.id).val(str[1].toString());
                      
                    }
                }
            });
        }
    }
</script>
@using (Html.BeginForm())
{
    @Html.HiddenFor(a => Model.maxdate)
    @Html.HiddenFor(a => Model.mindate)
    <div class="form-horizontal">
        @Html.HiddenFor(s => s.DefaultAction)
        <div class="row" style="margin-top:6px;">
            <div class="col-md-6">
                <div class="editor-label" style="margin-top: 6px;">
                    @Html.Label("", "Job")
                    <b style="color:Red;">*</b>
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.EditorFor(model => model.TEXTBOX1, new { htmlAttributes = new { @class = "form-control textbox_image", id = "TEXTBOX1", maxlength = 2, onkeyup = "GetHelp('" + @Url.Action("GetJobDetails", PageControllerName) + "','TEXTBOX1/TEXTBOX3','1/0','Job Details','TEXTBOX1')", onblur = "SelectJobCode(this.value,TEXTBOX1,TEXTBOX3);", @placeholder = "Code", autocomplete = "off" } })
                    <img src="~/Image/search.png" width="20px" style="margin-top: 5px;" height="20px" class="Help_image_button" title="Help" onclick="GetHelp('@Url.Action("GetJobDetails", PageControllerName)','TEXTBOX1/TEXTBOX3','1/0','Job Details','TEXTBOX1')" />
                </div>
            </div>
            <div class="col-md-7">
                <div class="editor-field">
                    @Html.EditorFor(model => model.TEXTBOX3, new { htmlAttributes = new { @class = "form-control", id = "TEXTBOX3", maxlength = 15, @TabIndex = -1, @placeholder = "Job Name", @readonly = "readonly" } })
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 8px;">
            <div class="col-md-6">
                <div class="editor-label" style="margin-top: 6px;">
                    @Html.Label("", "As On Date")
                    <b style="color:Red;">
                        <sup>*</sup>
                    </b>
                </div>
            </div>
            <div class="col-md-6">
                <div class="editor-field">
                    @Html.EditorFor(model => model.TEXTBOX4, new { htmlAttributes = new { @class = "form-control", id = "ASONDT", onblur = "DocumentDateCHK(this);", autocomplete = "off", @placeholder = "dd/mm/yyyy", maxlength = 10 } })
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 8px;">
            <div class="col-md-6">
                <div class="editor-label" style="margin-top: 6px;">
                    @Html.Label("", "From Date")
                    <b style="color:Red;">
                        <sup>*</sup>
                    </b>
                </div>
            </div>
            <div class="col-md-6">
                <div class="editor-field">
                    @Html.EditorFor(model => model.FDT, new { htmlAttributes = new { @class = "form-control", id = "FDT", onblur = "DocumentDateCHK(this);", autocomplete = "off",@placeholder = "dd/mm/yyyy", maxlength = 10 } })
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 8px;">
            <div class="col-md-6">
                <div class="editor-label" style="margin-top: 6px;">
                    @Html.Label("", "To Date")
                    <b style="color:Red;">
                        <sup>*</sup>
                    </b>
                </div>
            </div>
            <div class="col-md-6">
                <div class="editor-field">
                    @Html.EditorFor(model => model.TDT, new { htmlAttributes = new { @class = "form-control", id = "TDT", onblur = "DocumentDateCHK(this);", autocomplete = "off", @placeholder = "dd/mm/yyyy", maxlength = 10 } })
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:6px">
            <div class="col-md-6">
                <div class="editor-label" style="margin-top:5px">
                    @Html.Label("", "Party")
                </div>
            </div>
            <div class="col-md-6">
                @(new HtmlString(Model.Slnm))
            </div>
        </div>
        <div class="row" style="margin-top:6px">
            <div class="col-md-6">
                <div class="editor-label" style="margin-top:5px">
                    @Html.Label("", "Articles")
                </div>
            </div>
            <div class="col-md-6">
                @(new HtmlString(Model.Itnm))
            </div>
        </div>
        <div class="row" style="margin-top:6px">
            <div class="col-md-6">
                <div class="editor-label" style="margin-top:5px">
                    @Html.Label("", "Show Report On")
                </div>
            </div>
            <div class="col-lg-9">
                <label class="radio-inline">
                    @Html.RadioButtonFor(model => model.TEXTBOX2, "Details", new { @checked = "checked" })  @Html.Label("Details")
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(model => model.TEXTBOX2, "Summary")  @Html.Label("Summary")
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="submit" formtarget="_blank" name="Show_rep" value="Show Report" title="Show report in a new tab" class="btn btn-default" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            </div>
        </div>

    </div>
    <div class="container">
        <div id="helpDIV">

        </div>
    </div>
}

