@model Improvar.ViewModels.PartMasterEntry
@{
    ViewBag.Title = "Part Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") {
            modeView();
            $("#PARTCD").attr("disabled", "true");
        }
        else if ("@Model.DefaultAction" == "E") {
            $("#PARTCD").attr("readonly", "readonly");
            $("#PARTCD").attr("disabled", "true");

        }
        else if ("@Model.DefaultAction" == "A") {
            $('form :input:enabled:visible:not([readonly]):first').focus();
        }
        $("#WaitingMode").hide();
   });
</script>
<script>
   function requiredFieldValidator()
   {
       if (!emptyFieldCheck("Enter  Part Code", "PARTCD")) { return false; }
       if (!emptyFieldCheck("Enter Part Name", "PARTNM")) { return false; }
        return true;
   }
</script>
<script>
    @{
        string mldauto = "";
        if (@Model.M_PARTS != null)
        {
            mldauto = Model.M_PARTS.M_AUTONO.ToString();
        }
        else
        {
            mldauto = "";
        }
    }
    function ModifyLogDetails() {
        if ("@Model.DefaultAction" == "V") {
            ModifyLogDtl(@mldauto);
        }
    }
</script>
<script>
    function CheckPartCode(id) {
        if ("@Model.DefaultAction" == "A") {
            var valu = document.getElementById(id).value;
            if (valu == "") {
            }
            else {
                $.ajax({
                    type: 'GET',
                    url: $("#checkPartcode").val(),
                    data: {
                        val: valu
                    },
                    success: function (result) {
                        if (result == "1") {
                            $("#Msgdiv1").show();
                            $("#info").show();
                            $("#PARTCD").val("");
                            $("#msgbody_info").html("Code Already Exists : Please Enter a Valid Code !! ");
                            $("#btnok").focus();
                            message_value = "PARTCD";
                            return false;
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#WaitingMode").hide();
                        msgError(XMLHttpRequest.responseText);
                        $("body span h1").remove(); $("#msgbody_error style").remove();
                    }
                });
            }
        }
    }
</script>
@{
    string PageControllerName = "M_ItemPart";
}
@using (Html.BeginForm())
{
    if (Model.DefaultView == true)
    {
        @Html.HiddenFor(a => Model.maxdate)
        @Html.HiddenFor(a => Model.mindate)
       <div class="form-horizontal" style="padding-left:5px;padding-right:5px;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" id="checkPartcode" value="@Url.Action("CheckPartCode", PageControllerName)" />
            <input type="hidden" id="btnSave" value="@Url.Action("SAVE", PageControllerName)" />
           <input type="hidden" id="srhpnl" value="@Url.Action("SearchPannelData", PageControllerName)" />
                        @Html.HiddenFor(s => s.DefaultAction)
            @Html.HiddenFor(a => a.M_PARTS.M_AUTONO)
           @Html.HiddenFor(model => model.Audit_REM, new { id = "Audit_REM" })
 <div class="row">
                <div class="col-md-6">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Code")
                        <b style="color:red"><sup>*</sup></b>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_PARTS.PARTCD, new { htmlAttributes = new { @class = "form-control ", onblur = "CheckPartCode('PARTCD');", id = "PARTCD", @placeholder = "Code", maxlength = 4, @style = "text-transform:uppercase;" } })

                        @Html.HiddenFor(a => a.M_PARTS.PARTCD)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Name")
                        <b style="color:red"><sup>*</sup></b>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_PARTS.PARTNM, new { htmlAttributes = new { @class = "form-control ", id = "PARTNM", @placeholder = "Name", maxlength = 15 } })

                    </div>
                </div>
            </div>
           <div class="row">
               <div class="col-md-6">
                   <div class="editor-field" style="margin-top: 4px;">
                       @Html.Label("", "Part BarCode")
                   </div>
               </div>
               <div class="col-md-2">
                   <div class="editor-field">
                       @Html.EditorFor(model => model.M_PARTS.PRTBARCODE, new { htmlAttributes = new { @class = "form-control ", id = "PRTBARCODE", @placeholder = "BarCode", maxlength = 1 } })

                   </div>
               </div>
           </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="editor-label" style="margin-top:0px;margin-bottom: -5px;display: inline-block;">
                        @Html.Label("", "Deactivate")
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="editor-field" style="display: inline-block;">
                        @Html.CheckBoxFor(model => model.Deactive)
                    </div>
                </div>

            </div>

        </div>
    }
    else
    {
        @ViewBag.ErrorMessage
    }

    <div class="container">
        <div id="helpDIV">

        </div>
    </div>
}


