@model Improvar.ViewModels.RepBarcodePrint
@{
    ViewBag.Title = "Image Linkup with Barcode";
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
@{
    string PageControllerName = "Rep_BarcodePrint";
}
<script>
    $(document).ready(function () {

    });
</script>

@using (Html.BeginForm())
{
    if (Model.DefaultView == true)
    {
        <div class="form-horizontal">
            @Html.HiddenFor(s => s.DefaultAction)
            @*<div class="col-md-1">
                <div class="editor-label" style="margin-top: 6px;">
                    @Html.Label("", "Bar Code")
                    <b style="color:Red;">*</b>
                </div>
            </div>
            <div class="col-md-8">
                <div class="editor-field">
                    @Html.EditorFor(model => model.TEXTBOX1, new { htmlAttributes = new { @class = "form-control textbox_image", id = "BARCODE", onkeydown = "GetHelpBlur('" + @Url.Action("GetBarCodeDetails", PageControllerName) + "','Bar Code Details','BARCODE','BARCODE=BARNO=0','DOCDT/TAXGRPCD/GOCD/PRCCD/ALLMTRLJOBCD')", onblur = "GetBarnoDetails(this.value);", @placeholder = "Bar Code", maxlength = 25 } })
                    <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetBarCodeDetails", PageControllerName)','Bar Code Details','BARCODE','BARCODE=BARNO=0','DOCDT/TAXGRPCD/GOCD/PRCCD/ALLMTRLJOBCD')" />
                </div>
            </div>*@
            <div class="row">
                <div class="col-md-6">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Report Format")
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.Reptype, new SelectList(Model.DropDown_list1, "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <input type="submit" value="Download Barcode" name="downloadbar">
        </div>
    }
    <div class="container">
        <div id="helpDIV" style="z-index: 2;">

        </div>
    </div>
}
