@model Improvar.ViewModels.RepBarcodePrint
@{
    ViewBag.Title = "Barcode Printing";
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
@{
    string PageControllerName = "Rep_BarcodePrint";
}

<script src="~/Scripts/jquery.min.js"></script>
<script>
    $(document).ready(function () {

    });
</script>

@using (Html.BeginForm())
{
    if (Model.DefaultView == true)
    {
        <div class="form-horizontal">
            @Html.HiddenFor(s => s.DefaultAction)
            @*<div class="col-md-1">
                <div class="editor-label" style="margin-top: 6px;">
                    @Html.Label("", "Bar Code")
                    <b style="color:Red;">*</b>
                </div>
            </div>
            <div class="col-md-8">
                <div class="editor-field">
                    @Html.EditorFor(model => model.TEXTBOX1, new { htmlAttributes = new { @class = "form-control textbox_image", id = "BARCODE", onkeydown = "GetHelpBlur('" + @Url.Action("GetBarCodeDetails", PageControllerName) + "','Bar Code Details','BARCODE','BARCODE=BARNO=0','DOCDT/TAXGRPCD/GOCD/PRCCD/ALLMTRLJOBCD')", onblur = "GetBarnoDetails(this.value);", @placeholder = "Bar Code", maxlength = 25 } })
                    <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetBarCodeDetails", PageControllerName)','Bar Code Details','BARCODE','BARCODE=BARNO=0','DOCDT/TAXGRPCD/GOCD/PRCCD/ALLMTRLJOBCD')" />
                </div>
            </div>*@
            <div class="row">
                <div class="col-md-6">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Report Format")
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.Reptype, new SelectList(Model.DropDown_list1, "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>
                @if (CommVar.ClientCode(Model.UNQSNO) == "DIWH")
                {
                    <div class="col-md-1" style="text-align:right;">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Rate Type")
                        </div>
                    </div>
                    <div class="col-md-8" style="border:5px groove;">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.RateType, "Wprate", new { @checked = "checked" })  @Html.Label("Wprate")
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.RateType, "Cprate")  @Html.Label("Cprate")
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.RateType, "Rprate")  @Html.Label("Rprate")
                        </label>
                    </div>
                }
            </div>
            <div class="row" style="margin-top: 11px;width:fit-content;height:auto;background-color:#c4b9b9">
                 <div id="partialdivRemarks">
                        @Html.Partial("_Rep_BarcodePrint_Main")
                    </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input type="submit" value="Show Barcode PDF" name="btnSubmit" formtarget="_blank" style="margin-top: 11px;" class="btn btn-info" formmethod="post">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <input type="submit" value="Download Barcode" name="btnSubmit" formtarget="_blank" style="margin-top: 11px;" class="btn btn-info" formmethod="post">
                </div>
            </div>
         
        </div>
    }
    <div class="container">
        <div id="helpDIV" style="z-index: 2;">

        </div>
    </div>
}
