@model Improvar.ViewModels.ReportViewinHtml
@{
    ViewBag.Title = "Rep_MIS_SaleStk";
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
<script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/Content/bootstrap-select.css" />
@Scripts.Render("~/Scripts/Multiple-Select-min.js")
@Scripts.Render("~/Scripts/bootstrap-select.js")
<script src="~/Scripts/jquery.min.js"></script>

<script>
    function LoadItemCode() {
        var valu = document.getElementById("TEXTBOX1").value;
        $.ajax({
            type: 'post',
            url: $("#urlLoadItemCode").val(),
            data: {
                val: valu,
                Code:$()
            },
            success: function (result) {
                if (result == "1") {
                    $("#UOMCD").val("");
                    msgInfo("Code Already Exists : Please Enter a Valid Code!! ");
                    message_value = "UOMCD";
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>
<script>
    $(function () {
        $("#FDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate', minDate: '@Model.mindate' });
        $("#TDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate', minDate: '@Model.mindate' });
    });
</script>
<script>
    $(function () {
       
        $("#TextBox5").change(function () {
            $("#rowd1").hide();
            $("#rowd2").hide();
            $("#rowd3").hide();
            if ($("#TextBox5").val() == "1") {
                $("#rowd1").show();
            }
            else if ($("#TextBox5").val() == "2") {
                $("#rowd1").show();
                $("#rowd2").show();
            }
            else if ($("#TextBox5").val() == "3") {
                $("#rowd1").show();
                $("#rowd2").show();
                $("#rowd3").show();
            }
        });
       
    });
</script>
@{
    var PageControllerName = "Rep_Stk_Leg";
}
@using (Html.BeginForm())
{
    if (Model.DefaultView == true)
    {
        <div class="form-horizontal">
            @Html.HiddenFor(s => s.DefaultAction)

            <input type="hidden" id="urlLoadItemCode" value="@Url.Action("LoadItemCode", PageControllerName)" />
            <div class="report_center" style="background-color:lightgrey; padding:1%;border: 1px solid; margin: 2% 22% 2% 22%;">

                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "From Date")
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.FDT, new { htmlAttributes = new { @class = "form-control", id = "FDT", maxlength = 10, onblur = "DocumentDateCHK(this,true);", @placeholder = "dd/mm/yyyy" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "To Date")
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TDT, new { htmlAttributes = new { @class = "form-control", id = "TDT", maxlength = 10, onblur = "DocumentDateCHK(this,true);", @placeholder = "dd/mm/yyyy" } })
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:6px">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Item")
                        </div>
                    </div>
                    <div class="col-md-6">
                        @(new HtmlString(Model.Itnm))
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2" style="width:auto">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Show Only negative stock")
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="editor-field" style="margin-top: 5px;">
                            @Html.CheckBoxFor(model => model.Checkbox1, new { Style = "width:18px;height:18px;" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Skip negative stock")
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="editor-field" style="margin-top: 5px;">
                            @Html.CheckBoxFor(model => model.Checkbox2, new { Style = "width:18px;height:18px;" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Stock ageing")
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="editor-field" style="margin-top: 5px;">
                            @Html.EditorFor(model => model.TEXTBOX5, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", id = "TextBox5", min = 0, Max = 3, type = "number" } })
                        </div>
                    </div>
                </div>
                <div class="row" id="rowd1" style="display:none">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Days Range 1")
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="editor-field" style="margin-top: 5px;">
                            <input type="text" name="days1" id="days1" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row" id="rowd2" style="display:none">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Days Range 2")
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="editor-field" style="margin-top: 5px;">
                            <input type="text" name="days2" id="days2" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row" id="rowd3" style="display:none">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Days Range 3")
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="editor-field" style="margin-top: 5px;">
                            <input type="text" id="days3" name="days3" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10PX">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-6">
                        <input type="submit" value="Show Report" name="submitbutton" class="btn btn-default" formtarget="_blank" />
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="container">
        <div id="helpDIV" style="z-index: 2;">

        </div>
    </div>
}
