@model Improvar.ViewModels.ReportViewinHtml
@{
    ViewBag.Title = "Pending Bilty";
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
@{
    var PageControllerName = "Rep_Pend_LR";
}
<script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/Content/bootstrap-select.css" />
@Scripts.Render("~/Scripts/Multiple-Select-min.js")
@Scripts.Render("~/Scripts/bootstrap-select.js")
<script src="~/Scripts/jquery.min.js"></script>
<script>
    $(document).ready(function () {


    });
</script>
<script>
    $(function () {
        $("#FDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate', minDate: '@Model.mindate' });
        $("#TDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate', minDate: '@Model.mindate' });

    });
</script>
<script>
    function PendingBiltyChange() {
        debugger;
        var BltyPending = $("input[type='radio'][name='BltyPending']:checked").val();
        if (BltyPending == "R") {
            if ("@CommVar.ClientCode(Model.UNQSNO)" == "BNBH") {
                document.getElementById("Checkbox1").checked = true;
                document.getElementById("Checkbox2").checked = true;
            }
            $("#ReceiveFilterDiv").show();
        }
        else {
            document.getElementById("Checkbox1").checked = false;
            document.getElementById("Checkbox2").checked = false;
            $("#ReceiveFilterDiv").hide();
        }
    }
</script>
@using (Html.BeginForm())
{
    if (Model.DefaultView == true)
    {
        <div class="form-horizontal">
            @Html.HiddenFor(s => s.DefaultAction)
            <div class="report_center" style="background-color:lightgrey; padding:1%;border: 1px solid; margin: 2% 22% 2% 22%;">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 4px;">
                            @Html.Label("", "AS on Date")
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TDT, new { htmlAttributes = new { @class = "form-control", id = "FDT", maxlength = 10, onblur = "DocumentDateCHK(this,true);", @placeholder = "dd/mm/yyyy" } })
                        </div>
                    </div>
                </div>
                <div class="row" id="agnt" style="margin-top:6px">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Transporter")
                        </div>
                    </div>
                    <div class="col-md-6">
                        @(new HtmlString(Model.Slnm))
                    </div>
                </div>
                <div class="row" id="agnt" style="margin-top:6px">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "LR No. Like")
                        </div>
                    </div>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.TEXTBOX1, new { htmlAttributes = new { @class = "form-control", id = "LRNO" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Pending Bilty")
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="editor-field">
                            <input type="radio" name="BltyPending" value="I" checked onchange="PendingBiltyChange()" />Issue to Mutia Pending
                            <input type="radio" name="BltyPending" value="R" onchange="PendingBiltyChange()" />Receive from Mutia Pending
                        </div>
                    </div>
                </div>
                <div class="row" id="ReceiveFilterDiv" style="display:none;">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-4">
                        <div class="editor-field">
                            @Html.CheckBoxFor(model => model.Checkbox1, new { id = "Checkbox1" })  @Html.Label("", "Show Report After Issue Only")
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="editor-field">
                            @Html.CheckBoxFor(model => model.Checkbox2, new { id = "Checkbox2" })  @Html.Label("", "Show Doc. Date")
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10PX">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-6">
                        <input type="submit" value="Show Report" name="submitbutton" class="btn btn-default" formtarget="_blank" />
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="container">
        <div id="helpDIV" style="z-index: 2;">

        </div>
    </div>
}
