@model Improvar.ViewModels.DataUploadVM
@{
    ViewBag.Title = "Purchase Bill Upload";
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    string PageControllerName = "T_PBillUpload";
}
<script src="~/Scripts/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        if ("@CommVar.Compcd(Model.UNQSNO)" == "LALF") {
            document.getElementById("filePurchase").accept = ".xlsx";
        }
        @*else if ("@CommVar.Compcd(Model.UNQSNO)" == "BNBH") {
            document.getElementById("filePurchase").accept = ".dbf";
        }*@
        $('#btnExtractFile').click(function () {
            if (window.FormData !== undefined) {
                var fileUpload = $("#filePurchase").get(0);
                var files = fileUpload.files;
                var fileData = new FormData();
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
                //fileData.append('username', ‘Manas’);
                $.ajax({
                    url: "@Url.Action("ExtractPurchase", PageControllerName)",
                    type: "POST",
                    beforesend: $("#WaitingMode").show(),
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        $("#WaitingMode").hide();
                        //$("#partialdivBillSelection").animate({ marginTop: '-10px' }, 50);
                        $("#partialdivBillSelection").html(result);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#WaitingMode").hide();
                        msgError(XMLHttpRequest.responseText);
                        $("body span h1").remove(); $("#msgbody_error style").remove();
                    }
                });
            }
            else {
                alert("File/FormData not found.");
            }
        });
    });
</script>
@using (Html.BeginForm("T_PBillUpload", "T_PBillUpload", new { US = @Model.UNQSNO_ENCRYPTED }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal" style="padding-left:5px;padding-right:5px;">
        @if (Model != null && Model.STATUS == null)
        {
            if (CommVar.ClientCode(Model.UNQSNO) == "LALF")
            {
                <div class="row">
                    <div class="col-md-1">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Party Code")
                            <b style="color:Red;">*</b>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.SLCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "SLCD", onkeydown = "GetHelpBlur('" + @Url.Action("GetSubLedgerDetails", PageControllerName) + "','Sub Ledger Details','SLCD','SLCD=slcd=1/SLNM=slnm=0/GSTNO=gstno=2')", onblur = "GetHelpBlur('" + @Url.Action("GetSubLedgerDetails", PageControllerName) + "','Sub Ledger Details','SLCD','SLCD=slcd=1/SLNM=slnm=0/GSTNO=gstno=2');", @placeholder = "Code", maxlength = 8 } })
                            <img src="~/Image/search.png" id="SLCD_HELP" width="19px" height="16px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetSubLedgerDetails", PageControllerName)','Sub Ledger Details','SLCD','SLCD=slcd=1/SLNM=slnm=0/GSTNO=gstno=2')" />
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.SLNM, new { htmlAttributes = new { @class = "form-control", id = "SLNM", maxlength = 45, @title = "", @placeholder = "Party Name", @TabIndex = -1, @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.GSTNO, new { htmlAttributes = new { @class = "form-control", id = "GSTNO", maxlength = 45, @title = "Only for View", @placeholder = "GSTNO", @TabIndex = -1, @readonly = "readonly" } })
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-7">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Select Purchase Bill File")
                        <b style="color:red"><sup>*</sup></b>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="editor-field" style="margin-top: 4px;">
                        <input type="file" id="filePurchase" name="filePurchase" required accept=".xlsx" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="editor-field">
                        <input id="btnExtractFile" type="button" value="View Data" name="Command" formtarget="_blank" class="btn btn-primary" style="margin-top: 4px;padding: 2px 7px 2px 5px;" />
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div id="partialdivBillSelection">
                @*@Html.Partial("_T_PBillUpload_Bill")*@
            </div>
        </div>
        <div class="row">
            @if (Model != null && Model.DUpGrid != null)
            {
                <table class="table table-bordered table-condensed">
                    <caption><h2>Upload Status</h2></caption>
                    <thead>
                        <tr><th>CUSTOMERNO</th><th>BLNO</th><th>BLDT</th><th>TCSAMT</th><th>ROAMT</th><th>BLAMT</th><th>MESSAGE</th></tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.DUpGrid.Count; i++)
                        {
                            <tr>
                                <td>@Model.DUpGrid[i].CUSTOMERNO </td>
                                <td> @Model.DUpGrid[i].BLNO</td>
                                <td> @Model.DUpGrid[i].BLDT</td>
                                <td> @Model.DUpGrid[i].TCSAMT</td>
                                <td> @Model.DUpGrid[i].ROAMT</td>
                                <td> @Model.DUpGrid[i].BLAMT</td>
                                <td>@Model.DUpGrid[i].MESSAGE</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <h2>@Model.STATUS</h2>
        </div>
    </div>
    <div class="container">
        <div id="helpDIV">

        </div>
    </div>
}