@model Improvar.ViewModels.ReportViewinHtml
@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    var REP_PARA = Model.maxdate;
}

<script src="~/Scripts/jquery.min.js"></script>

<script>
    $(function () {
        $("#FDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true });
        $("#TDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true });
    });
</script>

@{
    string PageControllerName = "SaleBill_Print";
}
@using (Html.BeginForm())
{
    if (Model.DefaultView == true)
    {
        <div class="form-horizontal">
            @Html.HiddenFor(s => s.DefaultAction)
            @Html.HiddenFor(model => model.maxdate)
            @Html.HiddenFor(model => model.MENU_PARA)
            <input type="hidden" id="partylinkcd" value="D,C" />

            <div class="report_center" style="background-color:lightgrey; padding:1%;border: 1px solid; margin: 2% 22% 2% 22%;">

                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Doc Code")
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.DOCCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "DOCCD", onkeyup = "GetHelp('" + @Url.Action("Getdocno", PageControllerName) + "','DOCCD/TEXTBOX2','1/0','Select UOM Details','DOCCD');", @placeholder = "Code", maxlength = 5, required = "required" } })
                            @*<img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onclick="GetHelp('@Url.Action("Getdocno", PageControllerName)','DOCCD/TEXTBOX2','1/0','Select Docno and Docdt Details','DOCCD')" />*@
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Doc No.s (1,2,3..)")
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TEXTBOX8, new { htmlAttributes = new { @class = "form-control", id = "MULTIPLEDOCNO" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "From Doc No")
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.FDOCNO, new { htmlAttributes = new { @class = "form-control", id = "FDOCNO", @placeholder = "FDOCNO", maxlength = 8 } })

                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "To Doc No")
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TDOCNO, new { htmlAttributes = new { @class = "form-control", id = "TDOCNO", @placeholder = "FDOCNO", maxlength = 8 } })


                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "From Date")
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="editor-field">
                            @*<input name="FDT" id="FDT" class="form-control" onblur="DocumentDateCHK(this)" autocomplete="off" />*@
                            @Html.EditorFor(model => model.FDT, new { htmlAttributes = new { @class = "form-control", id = "FDT", @style = "text-transform:uppercase;", @placeholder = "dd/mm/yyyy", maxlength = 10, autocomplete = "off", onblur = "DocumentDateCHK(this)" } })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "To Date")
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="editor-field">
                            @*<input name="TDT" id="TDT" class="form-control" onblur="DocumentDateCHK(this)" autocomplete="off" />*@
                            @Html.EditorFor(model => model.TDT, new { htmlAttributes = new { @class = "form-control", id = "TDT", @style = "text-transform:uppercase;", @placeholder = "dd/mm/yyyy", maxlength = 10, autocomplete = "off", onblur = "DocumentDateCHK(this)" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-field" style="margin-top: 4px;">
                            @Html.Label("", "Party")
                        </div>
                    </div>
                    <div class="col-md-11">
                        @(new HtmlString(Model.Slnm))
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Report Format")
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.TEXTBOX6, new SelectList(Model.DropDown_list1, "Value", "Text"), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-field" style="margin-top: 4px;">
                            @Html.Label("", "PDF E-Mail to")
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TEXTBOX5, new { htmlAttributes = new { @class = "form-control", id = "TEXTBOX5", autocomplete = "on", @placeholder = "E-Mail" } })
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">

                    @if (Model.MENU_PARA != "SBCM" && Model.MENU_PARA != "SBCMR" && Model.MENU_PARA != "ST" && Model.MENU_PARA != "AT")
                    { <div class="col-lg-2"></div>
                    <div class="col-lg-3">
                        <table style="border:1px solid">
                            <tr><td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox1, true)</td><td style="border:1px groove;">Original For Receipent</td></tr>
                            <tr><td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox2)</td><td style="border:1px groove;">Duplicate For Transporter</td></tr>
                            <tr><td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox3)</td><td style="border:1px groove;">Triplicate For Suppler</td></tr>
                            <tr><td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox4)</td><td style="border:1px groove;">Extra Copy</td></tr>
                            <tr><td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox5)</td><td style="border:1px groove;">Extra Copy</td></tr>
                            <tr><td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox6)</td><td style="border:1px groove;">Extra Copy</td></tr>
                        </table>
                    </div>
                    }
                    else
                    {
                        <div class="col-lg-2">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "No Of Copy")
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.TEXTBOX10, new { htmlAttributes = new { @class = "form-control", id = "TEXTBOX10", @type = "text", @onkeypress = "return event.charCode > 47 && event.charCode < 58;", maxlength = 3 } })
                            </div>
                        </div>
                    }
                    <div class="col-lg-3">
                        <table style="border:1px solid">
                            <tr><td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox7)</td><td style="border:1px groove;">Print Current O/S in Bill</td></tr>
                            @if (Model.MENU_PARA != "SBCM" && Model.MENU_PARA != "SBCMR" && Model.MENU_PARA != "ST" && Model.MENU_PARA != "AT" && CommVar.ModuleCode().retStr().IndexOf("SALESCLOTH") == -1)
                            {
                                <tr><td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox8) @Html.HiddenFor(model => model.BARNO) </td><td style="border:1px groove;">Print Image</td></tr>
                            }
                            @if (CommVar.ModuleCode().retStr().IndexOf("SALESCLOTH") != -1)
                            {
                                <tr><td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox9)</td><td style="border:1px groove;">Show Individual Pcs</td></tr>
                            }
                            <tr><td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox10, true)</td><td style="border:1px groove;">Final Print</td></tr>
                            <tr><td style="border:1px groove;">@Html.CheckBoxFor(model => model.Checkbox11, true)</td><td style="border:1px groove;">Pending Printing</td></tr>
                        </table>
                    </div>
                </div>
                @if (Model.MENU_PARA == "SBCM" || Model.MENU_PARA == "SBCMR" || Model.MENU_PARA == "ST" || Model.MENU_PARA == "AT")
                {   <div class="row" style="margin-top:10PX">
                    <div class="col-md-8">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Report Type")
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(g => g.TEXTBOX7, "Full")  @Html.Label("Full")
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(g => g.TEXTBOX7, "Half", new { @checked = "checked" })  @Html.Label("Half")
                        </label>
                    </div>
                </div>
                }
                <div class="row" style="margin-top:10PX">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-LG-10">
                        <input type="submit" value="Print" name="submitbutton" class="btn btn-default" style="width:66px;" formtarget="_blank" />
                        <input type="submit" value="Email" name="submitbutton" class="btn btn-default" style="width:66px;" formtarget="_blank" />
                        <input type="submit" value="SMS" name="submitbutton" class="btn btn-default" style="width:66px;" formtarget="_blank" />
                        <input type="submit" value="Excel" name="submitbutton" class="btn btn-default" style="width:66px;" formtarget="_blank" />
                    </div>
                </div>
            </div>

        </div>
    }
    <div class="container">
        <div id="helpDIV" style="z-index: 2;">

        </div>
    </div>
}
