@model Improvar.ViewModels.AmountTypeMasterEntry
@{
    ViewBag.Title = "AmountType Master Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string PageControllerName = "M_Amttype";
}
<script src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function ()
    {
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D")
        {
            modeView();
        }
        else if ("@Model.DefaultAction" == "E")
        {
        }
        else if ("@Model.DefaultAction" == "A")
        {
            $('form :input:enabled:visible:not([readonly]):first').focus();
        }
        $("#WaitingMode").hide();
    });
</script>
<script>
    function requiredFieldValidator()
    {
        if (!emptyFieldCheck("Enter Amount Type Name ", "AMTNM")) { return false; }
        if (!emptyFieldCheck("Enter Gen.Ledger Name ", "GLCD")) { return false; }
        if (!emptyFieldCheck("Enter Cal Code ", "CALCCODE")) { return false; }
        return true;
    }
</script>
<script>
    @{
        string mldauto = "";
        if (@Model.M_AMTTYPE != null)
        {
            mldauto = Model.M_AMTTYPE.M_AUTONO.ToString();
        }
        else
        {
            mldauto = "";
        }
    }
    function ModifyLogDetails() {
        if ("@Model.DefaultAction" == "V") {
            ModifyLogDtl(@mldauto);
        }
    }
</script>
<script>
    function SelectGeneralLedgerCode(id, GLCD, GLNM)
    {
        if (id == "")
        {
            $("#" + GLCD.id).val("");
            $("#" + GLNM.id).val("");
        }
        else
        {
            $.ajax({
                type: 'GET',
                url: $("#urlnameGENLEG").val(),
                data: { val: id },
                success: function (result)
                {
                    var MSG = result.indexOf(String.fromCharCode(181));
                    if (MSG >= 0)
                    {
                        $("#tempHDD").val(result);
                        var str = $("#tempHDD").val().split(String.fromCharCode(181));
                        $("#" + GLCD.id).val(str[0].toString());
                        $("#" + GLNM.id).val(str[1].toString());
                    }
                    else
                    {
                        $("#" + GLCD.id).val("");
                        $("#" + GLNM.id).val("");
                        msgInfo(result);
                        message_value = GLCD.id;
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });
        }
    }
</script>
@using (Html.BeginForm())
{
    if (Model.DefaultView == true)
    {
        @Html.HiddenFor(a => Model.maxdate)
        @Html.HiddenFor(a => Model.mindate)
        <div class="form-horizontal" style="padding-left:5px;padding-right:5px;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" id="btnSave" value="@Url.Action("SAVE", PageControllerName)" />
            <input type="hidden" id="urlnameGENLEG" value="@Url.Action("GetGeneralLedgerDetails", PageControllerName)" />
            <input type="hidden" id="srhpnl" value="@Url.Action("SearchPannelData", PageControllerName)" />
            @Html.HiddenFor(s => s.DefaultAction)
            @Html.HiddenFor(a => a.M_AMTTYPE.M_AUTONO)
            <div class="row">
                <div class="col-md-5">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Amt Code")
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_AMTTYPE.AMTCD, new { htmlAttributes = new { @class = "form-control ", id = "AMTCD", @placeholder = "Code", maxlength = 4, @TabIndex = -1, @readonly = "readonly" } })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Amt Desc")
                        <b style="color:red"><sup>*</sup></b>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_AMTTYPE.AMTNM, new { htmlAttributes = new { @class = "form-control ", id = "AMTNM", @placeholder = "Amt Desc", maxlength = 40 } })

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Gen.Ledger")
                        <b style="color:red"><sup>*</sup></b>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_AMTTYPE.GLCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "GLCD", onkeyup = "GetHelp('" + @Url.Action("GetGeneralLedgerDetails", PageControllerName) + "','GLCD/GLNM','1/0','General Ledger Details','GLCD');toUpper(this);", onblur = "SelectGeneralLedgerCode(this.value,GLCD,GLNM);", @placeholder = "Code", maxlength = 8 } })
                        <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onclick="GetHelp('@Url.Action("GetGeneralLedgerDetails", PageControllerName)','GLCD/GLNM','1/0','General Ledger Details','GLCD')" />
                        
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_GENLEG.GLNM, new { htmlAttributes = new { @class = "form-control", id = "GLNM", @TabIndex = -1, @placeholder = "GLNM", maxlength = 45, @readonly = "readonly" } })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Hsn Code")                        
                    </div>
                </div>
           
                <div class="col-md-6">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_AMTTYPE.HSNCODE, new { htmlAttributes = new { @class = "form-control", id = "HSNCODE", @placeholder = "HSNCODE", maxlength = 8, @list = "hsncode1" } })
                        <datalist id="hsncode1">
                            @foreach (var jg in Model.Database_Combo1)
                            {
                                <option value="@jg.FIELD_VALUE" />
                            }
                        </datalist>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Cal Code")
                        <b style="color:red"><sup>*</sup></b>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_AMTTYPE.CALCCODE, new { htmlAttributes = new { @class = "form-control ", id = "CALCCODE", @placeholder = "Cal Code", maxlength = 1 } })

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Cal Type")
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-field">
                        @Html.DropDownListFor(model => Model.CALCTYPE, new SelectList(Model.DropDown_list, "Value", "Text", Model.CALCTYPE), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Add/Less")
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-field">
                        @Html.DropDownListFor(model => Model.ADDLESS, new SelectList(Model.DropDown_list3, "Value", "Text", Model.ADDLESS), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Tax Code")
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-field">
                        @Html.DropDownListFor(model => Model.TAXCODE, new SelectList(Model.DropDown_list1, "Value", "Text", Model.TAXCODE),"Select", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "CalFormula")                        
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_AMTTYPE.CALCFORMULA, new { htmlAttributes = new { @class = "form-control ", id = "CALCFORMULA", @placeholder = "Cal.Formula", maxlength = 100 } })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Sales/Pur")
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-field">
                        @Html.DropDownListFor(model => Model.SALPUR, new SelectList(Model.DropDown_list2, "Value", "Text", Model.SALPUR), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="editor-label" style="margin-top:0px;margin-bottom: -5px;display: inline-block;">
                        @Html.Label("", "De - Activate")
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="editor-field" style="display: inline-block;">
                        @Html.CheckBoxFor(model => model.Checked)
                    </div>
                </div>

            </div>

        </div>
    }
    else
    {
        @ViewBag.ErrorMessage
    }

    <div class="container">
        <div id="helpDIV">

        </div>
    </div>
}


