@model Improvar.ViewModels.BarcodePrintFormat
<div style="width: 600px;" overflow-y:auto;">
    <div class="table-responsive">

        @if (Model.DefaultView == true)
        {
            @Html.ValidationSummary(true)
            <div class="grid_title">
                <input type="text" id="AddRowsSLCD" name="AddRowsSLCD" placeholder="Rows" style="font-size: 11px;font-weight: bold;width:40px;height:17px;float:left;padding: 2px;" maxlength="3" onkeypress="return numericOnly(this);" />
                <img src="~/Image/Plus.png" id="btnAdd" title="Add Row" class="Help_image_buttonAddRemove" onclick="AddRowSLCD('AddRowsSLCD')" />
                <img src="~/Image/Minus.png" class="Help_image_buttonAddRemove" id="btnDelete" title="Delete Row" onclick="DeleteRowSLCD()" />

                <div class="col-md-8">
                    <input type="text" id="search_size" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, 'exampleItemSize');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                <center style="font-size: 11px;color: darkmagenta; border: 1px inset;"><b>Ledger tagging Details</b></center>
            </div>

            <table id="exampleItemSize" class="resizable grid_table" cellpadding="0px" cellspacing="0px">
                <thead>
                    <tr style="height:30px;">
                        <th class="grid_th" style="width:27px;"></th>
                        <th class="grid_th" style="width:27px;">SL. No.</th>
                        <th class="grid_th" style="width:50px;">Ledger CODE</th>
                        <th class="grid_th" style="width:100px;">Ledger NAME</th>
                        <th class="grid_th" style="width:40px">Rate</th>
                        <th class="grid_th" style="width:100px">PDESIGN</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.MBARCODEPRINTFORMAT != null)
                    {
                        for (int i = 0; i <= Model.MBARCODEPRINTFORMAT.Count - 1; i++)
                        {
                            <tr style="font-size:12px; font-weight:bold;">
                                <td class="grid_td" style="padding-left:7px;padding-right:7px;">
                                    @Html.CheckBoxFor(model => model.MBARCODEPRINTFORMAT[i].Checked, new { htmlAttributes = new { id = "chkid" } })
                                </td>
                                <td class="grid_td">
                                    @Html.TextBoxFor(model => Model.MBARCODEPRINTFORMAT[i].SLNO, new { id = "SSRLNO_" + i, @title = "Only Numeric", maxlength = 2, @class = " atextBoxFor ", @readonly = "readonly", @TabIndex = -1 })
                                </td>
                                 <td class="grid_td">
                                    @Html.TextBoxFor(model => Model.MBARCODEPRINTFORMAT[i].FMTTEXT, new { id = "SLNM_" + i, maxlength = 40,  @class = "atextBoxFor " })
                                </td>
                                <td class="grid_td">
                                    @Html.TextBoxFor(model => Model.MBARCODEPRINTFORMAT[i].FONTSZ, new { id = "JOBRT_" + i, maxlength = 12, @class = "atextBoxFor ", @style = "text-align: right;", @onkeypress = "return numericOnly(this,2);", })
                                </td>
                                <td class="grid_td">
                                    @Html.TextBoxFor(model => Model.MBARCODEPRINTFORMAT[i].ALIGN, new { id = "PDESIGN_" + i, maxlength = 30, @class = "atextBoxFor " })
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        }

    </div>
</div>

