@model Improvar.ViewModels.BOMMasterEntry
<script type="text/javascript">
    $(document).ready(function () {
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") {
            modeView();
            $(".sl_bom_grid").prop("disabled", false);
        }
        else if ("@Model.DefaultAction" == "A") {
            // $('form :input:enabled:visible:not([readonly]):first').focus();
        }
        resizableTables[resizableTables.length] = new ColumnResize(document.getElementById('_M_BOM_RMPM'));
        $("td").on("mouseover", function (e) { var titlee = $(this).find("input").val(); $(this).attr('title', titlee); });
    });
</script>
<script>
    $("#popup").ready(function () { $("#dragclass").draggable({ cursor: "move" }); if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") { modeView(); } });
</script>
<div id="dragclass" style="overflow-y:auto;max-height:330px;height:auto;background-color:#c4b9b9;padding:7px;border-radius: 7px;transform: translate(0%, 0%);z-index: 1100;left:5%;">
    <div class="table-responsive">
        @if (Model.DefaultView == true)
            {
            @Html.ValidationSummary(true)
            <div class="grid_title">
                <img src="~/Image/Plus.png" id="btnAddRMPM" title="Add Row" style="height: 20px;width:20px;margin-top: 1px;" class="Help_image_buttonAddRemove" onclick="AddRowRMPM()" />
                <img src="~/Image/Minus.png" id="btnDeleteRMPM" title="Delete Row" style="height: 20px;width:20px;margin-top: 1px;" class="Help_image_buttonAddRemove" onclick="DeleteRowRMPM()" />
                <div class="col-md-8">
                    <input type="text" id="search" name="search" style="height: 20px;margin-top: 1px;" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, '_M_BOM_RMPM');" />
                    <img src="~/Image/search.png" title="Help" style="height: 20px;width:20px;margin-top: 1px;" />
                </div>
                <div class="col-md-1">
                    <div class="editor-label">
                        @Html.Label("", "Size Code", new { style = "font-weight: bold;color:#fff;" })
                    </div>
                </div>
                <div class="col-md-1">
                    @Html.TextBoxFor(model => Model.COPY_SIZE, new { id = "COPY_SIZE", onblur = "Check_Size(this.value,ParentSerialNo_RMPM_0.value);", @class = "grid_title_box", @placeholder = "Code", @style = "height:21px;", maxlength = 4 })
                </div>
                <div class="col-md-2">
                    <input type="button" class="btn btn-info" id="btnCopySize" value="Copy" style="padding: 1px 7px 1px 7px;height: 20px;font-size: 11px;font-weight: bold;margin-top: 1px;" title="Click to Copy Item Data from Particular Size" onclick="CopyData('COPY_SIZE',ParentSerialNo_RMPM_0.value);" />
                </div>
                <center style="font-size:11px;color:darkmagenta;border:1px inset;height:22px;"><b>Row Material / Packing Material (RMPM) Details</b></center>
            </div>
            if (Model.MSITEMBOMPART != null)
            {
                Improvar.Models.MSITEMBOMPART query = (from c in Model.MSITEMBOMPART where (c.SLNO == Model.SERIAL) select c).SingleOrDefault();
                if (query != null)
                {
                    var helpM = new List<Improvar.Models.MSITEMBOMMTRL_RMPM>();
                    var javaScriptSerializer = new System.Web.Script.Serialization.JavaScriptSerializer();
                    helpM = javaScriptSerializer.Deserialize<List<Improvar.Models.MSITEMBOMMTRL_RMPM>>(query.ChildData_RMPM);
                    if (Model.MSITEMBOMMTRL_RMPM != null)
                    {
                        Model.MSITEMBOMMTRL_RMPM.Clear();
                    }
                    Model.MSITEMBOMMTRL_RMPM = helpM;
                }
                <div class="sticky-table sticky-ltr-cells">
                    <div style="height:auto;overflow-y:scroll;overflow-x:hidden;max-height:205px;">
                        <table id="_M_BOM_RMPM" class="resizable table-striped" cellpadding="0px" cellspacing="0px" style="width:1250px;">
                            <thead>
                                <tr class="sticky-header" style="height:30px;">
                                    <th class="sticky-cell" style="width: 27px;"></th>
                                    <th class="" style="width: 27px;">SL No.</th>
                                    <th class="" style="width:100px;">Item Code</th>
                                    <th class="" style="width:300px;">Item Name</th>
                                    <th class="" style="width: 81px;">Material Job Code</th>
                                    <th class="" style="width:100px;">Material Job Name</th>
                                    <th class="" style="width:100px;">Part</th>
                                    <th class="" style="width: 81px;">Color Code</th>
                                    <th class="" style="width:100px;">Color Name</th>
                                    <th class="" style="width:107px;">Size</th>
                                    <th class="" style="width:100px;text-align:right;">Quantity</th>
                                    <th class="" style="width:75px;">UOM</th>
                                    <th class="" style="width:75px;">Size LinkUp</th>
                                    <th class="" style="width:100px;text-align:right;">Rate</th>
                                    <th class="" style="width:300px;">Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.MSITEMBOMMTRL_RMPM != null)
                                {
                                    for (int i = 0; i <= Model.MSITEMBOMMTRL_RMPM.Count - 1; i++)
                                    {
                                        <tr style="font-size:12px; font-weight:bold;">
                                            <td class="sticky-cell" style="padding-left:7px;padding-right:7px;">
                                                @Html.CheckBoxFor(model => model.MSITEMBOMMTRL_RMPM[i].Checked, new { id = "chkid_RMPM_" + i })
                                                @Html.HiddenFor(model => model.MSITEMBOMMTRL_RMPM[i].ParentSerialNo, new { id = "ParentSerialNo_RMPM_" + i })
                                            </td>
                                            <td class="">
                                                @Html.TextBoxFor(model => Model.MSITEMBOMMTRL_RMPM[i].PSLNO, new { id = "SLNOM_RMPM_" + i, @class = " atextBoxFor ", style = "width:25px", maxlength = 2, @readonly = "readonly" })
                                            </td>
                                            <td class="">
                                                @Html.TextBoxFor(model => Model.MSITEMBOMMTRL_RMPM[i].ITCD, new { id = "ITCDM_RMPM_" + i, onkeyup = "GetHelp('" + @Url.Action("GetRMPMITEMDETAILS", "M_BOM") + "','" + "ITCDM_RMPM_" + i + "/" + "ITNMM_RMPM_" + i + "/" + "UOMNM_RMPM_" + i + "','1/0/2','Item Details','" + "ITCDM_RMPM_" + i + "')", onblur = "SelectRMPMItemCode(this.value," + "ITCDM_RMPM_" + i + "," + "ITNMM_RMPM_" + i + "," + "UOMNM_RMPM_" + i + ");", @class = " atextBoxFor textbox_image", maxlength = 10 })
                                                <img src="~/Image/search.png" class="Help_image_button_grid" width="20px" height="20px" title="Help" onclick="GetHelp('@Url.Action("GetRMPMITEMDETAILS", "M_BOM")','ITCDM_RMPM_@i/ITNMM_RMPM_@i/UOMNM_RMPM_@i','1/0/2','Item Details','ITCDM_RMPM_@i')" />
                                            </td>
                                            <td class="">
                                                @Html.TextBoxFor(model => Model.MSITEMBOMMTRL_RMPM[i].ITNM, new { id = "ITNMM_RMPM_" + i, @class = " atextBoxFor ", maxlength = 60, @readonly = "readonly" })
                                            </td>
                                            <td class="">
                                                @Html.TextBoxFor(model => Model.MSITEMBOMMTRL_RMPM[i].MTRLJOBCD, new { id = "MTRLJOBCD_RMPM_" + i, maxlength = 4, onkeydown = "GetHelpBlur('" + @Url.Action("GetMaterialDetails", "M_BOM") + "','Material Job Details','" + "MTRLJOBCD_RMPM_" + i + "','" + "MTRLJOBCD_RMPM_" + i + "=MTRLJOBCD=1/" + "MTRLJOBNM_RMPM_" + i + "=MTRLJOBNM=0');", onblur = "GetHelpBlur('" + @Url.Action("GetMaterialDetails", "M_BOM") + "','Material Job Details','" + "MTRLJOBCD_RMPM_" + i + "','" + "MTRLJOBCD_RMPM_" + i + "=MTRLJOBCD=1/" + "MTRLJOBNM_RMPM_" + i + "=MTRLJOBNM=0');", @placeholder = "Code", @class = " atextBoxFor textbox_image" })
                                                <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetMaterialDetails", "M_BOM")','Material Job Details','MTRLJOBCD_RMPM_@i','MTRLJOBCD_RMPM_@i=MTRLJOBCD=1/MTRLJOBNM_RMPM_@i=MTRLJOBNM=0')" />

                                            </td>
                                            <td class="">
                                                @Html.TextBoxFor(model => Model.MSITEMBOMMTRL_RMPM[i].MTRLJOBNM, new { id = "MTRLJOBNM_RMPM_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                            </td>
                                            <td class="">

                                                @Html.TextBoxFor(model => Model.MSITEMBOMMTRL_RMPM[i].PARTCD, new { id = "PARTCD_RMPM_" + i, maxlength = 4, onkeydown = "GetHelpBlur('" + @Url.Action("GetPartDetails", "M_BOM") + "','Part Details','" + "PARTCD_RMPM_" + i + "','" + "PARTCD_RMPM_" + i + "=PARTCD=1');", onblur = "GetHelpBlur('" + @Url.Action("GetPartDetails", "M_BOM") + "','Part Details','" + "PARTCD_RMPM_" + i + "','" + "PARTCD_RMPM_" + i + "=PARTCD=1');", @placeholder = "Code", @class = " atextBoxFor textbox_image" })
                                                <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetPartDetails", "M_BOM")','Part Details','PARTCD_RMPM_@i','PARTCD_RMPM_@i=PARTCD=1')" />

                                            </td>
                                            <td class="">

                                                @Html.TextBoxFor(model => Model.MSITEMBOMMTRL_RMPM[i].COLRCD, new { id = "COLRCD_RMPM_" + i, maxlength = 4, onkeydown = "GetHelpBlur('" + @Url.Action("GetColorDetails", "M_BOM") + "','Color Details','" + "COLRCD_RMPM_" + i + "','" + "COLRCD_RMPM_" + i + "=COLRCD=1/" + "COLRNM_RMPM_" + i + "=COLRNM=0');", onblur = "GetHelpBlur('" + @Url.Action("GetColorDetails", "M_BOM") + "','Color Details','" + "COLRCD_RMPM_" + i + "','" + "COLRCD_RMPM_" + i + "=COLRCD=1/" + "COLRNM_RMPM_" + i + "=COLRNM=0');", @placeholder = "Code", @class = " atextBoxFor textbox_image" })
                                                <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetColorDetails", "M_BOM")','Color Details','COLRCD_RMPM_@i','COLRCD_RMPM_@i=COLRCD=1/COLRNM_RMPM_@i=COLRNM=0')" />
                                            </td>
                                            <td class="">
                                                @Html.TextBoxFor(model => Model.MSITEMBOMMTRL_RMPM[i].COLRNM, new { id = "COLRNM_RMPM_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                            </td>
                                            <td class="">
                                                @Html.TextBoxFor(model => Model.MSITEMBOMMTRL_RMPM[i].SIZECD, new { id = "SIZECD_RMPM_" + i, maxlength = 4, onkeydown = "GetHelpBlur('" + @Url.Action("GetSizeDetails", "M_BOM") + "','Size Details','" + "SIZECD_RMPM_" + i + "','" + "SIZECD_RMPM_" + i + "=SIZECD=1');", onblur = "GetHelpBlur('" + @Url.Action("GetSizeDetails", "M_BOM") + "','Size Details','" + "SIZECD_RMPM_" + i + "','" + "SIZECD_RMPM_" + i + "=SIZECD=1');", @placeholder = "Code", @class = " atextBoxFor textbox_image" })
                                                <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetSizeDetails", "M_BOM")','Size Details','SIZECD_RMPM_@i','SIZECD_RMPM_@i=SIZECD=1')" />
                                            </td>
                                            <td class="">
                                                @Html.TextBoxFor(model => Model.MSITEMBOMMTRL_RMPM[i].QNTY, new { id = "QNTYM_RMPM_" + i, @class = " atextBoxFor ", @style = "text-align: right;", @onkeypress = "return numericOnly(this,3);", maxlength = 12 })
                                            </td>
                                            <td class="">
                                                @Html.TextBoxFor(model => Model.MSITEMBOMMTRL_RMPM[i].UOMNM, new { id = "UOMNM_RMPM_" + i, @class = " atextBoxFor ", maxlength = 5, @readonly = "readonly" })
                                            </td>
                                            <td class="">
                                                @Html.DropDownListFor(model => Model.MSITEMBOMMTRL_RMPM[i].SIZE_LNK, new SelectList(Model.SizeLink, "Value", "Text", Model.MSITEMBOMMTRL_RMPM[i].SIZE_LNK), new { @class = " atextBoxFor select_3d " })
                                            </td>
                                            <td class="">
                                                @Html.TextBoxFor(model => Model.MSITEMBOMMTRL_RMPM[i].MTRLRT, new { id = "MTRLRTM_RMPM_" + i, @class = " atextBoxFor ", @style = "text-align: right;", @onkeypress = "return numericOnly(this,2);", maxlength = 12 })
                                            </td>
                                            <td class="">
                                                @Html.TextBoxFor(model => Model.MSITEMBOMMTRL_RMPM[i].REMARK, new { id = "REMARKM_RMPM_" + i, @class = " atextBoxFor ", maxlength = 50 })
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        }
    </div>
    <div class="row" style="padding:5px;text-align:center;">
        <div class="col-md-10">
            <div class="editor-label" style="margin-top: 6px;">
            </div>
        </div>

        <div class="col-md-7">
            <div class="editor-label" style="margin-top: 6px;">
                @Html.Label("", "Apply to All Sizes")
                @Html.CheckBoxFor(model => model.APPLY_TO_ALL_SIZE, new { id = "APPLY_TO_ALL_SIZE", @style = "height:20px;width:20px;" })
            </div>
        </div>
        <div class="col-md-7">
            <div class="editor-label" style="margin-top: 6px;">
                <input type="button" class="btn btn-success" id="btnCloseRMPM" value="Procced" onclick="CloseRMPM();" />
                <input type="button" class="btn btn-danger" id="btnCancelRMPM" value="Cancel" onclick="CancelRMPM();" />
            </div>
        </div>
    </div>
</div>
