@model Improvar.ViewModels.ItemMasterEntry

<div style="width: 342px;" overflow-y:auto;">
    <div class="table-responsive">

        @if (Model.DefaultView == true)
        {
            @Html.ValidationSummary(true)
            <div class="grid_title">
                @*<img src="~/Image/Plus.png" width="20px" height="20px" class="Help_image_buttonAddRemove" id="btnAddCOLOR" title="Add Row" onclick="AddRowCOLOR()" />*@
                <input type="text" id="AddRowsColor" name="AddRowsColor" placeholder="Rows" style="font-size: 11px;font-weight: bold;width:40px;height:17px;float:left;padding: 2px;" maxlength="3" onkeypress="return numericOnly(this);" />
                <img src="~/Image/Plus.png" id="btnAdd" title="Add Row" class="Help_image_buttonAddRemove" onclick="AddRowCOLOR('AddRowsColor')" />
                <img src="~/Image/Minus.png" width="20px" height="20px" class="Help_image_buttonAddRemove" id="btnDeleteCOLOR" title="Delete Row" onclick="DeleteRowCOLOR()" />

                <div class="col-md-10">
                    <input type="text" id="search_color" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, 'FINPRODUCT_COLOR');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                <center style="font-size: 11px;color: darkmagenta; border: 1px inset;"><b>Item Color Details</b></center>
            </div>
            <table id="FINPRODUCT_COLOR" class="resizable grid_table" cellpadding="0px" cellspacing="0px">
                <thead>
                    <tr style="height:30px;">
                        <th class="grid_th" style="width:27px;"></th>
                        <th class="grid_th" style="width:27px;">SL. No.</th>
                        <th class="grid_th" style="width:75px;">COLOR CODE</th>
                        <th class="grid_th" style="width:125px;">COLOR NAME</th>
                        <th class="grid_th" style="width:27px;">Inactive</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.MSITEMCOLOR != null)
                    {
                        for (int i = 0; i <= Model.MSITEMCOLOR.Count - 1; i++)
                        {
                            <tr style="font-size:12px; font-weight:bold;">
                                <td class="grid_td" style="padding-left:7px;padding-right:7px;">
                                    @Html.CheckBoxFor(model => model.MSITEMCOLOR[i].Checked, new { htmlAttributes = new { id = "chkid" } })
                                </td>
                                <td class="grid_td">
                                    @Html.TextBoxFor(model => Model.MSITEMCOLOR[i].SLNO, new { id = "CSLNO_" + i, @title = "Only Numeric", maxlength = 2, @class = " atextBoxFor ", @readonly = "readonly", @TabIndex = -1 })
                                </td>
                                <td class="grid_td">
                                    @Html.TextBoxFor(model => Model.MSITEMCOLOR[i].COLRCD, new { id = "COLRCD_" + i, maxlength = 4, onkeyup = "GetHelp('" + @Url.Action("GetColorDetails", "M_FinProduct") + "','" + "COLRCD_" + i + "/" + "COLRNM_" + i + "','1/0','Color Details','" + "COLRCD_" + i + "')", onblur = "SelectCOLORCODEGRID(this.value," + "COLRCD_" + i + "," + "COLRNM_" + i + ");", @class = " atextBoxFor textbox_image" })
                                    <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onclick="GetHelp('@Url.Action("GetColorDetails", "M_FinProduct")','COLRCD_@i/COLRNM_@i','1/0','Color Details','COLRCD_@i')" />
                                </td>
                                <td class="grid_td">
                                    @Html.TextBoxFor(model => Model.MSITEMCOLOR[i].COLRNM, new { id = "COLRNM_" + i, maxlength = 20, @title = "Only For Display", @readonly = "readonly", @class = " atextBoxFor ", @TabIndex = -1 })
                                </td>
                                <td class="grid_td" style="padding-left:7px;padding-right:7px;">
                                    @Html.CheckBoxFor(model => model.MSITEMCOLOR[i].IChecked, new { htmlAttributes = new { id = "IChecked_" } })
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>
</div>
