@model Improvar.ViewModels.ItemMasterEntry

<div style="width: 250px;" overflow-y:auto;">
    <div class="table-responsive">

        @if (Model.DefaultView == true)
        {
            @Html.ValidationSummary(true)
            <div class="grid_title">
                    <img src="~/Image/Plus.png" width="20px" height="20px" class="Help_image_buttonAddRemove" id="btnAddPART" title="Add Row" onclick="AddRowPARTS()" />
                    <img src="~/Image/Minus.png" width="20px" height="20px" class="Help_image_buttonAddRemove" id="btnDeletePART" title="Delete Row" onclick="DeleteRowPARTS()" />

                <div class="col-md-10">
                    <input type="text" id="search_part" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, 'FINPRODUCT_PART');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                <center style="font-size: 11px;color: darkmagenta; border: 1px inset;"><b>Item Part Details</b></center>
            </div>
            <table id="FINPRODUCT_PART" class="resizable grid_table" cellpadding="0px" cellspacing="0px">
                <thead>
                    <tr style="height:30px;">
                        <th class="grid_th" style="width:27px;"></th>
                        <th class="grid_th" style="width:27px;">SL. No.</th>
                        <th class="grid_th" style="width:75px;">PART CODE</th>
                        <th class="grid_th" style="width:125px;">PART NAME</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.MSITEMPARTS != null)
                    {
                        for (int i = 0; i <= Model.MSITEMPARTS.Count - 1; i++)
                        {
                            <tr style="font-size:12px; font-weight:bold;">
                                <td class="grid_td" style="padding-left:7px;padding-right:7px;">
                                    @Html.CheckBoxFor(model => model.MSITEMPARTS[i].Checked, new { htmlAttributes = new { id = "chkid" } })
                                </td>
                                <td class="grid_td">
                                    @Html.TextBoxFor(model => Model.MSITEMPARTS[i].SLNO, new { id = "SRLNO", @title = "Only Numeric", maxlength = 2, @class = " atextBoxFor ", @readonly = "readonly" })
                                </td>
                                <td class="grid_td">
                                    @Html.TextBoxFor(model => Model.MSITEMPARTS[i].PARTCD, new { id = "PARTCD_" + i, maxlength = 4, onkeyup = "GetHelp('" + @Url.Action("GetPartDetails", "M_FinProduct") + "','" + "PARTCD_" + i + "/" + "PARTNM_" + i + "','1/0','Part Details','" + "PARTCD_" + i + "')", onblur = "SelectPARTCODEGRID(this.value," + "PARTCD_" + i + "," + "PARTNM_" + i + ");",  @class = " atextBoxFor textbox_image" })
                                    <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onclick="GetHelp('@Url.Action("GetPartDetails", "M_FinProduct")','PARTCD_@i/PARTNM_@i','1/0','Part Details','PARTCD_@i')" />
                                </td>
                                <td class="grid_td">
                                    @Html.TextBoxFor(model => Model.MSITEMPARTS[i].PARTNM, new { id = "PARTNM_" + i, maxlength = 15, @title = "Only For Display", @readonly = "readonly",@class = " atextBoxFor " })
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>
</div>
