@model Improvar.ViewModels.ItemMasterEntry


<div style="width: 770px;" overflow-y:auto;">
    <div class="table-responsive">

        @if (Model.DefaultView == true)
        {
            @Html.ValidationSummary(true)
            <div class="grid_title">
                <img src="~/Image/Plus.png" class="Help_image_buttonAddRemove" id="btnAdd" title="Add Row" onclick="AddRowMEASURE()" />
                <img src="~/Image/Minus.png" class="Help_image_buttonAddRemove" id="btnDelete" title="Delete Row" onclick="DeleteRowMEASURE()" />

                <div class="col-md-8">
                    <input type="text" id="search" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, 'exampleItemBox');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                <center style="font-size: 11px;color: darkmagenta; border: 1px inset;"><b>Measurement Details</b></center>
            </div>
            <table id="exampleItemBox" class="resizable grid_table" cellpadding="0px" cellspacing="0px">
                <thead>
                    <tr style="height:30px;">
                        <th class="grid_th" style="width:27px;"></th>
                        <th class="grid_th" style="width:40px;">SL. No.</th>
                        <th class="grid_th" style="width:300px;">Description</th>
                        <th class="grid_th" style="width:100px;">Size</th>
                        <th class="grid_th" style="width:300px">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.MSITEMMEASURE != null) { 
                    for (int i = 0; i <= Model.MSITEMMEASURE.Count - 1; i++)
                    {
                        <tr style="font-size:12px; font-weight:bold;">
                            <td class="grid_td" style="padding-left:7px;padding-right:7px;">
                                @Html.CheckBoxFor(model => model.MSITEMMEASURE[i].Checked, new { htmlAttributes = new { id = "chkid_" } })
                            </td>
                            <td class="grid_td">
                                @Html.TextBoxFor(model => Model.MSITEMMEASURE[i].SLNO, new {   @class = " atextBoxFor ",  @readonly = "readonly", @TabIndex = -1 })
                            </td>
                            <td class="grid_td">
                                @Html.TextBoxFor(model => model.MSITEMMEASURE[i].MDESC, new  { @class = "atextBoxFor",   maxlength = 30, @list = "Description_"+i })
                                <datalist id="Description_@i">
                                    @foreach (var jg in Model.Database_Combo2)
                                    {
                                        <option value="@jg.FIELD_VALUE" />
                                    }
                                </datalist>
                               </td>
                            <td class="grid_td">
                                @Html.TextBoxFor(model => Model.MSITEMMEASURE[i].MVAL, new {   @onkeypress = "return numericOnly(this,2);", maxlength = 6, @class = " atextBoxFor text-right" })
                            </td>
                            <td class="grid_td">
                                @Html.TextBoxFor(model => Model.MSITEMMEASURE[i].REM, new {  maxlength = 30,  @class = " atextBoxFor " })
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        }

    </div>
</div>


