@model Improvar.ViewModels.ItemMasterEntry
@using System.Data;
@{
//int sl = 0;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("td").on("mouseover", function (e) {
            var titlee = $(this).find("input").val();
            $(this).attr('title', titlee);
        });
    });
</script>
<script>
    $(function () {
        if ("@Model.DefaultAction" == "A" || "@Model.DefaultAction" == "E") {
            $("#PRICES_EFFDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true });
        }
    });
</script>
<div>
    <div class="row">
        <div class="col-md-3">
            <div class="editor-field" style="margin-top: 4px;">
                @Html.Label("", "Effective Date")
            </div>
        </div>
        <div class="col-md-7" style="width:auto;">
            <div class="editor-field">
                @Html.DropDownListFor(model => model.PRICES_EFFDTDROP, new SelectList(Model.DropDown_list1, "Value", "Text"), new { @class = "form-control", id = "PRICES_EFFDTDROP", onchange = "SetEffdt();" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="editor-field">
                @Html.EditorFor(model => model.PRICES_EFFDT, new { htmlAttributes = new { @class = "form-control ", id = "PRICES_EFFDT", @placeholder = "dd/mm/yyyy", maxlength = 10, onblur = "DocumentDateCHK(this)", autocomplete = "off" } })
            </div>
        </div>
        @if (Model.DefaultAction == "A" || Model.DefaultAction == "E")
        {
            <div class="col-md-2">
                <div class="editor-field">
                    <input class="btn btn-primary" type="button" value="Get Data" style="margin-top: 4px;padding: 2px 7px 2px 5px;" onclick="fillPricesGrid();" />
                </div>
            </div>
        }
        @if (Model.DefaultAction == "E")
        {
            <div class="col-md-2">
                <div class="editor-field">
                    <input class="btn btn-danger" type="button" value="Delete Data" style="margin-top: 4px;padding: 2px 7px 2px 5px;" onclick="DeletePriceList();" />
                </div>
            </div>
        }
        @if (Model.DefaultAction == "A" || Model.DefaultAction == "E")
        {
            <div class="col-md-2">
                <div class="editor-field">
                    <input class="btn btn-success" type="button" value="Get All Data" style="margin-top: 4px;padding: 2px 7px 2px 5px;" onclick="fillPricesGrid('All');" />
                </div>
            </div>
        }
    </div>

</div>
<div style="height:auto;overflow-y:auto;margin-top:5px;background-color:#c4b9b9;width:fit-content;">
    <div class="table-responsive table-wrapper">
        @if (Model.DefaultView == true)
        {
            <div class="grid_title">
                <div class="col-md-8">
                    <input type="text" id="searchItemPrc" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, 'exampleItemPrices');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                <center style="font-size: 11px;color: darkmagenta; border: 1px inset;"><b>Price List Rate Master </b></center>
            </div>
            <div id="gridnm" class="sticky-table sticky-ltr-cells">
                <div style="height:auto;overflow-y:scroll;max-height:320px;">
                    <table id="exampleItemPrices" class="resizable table-striped" cellpadding="0px" cellspacing="0px">
                        @if (Model.DTPRICES != null && Model.DTPRICES.Columns.Count > 0)
                        {
                            <thead>
                                <tr class="sticky-header">
                                    @for (int i = 0; i < 8; i++)
                                    {
                                        <th class="grid_th text-right" style="width:70px;">@Model.DTPRICES.Columns[i].Caption</th>
                                        @*<th class="grid_th">@Model.DTPRICES.Columns[i].Caption</th>*@
                                    }
                                    @for (int i = 8; i < Model.DTPRICES.Columns.Count; i++)
                                    {
                                        <th class="grid_th"  style="width:50px;">@Model.DTPRICES.Columns[i].Caption <a title="Add first Cell Rate to all Size" onclick="SameRatetoallSize('@i')" style="float:right;cursor:pointer;color: mistyrose;">Same Rate(F8)</a></th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.DTPRICES.Rows.Count; i++)
                                {
                                    <tr>
                                        @for (int j = 0; j < Model.DTPRICES.Columns.Count; j++)
                                        {
                                            if (j < 8)
                                            {
                                                <td>
                                                    @Html.TextBoxFor(model => model.DTPRICES.Rows[i][j], new { @class = "atextBoxFor text-right", style = "background-color:lightgrey;", @Readonly = "Readonly" })
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @Html.TextBoxFor(model => model.DTPRICES.Rows[i][j], new {@id="rate_"+i+"_"+j, @class = "atextBoxFor text-right", @onkeypress = "return numericOnly(this,2);", onkeydown= "SameRatetoallSize('" + j + "');" })
                                                </td>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    <p class="text-info">* Press <b>F8</b>  For Repeat Same Rate from first row </p>
</div>