@model Improvar.ViewModels.ItemMasterEntry
<script type="text/javascript">
    $(document).ready(function () {
        resizableTables[resizableTables.length] = new ColumnResize(document.getElementById('FINPRODUCT_INVCD'));
        $("td").on("mouseover", function (e) { var titlee = $(this).find("input").val(); $(this).attr('title', titlee); });
    });
</script>
<div style="overflow-y:auto;background-color:#c4b9b9;">
    <div class="table-responsive">
        @if (Model.DefaultView == true)
            {
            @Html.ValidationSummary(true)
            <div class="grid_title">
                @*<img src="~/Image/Plus.png" width="20px" height="20px" class="Help_image_buttonAddRemove" id="btnAddINVCD" title="Add Row" onclick="AddRowINVCD();" />*@
                <input type="text" id="AddRowsBarcd" name="AddRowsBarcd" placeholder="Rows" style="font-size: 11px;font-weight: bold;width:40px;height:17px;float:left;padding: 2px;" maxlength="3" onkeypress="return numericOnly(this);" />
                <img src="~/Image/Plus.png" id="btnAddINVCD" title="Add Row" class="Help_image_buttonAddRemove" onclick="AddRowINVCD('AddRowsBarcd')" />
                <img src="~/Image/Minus.png" width="20px" height="20px" class="Help_image_buttonAddRemove" id="btnDeleteINVCD" title="Delete Row" onclick="DeleteRowINVCD()" />

                <div class="col-md-10">
                    <input type="text" id="search_barcd" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, 'FINPRODUCT_INVCD');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                <center style="font-size: 11px;color: darkmagenta; border: 1px inset;"><b>Color / Size Details</b></center>
            </div>
            <table id="FINPRODUCT_INVCD" class="resizable grid_table" cellpadding="0px" cellspacing="0px">
                <thead>
                    <tr style="height:30px;">
                        <th class="grid_th" style="width:27px;"></th>
                        <th class="grid_th" style="width:27px;">SL. No.</th>
                        <th class="grid_th" style="width:75px;">COLOR CODE</th>
                        <th class="grid_th">COLOR NAME</th>
                        <th class="grid_th" style="width:125px;">Color BAR CODE</th>
                        <th class="grid_th" style="width:75px;">SIZE CODE</th>
                        <th class="grid_th">SIZE NAME</th>
                        <th class="grid_th" style="width:125px;">SIZE BAR CODE</th>
                        <th class="grid_th" style="width:133px;">BAR CODE</th>
                        <th class="grid_th" style="width:133px;">PDesign</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.MSITEMBARCODE != null)
                    {
                        for (int i = 0; i <= Model.MSITEMBARCODE.Count - 1; i++)
                        {
                            if (i == 0)
                            {
                                <tr style="font-size:12px; font-weight:bold;">
                                    <td class="grid_td" style="padding-left:7px;padding-right:7px;">
                                        @Html.CheckBoxFor(model => model.MSITEMBARCODE[i].Checked, new { htmlAttributes = new { id = "chkid_" + i }, @style = "disabled:disabled" })
                                    </td>
                                    <td class="grid_td">
                                        @Html.TextBoxFor(model => Model.MSITEMBARCODE[i].SRLNO, new { id = "ISRLNO_" + i, @title = "Only Numeric", maxlength = 2, @class = " atextBoxFor ", @readonly = "readonly", @TabIndex = -1 })
                                    </td>
                                    <td class="grid_td">
                                        @Html.TextBoxFor(model => Model.MSITEMBARCODE[i].COLRCD, new { id = "ICOLRCD_" + i, maxlength = 20, @title = "Only For Display", @readonly = "readonly", @class = " atextBoxFor ", @TabIndex = -1 })
                                    </td>
                                    <td class="grid_td">
                                        @Html.TextBoxFor(model => Model.MSITEMBARCODE[i].COLRNM, new { id = "ICOLRNM_" + i, maxlength = 20, @title = "Only For Display", @readonly = "readonly", @class = " atextBoxFor ", @TabIndex = -1 })
                                    </td>
                                    <td class="grid_td">
                                        @Html.TextBoxFor(model => Model.MSITEMBARCODE[i].CLRBARCODE, new { id = "ICLRBARCODE_" + i, maxlength = 20, @title = "Only For Display", @readonly = "readonly", @class = " atextBoxFor ", @TabIndex = -1 })
                                    </td>
                                    <td class="grid_td">
                                        @Html.TextBoxFor(model => Model.MSITEMBARCODE[i].SIZECD, new { id = "ISIZECD_" + i, maxlength = 10, @title = "Only For Display", @readonly = "readonly", @class = " atextBoxFor ", @TabIndex = -1 })
                                    </td>
                                    <td class="grid_td">
                                        @Html.TextBoxFor(model => Model.MSITEMBARCODE[i].SIZENM, new { id = "ISIZENM_" + i, maxlength = 10, @title = "Only For Display", @readonly = "readonly", @class = " atextBoxFor ", @TabIndex = -1 })
                                    </td>
                                    <td class="grid_td">
                                        @Html.TextBoxFor(model => Model.MSITEMBARCODE[i].SZBARCODE, new { id = "ISZBARCODE_" + i, @title = "Only For Display", @readonly = "readonly", @class = " atextBoxFor ", @TabIndex = -1 })
                                    </td>
                                    <td class="grid_td">
                                        @if (Model.MSITEMBARCODE[i].HASTRANSACTION != true)
                                        {
                                            @Html.TextBoxFor(model => Model.MSITEMBARCODE[i].BARNO, new { id = "IBARCODE_" + i, maxlength = 20, @class = " atextBoxFor ", @TabIndex = -1 })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(model => Model.MSITEMBARCODE[i].BARNO, new { id = "IBARCODE_" + i, maxlength = 20, @class = " atextBoxFor ", @readonly = "readonly", @TabIndex = -1 })
                                        }
                                    </td>
                                    <td class="grid_td">
                                        @if (!(Model.M_GROUP.BARGENTYPE == "E" || Model.COMMONUIQBAR == "E") && Model.DefaultAction == "E")
                                        {
                                            @Html.TextBoxFor(model => Model.MSITEMBARCODE[i].PDESIGN, new { id = "IPDESIGN_" + i, maxlength = 40, @class = " atextBoxFor " })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(model => Model.MSITEMBARCODE[i].PDESIGN, new { id = "IPDESIGN_" + i, maxlength = 40, @class = " atextBoxFor ", @readonly = "readonly", @TabIndex = -1 })
                                        }
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr style="font-size:12px; font-weight:bold;">
                                    <td class="grid_td" style="padding-left:7px;padding-right:7px;">
                                        @Html.CheckBoxFor(model => model.MSITEMBARCODE[i].Checked, new { htmlAttributes = new { id = "chkid_" + i } })
                                    </td>
                                    <td class="grid_td">
                                        @Html.TextBoxFor(model => Model.MSITEMBARCODE[i].SRLNO, new { id = "ISRLNO_" + i, @title = "Only Numeric", maxlength = 2, @class = " atextBoxFor ", @readonly = "readonly", @TabIndex = -1 })
                                    </td>
                                    <td class="grid_td">
                                        @Html.TextBoxFor(model => Model.MSITEMBARCODE[i].COLRCD, new { id = "ICOLRCD_" + i, maxlength = 4, onkeyup = "GetHelp('" + @Url.Action("GetColorDetails", "M_FinProduct") + "','" + "ICOLRCD_" + i + "/" + "ICOLRNM_" + i + "','1/0','Color Details','" + "ICOLRCD_" + i + "')", onblur = "SelectCOLORCODEGRID(this.value,ICOLRCD_" + i + ",ICOLRNM_" + i + ",ICLRBARCODE_" + i + ");", @class = " atextBoxFor textbox_image" })
                                        <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onclick="GetHelp('@Url.Action("GetColorDetails", "M_FinProduct")','ICOLRCD_@i/ICOLRNM_@i','1/0','Color Details','ICOLRCD_@i')" />
                                    </td>
                                    <td class="grid_td">
                                        @Html.TextBoxFor(model => Model.MSITEMBARCODE[i].COLRNM, new { id = "ICOLRNM_" + i, maxlength = 20, @title = "Only For Display", @readonly = "readonly", @class = " atextBoxFor ", @TabIndex = -1 })
                                    </td>
                                    <td class="grid_td">
                                        @Html.TextBoxFor(model => Model.MSITEMBARCODE[i].CLRBARCODE, new { id = "ICLRBARCODE_" + i, maxlength = 20, @title = "Only For Display", @readonly = "readonly", @class = " atextBoxFor ", @TabIndex = -1 })
                                    </td>
                                    <td class="grid_td">
                                        @Html.TextBoxFor(model => Model.MSITEMBARCODE[i].SIZECD, new { id = "ISIZECD_" + i, maxlength = 4, onkeyup = "GetHelp('" + @Url.Action("GetSizeDetails", "M_FinProduct") + "','" + "ISIZECD_" + i + "/" + "ISIZENM_" + i + "/" + "ISZBARCODE_" + i + "','1/0/2','Size Details','" + "ISIZECD_" + i + "')", onblur = "SelectSIZECODE(this.value," + "ISIZECD_" + i + "," + "ISIZENM_" + i + "," + "ISZBARCODE_" + i + ");", @class = " atextBoxFor textbox_image" })
                                        <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onclick="GetHelp('@Url.Action("GetSizeDetails", "M_FinProduct")','ISIZECD_@i/ISIZENM_@i/ISZBARCODE_@i','1/0/2','Size Details','ISIZECD_@i')" />
                                    </td>
                                    <td class="grid_td">
                                        @Html.TextBoxFor(model => Model.MSITEMBARCODE[i].SIZENM, new { id = "ISIZENM_" + i, maxlength = 10, @title = "Only For Display", @readonly = "readonly", @class = " atextBoxFor ", @TabIndex = -1 })
                                    </td>
                                    <td class="grid_td">
                                        @Html.TextBoxFor(model => Model.MSITEMBARCODE[i].SZBARCODE, new { id = "ISZBARCODE_" + i, @title = "Only For Display", @readonly = "readonly", @class = " atextBoxFor ", @TabIndex = -1 })
                                    </td>
                                    <td class="grid_td">
                                        @if (Model.MSITEMBARCODE[i].HASTRANSACTION != true)
                                        {
                                            @Html.TextBoxFor(model => Model.MSITEMBARCODE[i].BARNO, new { id = "IBARCODE_" + i, maxlength = 20, @class = " atextBoxFor ", @TabIndex = -1 })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(model => Model.MSITEMBARCODE[i].BARNO, new { id = "IBARCODE_" + i, maxlength = 20, @class = " atextBoxFor ", @readonly = "readonly", @TabIndex = -1 })
                                        }
                                    </td>
                                    <td class="grid_td">
                                        @Html.TextBoxFor(model => Model.MSITEMBARCODE[i].PDESIGN, new { id = "IPDESIGN_" + i, maxlength = 40, @class = " atextBoxFor ", @readonly = "readonly", @TabIndex = -1 })
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        }
    </div>
</div>
