@model Improvar.ViewModels.SubLedgerSDdtlMasterEntry
<div class="table-responsive">
    @if (Model.DefaultView == true)
    {
        @Html.ValidationSummary(true)
        <div class="grid_title" style="background-color:#c4b9b9;">
            <img src="~/Image/Plus.png" id="btnAddDisRate" class="Help_image_buttonAddRemove" title="Add Row" onclick="Addrow()" />
            <img src="~/Image/Minus.png" id="btnDeleteDisRate" class="Help_image_buttonAddRemove" title="Delete Row" onclick="Deleterow()" />
            <div class="col-md-9">
                <input type="text" id="searchDis" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, 'exampleDiscountRate');" />
                <img src="~/Image/search.png" title="Help" />
            </div>
            <center style="font-size: 11px;color: darkmagenta; border: 1px inset;"><b>Brand Wise Agent Details</b></center>
        </div>
        <input type="hidden" id="agent" value="A" />
        <table id="exampleDiscountRate" class="resizable grid_table" cellpadding="0px" cellspacing="0px">
            <thead>
                <tr>
                    <th class="grid_th" style="width:19px"> </th>
                    <th class="grid_th" style="width: 27px;">SL No.</th>
                    <th class="grid_th" style="width:66px;">Brand Code</th>
                    <th class="grid_th">Brand Name</th>
                    <th class="grid_th" style="width:92px;">Agent Code</th>
                    <th class="grid_th">Agent Name</th>
                </tr>
            </thead>

            <tbody>
                @if (Model.MSUBLEGBRAND != null)
                {
                    for (int i = 0; i <= Model.MSUBLEGBRAND.Count - 1; i++)
                    {
                        <tr>
                            <td>
                                @Html.CheckBoxFor(model => model.MSUBLEGBRAND[i].Checked)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.MSUBLEGBRAND[i].SLNO, new { id = "SLNO_" + i, @class = " atextBoxFor", @title = "Only Numeric", Type = "TEXT", @readonly = "readonly" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.MSUBLEGBRAND[i].BRANDCD, new { id = "BRANDCD_" + i, onkeyup = "GetHelp('" + @Url.Action("GetBrandDetails", "M_SubLeg_SDdtl") + "','" + "BRANDCD_" + i + "/" + "BRANDNM_" + i + "','1/0','Brand Details','" + "BRANDCD_" + i + "')", onblur = "SelectBrandCode(this.value," + "BRANDCD_" + i + "," + "BRANDNM_" + i + ");", @class = " atextBoxFor textbox_image", maxlength = 4 })
                                <img src="~/Image/search.png" class="Help_image_button_grid" width="20px" height="20px" title="Help" onclick="GetHelp('@Url.Action("GetBrandDetails", "M_SubLeg_SDdtl")','BRANDCD_@i/BRANDNM_@i','1/0','Brand Details','BRANDCD_@i')" />
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.MSUBLEGBRAND[i].BRANDNM, new { id = "BRANDNM_" + i, @class = " atextBoxFor ", maxlength = 15, @TabIndex = -1, @readonly = "readonly" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.MSUBLEGBRAND[i].AGSLCD, new { id = "AGSLCD_" + i, onkeyup = "GetHelp_WithId('" + @Url.Action("GetSLCDhelp", "M_SubLeg_SDdtl") + "','" + "AGSLCD_" + i + "/" + "SLNM_" + i + "','1/0','Sub Brand Details','" + "AGSLCD_" + i + "','agent')", onblur = "SelectSLCDCode(this.value," + "AGSLCD_" + i + "," + "SLNM_" + i + ",'A');", @class = " atextBoxFor textbox_image", maxlength = 8 })
                                <img src="~/Image/search.png" class="Help_image_button_grid" width="20px" height="20px" title="Help" onclick="GetHelp_WithId('@Url.Action("GetSLCDhelp", "M_SubLeg_SDdtl")','AGSLCD_@i/SLNM_@i','1/0','Sub Brand Details','AGSLCD_@i','agent')" />
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.MSUBLEGBRAND[i].SLNM, new { id = "SLNM_" + i, @class = " atextBoxFor ", maxlength = 15, @TabIndex = -1, @readonly = "readonly" })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }

</div>


