@model Improvar.ViewModels.SubLedgerSDdtlMasterEntry
    <div class="table-responsive">
        @if (Model.DefaultView == true)
        {
            @Html.ValidationSummary(true)


                <div class="grid_title">
                      <div class="col-md-8">
                        <input type="text" id="search" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, 'examplesubledgeOther');" />
                        <img src="~/Image/search.png" title="Help" />
                    </div>
                    <center style="font-size: 11px;color: darkmagenta; border: 1px inset;"><b>Location Tax Group Code</b></center>
                </div>
                <input type="hidden" id="courier" value="U" />
                <table id="examplesubledgeOther" class="resizable grid_table" cellpadding="0px" cellspacing="0px">
                    <thead>
                        <tr style="height:30px;">
                              <th class="grid_th" style="width:27px;">SL. No.</th>
                            <th class="grid_th" style="width:75px;">Location Code</th>
                            <th class="grid_th">Location Name</th>
                            <th class="grid_th" style="width:66px;">Tax Group Code</th>
                            <th class="grid_th">Tax Group Name</th>
                            <th class="grid_th" style="width:86px;">Transporter Code</th>
                            <th class="grid_th">Transporter Name</th>
                            <th class="grid_th" style="width:86px;">Courier Code</th>
                            <th class="grid_th">Courier Name</th>
                        </tr>
                    </thead>
                    <tbody> 
                         @if (Model.MSUBLEGSDDTL != null)
                         {
                        for (int i = 0; i <= Model.MSUBLEGSDDTL.Count - 1; i++)
                        {
                            <tr style="font-size:12px; font-weight:bold;">
                                <td class="grid_td">
                                    @Html.TextBoxFor(model => Model.MSUBLEGSDDTL[i].SLNO, new { id = "SLNO_" + i, maxlength = 2, @class = " atextBoxFor ", @readonly = "readonly" })
                                </td>
                                <td class="grid_td">
                                    @Html.TextBoxFor(model => Model.MSUBLEGSDDTL[i].LOCCD, new { id = "LOCCD_" + i, maxlength = 5, @class = " atextBoxFor " })
                                </td>
                                <td class="grid_td">
                                    @Html.TextBoxFor(model => Model.MSUBLEGSDDTL[i].LOCNM, new { id = "LOCNM_" + i, maxlength = 5, @class = " atextBoxFor " })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => Model.MSUBLEGSDDTL[i].TAXGRPCD, new { id = "TAXGRPCD_" + i, onkeyup = "GetHelp('" + Url.Action("GetTAXGRPCDhelp", "M_SubLeg_SDdtl") + "','TAXGRPCD_" + i + "/TAXGRPNM_" + i + "','1/0','Select  Tax Group Details','TAXGRPCD_" + i + "')", onblur = "SelectGridTAXGRPCD(this.value,TAXGRPCD_" + i + ",TAXGRPNM_" + i + ")", @class = " atextBoxFor textbox_image", maxlength = 4 })
                                    <img src="~/Image/search.png" class="Help_image_button_grid" width="20px" height="20px" title="Help" onclick="GetHelp('@Url.Action("GetTAXGRPCDhelp", "M_SubLeg_SDdtl")','TAXGRPCD_@i/TAXGRPNM_@i','1/0','Select Tax Group Details','TAXGRPCD_@i')" />
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => Model.MSUBLEGSDDTL[i].TAXGRPNM, new { id = "TAXGRPNM_" + i, @class = " atextBoxFor ", maxlength = 30, @TabIndex = -1, @readonly = "readonly" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => Model.MSUBLEGSDDTL[i].TRSLCD, new { id = "TRSLCD_" + i, onkeyup = "GetHelp_WithId('" + Url.Action("GetSLCDhelp", "M_SubLeg_SDdtl") + "','TRSLCD_" + i + "/TRSLNM_" + i + "','1/0','Select Transporter Detsils','TRSLCD_" + i + "','transporter')", onblur = "SelectSLCDCode(this.value,TRSLCD_" + i + ",TRSLNM_" + i + ",'T')", @class = " atextBoxFor textbox_image", maxlength = 8 })
                                    <img src="~/Image/search.png" class="Help_image_button_grid" width="20px" height="20px" title="Help" onclick="GetHelp_WithId('@Url.Action("GetSLCDhelp", "M_SubLeg_SDdtl")','TRSLCD_@i/TRSLNM_@i','1/0','Select Transporter Subledge Detsils','TRSLCD_@i','transporter')" />
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => Model.MSUBLEGSDDTL[i].TRSLNM, new { id = "TRSLNM_" + i, @class = " atextBoxFor ", maxlength = 45, @TabIndex = -1, @readonly = "readonly" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => Model.MSUBLEGSDDTL[i].COURCD, new { id = "COURCD_" + i, onkeyup = "GetHelp_WithId('" + Url.Action("GetSLCDhelp", "M_SubLeg_SDdtl") + "','COURCD_" + i + "/COURNM_" + i + "','1/0','Select Courier Detsils','COURCD_" + i + "','courier')", onblur = "SelectSLCDCode(this.value,COURCD_" + i + ",COURNM_" + i + ",'U')", @class = " atextBoxFor textbox_image", maxlength = 8 })
                                    <img src="~/Image/search.png" class="Help_image_button_grid" width="20px" height="20px" title="Help" onclick="GetHelp_WithId('@Url.Action("GetSLCDhelp", "M_SubLeg_SDdtl")','COURCD_@i/COURNM_@i','1/0','Select Transporter Subledge Detsils','COURCD_@i','courier')"  />
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => Model.MSUBLEGSDDTL[i].COURNM, new { id = "COURNM_" + i, @class = " atextBoxFor ", maxlength = 45, @TabIndex = -1, @readonly = "readonly" })
                                </td>
                            </tr>
                        }
                         }
                    </tbody>
                </table>
        }
    </div>


