@model Improvar.ViewModels.SubLedgerBroadGrouping
@{
    string PageControllerName = "M_SubLeg_GrpHdr";
}
<script>
    function inputhelp(id, id1) {
        var str = $("#tempHDD").val().split(String.fromCharCode(181));
        $("#" + id.id).val(str[0]);
        $("#" + id1.id).val(str[1].toString());
    }
    function SelectCLASS1(valu, fld1, fld2) {
        if (valu == "") {
            $("#" + fld1.id).val("");
            $("#" + fld2.id).val("");
        }
        else {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetClass1cdHelp", PageControllerName)",
                data: {
                    val: valu
                },
                success: function (result) {
                    if (result == "0") {
                        $("#Msgdiv1").show();
                        $("#info").show();
                        $("#msgbody_info").html(" Invalid Sub Ledger Code !! ");
                        $("#" + fld1.id).val("");
                        $("#" + fld2.id).val("");
                        $("#btnok").focus();
                        message_value = fld1.id;
                    }
                    else {
                        $("#tempHDD").val(result);
                        inputhelp(fld1, fld2);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError("Error: " + textStatus + "," + errorThrown);
                }
            });
        }
    }
</script>

<div class="table-responsive" style="margin-top:0px;">
    <div class="table-responsive">
        @if (Model.DefaultView == true)
        {
            <input type="hidden" id="tempHDDFF" value="" />
            @Html.ValidationSummary(true)
            <div class="grid_title">
                <img src="~/Image/Plus.png" class="image_button_grid_AddRemove" width="20px" height="20px" id="btnAdd" title="Add Row" onclick="AddRowClass1()" />
                <img src="~/Image/Minus.png" class="image_button_grid_AddRemove" width="20px" height="20px" id="btnDelete" title="Delete Row" onclick="DeleteRowClass1()" />
                <div class="col-md-8">
                    <input type="text" id="search" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, 'exampleSubLedge');"/>
                    <img src="~/Image/search.png" title="Help" />
                </div>
                <center style="font-size: 11px;color: darkmagenta; border: 1px inset;"><b>Sub Ledger Grouping Details</b></center>
            </div>
            <table id="exampleSubLedge" class="resizable grid_table" cellpadding="0px" cellspacing="0px">
                <thead>
                    <tr style="height:30px;">
                        <th class="grid_th" style="width:27px;"></th>
                        <th class="grid_th" style="width:27px;">SL. No.</th>
                        <th class="grid_th" style="width: 80px;">Class1 Code</th>
                        <th class="grid_th" style="width:200px;">Class1 Name</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.MSUBLEGGRPCLASS1 != null)
                    {
                        for (int i = 0; i <= Model.MSUBLEGGRPCLASS1.Count - 1; i++)
                        {
                            <tr style="font-size:12px; font-weight:bold;">
                                <td class="grid_td">
                                    @Html.CheckBoxFor(model => model.MSUBLEGGRPCLASS1[i].Checked, new { htmlAttributes = new { id = "chkid" } })
                                </td>
                                <td class="grid_td">
                                    @Html.TextBoxFor(model => Model.MSUBLEGGRPCLASS1[i].SLNO, new { id = "SLNO_" + i, maxlength = 2, @class = " atextBoxFor ", @readonly = "readonly" })
                                </td>
                               
                                <td class="grid_td">
                                   @Html.EditorFor(model => model.MSUBLEGGRPCLASS1[i].CLASS1CD, new { htmlAttributes = new { @class = "atextBoxFor textbox_image", id = "CLASS1CD_" + i, onkeyup = "toUpper(this);GetHelp('" + @Url.Action("GetClass1cdHelp", PageControllerName) + "','CLASS1CD_" + i + "/CLASS1NM_" + i + "','0/1','Select Class1 Code','CLASS1CD_" + i + "');", onblur = "SelectCLASS1(this.value,CLASS1CD_"+ i + ",CLASS1NM_" + i + ");", @placeholder = "Class1 Code", maxlength = 8, required = "required" } })
                                   <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_buttonemp" title="Help" onclick="GetHelp('@Url.Action("GetClass1cdHelp", PageControllerName)','CLASS1CD_@i/CLASS1NM_@i','0/1','Select Class1 Code','CLASS1CD_@i')" />
                                </td>
                                <td class="grid_td">
                                    @Html.TextBoxFor(model => Model.MSUBLEGGRPCLASS1[i].CLASS1NM, new { id = "CLASS1NM_" + i, @class = "atextBoxFor textbox_image ", maxlength = 8,@READONLY= "READONLY" })
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>
</div>