@model Improvar.ViewModels.SchmItemGroupMaster
<div class="table-responsive">
    @if (Model.DefaultView == true)
    {
        @Html.ValidationSummary(true)
        <div class="grid_title" style="background-color:#c4b9b9;">
            <img src="~/Image/Plus.png" id="btnAddDisRate" class="Help_image_buttonAddRemove" title="Add Row" onclick="Addrow()" />
            <img src="~/Image/Minus.png" id="btnDeleteDisRate" class="Help_image_buttonAddRemove" title="Delete Row" onclick="Deleterow()" />
            <div class="col-md-9">
                <input type="text" id="searchDis" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, 'exampleDiscountRate');" />
                <img src="~/Image/search.png" title="Help" />
            </div>
            <center style="font-size: 11px;color: darkmagenta; border: 1px inset;"><b>Scheme Item Group Master Entry</b></center>
        </div>
        <table id="exampleDiscountRate" class="resizable grid_table" cellpadding="0px" cellspacing="0px">
            <thead>
                <tr>
                    <th class="grid_th" style="width:19px"> </th>
                    <th class="grid_th" style="width: 27px;">SL No.</th>
                    <th class="grid_th" style="width:80px;">Item Group Code</th>
                    <th class="grid_th">Item Group Name</th>
                    <th class="grid_th" style="width:80px;">Item Design</th>
                    <th class="grid_th">Item Code</th>
                    <th class="grid_th">Item Name</th>
                    <th class="grid_th" style="width:80px;">Size Code</th>
                    <th class="grid_th" >Size Name</th>
                    <th class="grid_th" style="width:80px;">Colour Code</th>
                    <th class="grid_th" >Colour Name</th>
                </tr>
            </thead>

            <tbody>
                @if (Model.MSCMITMGRP != null)
                {
                    for (int i = 0; i <= Model.MSCMITMGRP.Count - 1; i++)
                    {
                        <tr>
                            <td>
                                @Html.CheckBoxFor(model => model.MSCMITMGRP[i].Checked)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.MSCMITMGRP[i].SLNO, new { id = "SLNO_" + i, @class = " atextBoxFor", @title = "Only Numeric", Type = "TEXT", @readonly = "readonly" })
                            </td>                         
                            @*<td>
                                @Html.TextBoxFor(model => Model.MSCMITMGRP[i].ITGRPCD, new { id = "ITGRPCD_" + i,  onkeyup = "GetHelp_WithId('" + @Url.Action("GetItmGrpDetails", "M_ScmItemGrp") + "','" + "ITGRPCD_" + i + "/" + "ITGRPNM_" + i + "','1/0','Item Group Details','" + "ITGRPCD_" + i + "','" + "BRANDCD_" + i + "')", onblur = "SelectItmGrpCode(this.value," + "ITGRPCD_" + i + "," + "ITGRPNM_" + i + "," + "BRANDCD_" + i + ");", @class = " atextBoxFor textbox_image", maxlength = 4 })
                                <img src="~/Image/search.png" class="Help_image_button_grid" width="20px" height="20px" title="Help" onclick="GetHelp_WithId('@Url.Action("GetItmGrpDetails", "M_ScmItemGrp")','ITGRPCD_@i/ITGRPNM_@i','1/0','Item Group Details','ITGRPCD_@i','BRANDCD_@i')" />
                            </td>*@
                            <td>
                                @Html.TextBoxFor(model => Model.MSCMITMGRP[i].ITGRPCD, new { id = "ITGRPCD_", onkeydown = "GetHelpBlur('" + @Url.Action("GetItemGroupDetails", "M_ScmItemGrp") + "','Item Group Details','ITGRPCD_','ITGRPCD_=ITGRPCD=1/ITGRPNM_=ITGRPNM=0');", @class = " atextBoxFor textbox_image", onblur = "GetHelpBlur('" + @Url.Action("GetItemGroupDetails", "M_ScmItemGrp") + "','Item Group Details','ITGRPCD_','ITGRPCD_=ITGRPCD=1/ITGRPNM_=ITGRPNM=0');", @placeholder = "Item Group Code", @title = "Item Group Code" })
                                <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetItemGroupDetails", "M_ScmItemGrp")','Item Group Details','ITGRPCD_','ITGRPCD_=ITGRPCD=1/ITGRPNM_=ITGRPNM=0')" />
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.MSCMITMGRP[i].ITGRPNM, new { id = "ITGRPNM_", @class = " atextBoxFor ", maxlength = 30, @TabIndex = -1, @readonly = "readonly" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.MSCMITMGRP[i].STYLENO, new { id = "STYLENO_" + i, onkeyup = "GetHelp('" + @Url.Action("GetBarCodeDetailsInGrid", "M_ScmItemGrp") + "','" + "STYLENO_" + i + "/" + "ITCD_" + i + "/" + "ITNM_" + i + "','0/2/1','Style Details','" + "STYLENO_" + i + "')", onblur = "SelectStyleCode(this.value," + "STYLENO_" + i + "," + "ITNM_" + i + "," + "ITCD_" + i + "," + "SIZECD_" + i + "," + "SIZENM_" + i + ");", @class = " atextBoxFor textbox_image", maxlength = 20 })
                                <img src="~/Image/search.png" class="Help_image_button_grid" width="20px" height="20px" title="Help" onclick="GetHelp('@Url.Action("GetStyleDetails", "M_ScmItemGrp")','STYLENO_@i/ITCD_@i/ITNM_@i','0/2/1','Style Details','STYLENO_@i')" />
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.MSCMITMGRP[i].ITCD, new { id = "ITCD_" + i, @class = " atextBoxFor ", maxlength = 60, @TabIndex = -1, @readonly = "readonly" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.MSCMITMGRP[i].ITNM, new { id = "ITNM_" + i, @class = " atextBoxFor ", maxlength = 60, @TabIndex = -1, @readonly = "readonly" })
                            </td>                           
                            <td>
                                @Html.TextBoxFor(model => Model.MSCMITMGRP[i].SIZECD, new { id = "SIZECD_" + i, onkeydown = "GetHelpBlur('" + @Url.Action("GetSizeDetails", "M_ScmItemGrp") + "','Size Details','" + "SIZECD_" + i + "','" + "SIZECD_" + i + "=SIZECD=1/" + "SIZENM_" + i + "=SIZENM=0');", onblur = "GetHelpBlur('" + @Url.Action("GetSizeDetails", "M_ScmItemGrp") + "','Size Details','" + "SIZECD_" + i + "','" + "SIZECD_" + i + "=SIZECD=1/" + "SIZENM_" + i + "=SIZENM=0');", @placeholder = "Code", @class = " atextBoxFor textbox_image" })
                                <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetSizeDetails", "M_ScmItemGrp")','Size Details','SIZECD_@i','SIZECD_@i=SIZECD=1/SIZENM_@i=SIZENM=0')" />
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.MSCMITMGRP[i].SIZENM, new { id = "SIZENM_" + i, @class = " atextBoxFor ", maxlength = 10, @TabIndex = -1, @readonly = "readonly" })
                            </td>                           
                            <td>
                                @Html.TextBoxFor(model => Model.MSCMITMGRP[i].COLRCD, new { id = "COLRCD_" + i, onkeydown = "GetHelpBlur('" + @Url.Action("GetColorDetails", "M_ScmItemGrp") + "','Color Details','" + "COLRCD_" + i + "','" + "COLRCD_" + i + "=COLRCD=1/" + "COLRNM_" + i + "=COLRNM=0');", onblur = "GetHelpBlur('" + @Url.Action("GetColorDetails", "M_ScmItemGrp") + "','Color Details','" + "COLRCD_" + i + "','" + "COLRCD_" + i + "=COLRCD=1/" + "COLRNM_" + i + "=COLRNM=0');", @placeholder = "Code", @class = " atextBoxFor textbox_image" })
                                <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetColorDetails", "M_ScmItemGrp")','Color Details','COLRCD_@i','COLRCD_@i=COLRCD=1/COLRNM_@i=COLRNM=0')" />
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.MSCMITMGRP[i].COLRNM, new { id = "COLRNM_" + i, @class = " atextBoxFor ", maxlength = 20, @TabIndex = -1, @readonly = "readonly" })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }

</div>




