@model Improvar.ViewModels.UserWiseDocumentTypeRightsEntry
<script type="text/javascript">
    $(document).ready(function () {
        $("td").on("mouseover", function (e) { var titlee = $(this).find("input").val(); $(this).attr('title', titlee); });
    });
</script>
<div style="width: auto;" overflow-y:auto;">
    <div class="table-responsive">
        @if (Model.DefaultView == true)
            {
            @Html.ValidationSummary(true)
            <div class="grid_title">
                <div class="col-md-8">
                    <input type="text" id="searchF" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, 'DOCUMENT_GRID');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                <center style="font-size: 11px;color: darkmagenta; border: 1px inset;"><b>Documents Details</b></center>
            </div>
            <div class="sticky-table sticky-ltr-cells">
                <div style="height:auto;overflow-y:scroll;max-height:460px;">
                    <table id="DOCUMENT_GRID" class="resizable table-striped" cellpadding="0px" cellspacing="0px">
                        <thead>
                            <tr class="sticky-header" style="height:30px;">

                                <th class="" style="width:95px;">Document Type</th>
                                <th class="" style="width:25px;">Document Code</th>
                                <th class="" style="width:125px;">Document Name</th>
                                <th class="sticky-cell" style="width:30px;">
                                    <input type="checkbox" id="BILLNODIFF_HeadCheckBox" name="Test" onclick="SetAllCheckBoxesFilter(this, 'DOCUMENT_GRID', 'Checked', 'searchF')" />
                                </th>
                                @*<th class="" style="width:47px;">Permission</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.MUSRACSDOCCD != null)
                            {
                                for (int i = 0; i <= Model.MUSRACSDOCCD.Count - 1; i++)
                                {
                                    <tr style="font-size:12px; font-weight:bold;">

                                        <td class="">
                                            @Html.TextBoxFor(model => Model.MUSRACSDOCCD[i].DNAME, new { id = "DNAME_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.MUSRACSDOCCD[i].DOCCD, new { id = "DOCCD_" + i, @class = " atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.MUSRACSDOCCD[i].DOCNM, new { id = "DOCNM_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="" style="padding-left:7px;padding-right:7px;">
                                            @Html.CheckBoxFor(model => model.MUSRACSDOCCD[i].Checked, new { id = "Checked" + i })
                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

    </div>
</div>
