@model Improvar.Models.Permission
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/Content/layout_misc.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/GridView.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/jquery.stickytable.css" />
    <link rel="stylesheet" href="~/Content/cstable.css" />
    <script src="~/Scripts/GridView.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/datatables.min.css" />
    <script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/CustomCombo.js"></script>
    @Styles.Render("~/Content/MyStyle.css?Ver=" + Module.ContentVersion)
    @Styles.Render("~/Content/themes/base/core.css")
    @Styles.Render("~/Content/themes/base/accordion.css")
    @Styles.Render("~/Content/themes/base/autocomplete.css")
    @Styles.Render("~/Content/themes/base/button.css")
    @Styles.Render("~/Content/themes/base/datepicker.css")
    @Styles.Render("~/Content/themes/base/dialog.css")
    @Styles.Render("~/Content/themes/base/draggable.css")
    @Styles.Render("~/Content/themes/base/menu.css")
    @Styles.Render("~/Content/themes/base/progressbar.css")
    @Styles.Render("~/Content/themes/base/resizable.css")
    @Styles.Render("~/Content/themes/base/selectable.css")
    @Styles.Render("~/Content/themes/base/selectmenu.css")
    @Styles.Render("~/Content/themes/base/sortable.css")
    @Styles.Render("~/Content/themes/base/slider.css")
    @Styles.Render("~/Content/themes/base/spinner.css")
    @Styles.Render("~/Content/themes/base/tabs.css")
    @Styles.Render("~/Content/themes/base/tooltip.css")
    @Styles.Render("~/Content/themes/base/theme.css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        function winclose() {
            if (confirm("Close Window?")) {
                window.close();
            }
        }
        $(document).mouseup(function (e) {
            var tab = $("#csTableid").val();
            var container = $("#" + tab);

            // if the target of the click isn't the container nor a descendant of the container
            if (!container.is(e.target) && container.has(e.target).length === 0) {
                container.hide();
            }
        });
        $(document).keyup(function (e) {
            if (e.keyCode == 27) {
                var tab = $("#csTableid").val();
                var container = $("#" + tab);
                container.hide();

            }
        });
    </script>
    <script>
        function close_box(id) {
            $(id).hide();
            var will_go = message_value;
            $("#" + will_go).focus();
        }
        function divfocus(e, id, id1, id2) {
            //alert('gdgggggg');
            if (e.keyCode == 32) {
                //alert('gd');
                closeDiv(id, id1);
                close_box(id2);
            }
        }
        $(document).mouseup(function (e) {
            var tab = $("#csTableid").val();
            var container = $("#" + tab);

            // if the target of the click isn't the container nor a descendant of the container
            if (!container.is(e.target) && container.has(e.target).length === 0) {
                container.hide();
            }
        });
        $(document).keyup(function (e) {
            if (e.keyCode == 27) {
                var tab = $("#csTableid").val();
                var container = $("#" + tab);
                container.hide();

            }
        });
    </script>
    <script>
        function DocumentDateCHK(dateField, auto, current_date_auto_if_blank) {
            auto = auto || true;
            current_date_auto_if_blank = current_date_auto_if_blank || false;
            var currentYEAR = new Date().getFullYear().toString();
            var currentMONTH = (new Date().getMonth() + 1).toString();
            currentMONTH = currentMONTH.padStart(2, '0');
            var min = $("#" + dateField.id).datepicker("option", "minDate");
            var max = $("#" + dateField.id).datepicker("option", "maxDate");
            var maxdate = null;
            var mindate = null;
            if (max == null || max == "") {
                maxdate = new Date("2040-03-31");
            }
            else {
                var dateParts = max.split("/");
                maxdate = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);
            }
            if (min == null || min == "") {
                mindate = new Date("2008-04-01");
            }
            else {
                var dateParts1 = min.split("/");
                mindate = new Date(dateParts1[2], dateParts1[1] - 1, dateParts1[0]);
            }
            var dateParts2 = dateField.value.split("/");
            if (auto == true) {
                if (dateParts2[0].length == 0) {
                    if (current_date_auto_if_blank == true) {
                        dateParts2[0] = new Date().getDate().toString().padStart(2, '0');
                    }
                    else {
                        return false;
                    }
                }
                else if (dateParts2[0].length == 1) {
                    dateParts2[0] = dateParts2[0].padStart(2, '0');
                }
                else {
                    var ddt = parseInt(dateParts2[0]);
                    if (ddt <= 31) {
                        dateParts2[0] = dateParts2[0].padStart(2, '0');
                    }
                    else {
                        dateParts2[0] = new Date().getDate().toString().padStart(2, '0');
                    }
                }
                if (dateParts2[1] == null) {
                    dateParts2[1] = currentMONTH;
                }
                else if (dateParts2[1].length == 1) {
                    dateParts2[1] = dateParts2[1].padStart(2, '0');
                }
                else {
                    var ddt = parseInt(dateParts2[1]);
                    if (ddt <= 12) {
                        dateParts2[1] = dateParts2[1].padStart(2, '0');
                    }
                    else {
                        dateParts2[1] = currentMONTH;
                    }
                }
                if (dateParts2[2] == null) {
                    dateParts2[2] = currentYEAR;
                }
                else (dateParts2[2].length < 4)
                {
                    dateParts2[2] = dateParts2[2].padStart(4, '20');;
                }
            }
            var inputdate = new Date(dateParts2[2], dateParts2[1] - 1, dateParts2[0]);
            var invalid = inputdate.toString();
            if (invalid == "Invalid Date") {
                msgInfo("Invalid Date [Date Put In Hand].Retype Date to the date box. !!");
                message_value = dateField.id;
                return false;
            }
            if (inputdate < mindate || inputdate > maxdate) {
                msgInfo("Date not correct or Date not valid between permission date .[Date Put In Hand].Retype Date to the date box. !! ");
                message_value = dateField.id;
                return false;
            }
            if (auto == true) {
                var day = inputdate.getDate().toString().padStart(2, '0');
                var mon = (inputdate.getMonth() + 1).toString().padStart(2, '0');
                var yy = inputdate.getFullYear().toString();
                dateField.value = day + "/" + mon + "/" + yy;
            }
        }
    </script>
</head>
<body onload="inputfocus();">
    <input type="hidden" id="tempHDD" name="tempHDD" value="" />
    <input type="hidden" id="SearchFldValue" value="" />
    <input type="hidden" id="csTableid" value="csTableidVal" />
    <input type="hidden" id="csTableidVal" value="" />
     <div id="WaitingMode" style="display:none; margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(16, 134, 16); z-index: 30001; opacity: 0.4;">
        <p style="position: absolute; color: White; top: 46%; left: 47%;">
            Loading, please wait...<br />
            <span> <img src="~/Image/ajax_loader.gif" width="60px" height="60px"></span>
        </p>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            @*<button class="navbar-toggle" type="button" data-target=".navbar-ex1-collapse" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            <div style="padding:15px 15px">               
                @{
                    if (Request.QueryString.AllKeys.Contains("excel_req"))
                    {
                        string ContName = Request.QueryString["excel_req"];
                        string[] cname = ContName.Split('^');
                        <span class="navbar-brand" style="font-family:Verdana;font-size:12px;color:#EEE">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                        <span class="navbar-brand" style="font-family:Verdana;font-size:12px;color:#dcd106;cursor:pointer;" title="Download Excel" onclick="location.href='@Url.Action("GetExcel",cname[0])'">Download to Excel</span>
                    }
                }
            </div>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="menu-item" id="navbarli_1"></li>
                <li class="menu-item" id="navbarli_2">@*<a href="@Url.Action("MenuScreen", "Home")"><span class="glyphicon glyphicon-home"></span>Home</a>*@</li>
                @*<li class="menu-item dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">About The Tests <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-item dropdown dropdown-submenu">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Clearing Floats</a>
                                <ul class="dropdown-menu">
                                    <li class="menu-item "><a href="#">Page with comments</a></li>
                                    <li class="menu-item "><a href="#">Page with comments disabled</a></li>
                                    <li class="menu-item dropdown dropdown-submenu">
                                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">More</a>
                                        <ul class="dropdown-menu"><li><a href="#">3rd level link more options</a></li><li><a href="#">3rd level link</a></li></ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>*@
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="margin-top:15px;margin-right:5px">
                    <span class="navbar-brand" style="font-family:Verdana;font-size:12px;color:#EEE">Welcome  @Session["UR_ID"]</span>
                </li>
                <li style="margin-top:15px;margin-right:5px">
                    <span class="navbar-brand" style="font-family:Verdana;font-size:12px;color:#EEE">|</span>
                </li>
                <li style="margin-top:15px;margin-right:15px">
                    <span class="navbar-brand" style="font-family:Verdana;font-size:12px;color:#D8000C;cursor:pointer;" title="Close window" onclick="winclose(0);">Close</span>
                </li>
                <li class="menu-item">
                    <img style="margin-top:2px;margin-right:15px;margin-left:15px;height:35px;" src="~/Image/IPSMART-LOGO.png" />
                </li>
            </ul>
        </div>
    </div>


    <div class="container_box_outer">
        <div class="body-content container_box">
            @*required border*@
            <div style="background-color: rgb(111, 163, 208);    height: 23px;  padding-left: 15px;  vertical-align: middle;    font-size: medium; font-weight:bold;  color: #FFFFFF;">
                @ViewBag.formname
            </div>
            <div class="container_box_inner">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="bottomDiv" style="width:100%;background-color:rgb(111, 163, 208);float:left;bottom:0;margin-bottom:0;position:fixed;right:0;left:0">
        <div class="abc sec1">
            @Session["CompanyName"+Model?.UNQSNO]
        </div>
        <div class="abc sec2">
            @Session["CompanyLocation" + Model?.UNQSNO]
        </div>
        <div class="abc sec3">
            Period- @Session["CompanyFinancial" + Model?.UNQSNO]
        </div>
        <div class="abc sec3_1">
            IPSMART @Module.Module_Name - Version @Session["publishversion"]
        </div>
        <div class="abc sec4">
            Developed by IPSMART Team
        </div>
    </div>
    <div id="Msgdiv1" style="display:none">
        <div id="back_cover">
            @Html.Partial("_MessageBox")
        </div>
    </div>
    <script>
        function HideConfirmOk() {
            $('#Msgdiv1').hide();
            $('#confirm').hide();
            deletePageData();
            return false;
        }
        function HideConfirmCancel() {
            $('#Msgdiv1').hide();
            $('#confirm').hide();
            return false;
        }
        function delete1() {
            function ok() {
                console.log('deleted');
                HideConfirmOk();
            }
            function cancel() {
                console.log('delete cancelled');
                HideConfirmCancel();
            }
            ConfirmInDiv('Are you sure to delete?', ok, cancel);
        }
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/datatables.js")
    @Scripts.Render("~/Scripts/Custom.js?Ver=" + Session["publishversion"])
    @Scripts.Render("~/bundles/jqueryui")
    <script>
        $(function () {
            $(".jqueryui-marker-datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeYear: true,
                showOn: "button",
                maxDate: '0',
            }).css("display", "inline-block")
            .next("button").button({
                icons: { primary: "ui-icon-calendar" },
                label: "Select date",
                text: false
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>


