
@model Improvar.ViewModels.PartyitemSummReport
@*@if (Model.ItmDet != null)
{*@
    <script>
        $(document).ready(function () {
            resizableTables[resizableTables.length] = new ColumnResize(document.getElementById('exist_GRP'));
            $("td").on("mouseover", function (e) {
                var titlee = $(this).find("input").val();
                $(this).attr('title', titlee);
            });
        });
    </script>
    <div id="ItemHead" style="margin-top: 7px;margin-left:13px;font-size: 14px;font-weight: bold;">       
            <span>Item : @ViewBag.ITNM</span>       
    </div>
    <div class="sticky-table sticky-ltr-cells" style="margin-left:4px;margin-right:4px;margin-top:7px;border-radius:10px;transform: translate(0%, 0%);z-index:1100;">
        <div style="height:auto;overflow-y:auto;max-height:58vh">
            <table id="exist_GRP" class="resizable table-striped" cellpadding="0px" cellspacing="0px" style="width:fit-content;" onkeydown="checkKey(event, 'exist_GRP', 'EChecked_');">
                <thead>
                    <tr class="sticky-header" style="height:30px;">
                        @*<th class="sticky-cell" style="text-align:center;width: 27px;">
                            All
                            <input type="checkbox" name="Test" onclick="SetAllCheckBoxesFilterCUSTOM(this, 'exist_GRP', 'EChecked_', 'searchEX')" />
                        </th>*@
                        <th class="" style="width:98px;">Refdt</th>
                        <th class="" style="width:168px;">Refno</th>
                        @*<th class="" style="width:60px;">Party</th>*@
                        <th class="" style="width:150px;">Doctype</th>
                        <th class="" style="width:80px;">Color</th>
                        <th class="" style="width:150px;">Item Remarks</th>

                        <th class="" style="width:80px;text-align:right;">Sal.Qnty</th>
                        <th class="" style="width:150px;text-align:right;">Sal.Amt</th>
                        <th class="" style="width:80px;text-align:right;">Ret.Qnty</th>
                        <th class="" style="width:150px;text-align:right;">Ret.Amt</th>
                    </tr>
                </thead>
                <tbody id="ItemBody">
                    @if (Model.ItmDet != null && Model.ItmDet.Count > 0)
                    {
                        for (int i = 0; i <= Model.ItmDet.Count - 1; i++)
                        {
                            <tr id="exist_GRP@(i+1)">                                
                                <td>
                                    @Html.EditorFor(model => model.ItmDet[i].refdt, new { htmlAttributes = new { @class = "atextBoxFor", id = "refdt_" + i, maxlength = 10, @readonly = "readonly", onclick = "CheckBoxCheck(this," + i + ",'exist_GRP');" } })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.ItmDet[i].refno, new { htmlAttributes = new { @class = "atextBoxFor", id = "refno_" + i, maxlength = 10, @readonly = "readonly", onclick = "CheckBoxCheck(this," + i + ",'exist_GRP');" } })
                                </td>
                                @*<td>
                                    @Html.EditorFor(model => model.ItmDet[i].slnm, new { htmlAttributes = new { @class = "atextBoxFor", id = "slnm_" + i, maxlength = 10, @readonly = "readonly", onclick = "CheckBoxCheck(this," + i + ",'exist_GRP');" } })
                                </td>*@
                                <td>
                                    @Html.EditorFor(model => model.ItmDet[i].docnm, new { htmlAttributes = new { @class = "atextBoxFor", id = "docnm_" + i, maxlength = 10, @readonly = "readonly", onclick = "CheckBoxCheck(this," + i + ",'exist_GRP');" } })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.ItmDet[i].colrnm, new { htmlAttributes = new { @class = "atextBoxFor", id = "colrnm_" + i, maxlength = 10, @readonly = "readonly", onclick = "CheckBoxCheck(this," + i + ",'exist_GRP');" } })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.ItmDet[i].itrem, new { htmlAttributes = new { @class = "atextBoxFor", id = "itrem_" + i, maxlength = 10, @readonly = "readonly", onclick = "CheckBoxCheck(this," + i + ",'exist_GRP');" } })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.ItmDet[i].sqnty, new { htmlAttributes = new { @class = "atextBoxFor text-right", id = "sqnty_" + i, maxlength = 10, @readonly = "readonly", onclick = "CheckBoxCheck(this," + i + ",'exist_GRP');" } })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.ItmDet[i].samt, new { htmlAttributes = new { @class = "atextBoxFor text-right", id = "samt_" + i, maxlength = 10, @readonly = "readonly", onclick = "CheckBoxCheck(this," + i + ",'exist_GRP');" } })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.ItmDet[i].rqnty, new { htmlAttributes = new { @class = "atextBoxFor text-right", id = "rqnty_" + i, maxlength = 10, @readonly = "readonly", onclick = "CheckBoxCheck(this," + i + ",'exist_GRP');" } })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.ItmDet[i].ramt, new { htmlAttributes = new { @class = "atextBoxFor text-right", id = "ramt_" + i, maxlength = 10, @readonly = "readonly", onclick = "CheckBoxCheck(this," + i + ",'exist_GRP');" } })
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4" style="height:50px;color:red;font-size:12px;text-align:center">No Data Found!</td>
                            <td colspan="5"></td>
                        </tr>
                    }
                </tbody>
                <tfoot id="ItemFoot">
                    <tr class="sticky-footer">
                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                        @*<td><input type="text" class="atextBoxFor" readonly="readonly" /></td>*@
                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>

                        <td style="text-align:right;border:groove;">
                            @Html.EditorFor(model => Model.T_sqntyi, new { htmlattributes = new { id = "T_sqntyi", @class = "atextBoxFor text-right", @TabIndex = -1, @readonly = "readonly" } })
                        </td>
                        <td style="text-align:right;border:groove;">
                            @Html.EditorFor(model => Model.T_samti, new { htmlattributes = new { id = "T_samti", @class = "atextBoxFor text-right", @TabIndex = -1, @readonly = "readonly" } })
                        </td>
                        <td style="text-align:right;border:groove;">
                            @Html.EditorFor(model => Model.T_rqntyi, new { htmlattributes = new { id = "T_rqntyi", @class = "atextBoxFor text-right", @TabIndex = -1, @readonly = "readonly" } })
                        </td>
                        <td style="text-align:right;border:groove;">
                            @Html.EditorFor(model => Model.T_ramti, new { htmlattributes = new { id = "T_ramti", @class = "atextBoxFor text-right", @TabIndex = -1, @readonly = "readonly" } })
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
@*}*@

