@model Improvar.ViewModels.RepBarcodePrint
<script type="text/javascript">
    $(document).ready(function ()
    {
        resizableTables[resizableTables.length] = new ColumnResize(document.getElementById('_Rep_BarcodePrint_Main'));
    });
</script>
<script type="text/javascript">
    $(document).ready(function ()
    {
        $("td").on("mouseover", function (e)
        {
            var titlee = $(this).find("input").val();
            $(this).attr('title', titlee);
        });
    });
</script>
<div style="width: 1200px;" overflow-y:auto;">
    <div class="table-responsive">

        @if (Model.DefaultView == true)
        {
            @Html.ValidationSummary(true)
            <div class="grid_title">
                @*<img src="~/Image/Plus.png" width="20px" height="20px" class="Help_image_buttonAddRemove" id="btnAddPART" title="Add Row" onclick="AddRowPARTS()" />*@
                @*<img src="~/Image/Minus.png" width="20px" height="20px" class="Help_image_buttonAddRemove" id="btnDeletePART" title="Delete Row" onclick="DeleteRow()" />*@

                <div class="col-md-10">
                    <input type="text" id="search_part" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, '_Rep_BarcodePrint_Main');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                <center style="font-size: 11px;color: darkmagenta; border: 1px inset;"><b>Barcode Details</b></center>
            </div>
            <div class="sticky-table sticky-ltr-cells">
                <div style="height:auto;overflow-y:scroll;max-height:345px;">
                    <table id="_Rep_BarcodePrint_Main" class="resizable table-striped" cellpadding="0px" cellspacing="0px">
                        <thead>
                            <tr class="sticky-header" style="height:30px;">
                                <th class="" style="text-align:center;width: 27px;">
                                    All
                                    <input type="checkbox" name="Test" onclick="SetAllCheckBoxesFilter(this, '_Rep_BarcodePrint_Main', 'Checked_')" />
                                </th>
                                <th class="grid_th" style="width:110px;">Bar Code</th>
                                <th class="grid_th" style="width:257px;">Group</th>
                                <th class="grid_th" style="width:257px;">Fabric</th>
                                <th class="grid_th" style="width:257px;">Item</th>
                                <th class="grid_th" style="width:27px;">SL. No.</th>
                                <th class="grid_th" style="width:111px;text-align:right;">Nos</th>
                                <th class="grid_th" style="width:111px;text-align:right;">Wprate</th>
                                <th class="grid_th" style="width:111px;text-align:right;">Cprate</th>
                                <th class="grid_th" style="width:111px;text-align:right;">Mtr</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.BarcodePrint != null)
                            {
                                for (int i = 0; i <= Model.BarcodePrint.Count - 1; i++)
                                {
                                    <tr style="font-size:12px; font-weight:bold;">
                                        <td class="" style="padding-left:7px;padding-right:7px;">
                                            @Html.CheckBoxFor(model => model.BarcodePrint[i].Checked, new { htmlAttributes = new { id = "Checked_" + i, @class = " atextBoxFor", @style = "text-align:center;" } })
                                        </td>
                                        <td class="grid_td">
                                            @Html.TextBoxFor(model => Model.BarcodePrint[i].BARNO, new { id = "BARNO_" + i, @title = "Only Numeric", maxlength = 2, @class = " atextBoxFor ", @readonly = "readonly", @TabIndex = -1 })
                                        </td>
                                        <td class="grid_td">
                                            @Html.TextBoxFor(model => Model.BarcodePrint[i].ITGRPNM, new { id = "ITGRPNM_" + i, maxlength = 15, @title = "Only For Display", @readonly = "readonly", @class = " atextBoxFor ", @TabIndex = -1 })

                                        </td>
                                        <td class="grid_td">
                                            @Html.TextBoxFor(model => Model.BarcodePrint[i].FABITNM, new { id = "FABITNM_" + i, maxlength = 15, @title = "Only For Display", @readonly = "readonly", @class = " atextBoxFor ", @TabIndex = -1 })

                                        </td>
                                        <td class="grid_td">
                                            @Html.TextBoxFor(model => Model.BarcodePrint[i].STYLENO, new { id = "STYLENO_" + i, maxlength = 15, @title = "Only For Display", @readonly = "readonly", @class = " atextBoxFor ", @TabIndex = -1 })

                                        </td>
                                        <td class="grid_td">
                                            @Html.TextBoxFor(model => Model.BarcodePrint[i].TAXSLNO, new { id = "TAXSLNO_" + i, @title = "Only Numeric", maxlength = 2, @class = " atextBoxFor ", @readonly = "readonly", @TabIndex = -1 })
                                        </td>
                                        <td class="grid_td">
                                            @Html.EditorFor(model => Model.BarcodePrint[i].NOS, new { htmlAttributes = new { id = "NOS_" + i, @style = "text-align: right;", @onkeypress = "return numericOnly(this,3);",@class = " atextBoxFor", maxlength = 12 } })

                                        </td>
                                        <td class="grid_td">
                                            @Html.EditorFor(model => Model.BarcodePrint[i].WPRATE, new { htmlAttributes = new { id = "WPRATE_" + i, @style = "text-align: right;", @onkeypress = "return numericOnly(this,3);", @class = " atextBoxFor", maxlength = 12 } })

                                        </td>
                                        <td class="grid_td">
                                            @Html.EditorFor(model => Model.BarcodePrint[i].CPRATE, new { htmlAttributes = new { id = "CPRATE_" + i, @style = "text-align: right;", @onkeypress = "return numericOnly(this,3);", @class = " atextBoxFor", maxlength = 12 } })

                                        </td>
                                        <td class="grid_td">
                                            @Html.EditorFor(model => Model.BarcodePrint[i].MTR, new { htmlAttributes = new { id = "MTR_" + i, @style = "text-align: right;", @onkeypress = "return numericOnly(this,3);", @class = " atextBoxFor", maxlength = 12 } })

                                        </td>
                                       
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>

