@model Improvar.ViewModels.EWayBillReport
<script type="text/javascript">
    $(document).ready(function () {
        $("td").on("mouseover", function (e) {
            var titlee = $(this).find("input").val();
            $(this).attr('title', titlee);
        });
    });
</script>
<div class="table-responsive">
    @Html.ValidationSummary(true)
    <div class="grid_title" style="margin-top:2px;">
        <div class="col-md-8">
            <input type="text" id="R_EWB_GEN_FS" name="R_EWB_GEN_FS" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, 'exampleEWB');" />
            <img src="~/Image/search.png" title="Help" />
        </div>
        <center style="font-size: 11px;color: darkmagenta; border: 1px inset;"><b>E WAY BILL REPORT GENERATION</b></center>
    </div>
    <table id="exampleEWB" class="resizable grid_table" cellpadding="0px" cellspacing="0px" width="100%">
        <thead>
            <tr style="height:30px">
                <th class="grid_th" style="padding:0;"><input type="checkbox" id="HeadCheckBox" name="HeadCheckBox" onclick="SetAllCheckBoxesFilter(this, 'exampleEWB', 'Checked_','R_EWB_GEN_FS')" /></th>
                <th class="grid_th" style="width:4%;">SL NO.</th>
                <th class="grid_th" style="width:110px">Doc. No.</th>
                <th class="grid_th">Doc. Date</th>
                <th class="grid_th" style="width:130px">Party Name</th>
                <th class="grid_th">District</th>
                <th class="grid_th">Distance</th>
                <th class="grid_th">Transporter</th>
                <th class="grid_th">LR No.</th>
                <th class="grid_th">LR Date</th>
                <th class="grid_th">Lorry No.</th>
                <th class="grid_th">Bill Amount</th>
                <th class="grid_th">IRNNO.</th>
                <th class="grid_th">EWBNO.</th>
                <th class="grid_th">Message</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i <= Model.EWAYBILL.Count - 1; i++)
            {
                <tr>
                    <td class="grid_td">
                        @Html.CheckBoxFor(model => model.EWAYBILL[i].Checked, new { @id = "Checked_" + i })
                        @Html.HiddenFor(model => model.EWAYBILL[i].DOCCD)
                        @Html.HiddenFor(model => model.EWAYBILL[i].AUTONO)
                    </td>
                    <td class="grid_td">
                        @Html.TextBoxFor(model => Model.EWAYBILL[i].SLNO, new { @class = " atextBoxFor ", style = "margin-left: 0px;", @TabIndex = -1, @readonly = "readonly" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => Model.EWAYBILL[i].DOCNO, new { @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => Model.EWAYBILL[i].DOCDT, new { @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => Model.EWAYBILL[i].SLNM, new { @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                        @Html.HiddenFor(model => model.EWAYBILL[i].SLCD)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => Model.EWAYBILL[i].DISTRICT, new { @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => Model.EWAYBILL[i].DISTANCE, new { @class = " atextBoxFor ", @onkeypress = "return numericOnly(this);" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => Model.EWAYBILL[i].TRSLNM, new { @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => Model.EWAYBILL[i].LRNO, new { @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => Model.EWAYBILL[i].LRDT, new { @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                    </td>
                    <td>
                        @if (Model.EWAYBILL[i].LORRYNOEXIST == true)
                        {
                            @Html.TextBoxFor(model => Model.EWAYBILL[i].LORRYNO, new { @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => Model.EWAYBILL[i].LORRYNO, new { @class = " atextBoxFor " })
                        }
                    </td>
                    <td>
                        @Html.EditorFor(model => Model.EWAYBILL[i].BLAMT, new { htmlAttributes = new { @class = " atextBoxFor text-right", @TabIndex = -1, @readonly = "readonly" } })
                    </td>
                    <td>
                        @Html.EditorFor(model => Model.EWAYBILL[i].IRNNO, new { htmlAttributes = new { @class = " atextBoxFor text-right", @TabIndex = -1, @readonly = "readonly" } })
                    </td>
                    <td>
                        @Html.EditorFor(model => Model.EWAYBILL[i].EWBNO, new { htmlAttributes = new { @class = " atextBoxFor text-right", @TabIndex = -1, @readonly = "readonly" } })
                    </td>
                    <td>
                        @Html.EditorFor(model => Model.EWAYBILL[i].message, new { htmlAttributes = new { @class = " atextBoxFor text-right", @TabIndex = -1, @readonly = "readonly" } })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


