@model Improvar.ViewModels.PartyitemSummReport
<script>
        $(document).ready(function () {
            resizableTables[resizableTables.length] = new ColumnResize(document.getElementById('tblItm_Billdtl'));
            $("td").on("mouseover", function (e) {
                var titlee = $(this).find("input").val();
                $(this).attr('title', titlee);
            });
        });
</script>
<div id="ItemHead" style="margin-top: 7px;margin-left:13px;font-size: 14px;font-weight: bold;">
    <span>Design : @ViewBag.ITNM , Job Rate : @ViewBag.JOBRT</span>
</div>
<div class="sticky-table sticky-ltr-cells" style="margin-left:4px;margin-right:4px;margin-top:7px;border-radius:10px;transform: translate(0%, 0%);z-index:1100;">
    <div style="height:auto;overflow-y:auto;max-height:58vh">
        <table id="tblItm_Billdtl" class="resizable table-striped" cellpadding="0px" cellspacing="0px" style="width:fit-content;" onkeydown="checkKey(event, 'tblItm_Billdtl', 'EChecked_');">
            <thead>
                <tr class="sticky-header" style="height:30px;">                
                    <th class="" onclick="sortTable(0, 'tblItm_Billdtl')" style="width:150px;">Doctype<span class="arrow">▲</span></th>
                    <th class="" onclick="sortTable(1, 'tblItm_Billdtl')" style="width:98px;">Refdt<span class="arrow">▲</span></th>
                    <th class="" onclick="sortTable(2, 'tblItm_Billdtl')" style="width:168px;">Refno<span class="arrow">▲</span></th>
                    <th class="" onclick="sortTable(3, 'tblItm_Billdtl')" style="width:223px;">Party Name<span class="arrow">▲</span></th>
                    <th class="" onclick="sortTable(4, 'tblItm_Billdtl')" style="width:80px;">Color<span class="arrow">▲</span></th>
                    <th class="" onclick="sortTable(5, 'tblItm_Billdtl')" style="width:150px;">Item Remarks<span class="arrow">▲</span></th>
                    <th class="" onclick="sortTable(6, 'tblItm_Billdtl')" style="text-align:right;width:65px;">Disc%<span class="arrow">▲</span></th>
                    <th class="" onclick="sortTable(7, 'tblItm_Billdtl')" style="text-align:right;width:80px;">Qnty<span class="arrow">▲</span></th>
                    <th class="" onclick="sortTable(8, 'tblItm_Billdtl')" style="text-align:right;width:99px;">Rate<span class="arrow">▲</span></th>
                    <th class="" onclick="sortTable(9, 'tblItm_Billdtl')" style="text-align:right; width:80px;">Amt<span class="arrow">▲</span></th>
                </tr>
            </thead>
            <tbody id="ItemBody">
                @if (Model.ItmDet != null && Model.ItmDet.Count > 0)
                {
                    for (int i = 0; i <= Model.ItmDet.Count - 1; i++)
                    {
                        <tr id="tblItm_Billdtl@(i+1)">
                            <td>
                                @Html.EditorFor(model => model.ItmDet[i].docnm, new { htmlAttributes = new { @class = "atextBoxFor", id = "docnm_" + i, maxlength = 10, @readonly = "readonly" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.ItmDet[i].refdt, new { htmlAttributes = new { @class = "atextBoxFor", id = "refdt_" + i, maxlength = 10, @readonly = "readonly" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.ItmDet[i].refno, new { htmlAttributes = new { @class = "atextBoxFor", id = "refno_" + i, maxlength = 10, @readonly = "readonly"} })
                            </td>
                            <td>
                                    @Html.EditorFor(model => model.ItmDet[i].slnm, new { htmlAttributes = new { @class = "atextBoxFor", id = "slnm_" + i, maxlength = 10, @readonly = "readonly" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.ItmDet[i].colrnm, new { htmlAttributes = new { @class = "atextBoxFor", id = "colrnm_" + i, maxlength = 10, @readonly = "readonly" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.ItmDet[i].itrem, new { htmlAttributes = new { @class = "atextBoxFor", id = "itrem_" + i, maxlength = 10, @readonly = "readonly" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.ItmDet[i].disc, new { htmlAttributes = new { @class = "atextBoxFor text-right", id = "disc_" + i, maxlength = 4, @readonly = "readonly" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.ItmDet[i].qnty, new { htmlAttributes = new { @class = "atextBoxFor text-right", id = "qnty_" + i, maxlength = 10, @readonly = "readonly" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.ItmDet[i].rate, new { htmlAttributes = new { @class = "atextBoxFor text-right", id = "rate_" + i, maxlength = 10, @readonly = "readonly" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.ItmDet[i].amt, new { htmlAttributes = new { @class = "atextBoxFor text-right", id = "amt_" + i, maxlength = 10, @readonly = "readonly" } })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4" style="height:50px;color:red;font-size:12px;text-align:center">No Data Found!</td>
                        <td colspan="6"></td>
                    </tr>
                }
            </tbody>
            <tfoot id="ItemFoot">
                <tr class="sticky-footer">
                    <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                    <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                    <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                    <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                    <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                    <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                    <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                    <td style="text-align:right;border:groove;">
                        @Html.EditorFor(model => Model.T_qnty, new { htmlattributes = new { id = "T_qnty", @class = "atextBoxFor text-right", @TabIndex = -1, @readonly = "readonly" } })
                    </td>
                    <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                    <td style="text-align:right;border:groove;">
                        @Html.EditorFor(model => Model.T_amt, new { htmlattributes = new { id = "T_amt", @class = "atextBoxFor text-right", @TabIndex = -1, @readonly = "readonly" } })
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@*}*@

