@model Improvar.ViewModels.SubLedgerEntry
    <script>
        $(document).ready(function () {
            $(".km").blur(function () {
                var id = $(this).attr("id");
                var DISTANCE = $("#" + id).val();
                var idn= id.split('_');
                var idno = idn[1];
                var LOCCD = $("#LOCCD_" + idno).val();
                var Table_name = "#examplesubledgeOther > tbody > tr";
                var lngth = $(Table_name).length;
                for (var i = 0; i < lngth - 1; i++) {                   
                    //check with compcd                 
                    var loc_ = $("#LOCCD_" + i).val();
                    if (LOCCD == loc_) {
                        $("#DISTANCE_" + i).val(DISTANCE);
                    }
                }
            });         
        });
     
    </script>
<div style="width: 1120px;height:auto; overflow-y:auto;">
    <div class="table-responsive">
        @if (Model.DefaultView == true)
        {
            @Html.ValidationSummary(true)
            if (Model.MSUBLEGLOCOTH != null)
            {

            <div class="grid_title">
                @*<img src="~/Image/Plus.png" class="image_button_grid_AddRemove" width="20px" height="20px" id="btnAdd" title="Add Row" onclick="AddRowCompany()" />
                <img src="~/Image/Minus.png" class="image_button_grid_AddRemove" width="20px" height="20px" id="btnDelete" title="Delete Row" onclick="DeleteRowCompany()" />*@

                <div class="col-md-8">
                    <input type="text" id="search" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, 'examplesubledgeOther');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                <center style="font-size: 11px;color: darkmagenta; border: 1px inset;"><b>Location Distance Master Details</b></center>
            </div>
            <table id="examplesubledgeOther" class="resizable grid_table" cellpadding="0px" cellspacing="0px">
                <thead>
                    <tr style="height:30px;">
                        <th class="grid_th" style="width:27px;"></th>
                        <th class="grid_th" style="width:27px;">SL. No.</th>
                        <th class="grid_th" style="width:75px;">Company Code</th>
                        <th class="grid_th" style="width:500px">Company Name</th>
                        <th class="grid_th" style="width:75px;">Location Code</th>
                        <th class="grid_th" style="width:500px">Location Name</th>
                        <th class="grid_th" style="width:50px">Distance(K.M.)</th>
                        @*<th class="grid_th" style="width:50px">C/M</th>*@
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i <= Model.MSUBLEGLOCOTH.Count - 1; i++)
                    {
                        <tr style="font-size:12px; font-weight:bold;">
                            <td class="grid_td" style="padding-left:7px;padding-right:7px;">
                                @Html.CheckBoxFor(model => model.MSUBLEGLOCOTH[i].Checked)
                            </td>
                            <td class="grid_td">
                                @Html.TextBoxFor(model => Model.MSUBLEGLOCOTH[i].SLNO, new { id = "SLNO_" + i, maxlength = 2, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                            </td>
                            <td class="grid_td">
                                @Html.TextBoxFor(model => Model.MSUBLEGLOCOTH[i].COMPCD, new {  maxlength = 4, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                            </td>
                            <td class="grid_td">
                                @Html.TextBoxFor(model => Model.MSUBLEGLOCOTH[i].COMPNM, new { maxlength = 35, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                            </td>
                            <td class="grid_td">
                                @Html.TextBoxFor(model => Model.MSUBLEGLOCOTH[i].LOCCD, new { id = "LOCCD_" + i, maxlength = 4, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                            </td>
                            <td class="grid_td">
                                @Html.TextBoxFor(model => Model.MSUBLEGLOCOTH[i].LOCNM, new { id = "LOCNM_" + i, maxlength = 35, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                            </td>
                            <td class="grid_td">
                                @Html.TextBoxFor(model => Model.MSUBLEGLOCOTH[i].DISTANCE, new { id = "DISTANCE_" + i, maxlength = 7, @class = "km atextBoxFor text-right " })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            }
        }
    </div>
</div>
