@model Improvar.ViewModels.TransactionAltOrder
<table class="table table-responsive table-condensed table-striped" id="tblMeasure">
    <thead><tr class="info"><th style="width: 106px;">Style Name</th><th>Qnty</th><th>Action</th></tr></thead>
    <tbody>
        @if (Model.TSTCHALT_MEASUREMENT != null)
        {
            for (int i = 0; i < Model.TSTCHALT_MEASUREMENT.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.TSTCHALT_MEASUREMENT[i].STCHNM)
                        @Html.HiddenFor(model => model.TSTCHALT_MEASUREMENT[i].STCHNM, new { id = "MEASUREMENT_STCHNM_" + i })
                        @Html.HiddenFor(model => model.TSTCHALT_MEASUREMENT[i].SLNO, new { id = "MEASUREMENT_SLNO_" + i })
                        @Html.HiddenFor(model => model.TSTCHALT_MEASUREMENT[i].STCHCD, new { id = "MEASUREMENT_STCHCD_" + i })
                        @Html.HiddenFor(model => model.TSTCHALT_MEASUREMENT[i].RATE, new { id = "MEASUREMENT_RATE_" + i })
                        @if (Model.TSTCHALT_MEASUREMENT[i].TSTCHALT_DTLCOMP != null)
                        {
                            for (int j = 0; j < Model.TSTCHALT_MEASUREMENT[i].TSTCHALT_DTLCOMP.Count; j++)
                            {
                                @Html.HiddenFor(model => model.TSTCHALT_MEASUREMENT[i].TSTCHALT_DTLCOMP[j].FLDCD)
                                @Html.HiddenFor(model => model.TSTCHALT_MEASUREMENT[i].TSTCHALT_DTLCOMP[j].FLDDESC)
                                @*@Html.HiddenFor(model => model.TSTCHALT_MEASUREMENT[i].TSTCHALT_DTLCOMP[j].FLDLEN)*@
                                @Html.HiddenFor(model => model.TSTCHALT_MEASUREMENT[i].TSTCHALT_DTLCOMP[j].FLDVAL)
                                @Html.HiddenFor(model => model.TSTCHALT_MEASUREMENT[i].TSTCHALT_DTLCOMP[j].FLDREM)
                                @Html.HiddenFor(model => model.TSTCHALT_MEASUREMENT[i].TSTCHALT_DTLCOMP[j].FLDTYPE)
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TSTCHALT_MEASUREMENT[i].QNTY)
                        @Html.HiddenFor(model => model.TSTCHALT_MEASUREMENT[i].QNTY, new { id = "MEASUREMENT_QNTY_" + i })
                    </td>
                    <td>
                        <a onclick="GetComponent(@i,'E')" style="cursor:pointer" id="Edit_@i"><span title="Edit" class="glyphicon glyphicon-pencil" style="font-size:small;color:#FFC107"></span></a>
                        &nbsp;&nbsp;&nbsp;
                        @if (Model.DefaultAction != "V")
                        {
                            <a onclick="GetComponent(@i,'D')" style="cursor:pointer" id="Delete_@i"><span title="Delete" class="glyphicon glyphicon-trash" style="font-size:small;color:#E34724"></span></a>
                        }                       
                       </td>
                </tr>
            }
        }
    </tbody>
</table>
