@model Improvar.ViewModels.TransactionBiltyGMutiaEntry

<div style="width: 600px;" overflow-y:auto;">
    <div class="table-responsive">

        @if (Model.DefaultView == true)
        {
            @Html.ValidationSummary(true)
            <div class="grid_title">
                @*<img src="~/Image/Plus.png" width="20px" height="20px" class="Help_image_buttonAddRemove" id="btnAddPART" title="Add Row" onclick="AddRowPARTS()" />*@
                <img src="~/Image/Minus.png" width="20px" height="20px" class="Help_image_buttonAddRemove" id="btnDeletePART" title="Delete Row" onclick="DeleteRow()" />

                <div class="col-md-10">
                    <input type="text" id="search_part" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, 'T_BiltyG_Mutia_Main');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                <center style="font-size: 11px;color: darkmagenta; border: 1px inset;"><b>Bilty Details</b></center>
            </div>
            <div class="sticky-table sticky-ltr-cells">
                <div style="height:auto;overflow-y:scroll;max-height:235px;">
                    <table id="T_BiltyG_Mutia_Main" class="resizable table-striped" cellpadding="0px" cellspacing="0px">
                        <thead>
                            <tr class="sticky-header" style="height:30px;">
                                <th class="sticky-cell" style="width: 27px;"></th>
                                <th class="grid_th" style="width:27px;">SL. No.</th>
                                <th class="grid_th" style="width:75px;">Bilty No</th>
                                <th class="grid_th" style="width:125px;">Bilty Date</th>
                                <th class="grid_th" style="width:125px;">Bale No</th>
                                <th class="grid_th" style="width:75px;">Bill No</th>
                                <th class="grid_th" style="width:125px;">Bill Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.TBILTY != null)
                            {
                                for (int i = 0; i <= Model.TBILTY.Count - 1; i++)
                                {
                                    <tr style="font-size:12px; font-weight:bold;">
                                        <td class="sticky-cell" style="padding-left:7px;padding-right:7px;">
                                            @Html.CheckBoxFor(model => model.TBILTY[i].Checked, new { htmlAttributes = new { id = "chkid" } })
                                        </td>
                                        <td class="grid_td">
                                            @Html.TextBoxFor(model => Model.TBILTY[i].SLNO, new { id = "SLNO_" + i, @title = "Only Numeric", maxlength = 2, @class = " atextBoxFor ", @readonly = "readonly", @TabIndex = -1 })
                                        </td>
                                        <td class="grid_td">
                                            @Html.TextBoxFor(model => Model.TBILTY[i].LRNO, new { id = "LRNO_" + i, maxlength = 15, @title = "Only For Display", @readonly = "readonly", @class = " atextBoxFor ", @TabIndex = -1 })
                                            @Html.HiddenFor(model => model.TBILTY[i].BLAUTONO, new { id = "BLAUTONO_" + i })
                                        </td>
                                        <td class="grid_td">
                                            @Html.TextBoxFor(model => Model.TBILTY[i].LRDT, new { id = "LRDT_" + i, maxlength = 10, @title = "Only For Display", @readonly = "readonly", @class = " atextBoxFor ", @TabIndex = -1 })
                                        </td>
                                        <td class="grid_td">
                                            @Html.TextBoxFor(model => Model.TBILTY[i].BALENO, new { id = "BALENO_" + i, maxlength = 15, @title = "Only For Display", @readonly = "readonly", @class = " atextBoxFor ", @TabIndex = -1 })
                                        </td>
                                        <td class="grid_td">
                                            @Html.TextBoxFor(model => Model.TBILTY[i].PREFNO, new { id = "PREFNO_" + i, maxlength = 15, @title = "Only For Display", @readonly = "readonly", @class = " atextBoxFor ", @TabIndex = -1 })
                                        </td>
                                        <td class="grid_td">
                                            @Html.TextBoxFor(model => Model.TBILTY[i].PREFDT, new { id = "PREFNODT_" + i, maxlength = 10, @title = "Only For Display", @readonly = "readonly", @class = " atextBoxFor ", @TabIndex = -1 })
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    </div>
                </div>
                    }
                </div>
            </div>
