@model Improvar.ViewModels.TJobBillEntry
<script type="text/javascript">
    $(document).ready(function () {
        $("td").on("mouseover", function (e) { var titlee = $(this).find("input").val(); $(this).attr('title', titlee); });
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") {
            modeView();
        }
        else if ("@Model.DefaultAction" == "A") {
            $('form :input:enabled:visible:not([readonly]):first').focus();
        }
        resizableTables[resizableTables.length] = new ColumnResize(document.getElementById('_T_PND_ITEM_GRID_SBILL'));
    });
</script>
@if (Model.MSG.Length <= 0)
{
    <div style="background-color:#c4b9b9;border:5px groove;">
        <div class="table-responsive">
            @Html.ValidationSummary(true)
            <div class="grid_title">
                <div class="col-md-8">
                    <input type="text" id="search" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, '_T_PND_ITEM_GRID_SBILL');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                <center style="font-size: 11px;color: darkmagenta; border: 1px inset;"><b>Sale Bill Shortage Item Details</b></center>
            </div>
            <div class="sticky-table sticky-ltr-cells" style="transform: translate(0%, 0%)">
                <div style="height:auto;overflow-y:auto;max-height:160px;">
                    <table id="_T_PND_ITEM_GRID_SBILL" class="resizable table-striped" cellpadding="0px" cellspacing="0px" style="width: 1533px;">
                        <thead>
                            <tr class="sticky-header" style="height:30px;">
                                <th class="sticky-cell" style="width: 27px;"></th>
                                <th class="" style="width: 50px;text-align:center;">Sl.</th>
                                <th class="" style="width: 100px;">Item Code</th>
                                <th class="" style="width: 150px;">Style No</th>
                                <th class="" style="width: 200px;">Item Name</th>
                                <th class="" style="width:70px;">UOM</th>
                                <th class="" style="width:75px;text-align:right;">Quantity</th>
                                <th class="" style="width:60px;text-align:right;">Rate</th>
                                <th class="" style="width:80px;text-align:right;">Amount</th>
                                <th class="" style="width:80px;text-align:right;">Taxable</th>
                                <th class="" style="width:40px;text-align:right;">IGST%</th>
                                <th class="" style="width:80px;text-align:right;">IGST AMT.</th>
                                <th class="" style="width:40px;text-align:right;">CGST%</th>
                                <th class="" style="width:80px;text-align:right;">CGST AMT.</th>
                                <th class="" style="width:40px;text-align:right;">SGST%</th>
                                <th class="" style="width:80px;text-align:right;">SGST AMT.</th>
                                <th class="" style="width:40px;text-align:right;">CESS%</th>
                                <th class="" style="width:80px;text-align:right;">CESS AMT.</th>
                                <th class="sticky-cell-opposite" style="width:80px;text-align:right;">Net Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.SBillSortage != null)
                            {
                                for (int i = 0; i <= Model.SBillSortage.Count - 1; i++)
                                {
                                    <tr style="font-size:12px; font-weight:bold;">
                                        <td class="sticky-cell" style="padding-left:7px;padding-right:7px;">
                                            @Html.CheckBoxFor(model => model.SBillSortage[i].Checked, new { id = "Schkid" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.SBillSortage[i].SLNO, new { id = "SSLNO_" + i, @class = " atextBoxFor ", @style = "text-align:center;", maxlength = 2, @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.SBillSortage[i].ITCD, new { id = "SITCD_" + i, @class = "atextBoxFor textbox_image", @style = "text-align:left;", autocomplete = "off", maxlength = 10, onblur = "SelectItemCode('" + "SITCD_" + i + "','" + "SITNM_" + i + "',this.value,'" + "SPCSPERBOX_" + i + "');" })
                                            <img src="~/Image/search.png" width="20px" class="Help_image_button" style="margin-top:2px;height:17px;width:18px" height="20px" title="Help" onclick="GetHelp('@Url.Action("GetItems", "T_JobBill")','SITCD_@i/SITNM_@i','2/1','Item Details')" />
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => model.SBillSortage[i].STYLENO, new { id = "SSTYLENO_" + i, @class = " atextBoxFor ", maxlength = 15, @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => model.SBillSortage[i].ITNM, new { id = "SITNM_" + i, @class = " atextBoxFor ", maxlength = 60, @TabIndex = -1, @readonly = "readonly" })
                                            @Html.HiddenFor(model => model.SBillSortage[i].EFFDT, new { id = "SEFFDT_" + i })
                                            @Html.HiddenFor(model => model.SBillSortage[i].AUTONO, new { id = "SAUTONO_" + i })
                                            @Html.HiddenFor(model => model.SBillSortage[i].ADOCNO_AUTONO, new { id = "SADOCNO_AUTONO_" + i })
                                        </td>
                                                               <td class="">
                                            @Html.DropDownListFor(model => Model.SBillSortage[i].qtncalcon, new SelectList(Model.SBillSortage[i].QNTY_UNIT_DNCN, "value", "text", Model.SBillSortage[i].qtncalcon), new { id = "Sqtncalcon_" + i, @class = "atextBoxFor select_3d", onclick = "GetPriviousVALUE(1,this);", onchange = "UOMCONVERTION(this.value,1," + i + "),CalculateRowAmtSBILL('" + "SRATE_" + i + "','" + "SQUAN_" + i + "','" + "SAMOUNT_" + i + "','" + "STAXABLE_" + i + "','" + "Sigstper_" + i + "','" + "Sigstamt_" + i + "','" + "Scgstper_" + i + "','" + "Scgstamt_" + i + "','" + "Ssgstper_" + i + "','" + "Ssgstamt_" + i + "','" + "Scessper_" + i + "','" + "Scessamt_" + i + "','" + "SNETAMOUNT_" + i + "','" + "Sroundoff_" + i + "'," + i + ")" })
                                        </td>
                                        <td class="">
                                            @if (Model.SBillSortage[i].RelWithItem == true)
                                            {
                                                @Html.TextBoxFor(model => Model.SBillSortage[i].QUAN, new { id = "SQUAN_" + i, @style = "text-align: right;", @class = " atextBoxFor", maxlength = 10, autocomplete = "off", @TabIndex = -1, @readonly = "readonly", @onkeypress = "return numericOnly(this,2);", onblur = "CalculateRowAmtSBILL('" + "SRATE_" + i + "','" + "SQUAN_" + i + "','" + "SAMOUNT_" + i + "','" + "STAXABLE_" + i + "','" + "Sigstper_" + i + "','" + "Sigstamt_" + i + "','" + "Scgstper_" + i + "','" + "Scgstamt_" + i + "','" + "Ssgstper_" + i + "','" + "Ssgstamt_" + i + "','" + "Scessper_" + i + "','" + "Scessamt_" + i + "','" + "SNETAMOUNT_" + i + "','" + "Sroundoff_" + i + "'," + i + ");" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => Model.SBillSortage[i].QUAN, new { id = "SQUAN_" + i, @style = "text-align: right;", @class = " atextBoxFor", maxlength = 10, autocomplete = "off", @onkeypress = "return numericOnly(this,2);", onblur = "CalculateRowAmtSBILL('" + "SRATE_" + i + "','" + "SQUAN_" + i + "','" + "SAMOUNT_" + i + "','" + "STAXABLE_" + i + "','" + "Sigstper_" + i + "','" + "Sigstamt_" + i + "','" + "Scgstper_" + i + "','" + "Scgstamt_" + i + "','" + "Ssgstper_" + i + "','" + "Ssgstamt_" + i + "','" + "Scessper_" + i + "','" + "Scessamt_" + i + "','" + "SNETAMOUNT_" + i + "','" + "Sroundoff_" + i + "'," + i + ");" })
                                            }
                                            @Html.HiddenFor(model => model.SBillSortage[i].RelWithItem, new { id = "SRelWithItem_" + i })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.SBillSortage[i].RATE, new { htmlAttributes = new { id = "SRATE_" + i, @class = " atextBoxFor", @style = "text-align: right;", autocomplete = "off", maxlength = 12, @onkeypress = "return numericOnly(this,2);", onblur = "CalculateRowAmtSBILL('" + "SRATE_" + i + "','" + "SQUAN_" + i + "','" + "SAMOUNT_" + i + "','" + "STAXABLE_" + i + "','" + "Sigstper_" + i + "','" + "Sigstamt_" + i + "','" + "Scgstper_" + i + "','" + "Scgstamt_" + i + "','" + "Ssgstper_" + i + "','" + "Ssgstamt_" + i + "','" + "Scessper_" + i + "','" + "Scessamt_" + i + "','" + "SNETAMOUNT_" + i + "','" + "Sroundoff_" + i + "'," + i + ");" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.SBillSortage[i].AMOUNT, new { htmlAttributes = new { id = "SAMOUNT_" + i, @style = "text-align: right;", @class = " atextBoxFor", maxlength = 12, @TabIndex = -1, @readonly = "readonly" } })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.SBillSortage[i].TAXABLE, new { id = "STAXABLE_" + i, @class = " atextBoxFor", maxlength = 10, @style = "text-align: right;", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.SBillSortage[i].igstper, new { id = "Sigstper_" + i, @class = " atextBoxFor", maxlength = 6, @style = "text-align: right;", @onkeypress = "return numericOnly(this,3);", onblur = "CalculateRowAmtSBILL('" + "SRATE_" + i + "','" + "SQUAN_" + i + "','" + "SAMOUNT_" + i + "','" + "STAXABLE_" + i + "','" + "Sigstper_" + i + "','" + "Sigstamt_" + i + "','" + "Scgstper_" + i + "','" + "Scgstamt_" + i + "','" + "Ssgstper_" + i + "','" + "Ssgstamt_" + i + "','" + "Scessper_" + i + "','" + "Scessamt_" + i + "','" + "SNETAMOUNT_" + i + "','" + "Sroundoff_" + i + "'," + i + ");" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.SBillSortage[i].igstamt, new { id = "Sigstamt_" + i, @class = " atextBoxFor", maxlength = 10, @style = "text-align: right;", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.SBillSortage[i].cgstper, new { id = "Scgstper_" + i, @class = " atextBoxFor", maxlength = 6, @style = "text-align: right;", @onkeypress = "return numericOnly(this,3);", onblur = "CalculateRowAmtSBILL('" + "SRATE_" + i + "','" + "SQUAN_" + i + "','" + "SAMOUNT_" + i + "','" + "STAXABLE_" + i + "','" + "Sigstper_" + i + "','" + "Sigstamt_" + i + "','" + "Scgstper_" + i + "','" + "Scgstamt_" + i + "','" + "Ssgstper_" + i + "','" + "Ssgstamt_" + i + "','" + "Scessper_" + i + "','" + "Scessamt_" + i + "','" + "SNETAMOUNT_" + i + "','" + "Sroundoff_" + i + "'," + i + ");" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.SBillSortage[i].cgstamt, new { id = "Scgstamt_" + i, @class = " atextBoxFor", maxlength = 10, @style = "text-align: right;", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.SBillSortage[i].sgstper, new { id = "Ssgstper_" + i, @class = " atextBoxFor", maxlength = 6, @style = "text-align: right;", @onkeypress = "return numericOnly(this,3);", onblur = "CalculateRowAmtSBILL('" + "SRATE_" + i + "','" + "SQUAN_" + i + "','" + "SAMOUNT_" + i + "','" + "STAXABLE_" + i + "','" + "Sigstper_" + i + "','" + "Sigstamt_" + i + "','" + "Scgstper_" + i + "','" + "Scgstamt_" + i + "','" + "Ssgstper_" + i + "','" + "Ssgstamt_" + i + "','" + "Scessper_" + i + "','" + "Scessamt_" + i + "','" + "SNETAMOUNT_" + i + "','" + "Sroundoff_" + i + "'," + i + ");" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.SBillSortage[i].sgstamt, new { id = "Ssgstamt_" + i, @class = " atextBoxFor", maxlength = 10, @style = "text-align: right;", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.SBillSortage[i].cessper, new { id = "Scessper_" + i, @class = " atextBoxFor", maxlength = 6, @style = "text-align: right;", @onkeypress = "return numericOnly(this,3);", onblur = "CalculateRowAmtSBILL('" + "SRATE_" + i + "','" + "SQUAN_" + i + "','" + "SAMOUNT_" + i + "','" + "STAXABLE_" + i + "','" + "Sigstper_" + i + "','" + "Sigstamt_" + i + "','" + "Scgstper_" + i + "','" + "Scgstamt_" + i + "','" + "Ssgstper_" + i + "','" + "Ssgstamt_" + i + "','" + "Scessper_" + i + "','" + "Scessamt_" + i + "','" + "SNETAMOUNT_" + i + "','" + "Sroundoff_" + i + "'," + i + ");" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.SBillSortage[i].cessamt, new { id = "Scessamt_" + i, @class = " atextBoxFor", maxlength = 10, @style = "text-align: right;", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="sticky-cell-opposite">
                                            @Html.TextBoxFor(model => Model.SBillSortage[i].NETAMOUNT, new { id = "SNETAMOUNT_" + i, @class = " atextBoxFor", maxlength = 10, @style = "text-align:right;font-weight:bold", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Round Off")
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="editor-field" style="margin-top:6px;">
                        @Html.CheckBoxFor(model => model.Roundoff_sbill, new { id = "S_Checked", onclick = "SBILLBillAmount();" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Round Off Amount")
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.RoundoffAMT_sbill, new { htmlAttributes = new { @class = "form-control", id = "ROAMT_SBILL", @style = "text-align:right;font-weight:800", @placeholder = "Amount", maxlength = 10, @readonly = "readonly" } })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Total Taxable Amount")
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.TAXABLEVAL_sbill, new { htmlAttributes = new { @class = "form-control", id = "TAXABLEVAL_SBILL", @placeholder = "Amount", maxlength = 10, @readonly = "readonly", @style = "text-align:right;font-weight:800" } })
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Total Sale Bill Shortage Amount")
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.TOTALBILLAMT_sbill, new { htmlAttributes = new { @class = "form-control", id = "TOTALBILLAMT_SBILL", @placeholder = "Amount", maxlength = 10, @readonly = "readonly", @style = "text-align:right;font-weight:800" } })
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Exp. Code")
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.EXPGLCD1, new { htmlAttributes = new { @class = "form-control", id = "EXPGLCD1", style = "font-size:11px", maxlength = 15, @placeholder = "Code", autocomplete = "off", onblur = "SelectLedgerCode('" + "EXPGLCD1" + "','" + "EXPGLNM1" + "',this.value,'" + "O" + "');" } })
                        <img src="~/Image/search.png" width="20px" class="Help_image_button" style="margin-top:-21px;margin-right:3px;height:17px;width:18px;float:right" height="20px" title="Help" onclick="GetHelp('@Url.Action("GetLedgerCode", "T_JobBill")','EXPGLCD1/EXPGLNM1','1/0','Ledger Details','EXPGLCD1','O')" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.EXPGLNM1, new { htmlAttributes = new { @class = "form-control", id = "EXPGLNM1", style = "font-size:11px", maxlength = 15, @placeholder = "Expenses", @TabIndex = -1, @readonly = "readonly" } })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <span>@Model.MSG</span>
}
