@model Improvar.ViewModels.TransactionOutIssProcess
<script type="text/javascript">
    $(document).ready(function () {
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") { modeView(); EnabledfilteredSearch(); }
        resizableTables[resizableTables.length] = new ColumnResize(document.getElementById('_T_SALE_PRODUCT_GRID'));
        $("td").on("mouseover", function (e) { var titlee = $(this).find("input").val(); $(this).attr('title', titlee); });
        scrollGrid('_T_SALE_PRODUCT_GRID');
    });

</script>
<script>
    $("#popup").ready(function () {
        $("#dragclass").draggable({ cursor: "move" });
    });

</script>
<div id="dragclass" style="overflow-y:auto;max-height:600px;height:auto;background-color:#c4b9b9;padding:7px;border-radius: 7px;transform: translate(0%, 0%);z-index: 1100;">
    <div class="table-responsive">
        @if (Model.DefaultView == true)
        {
            @Html.ValidationSummary(true)
            <div class="grid_title">
                <input type="text" id="AddRowsMetal" name="AddRowsMetal" placeholder="rows" style="font-size: 11px;font-weight: bold;width:40px;height:17px;float:left;padding: 2px;" maxlength="3" onkeypress="return numericOnly(this);" />
                <img src="~/Image/Plus.png" id="btnAddMain" title="Add Row" class="Help_image_buttonAddRemove" onclick="AddRowBarno('AddRowsMetal')" />
                <img src="~/Image/Minus.png" id="btnDeleteMain" title="Delete Row" class="Help_image_buttonAddRemove" onclick="DeleteBarnoRow()" />
                @*@Html.HiddenFor(model => Model.CHILD_P_SRL, new { id = "SERIAL_PARENT", Value = @Model.CHILD_P_SRL })*@
                <div class="col-md-8">
                    <input type="text" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, '_T_SALE_PRODUCT_GRID');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                <center style="font-size:11px;color:darkmagenta;border:1px inset;height: 21px;padding: 4px;">
                    <b>
                        [<span style="font-variant:petite-caps;color: red;">SL No :- </span>
                        <span>
                            @ViewBag.SLNO
                        </span>
                        <span style="font-variant:petite-caps;color: red;">Design No :- </span>
                        <span>
                            @ViewBag.ITNM
                        </span>]
                        Material Issue Details
                    </b>
                </center>
            </div>
            if (Model.TPROGDTL != null)
            {
                Improvar.Models.TPROGDTL query = (from c in Model.TPROGDTL where (c.SLNO == Model.SERIAL) select c).SingleOrDefault();
                if (query != null)
                {
                    var helpM = new List<Improvar.Models.TBATCHDTL>();
                    var javaScriptSerializer = new System.Web.Script.Serialization.JavaScriptSerializer();
                    helpM = javaScriptSerializer.Deserialize<List<Improvar.Models.TBATCHDTL>>(query.ChildMIData);
                    if (Model.TBATCHDTL != null)
                    {
                        Model.TBATCHDTL.Clear();
                    }
                    Model.TBATCHDTL = helpM;
                }
                <div class="sticky-table sticky-ltr-cells">
                    <div style="height:auto;overflow-y:scroll;max-height:400px;">
                        <div>
                            <table id="_T_SALE_PRODUCT_GRID" class="resizable table-striped" cellpadding="0px" cellspacing="0px" style="width: 1300px;">
                                <thead>
                                    <tr class="sticky-header" style="height:30px;">
                                        <th class="sticky-cell" style="width: 20px;"></th>
                                        <th class="sticky-cell" style="width: 20px;text-align:center;left:17px">SL No</th>
                                        <th class="sticky-cell" style="width: 40px;text-align:center;left:40px">Bill Sl #</th>
                                        <th class="" style="width:80px;">Barno</th>
                                        <th class="" style="width:80px;">Design No</th>
                                        <th class="" style="width:81px;">Group Code</th>
                                        <th class="" style="width:177px;">Group Name</th>
                                        <th class="" style="width:94px;">Item Code</th>
                                        <th class="" style="width: 81px;">Material Job Code <b style="color:Red;">*</b></th>
                                        <th class="" style="width:100px;">Material Job Name</th>
                                        <th class="" style="width: 34px;">Stock Type</th>
                                        <th class="" style="width: 50px;">Part</th>
                                        <th class="" style="width: 50px;">Color Code</th>
                                        <th class="" style="width: 50px;">Color Name</th>
                                        <th class="" style="width: 50px;">Size</th>
                                        <th class="" style="width: 50px;">Shade</th>
                                        <th class="" style="width:50px;text-align:right;">Stock</th>
                                        <th class="" style="width:60px;text-align:right;">Cutlength</th>
                                        <th class="" style="width:60px;text-align:right;">Nos</th>
                                        <th class="" style="width:50px;text-align:right;">Quantity</th>
                                        <th class="" style="width:50px;">UOM</th>
                                        <th class="" style="width:43px;text-align:right;">Rate Hist</th>
                                        <th class="" style="width:80px;text-align:right;">Rate</th>

                                        <th class="" style="width:50px;text-align:right;">GST Per</th>

                                        <th class="" style="width:160px;">Item Remarks</th>
                                        <th class="" style="width:30px; text-align:center">Img</th>
                                        <th class="">Image Upload</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.TBATCHDTL != null)
                                    {
                                        for (int i = 0; i <= Model.TBATCHDTL.Count - 1; i++)
                                        {
                                            <tr style="font-size:12px; font-weight:bold;">
                                                <td class="sticky-cell">
                                                    @Html.CheckBoxFor(model => model.TBATCHDTL[i].Checked, new { id = "B_Checked_" + i, @TabIndex = -1 })
                                                    @*@Html.HiddenFor(model => model.TBATCHDTL[i].BARNO, new { id = "B_BARNO_" + i })*@
                                                    @Html.HiddenFor(model => model.TBATCHDTL[i].FLAGMTR, new { id = "B_FLAGMTR_" + i })
                                                    @Html.HiddenFor(model => model.TBATCHDTL[i].HSNCODE, new { id = "B_HSNCODE_" + i })
                                                    @Html.HiddenFor(model => model.TBATCHDTL[i].LOCABIN, new { id = "B_LOCABIN_" + i })
                                                    @Html.HiddenFor(model => model.TBATCHDTL[i].BARGENTYPE, new { id = "B_BARGENTYPE_" + i })
                                                    @Html.HiddenFor(model => model.TBATCHDTL[i].GLCD, new { id = "B_GLCD_" + i })
                                                    @Html.HiddenFor(model => model.TBATCHDTL[i].ChildData, new { id = "B_ChildData_" + i })
                                                    @Html.HiddenFor(model => Model.TBATCHDTL[i].DISCTYPE_DESC, new { id = "B_DISCTYPE_DESC_" + i })
                                                    @Html.HiddenFor(model => model.TBATCHDTL[i].DISCTYPE, new { id = "B_DISCTYPE_" + i })
                                                    @Html.HiddenFor(model => Model.TBATCHDTL[i].DISCRATE, new { id = "B_DISCRATE_" + i })
                                                    @Html.HiddenFor(model => Model.TBATCHDTL[i].TDDISCTYPE_DESC, new { id = "B_TDDISCTYPE_DESC_" + i })
                                                    @Html.HiddenFor(model => model.TBATCHDTL[i].TDDISCTYPE, new { id = "B_TDDISCTYPE_" + i })
                                                    @Html.HiddenFor(model => Model.TBATCHDTL[i].TDDISCRATE, new { id = "B_TDDISCRATE_" + i })
                                                    @Html.HiddenFor(model => Model.TBATCHDTL[i].SCMDISCTYPE_DESC, new { id = "B_SCMDISCTYPE_DESC_" + i })
                                                    @Html.HiddenFor(model => model.TBATCHDTL[i].SCMDISCTYPE, new { id = "B_SCMDISCTYPE_" + i })
                                                    @Html.HiddenFor(model => Model.TBATCHDTL[i].SCMDISCRATE, new { id = "B_SCMDISCRATE_" + i })
                                                    @Html.HiddenFor(model => Model.TBATCHDTL[i].RECPROGSLNO, new { id = "B_RECPROGSLNO_" + i })
                                                    @Html.HiddenFor(model => Model.TBATCHDTL[i].RECPROGITSTYLE, new { id = "B_RECPROGITSTYLE_" + i })
                                                    @Html.HiddenFor(model => Model.TBATCHDTL[i].RECPROGITCD, new { id = "B_RECPROGITCD_" + i })
                                                    @Html.HiddenFor(model => model.TBATCHDTL[i].ParentSerialNo, new { id = "P_ParentSerialNo_" + i })
  </td>
                                                <td class="sticky-cell" style="left:17px;">
                                                    @Html.TextBoxFor(model => Model.TBATCHDTL[i].SLNO, new { id = "B_SLNO_" + i, @class = " atextBoxFor ", @style = "text-align:center;", maxlength = 2, @TabIndex = -1, @readonly = "readonly" })
                                                </td>
                                                <td class="sticky-cell" style="left:40px">
                                                    @Html.TextBoxFor(model => Model.TBATCHDTL[i].TXNSLNO, new { id = "B_TXNSLNO_" + i, @class = " atextBoxFor ", @style = "text-align:center;", maxlength = 4, @onkeypress = "return numericOnly(this);", @onchange = "HasChangeBarSale();" })
                                                </td>
                                                <td class="">
                                                    @Html.TextBoxFor(model => Model.TBATCHDTL[i].BARNO, new { id = "B_BARNO_" + i, maxlength = 20, onkeydown = "toUpper(this);GetHelpBlur('" + @Url.Action("GetBarCodeDetailsGrid", "T_OUTISSPROCESS_NEW") + "','Barno Details','B_BARNO_" + i + "','B_BARNO_" + i + "=BARNO=0/B_MTRLJOBCD_" + i + "=MTRLJOBCD=2/B_PARTCD_" + i + "=PARTCD=5/B_ITCD_" + i + "=ITCD/B_ITSTYLE_" + i + "=ITSTYLE=3/B_UOM_" + i + "=UOMCD/B_ITGRPCD_" + i + "=ITGRPCD/B_ITGRPNM_" + i + "=ITGRPNM/B_COLRCD_" + i + " =COLRCD/B_SIZECD_" + i + " =SIZECD/B_COLRNM_" + i + "=COLRNM','B_MTRLJOBCD_" + i + "/B_PARTCD_" + i + "/DOCDT/TAXGRPCD/GOCD/PRCCD/B_MTRLJOBCD_" + i + "/B_MTRLJOBCD_" + i + "/callfrmbar/QTY');", onblur = "Program_GetBarnoDetails(this.value,'" + "B_BARNO_" + i + "','" + "B_MTRLJOBCD_" + i + "','" + "B_PARTCD_" + i + "','" + "B_ITCD_" + i + "','" + "B_ITSTYLE_" + i + "','" + "B_UOM_" + i + "','" + "B_ITGRPCD_" + i + "','" + "B_ITGRPNM_" + i + "','" + "B_COLRCD_" + i + "','" + "B_SIZECD_" + i + "','" + "B_COLRNM_" + i + "','" + "B_MTRLJOBNM_" + i + "','','','','','','QTY','bar',"+i+");", @placeholder = "barno", @class = " atextBoxFor textbox_image" })
                                                    <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetBarCodeDetailsGrid", "T_OUTISSPROCESS_NEW")','Barno Details','B_BARNO_@i','B_BARNO_@i=BARNO=0/B_MTRLJOBCD_@i=MTRLJOBCD=2/B_PARTCD_@i=PARTCD=5/B_ITCD_@i=ITCD/B_ITSTYLE_@i=ITSTYLE=3/B_UOM_@i=UOMCD/B_ITGRPCD_@i=ITGRPCD/B_ITGRPNM_@i=ITGRPNM/B_COLRCD_@i =COLRCD/B_SIZECD_@i =SIZECD/B_COLRNM_@i=COLRNM','B_MTRLJOBCD_@i/B_PARTCD_@i/DOCDT/TAXGRPCD/GOCD/PRCCD/B_MTRLJOBCD_@i/B_MTRLJOBCD_@i/callfrmbar/QTY');" />
                                                </td>
                                                <td class="">
                                                    @Html.TextBoxFor(model => Model.TBATCHDTL[i].ITSTYLE, new { id = "B_ITSTYLE_" + i, maxlength = 20, onkeydown = "toUpper(this);GetHelpBlur('" + @Url.Action("GetBarCodeDetailsGrid", "T_OUTISSPROCESS_NEW") + "','Design No Details','B_ITSTYLE_" + i + "','B_ITSTYLE_" + i + "=ITSTYLE=3/B_BARNO_" + i + "=BARNO=0/B_MTRLJOBCD_" + i + "=MTRLJOBCD=2/B_PARTCD_" + i + "=PARTCD=5/B_ITCD_" + i + "=ITCD/B_UOM_" + i + "=UOMCD/B_ITGRPCD_" + i + "=ITGRPCD/B_ITGRPNM_" + i + "=ITGRPNM/B_COLRCD_" + i + " =COLRCD/B_SIZECD_" + i + " =SIZECD/B_COLRNM_" + i + "=COLRNM','B_MTRLJOBCD_" + i + "/B_PARTCD_" + i + "/DOCDT/TAXGRPCD/GOCD/PRCCD/B_MTRLJOBCD_" + i + "/B_MTRLJOBCD_" + i + "/callfrmstyle/QTY');", onblur = "Program_GetBarnoDetails(this.value,'" + "B_BARNO_" + i + "','" + "B_MTRLJOBCD_" + i + "','" + "B_PARTCD_" + i + "','" + "B_ITCD_" + i + "','" + "B_ITSTYLE_" + i + "','" + "B_UOM_" + i + "','" + "B_ITGRPCD_" + i + "','" + "B_ITGRPNM_" + i + "','" + "B_COLRCD_" + i + "','" + "B_SIZECD_" + i + "','" + "B_COLRNM_" + i + "','" + "B_MTRLJOBNM_" + i + "','','','','','','QTY','style'," + i + ");", @placeholder = "Design No", @class = " atextBoxFor textbox_image" })
                                                    <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetBarCodeDetailsGrid", "T_OUTISSPROCESS_NEW")','Design No Details','B_ITSTYLE_@i','B_ITSTYLE_@i=ITSTYLE=3/B_BARNO_@i=BARNO=0/B_MTRLJOBCD_@i=MTRLJOBCD=2/B_PARTCD_@i=PARTCD=5/B_ITCD_@i=ITCD/B_UOM_@i=UOMCD/B_ITGRPCD_@i=ITGRPCD/B_ITGRPNM_@i=ITGRPNM/B_COLRCD_@i =COLRCD/B_SIZECD_@i =SIZECD/B_COLRNM_@i=COLRNM','B_MTRLJOBCD_@i/B_PARTCD_@i/DOCDT/TAXGRPCD/GOCD/PRCCD/B_MTRLJOBCD_@i/B_MTRLJOBCD_@i/callfrmstyle/QTY');" />
                                                    @Html.HiddenFor(model => model.TBATCHDTL[i].STYLENO, new { id = "B_STYLENO_" + i })
                                                </td>
                                                <td class="">
                                                    @Html.TextBoxFor(model => Model.TBATCHDTL[i].ITGRPCD, new { id = "B_ITGRPCD_" + i, maxlength = 8, onkeydown = "GetHelpBlur('" + @Url.Action("GetItemGroupDetails", "T_OUTISSPROCESS_NEW") + "','Group Details','" + "B_ITGRPCD_" + i + "','" + "B_ITGRPCD_" + i + "=itgrpcd=1/" + "B_ITGRPNM_" + i + "=itgrpnm=0');", onblur = "GetHelpBlur('" + @Url.Action("GetItemGroupDetails", "T_OUTISSPROCESS_NEW") + "','Group Details','" + "B_ITGRPCD_" + i + "','" + "B_ITGRPCD_" + i + "=itgrpcd=1/" + "B_ITGRPNM_" + i + "=itgrpnm=0');", @placeholder = "ITGRPCD", @class = " atextBoxFor textbox_image" })
                                                    <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetItemGroupDetails", "T_OUTISSPROCESS_NEW")','Group Details','B_ITGRPCD_@i','B_ITGRPCD_@i=itgrpcd=1/B_ITGRPNM_@i=itgrpnm=0')" />
                                                </td>
                                                <td class="">
                                                    @Html.TextBoxFor(model => Model.TBATCHDTL[i].ITGRPNM, new { id = "B_ITGRPNM_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })

                                                </td>
                                                <td class="">
                                                    @Html.TextBoxFor(model => Model.TBATCHDTL[i].ITCD, new { id = "B_ITCD_" + i, maxlength = 10, onkeydown = "GetHelpBlur('" + @Url.Action("GetGridItemDetails", "T_OUTISSPROCESS_NEW") + "','Item Details','" + "B_ITCD_" + i + "','" + "B_ITCD_" + i + "=ITCD=2/" + "B_ITSTYLE_" + i + "=ITNM=1/" + "B_UOM_" + i + "=UOMCD=3/" + "B_ITSTYLE_" + i + "=ITSTYLE/" + "B_ITGRPCD_" + i + "=ITGRPCD=5/" + "B_ITGRPNM_" + i + "=ITGRPNM=4','B_ITGRPCD_" + i + "');", onblur = "GetHelpBlur('" + @Url.Action("GetGridItemDetails", "T_OUTISSPROCESS_NEW") + "','Item Details','" + "B_ITCD_" + i + "','" + "B_ITCD_" + i + "=ITCD=2/" + "B_ITSTYLE_" + i + "=ITNM=1/" + "B_UOM_" + i + "=UOMCD=3/" + "B_ITSTYLE_" + i + "=ITSTYLE/" + "B_ITGRPCD_" + i + "=ITGRPCD=5/" + "B_ITGRPNM_" + i + "=ITGRPNM=4','B_ITGRPCD_" + i + " ');", @placeholder = "ITCD", @class = " atextBoxFor textbox_image" })
                                                    <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetGridItemDetails", "T_OUTISSPROCESS_NEW")','Item Details','B_ITCD_@i','B_ITCD_@i=ITCD=2/B_ITSTYLE_@i=ITNM=1/B_UOM_@i=UOMCD=3/B_ITSTYLE_@i=ITSTYLE/B_ITGRPCD_@i=ITGRPCD=5/B_ITGRPNM_@i=ITGRPNM=4','B_ITGRPCD_@i')" />
                                                </td>                                              
                                                <td class="">
                                                    @Html.TextBoxFor(model => Model.TBATCHDTL[i].MTRLJOBCD, new { id = "B_MTRLJOBCD_" + i, maxlength = 4, onkeydown = "GetHelpBlur('" + @Url.Action("GetMaterialDetails", "T_OUTISSPROCESS_NEW") + "','Material Job Details','" + "B_MTRLJOBCD_" + i + "','" + "B_MTRLJOBCD_" + i + "=MTRLJOBCD=1/" + "B_MTRLJOBNM_" + i + "=MTRLJOBNM=0');", onblur = "GetHelpBlur('" + @Url.Action("GetMaterialDetails", "T_OUTISSPROCESS_NEW") + "','Material Job Details','" + "B_MTRLJOBCD_" + i + "','" + "B_MTRLJOBCD_" + i + "=MTRLJOBCD=1/" + "B_MTRLJOBNM_" + i + "=MTRLJOBNM=0');", @placeholder = "MTRLJOBCD", @class = " atextBoxFor textbox_image" })
                                                    <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetMaterialDetails", "T_OUTISSPROCESS_NEW")','Material Job Details','B_MTRLJOBCD_@i','B_MTRLJOBCD_@i=MTRLJOBCD=1/B_MTRLJOBNM_@i=MTRLJOBNM=0')" />
                                                </td>
                                                <td class="">
                                                    @Html.TextBoxFor(model => Model.TBATCHDTL[i].MTRLJOBNM, new { id = "B_MTRLJOBNM_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                                    @Html.HiddenFor(model => model.TBATCHDTL[i].MTBARCODE, new { id = "B_MTBARCODE_" + i })
                                                </td>
                                                <td class="">
                                                    @Html.DropDownListFor(model => Model.TBATCHDTL[i].STKTYPE, new SelectList(Model.DropDown_list_StkType, "value", "text", Model.TBATCHDTL[i].STKTYPE), new { id = "B_STKTYPE_" + i, @class = "atextBoxFor select_3d", @TabIndex = -1 })
                                                </td>
                                                <td class="">
                                                    @Html.TextBoxFor(model => Model.TBATCHDTL[i].PARTCD, new { id = "B_PARTCD_" + i, maxlength = 4, onkeydown = "GetHelpBlur('" + @Url.Action("GetPartDetails", "T_OUTISSPROCESS_NEW") + "','Part Details','" + "B_PARTCD_" + i + "','" + "B_PARTCD_" + i + "=PARTCD=1/B_PARTNM_" + i + "=PARTNM=0/B_PRTBARCODE_" + i + "=PRTBARCODE');", onblur = "GetHelpBlur('" + @Url.Action("GetPartDetails", "T_OUTISSPROCESS_NEW") + "','Part Details','" + "B_PARTCD_" + i + "','" + "B_PARTCD_" + i + "=PARTCD=1/B_PARTNM_" + i + "=PARTNM=0/B_PRTBARCODE_" + i + "=PRTBARCODE');", @placeholder = "PARTCD", @class = " atextBoxFor textbox_image" })
                                                    <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetPartDetails", "T_OUTISSPROCESS_NEW")','Part Details','B_PARTCD_@i','B_PARTCD_@i=PARTCD=1/B_PARTNM_@i=PARTNM=0/B_PRTBARCODE_@i=PRTBARCODE')" />
                                                    @Html.HiddenFor(model => model.TBATCHDTL[i].PARTNM, new { id = "B_PARTNM_" + i })
                                                    @Html.HiddenFor(model => model.TBATCHDTL[i].PRTBARCODE, new { id = "B_PRTBARCODE_" + i })
                                                </td>
                                                <td class="">
                                                    @Html.TextBoxFor(model => Model.TBATCHDTL[i].COLRCD, new { id = "B_COLRCD_" + i, maxlength = 4, onkeydown = "GetHelpBlur('" + @Url.Action("GetColorDetails", "T_OUTISSPROCESS_NEW") + "','Color Details','" + "B_COLRCD_" + i + "','" + "B_COLRCD_" + i + "=COLRCD=1/" + "B_COLRNM_" + i + "=COLRNM=0/" + "B_CLRBARCODE_" + i + "=CLRBARCODE=2');", onblur = "GetHelpBlur('" + @Url.Action("GetColorDetails", "T_OUTISSPROCESS_NEW") + "','Color Details','" + "B_COLRCD_" + i + "','" + "B_COLRCD_" + i + "=COLRCD=1/" + "B_COLRNM_" + i + "=COLRNM=0/" + "B_CLRBARCODE_" + i + "=CLRBARCODE=2');", @placeholder = "COLRCD", @class = " atextBoxFor textbox_image" })
                                                    <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetColorDetails", "T_OUTISSPROCESS_NEW")','Color Details','B_COLRCD_@i','B_COLRCD_@i=COLRCD=1/B_COLRNM_@i=COLRNM=0/B_CLRBARCODE_@i=CLRBARCODE=2')" />
                                                    @Html.HiddenFor(model => model.TBATCHDTL[i].CLRBARCODE, new { id = "B_CLRBARCODE_" + i })
                                                </td>
                                                <td class="">
                                                    @Html.TextBoxFor(model => Model.TBATCHDTL[i].COLRNM, new { id = "B_COLRNM_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                                </td>
                                                <td class="">
                                                    @Html.TextBoxFor(model => Model.TBATCHDTL[i].SIZECD, new { id = "B_SIZECD_" + i, maxlength = 4, onkeydown = "GetHelpBlur('" + @Url.Action("GetSizeDetails", "T_OUTISSPROCESS_NEW") + "','Size Details','" + "B_SIZECD_" + i + "','" + "B_SIZECD_" + i + "=SIZECD=1/B_SIZENM_" + i + "=SIZENM=0/B_SZBARCODE_" + i + "=SZBARCODE=2');", onblur = "GetHelpBlur('" + @Url.Action("GetSizeDetails", "T_OUTISSPROCESS_NEW") + "','Size Details','" + "B_SIZECD_" + i + "','" + "B_SIZECD_" + i + "=SIZECD=1/B_SIZENM_" + i + "=SIZENM=0/B_SZBARCODE_" + i + "=SZBARCODE=2');", @placeholder = "SIZECD", @class = " atextBoxFor textbox_image" })
                                                    <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetSizeDetails", "T_OUTISSPROCESS_NEW")','Size Details','B_SIZECD_@i','B_SIZECD_@i=SIZECD=1/B_SIZENM_@i=SIZENM=0/B_SZBARCODE_@i=SZBARCODE=2')" />
                                                    @Html.HiddenFor(model => model.TBATCHDTL[i].SIZENM, new { id = "B_SIZENM_" + i })
                                                    @Html.HiddenFor(model => model.TBATCHDTL[i].SZBARCODE, new { id = "B_SZBARCODE_" + i })
                                                </td>
                                                <td class="">
                                                    @Html.TextBoxFor(model => Model.TBATCHDTL[i].SHADE, new { id = "B_SHADE_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                                </td>
                                                <td class="">
                                                    @Html.EditorFor(model => Model.TBATCHDTL[i].BALSTOCK, new { htmlAttributes = new { id = "B_BALSTOCK_" + i, @class = " atextBoxFor ", @style = "text-align: right;", @TabIndex = -1, @readonly = "readonly" } })
                                                    @Html.HiddenFor(model => model.TBATCHDTL[i].NEGSTOCK, new { id = "B_NEGSTOCK_" + i })
                                                </td>
                                                <td class="">
                                                    @Html.EditorFor(model => Model.TBATCHDTL[i].CUTLENGTH, new { htmlAttributes = new { id = "B_CUTLENGTH_" + i, @style = "text-align: right;", @onkeypress = "return numericOnly(this,2);", onblur = "CalculateBargridQnty('_T_SALE_PRODUCT_GRID', " + i + ");", @class = " atextBoxFor", maxlength = 6 } })
                                                </td>
                                                <td class="">
                                                    @Html.EditorFor(model => Model.TBATCHDTL[i].NOS, new { htmlAttributes = new { id = "B_NOS_" + i, @style = "text-align: right;", @onkeypress = "return numericOnly(this,3);", onblur = "CalculateBargridQnty('_T_SALE_PRODUCT_GRID', " + i + ");", @class = " atextBoxFor", maxlength = 12 } })
                                                </td>
                                                <td class="">
                                                    @Html.EditorFor(model => Model.TBATCHDTL[i].QNTY, new { htmlAttributes = new { id = "B_QNTY_" + i, @style = "text-align: right;", @onkeypress = "return numericOnly(this,3);", onblur = "CalculateBargridQnty('_T_SALE_PRODUCT_GRID', " + i + ");IssueQntyChk('B_BALSTOCK_" + i + "', 'B_BOMQNTY_" + i + "', 'B_NEGSTOCK_" + i + "', 'B_QNTY_" + i + "', 'B_ITCD_" + i + "', 'B_SLNO_" + i + "','GRID');", @class = " atextBoxFor", maxlength = 12 } })
                                                    @Html.HiddenFor(model => model.TBATCHDTL[i].BOMQNTY, new { id = "B_BOMQNTY_" + i })
                                                </td>
                                                <td class="">
                                                    @Html.TextBoxFor(model => Model.TBATCHDTL[i].UOM, new { id = "B_UOM_" + i, @class = " atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                                </td>
                                                <td class="">
                                                    <button class="atextBoxFor btn-info" type="button" id="btnRateHistory_@i" title="Rate History" onclick="RateHistoryDetails('@i')" data-toggle="modal" data-target="#RateHistoryModal">Show</button>
                                                </td>
                                                <td class="">
                                                    @Html.EditorFor(model => Model.TBATCHDTL[i].RATE, new { htmlAttributes = new { id = "B_RATE_" + i, @style = "text-align: right;", @onkeypress = "return numericOnly(this,2);", @class = " atextBoxFor", maxlength = 14, @onchange = "Sale_GetGstPer(" + i + ",'#B_');RateUpdate(" + i + ", '#B_');HasChangeBarSale();" } })
                                                </td>
                                                <td class="">
                                                    @Html.EditorFor(model => Model.TBATCHDTL[i].GSTPER, new { htmlAttributes = new { @class = "atextBoxFor", @style = "text-align: right;", id = "B_GSTPER_" + i, @onkeypress = "return numericOnly(this,2);", maxlength = 5, @TabIndex = -1, @readonly = "readonly" } })
                                                    @Html.HiddenFor(model => model.TBATCHDTL[i].PRODGRPGSTPER, new { id = "B_PRODGRPGSTPER_" + i })
                                                </td>
                                                <td class="">
                                                    @Html.TextBoxFor(model => Model.TBATCHDTL[i].ITREM, new { id = "B_ITREM_" + i, @class = " atextBoxFor ", maxlength = 100, onclick = "OpenZoomTextBoxModal(this.id)", @data_toggle = "modal", @data_target = "#ZoomTextBoxModal", onblur = "HasChangeBarSale();" })
                                                </td>
                                                <td class="">
                                                    <button type="button" onclick="T_Sale_FillImageModal(@i)" data-toggle="modal" data-target="#ViewImageModal" id="OpenImageModal_@i" class="btn atextBoxFor text-info" style="padding:0px">@Model.TBATCHDTL[i].BarImagesCount</button>
                                                </td>
                                                <td class="">
                                                    @if (Model.DefaultAction != "V" && Model.MENU_PARA == "PB" && Model.T_TXN != null && (Model.TBATCHDTL[i].BARGENTYPE == "E" || Model.T_TXN.BARGENTYPE == "E"))
                                                    {
                                                        <input type="button" value="Upload" class="btn-sm atextBoxFor" onclick="UploadBarnoImage('@i');" style="padding:0px">
                                                    }
                                                    @Html.HiddenFor(model => model.TBATCHDTL[i].BarImages, new { id = "B_BarImages_" + i })
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr class="sticky-footer">
                                        <td class="sticky-cell" style="width:20px;"> <input type="text" class="atextBoxFor" readonly="readonly" />  </td>
                                        <td class="sticky-cell" style="left:20px;"><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                        <td class="sticky-cell" style="left:40px;"><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
 <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                        <td style="text-align:right;">
                                            <input type="text" value="Total:" class="atextBoxFor" style="font-weight:bold;color:red;text-align:right" readonly="readonly" />
                                        </td>
                                        <td style="text-align:right;">
                                            @Html.EditorFor(model => Model.B_T_NOS, new { htmlAttributes = new { id = "B_T_NOS", @class = "atextBoxFor text-right", style = "font-weight:bold;color:red;", @readonly = "readonly" } })
                                        </td>
                                        <td style="text-align:right;">
                                            @Html.EditorFor(model => Model.B_T_QNTY, new { htmlAttributes = new { id = "B_T_QNTY", @class = "atextBoxFor text-right", style = "font-weight:bold;color:red;", @readonly = "readonly" } })
                                        </td>
                                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>@*rate hist*@
                                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>@*RATE*@
                                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                        <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>@*upload*@
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="row">
        @if (Model.DefaultAction != "V")
            {
            <div class="col-md-4" style="width:auto;">
                <input type="button" class="btn btn-success" id="btnPopupClose" value="Close" style="margin-top:4px;padding: 2px 5px 2px 5px;" onclick="ClosePopupMI();" />
            </div>
        }
        <div class="col-md-4" style="width:auto;">
            <input type="button" class="btn btn-danger" id="btnPopupCancel" value="Cancel" style="margin-top:4px;padding: 2px 5px 2px 5px;" onclick="CancelPopupMI();" />
        </div>
    </div>
</div>
