@model Improvar.ViewModels.TransactionOutRecProcess
<script type="text/javascript">
    $(document).ready(function () {
        resizableTables[resizableTables.length] = new ColumnResize(document.getElementById('_T_OUTRECPROCESS_Programme_GRID'));
        $("td").on("mouseover", function (e) { var titlee = $(this).find("input").val(); $(this).attr('title', titlee); });

    });

</script>
<div style="transform: translate(0%, 0%);z-index: 1100;">
    <div class="table-responsive">
        @if (Model.DefaultView == true)
        {
            @Html.ValidationSummary(true)
            <div class="grid_title">
                @if (Model.DefaultAction == "A" || Model.DefaultAction == "E")
                {
                    @*<input type="text" id="AddRowsMain" name="AddRowsMain" placeholder="rows" style="font-size: 11px;font-weight: bold;width:40px;height:17px;float:left;padding: 2px;" maxlength="3" onkeypress="return numericOnly(this);" />*@
                    @*<img src="~/Image/Plus.png" id="btnAdd" title="Add Row" class="Help_image_buttonAddRemove" onclick="Addrow('AddRowsMain')" />*@
                    <img src="~/Image/Minus.png" id="btnDelete" title="Delete Row" class="Help_image_buttonAddRemove" onclick="DeleteRow()" />
                }
                <div class="col-md-8">
                    <input type="text" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, '_T_OUTRECPROCESS_Programme_GRID');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                @if (Model.DefaultAction != "V")
                {
                    <div class="col-md-1" style="width:auto;">
                        <input type="button" class="btn-sm btn-info" style="padding: 0px 7px 0px 7px;" name="FillReceive" value="Qnty Update in Receive" title="Click to Fill Data in Receive Tab" onclick="FillReceiveTab()" />
                    </div>
                }
                <center style="font-size:11px;color:darkmagenta;border:1px inset;height: 21px;padding: 4px;">
                    <b>Programme Details</b>
                </center>
            </div>
            <div class="sticky-table sticky-ltr-cells">
                <div style="height:auto;overflow-y:scroll;max-height:235px;overflow-x:hidden;">
                    <table id="_T_OUTRECPROCESS_Programme_GRID" class="resizable table-striped" cellpadding="0px" cellspacing="0px" style="width: 1180px;">
                        <thead>
                            <tr class="sticky-header" style="height:30px;">
                                <th class="sticky-cell" style="width: 20px;"></th>
                                <th class="sticky-cell" style="width: 20px;text-align:center;left:27px">SL No</th>
                                <th class="" style="width:100px;">Item Group</th>
                                <th class="" style="width:160px;">Item</th>
                                <th class="" style="width:180px;">Style No</th>
                                <th class="" style="width:50px;">UOM</th>
                                <th class="" style="width:50px;">Color</th>
                                <th class="" style="width:50px;">Size</th>
                                <th class="" style="width: 50px;">Shade</th>
                                @if (Model.MENU_PARA == "DY")
                                {
                                    <th class="" style="width:60px;text-align:right;">Cut Length</th>
                                }
                                <th class="" style="width:80px;text-align:right;">Nos</th>
                                <th class="" style="width:80px;text-align:right;">Quantity</th>
                                <th class="" style="width:50px;text-align:right;">Short Quantity</th>
                                <th class="">Remarks</th>
                                @if (Model.MENU_PARA == "DY" || Model.MENU_PARA == "PR" || Model.MENU_PARA == "ST" || Model.MENU_PARA == "EM" || Model.MENU_PARA == "JW" || Model.MENU_PARA == "IR")
                                {
                                    <th class="" style="text-align:center;width:27px;">No Job</th>
                                }
                                <th class="" style="text-align:center;width:27px;">Sample</th>
                                <th class="" style="width:50px;">PROGAUTONO</th>
                                <th class="" style="width:50px;">PROGSLNO</th>
                                <th class="" style="width:30px; text-align:center">Img</th>
                                @*<th class="" style="width:25px;">Image Upload</th>*@
                                @*<th class="" style="width: 81px;">Material Job Code <b style="color:Red;">*</b></th>
                                    <th class="" style="width:100px;">Material Job Name</th>
                                    <th class="" style="width:100px;">Part</th>
                                    <th class="" style="width: 81px;">Color Code</th>*@

                                @*<th class="" style="width:81px;">Barno</th>
                                    <th class="" style="width:81px;">Group Code</th>*@
                                @*<th class="" style="width:110px;">Item Code <b style="color:Red;">*</b></th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.TPROGDTL != null)
                            {
                                for (int i = 0; i <= Model.TPROGDTL.Count - 1; i++)
                                {
                                    <tr style="font-size:12px; font-weight:bold;">
                                        <td class="sticky-cell" style="padding-left:7px;padding-right:7px;">
                                            @Html.CheckBoxFor(model => model.TPROGDTL[i].Checked, new { id = "P_chkid_" + i, @TabIndex = -1 })
                                            @*@Html.HiddenFor(model => model.TPROGDTL[i].PROGAUTONO, new { id = "P_PROGAUTONO_" + i })
                                                @Html.HiddenFor(model => model.TPROGDTL[i].PROGSLNO, new { id = "P_PROGSLNO_" + i })*@
                                            @Html.HiddenFor(model => model.TPROGDTL[i].PROGAUTOSLNO, new { id = "P_PROGAUTOSLNO_" + i })
                                            @Html.HiddenFor(model => model.TPROGDTL[i].PROGUNIQNO, new { id = "P_PROGUNIQNO_" + i })
                                            @Html.HiddenFor(model => model.TPROGDTL[i].BARNO, new { id = "P_BARNO_" + i })
                                            @Html.HiddenFor(model => model.TPROGDTL[i].COMMONUNIQBAR, new { id = "P_COMMONUNIQBAR_" + i })
                                            @*@Html.HiddenFor(model => model.TPROGDTL[i].DOCNO, new { id = "P_DOCNO_" + i })
                                                @Html.HiddenFor(model => model.TPROGDTL[i].DOCDT, new { id = "P_DOCDT_" + i })*@
                                            @if (Model.MENU_PARA != "DY")
                                            {
                                                @Html.HiddenFor(model => model.TPROGDTL[i].CUTLENGTH, new { id = "P_CUTLENGTH_" + i })
                                            }
                                        </td>
                                        <td class="sticky-cell" style="left:27px;">
                                            @Html.TextBoxFor(model => Model.TPROGDTL[i].SLNO, new { id = "P_SLNO_" + i, @class = " atextBoxFor ", @style = "text-align:center;", maxlength = 2, @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        @*<td class="">
                                                @Html.TextBoxFor(model => Model.TPROGDTL[i].BARNO, new { id = "P_BARNO_" + i, maxlength = 20, onkeydown = "GetHelpBlur('" + @Url.Action("GetBarCodeDetails", "T_OUTRECPROCESS") + "','Barno Details','" + "P_BARNO_" + i + "','" + "P_BARNO_" + i + "=BARNO=0/P_ITCD_" + i + "=ITCD/" + "P_ITNM_" + i + "=ITSTYLE/" + "P_UOM_" + i + "=UOMCD/" + "P_ITGRPCD_" + i + "=ITGRPCD/" + "P_ITGRPNM_" + i + "=ITGRPNM/" + "P_COLRCD_" + i + "=COLRCD/" + "P_SIZECD_" + i + "=SIZECD/" + "P_COLRNM_" + i + "=COLRNM','DOCDT/TAXGRPCD/GOCD/PRCCD/P_MTRLJOBCD_" + i + "/P_ITCD_" + i + "/P_ITGRPCD_" + i + "');RepeatAboveRow_TPROGBOM('" + i + "');", onblur = "GetHelpBlur('" + @Url.Action("GetBarCodeDetails", "T_OUTRECPROCESS") + "','Barno Details','" + "P_BARNO_" + i + "','" + "P_BARNO_" + i + "=BARNO=0/P_ITCD_" + i + "=ITCD/" + "P_ITNM_" + i + "=ITSTYLE/" + "P_UOM_" + i + "=UOMCD/" + "P_ITGRPCD_" + i + "=ITGRPCD/" + "P_ITGRPNM_" + i + "=ITGRPNM/" + "P_COLRCD_" + i + "=COLRCD/" + "P_SIZECD_" + i + "=SIZECD/" + "P_COLRNM_" + i + "=COLRNM','DOCDT/TAXGRPCD/GOCD/PRCCD/P_MTRLJOBCD_" + i + "/P_ITCD_" + i + "/P_ITGRPCD_" + i + "');", @placeholder = "barno", @class = " atextBoxFor textbox_image" })
                                                <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetBarCodeDetails", "T_OUTRECPROCESS")','Barno Details','P_BARNO_@i','P_BARNO_@i=BARNO=0/P_ITCD_@i=ITCD/P_ITNM_@i=ITSTYLE/P_UOM_@i=UOMCD/P_ITGRPCD_@i=ITGRPCD/P_ITGRPNM_@i=ITGRPNM/P_COLRCD_@i =COLRCD/P_SIZECD_@i =SIZECD/P_COLRNM_@i=COLRNM','DOCDT/TAXGRPCD/GOCD/PRCCD/P_MTRLJOBCD_@i/P_ITCD_@i/P_ITGRPCD_@i');" />
                                            </td>*@
                                        @*<td class="">
                                                @Html.TextBoxFor(model => Model.TPROGDTL[i].ITGRPCD, new { id = "P_ITGRPCD_" + i, maxlength = 8, onkeydown = "GetHelpBlur('" + @Url.Action("GetItemGroupDetails", "T_OUTRECPROCESS") + "','Group Details','" + "P_ITGRPCD_" + i + "','" + "P_ITGRPCD_" + i + "=itgrpcd=1/" + "P_ITGRPNM_" + i + "=itgrpnm=0');", onblur = "GetHelpBlur('" + @Url.Action("GetItemGroupDetails", "T_OUTRECPROCESS") + "','Group Details','" + "P_ITGRPCD_" + i + "','" + "P_ITGRPCD_" + i + "=itgrpcd=1/" + "P_ITGRPNM_" + i + "=itgrpnm=0');", @placeholder = "ITGRPCD", @class = " atextBoxFor textbox_image" })
                                                <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetItemGroupDetails", "T_OUTRECPROCESS")','Group Details','P_ITGRPCD_@i','P_ITGRPCD_@i=itgrpcd=1/P_ITGRPNM_@i=itgrpnm=0')" />
                                            </td>*@
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGDTL[i].ITGRPNM, new { id = "P_ITGRPNM_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                            @Html.HiddenFor(model => model.TPROGDTL[i].ITGRPCD, new { id = "P_ITGRPCD_" + i })
                                            @Html.HiddenFor(model => model.TPROGDTL[i].BARGENTYPE, new { id = "P_BARGENTYPE_" + i })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGDTL[i].ITCD, new { id = "P_ITCD_" + i, maxlength = 10, onkeydown = "GetHelpBlur('" + @Url.Action("GetGridItemDetails", "T_OUTRECPROCESS") + "','Item Details','" + "P_ITCD_" + i + "','" + "P_ITCD_" + i + "=ITCD=2/" + "P_ITNM_" + i + "=ITNM=1/" + "P_UOM_" + i + "=UOMCD=3/" + "P_ITSTYLE_" + i + "=ITSTYLE/" + "P_ITGRPCD_" + i + "=ITGRPCD=5/" + "P_ITGRPNM_" + i + "=ITGRPNM=4');", onblur = "GetHelpBlur('" + @Url.Action("GetGridItemDetails", "T_OUTRECPROCESS") + "','Item Details','" + "P_ITCD_" + i + "','" + "P_ITCD_" + i + "=ITCD=2/" + "P_ITNM_" + i + "=ITNM=1/" + "P_UOM_" + i + "=UOMCD=3/" + "P_ITSTYLE_" + i + "=ITSTYLE/" + "P_ITGRPCD_" + i + "=ITGRPCD=5/" + "P_ITGRPNM_" + i + "=ITGRPNM=4');", @placeholder = "ITCD", @class = " atextBoxFor textbox_image" })
                                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetGridItemDetails", "T_OUTRECPROCESS")','Item Details','P_ITCD_@i','P_ITCD_@i=ITCD=2/P_ITNM_@i=ITNM=1/P_UOM_@i=UOMCD=3/P_ITSTYLE_@i=ITSTYLE/P_ITGRPCD_@i=ITGRPCD=5/P_ITGRPNM_@i=ITGRPNM=4')" />
                                        </td>
                                        @*<td class="">
                                                @Html.TextBoxFor(model => Model.TPROGDTL[i].ITNM, new { id = "P_ITNM_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                                @Html.HiddenFor(model => model.TPROGDTL[i].ITCD, new { id = "P_ITCD_" + i })
                                                @Html.HiddenFor(model => model.TPROGDTL[i].FABITCD, new { id = "P_FABITCD_" + i })
                                            </td>*@
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGDTL[i].ITSTYLE, new { id = "P_ITSTYLE_" + i, @class = " atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                            @Html.HiddenFor(model => model.TPROGDTL[i].ITNM, new { id = "P_ITNM_" + i })
                                            @Html.HiddenFor(model => model.TPROGDTL[i].FABITCD, new { id = "P_FABITCD_" + i })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGDTL[i].UOM, new { id = "P_UOM_" + i, @class = " atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        @*<td class="">
                                                @Html.TextBoxFor(model => Model.TPROGDTL[i].MTRLJOBCD, new { id = "P_MTRLJOBCD_" + i, maxlength = 4, onkeydown = "GetHelpBlur('" + @Url.Action("GetMaterialDetails", "T_OUTRECPROCESS") + "','Material Job Details','" + "P_MTRLJOBCD_" + i + "','" + "P_MTRLJOBCD_" + i + "=MTRLJOBCD=1/" + "P_MTRLJOBNM_" + i + "=MTRLJOBNM=0');", onblur = "GetHelpBlur('" + @Url.Action("GetMaterialDetails", "T_OUTRECPROCESS") + "','Material Job Details','" + "P_MTRLJOBCD_" + i + "','" + "P_MTRLJOBCD_" + i + "=MTRLJOBCD=1/" + "P_MTRLJOBNM_" + i + "=MTRLJOBNM=0');", @placeholder = "MTRLJOBCD", @class = " atextBoxFor textbox_image" })
                                                <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetMaterialDetails", "T_OUTRECPROCESS")','Material Job Details','P_MTRLJOBCD_@i','P_MTRLJOBCD_@i=MTRLJOBCD=1/P_MTRLJOBNM_@i=MTRLJOBNM=0')" />
                                            </td>
                                            <td class="">
                                                @Html.TextBoxFor(model => Model.TPROGDTL[i].MTRLJOBNM, new { id = "P_MTRLJOBNM_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })

                                            </td>
                                            <td class="">

                                                @Html.TextBoxFor(model => Model.TPROGDTL[i].PARTCD, new { id = "P_PARTCD_" + i, maxlength = 4, onkeydown = "GetHelpBlur('" + @Url.Action("GetPartDetails", "T_OUTRECPROCESS") + "','Part Details','" + "P_PARTCD_" + i + "','" + "P_PARTCD_" + i + "=PARTCD=1');", onblur = "GetHelpBlur('" + @Url.Action("GetPartDetails", "T_OUTRECPROCESS") + "','Part Details','" + "P_PARTCD_" + i + "','" + "P_PARTCD_" + i + "=PARTCD=1');", @placeholder = "PARTCD", @class = " atextBoxFor textbox_image" })
                                                <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetPartDetails", "T_OUTRECPROCESS")','Part Details','P_PARTCD_@i','P_PARTCD_@i=PARTCD=1')" />

                                            </td>
                                            <td class="">

                                                @Html.TextBoxFor(model => Model.TPROGDTL[i].COLRCD, new { id = "P_COLRCD_" + i, maxlength = 4, onkeydown = "GetHelpBlur('" + @Url.Action("GetColorDetails", "T_OUTRECPROCESS") + "','Color Details','" + "P_COLRCD_" + i + "','" + "P_COLRCD_" + i + "=COLRCD=1/" + "P_COLRNM_" + i + "=COLRNM=0');", onblur = "GetHelpBlur('" + @Url.Action("GetColorDetails", "T_OUTRECPROCESS") + "','Color Details','" + "P_COLRCD_" + i + "','" + "P_COLRCD_" + i + "=COLRCD=1/" + "P_COLRNM_" + i + "=COLRNM=0');", @placeholder = "COLRCD", @class = " atextBoxFor textbox_image" })
                                                <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetColorDetails", "T_OUTRECPROCESS")','Color Details','P_COLRCD_@i','P_COLRCD_@i=COLRCD=1/P_COLRNM_@i=COLRNM=0')" />
                                            </td>*@
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGDTL[i].COLRNM, new { id = "P_COLRNM_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                            @Html.HiddenFor(model => model.TPROGDTL[i].COLRCD, new { id = "P_COLRCD_" + i })
                                        </td>
                                        @*<td class="">
                                                @Html.TextBoxFor(model => Model.TPROGDTL[i].SIZECD, new { id = "P_SIZECD_" + i, maxlength = 4, onkeydown = "GetHelpBlur('" + @Url.Action("GetSizeDetails", "T_OUTRECPROCESS") + "','Size Details','" + "P_SIZECD_" + i + "','" + "P_SIZECD_" + i + "=SIZECD=1');", onblur = "GetHelpBlur('" + @Url.Action("GetSizeDetails", "T_OUTRECPROCESS") + "','Size Details','" + "P_SIZECD_" + i + "','" + "P_SIZECD_" + i + "=SIZECD=1');", @placeholder = "SIZECD", @class = " atextBoxFor textbox_image" })
                                                <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetSizeDetails", "T_OUTRECPROCESS")','Size Details','P_SIZECD_@i','P_SIZECD_@i=SIZECD=1')" />
                                            </td>*@
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGDTL[i].SIZECD, new { id = "P_SIZECD_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGDTL[i].SHADE, new { id = "P_SHADE_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        @if (Model.MENU_PARA == "DY")
                                        {
                                            <td class="">
                                                @Html.TextBoxFor(model => Model.TPROGDTL[i].CUTLENGTH, new { id = "P_CUTLENGTH_" + i, @class = " atextBoxFor ", maxlength = 10, @onkeypress = "return numericOnly(this,4);", @style = "text-align:right;", @TabIndex = -1, @readonly = "readonly" })
                                            </td>
                                        }
                                        <td class="">
                                            @Html.EditorFor(model => Model.TPROGDTL[i].NOS, new { htmlAttributes = new { id = "P_NOS_" + i, @style = "text-align: right;", @onkeypress = "return numericOnly(this,3);", onblur = "CalculateBargridQnty('_T_OUTRECPROCESS_Programme_GRID', " + i + ");", @class = " atextBoxFor", maxlength = 12 } })
                                            @Html.HiddenFor(model => model.TPROGDTL[i].BALNOS, new { id = "P_BALNOS_" + i })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TPROGDTL[i].QNTY, new { htmlAttributes = new { id = "P_QNTY_" + i, @style = "text-align: right;", @onkeypress = "return numericOnly(this,3);", onblur = "CalculateBargridQnty('_T_OUTRECPROCESS_Programme_GRID', " + i + ");", @class = " atextBoxFor", maxlength = 12 } })
                                            @Html.HiddenFor(model => model.TPROGDTL[i].BALQNTY, new { id = "P_BALQNTY_" + i })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TPROGDTL[i].SHORTQNTY, new { htmlAttributes = new { id = "P_SHORTQNTY_" + i, @style = "text-align: right;", @onkeypress = "return numericOnly(this,3);", @class = " atextBoxFor", maxlength = 12, onblur = "CalculateTotalProgramme();" } })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGDTL[i].ITREMARK, new { id = "P_ITREMARK_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        @if (Model.MENU_PARA == "DY" || Model.MENU_PARA == "PR" || Model.MENU_PARA == "ST" || Model.MENU_PARA == "EM" || Model.MENU_PARA == "JW" || Model.MENU_PARA == "IR")
                                        {
                                            <td class="" style="padding-left:5px;">
                                                @Html.CheckBoxFor(model => model.TPROGDTL[i].CheckedJOBTXNTY, new { id = "P_CheckedJOBTXNTY_" + i })
                                            </td>
                                        }
                                        <td class="" style="padding-left:14px;">
                                            @Html.CheckBoxFor(model => model.TPROGDTL[i].CheckedSample, new { id = "P_CheckedSample_" + i, style = "pointer-events:none;background-color:#eee" })
                                            @Html.HiddenFor(model => model.TPROGDTL[i].SAMPLE, new { id = "P_SAMPLE_" + i })


                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGDTL[i].PROGAUTONO, new { id = "P_PROGAUTONO_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGDTL[i].PROGSLNO, new { id = "P_PROGSLNO_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            <button type="button" onclick="T_OUTRECPROCESS_FillImageModal(@i)" data-toggle="modal" data-target="#ViewImageModal" id="OpenImageModal_@i" class="btn atextBoxFor text-info" style="padding:0px">@Model.TPROGDTL[i].BarImagesCount</button>
                                            @Html.HiddenFor(model => model.TPROGDTL[i].BarImages, new { id = "B_BarImages_" + i })
  </td>
                                        @*<td class="">
                                            @if (Model.DefaultAction != "V" && Model.T_TXN != null && (Model.TPROGDTL[i].BARGENTYPE == "E" || Model.T_TXN.BARGENTYPE == "E"))
                                            {
                                                <input type="button" value="Upload" class="btn-sm atextBoxFor" onclick="UploadBarnoImage('@i');" style="padding:0px">
                                            }
                                        </td>*@
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr class="sticky-footer">
                                <td class="sticky-cell" style="width:27px;"> <input type="text" class="atextBoxFor" readonly="readonly" />  </td>
                                <td class="sticky-cell" style="left:27px;"><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td> @*itgrp*@
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td>
                                    @Html.EditorFor(model => Model.Prog_UomTotal, new { htmlAttributes = new { id = "Prog_UomTotal", @class = "atextBoxFor ", style = "font-weight:bold;color:red;", @readonly = "readonly" } })
                                </td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td style="text-align:right;"><input type="text" value="Total:" class="atextBoxFor" style="font-weight:bold;color:red;text-align:right;font-variant:petite-caps;" readonly="readonly" /></td>
                                @if (Model.MENU_PARA == "DY")
                                {
                                    <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                }
                                <td style="text-align:right;">
                                    @Html.EditorFor(model => Model.P_T_NOS, new { htmlAttributes = new { id = "P_T_NOS", @class = "atextBoxFor text-right", style = "font-weight:bold;color:red;", @readonly = "readonly" } })
                                </td>

                                <td style="text-align:right;">
                                    @Html.EditorFor(model => Model.P_T_QNTY, new { htmlAttributes = new { id = "P_T_QNTY", @class = "atextBoxFor text-right", style = "font-weight:bold;color:red;", @readonly = "readonly" } })
                                </td>
                                <td style="text-align:right;">
                                    @Html.EditorFor(model => Model.P_T_SHORTQNTY, new { htmlAttributes = new { id = "P_T_SHORTQNTY", @class = "atextBoxFor text-right", style = "font-weight:bold;color:red;", @readonly = "readonly" } })
                                </td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                @if (Model.MENU_PARA == "DY" || Model.MENU_PARA == "PR" || Model.MENU_PARA == "ST" || Model.MENU_PARA == "EM" || Model.MENU_PARA == "JW" || Model.MENU_PARA == "IR")
                                {
                                    <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                }
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                @*<td><input type="text" class="atextBoxFor" readonly="readonly" /></td>*@
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }
    </div>
    @*<div class="row">
            <div class="col-md-1" style="width:auto;">
                <input type="button" class="btn btn-primary" style="margin-top: 2px;padding: 2px 7px 1px 7px;" name="Edit" value="Edit Row" title="Click to Fill Data in Product Details" onclick="Fill_BarCodeData()" />
            </div>
            <div class="col-md-1" style="width:auto;">
                <input type="button" class="btn btn-primary" style="margin-top: 2px;padding: 2px 7px 1px 7px;" name="FillDetail" value="Fill Data Into Detail" title="Click to Fill Data in Details Tab" onclick="Fill_DetailData()" />
            </div>
        </div>*@
</div>
