@model Improvar.ViewModels.TransactionOutIssProcess
<script type="text/javascript">
    $(document).ready(function () {
        resizableTables[resizableTables.length] = new ColumnResize(document.getElementById('__T_OUTISSPROCESS_QtyRequirement_GRID'));
        $("td").on("mouseover", function (e) { var titlee = $(this).find("input").val(); $(this).attr('title', titlee); });

    });

</script>
<div style="transform: translate(0%, 0%);z-index: 1100;background-color:#c4b9b9;">
    <div class="table-responsive">
        @if (Model.DefaultView == true)
        {
            @Html.ValidationSummary(true)
            <div class="grid_title">
                @if (Model.DefaultAction == "A" || Model.DefaultAction == "E")
                {
                    <input type="text" id="AddRowsQTY" name="AddRowsQTY" placeholder="rows" style="font-size: 11px;font-weight: bold;width:40px;height:17px;float:left;padding: 2px;" maxlength="3" onkeypress="return numericOnly(this);" />
                    <img src="~/Image/Plus.png" id="btnAdd" title="Add Row" class="Help_image_buttonAddRemove" onclick="AddrowQTY('AddRowsQTY')" />
                    <img src="~/Image/Minus.png" id="btnDelete" title="Delete Row" class="Help_image_buttonAddRemove" onclick="DeleteRowQTY()" />
                }
                <div class="col-md-8">
                    <input type="text" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, '__T_OUTISSPROCESS_QtyRequirement_GRID');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                @if (Model.DefaultAction != "V")
                {
                    <div class="col-md-1" style="width:auto;">
                        <input type="button" class="btn-sm btn-info" style="padding: 0px 7px 0px 7px;" name="FillMaterialIssue" value="Generate Material Issue" title="Click to Fill Data in Material Issue Tab" onclick="Fill_MaterialIssueData()" />
                    </div>
                }
                <center style="font-size:11px;color:darkmagenta;border:1px inset;height: 21px;padding: 4px;">
                    <b>Genrate Qty Requirement</b>
                </center>
            </div>
            <div class="sticky-table sticky-ltr-cells">
                <div style="height:auto;overflow-y:scroll;max-height:235px;">
                    <table id="__T_OUTISSPROCESS_QtyRequirement_GRID" class="resizable table-striped" cellpadding="0px" cellspacing="0px" style="width: 1487px;">
                        <thead>
                            <tr class="sticky-header" style="height:30px;">
                                <th class="sticky-cell" style="width: 27px;"></th>
                                <th class="" style="width: 55px;text-align:center;">SL No.</th>
                                <th class="" style="width:80px;">Item Name</th>
                                <th class="" style="width:47px;">UOM</th>
                                <th class="" style="width:111px;text-align:right;">Quantity</th>
                                <th class="" style="width: 55px;text-align:center;">RSL No.</th>
                                <th class="" style="width:80px;">Barno</th>
                                <th class="" style="width:81px;">Group Code</th>
                                <th class="" style="width:177px;">Group Name</th>
                                <th class="" style="width:94px;">Item Code</th>
                                <th class="" style="width:106px;">Item Name</th>
                                <th class="" style="width:47px;">UOM</th>
                                <th class="" style="width: 81px;">Material Job Code <b style="color:Red;">*</b></th>
                                <th class="" style="width:100px;">Material Job Name</th>
                                <th class="" style="width:69px;">Part</th>
                                <th class="" style="width: 59px;">Color Code</th>
                                <th class="" style="width:100px;">Color Name</th>
                                <th class="" style="width:62px;">Size</th>
                                <th class="" style="width:111px;text-align:right;">Bom Quantity</th>
                                <th class="" style="width:111px;text-align:right;">Extra Quantity</th>
                                <th class="" style="text-align:center;">Sample</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.TPROGBOM != null)
                            {
                                for (int i = 0; i <= Model.TPROGBOM.Count - 1; i++)
                                {
                                    <tr style="font-size:12px; font-weight:bold;">
                                        <td class="sticky-cell" style="padding-left:7px;padding-right:7px;">
                                            @Html.CheckBoxFor(model => model.TPROGBOM[i].Checked, new { id = "Q_chkid_" + i, @TabIndex = -1 })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGBOM[i].SLNO, new { id = "Q_SLNO_" + i, @class = " atextBoxFor ", @style = "text-align:center;", maxlength = 2, @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGBOM[i].QITNM, new { id = "Q_RITNM1_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGBOM[i].QUOM, new { id = "Q_UOM1" + i, @class = " atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TPROGBOM[i].QQNTY, new { htmlAttributes = new { id = "Q_QNTY1_" + i, @style = "text-align: right;", @onkeypress = "return numericOnly(this,3);", @class = " atextBoxFor", maxlength = 12, @TabIndex = -1, @readonly = "readonly" } })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGBOM[i].RSLNO, new { id = "Q_RSLNO_" + i, @class = " atextBoxFor ", @style = "text-align:center;", maxlength = 2, @TabIndex = -1, @readonly = "readonly", onkeydown = "RepeatAboveRow_TPROGBOM('" + i + "')" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGBOM[i].BARNO, new { id = "Q_BARNO_" + i, maxlength = 20, onkeydown = "toUpper(this);GetHelpBlur('" + @Url.Action("GetBarCodeDetailsGrid", "T_OUTISSPROCESS") + "','Barno Details','Q_BARNO_" + i + "','Q_BARNO_" + i + "=BARNO=0/Q_MTRLJOBCD_" + i + "=MTRLJOBCD=2/Q_PARTCD_" + i + "=PARTCD=5/Q_ITCD_" + i + "=ITCD/Q_ITNM_" + i + "=ITSTYLE/Q_UOM_" + i + "=UOMCD/Q_ITGRPCD_" + i + "=ITGRPCD/Q_ITGRPNM_" + i + "=ITGRPNM/Q_COLRCD_" + i + " =COLRCD/Q_SIZECD_" + i + " =SIZECD/Q_COLRNM_" + i + "=COLRNM','Q_MTRLJOBCD_" + i + "/Q_PARTCD_" + i + "/DOCDT/TAXGRPCD/GOCD/PRCCD/Q_MTRLJOBCD_" + i + "');RepeatAboveRow_TPROGBOM('" + i + "');", onblur = "Program_GetBarnoDetails(this.value,'" + "Q_BARNO_" + i + "','" + "Q_MTRLJOBCD_" + i + "','" + "Q_PARTCD_" + i + "','" + "Q_ITCD_" + i + "','" + "Q_ITNM_" + i + "','" + "Q_UOM_" + i + "','" + "Q_ITGRPCD_" + i + "','" + "Q_ITGRPNM_" + i + "','" + "Q_COLRCD_" + i + "','" + "Q_SIZECD_" + i + "','" + "Q_COLRNM_" + i + "','" + "Q_MTRLJOBNM_" + i + "','','','','','','QTY');", @placeholder = "barno", @class = " atextBoxFor textbox_image" })
                                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetBarCodeDetailsGrid", "T_OUTISSPROCESS")','Barno Details','Q_BARNO_@i','Q_BARNO_@i=BARNO=0/Q_MTRLJOBCD_@i=MTRLJOBCD=2/Q_PARTCD_@i=PARTCD=5/Q_ITCD_@i=ITCD/Q_ITNM_@i=ITSTYLE/Q_UOM_@i=UOMCD/Q_ITGRPCD_@i=ITGRPCD/Q_ITGRPNM_@i=ITGRPNM/Q_COLRCD_@i =COLRCD/Q_SIZECD_@i =SIZECD/Q_COLRNM_@i=COLRNM','Q_MTRLJOBCD_@i/Q_PARTCD_@i/DOCDT/TAXGRPCD/GOCD/PRCCD/Q_MTRLJOBCD_@i');" />

                                            @*@Html.TextBoxFor(model => Model.TPROGBOM[i].BARNO, new { id = "Q_BARNO_" + i, maxlength = 20, onkeydown = "GetHelpBlur('" + @Url.Action("GetBarCodeDetailsGrid", "T_OUTISSPROCESS") + "','Barno Details','Q_BARNO_" + i + "','Q_BARNO_" + i + "=BARNO=0/Q_MTRLJOBCD_" + i + "=MTRLJOBCD=2/Q_PARTCD_" + i + "=PARTCD=5/Q_ITCD_" + i + "=ITCD/Q_ITNM_" + i + "=ITSTYLE/Q_UOM_" + i + "=UOMCD/Q_ITGRPCD_" + i + "=ITGRPCD/Q_ITGRPNM_" + i + "=ITGRPNM/Q_COLRCD_" + i + " =COLRCD/Q_SIZECD_" + i + " =SIZECD/Q_COLRNM_" + i + "=COLRNM','Q_MTRLJOBCD_" + i + "/Q_PARTCD_" + i + "/DOCDT/TAXGRPCD/GOCD/PRCCD/Q_MTRLJOBCD_" + i + "');RepeatAboveRow_TPROGBOM('" + i + "');", onblur = "GetHelpBlur('" + @Url.Action("GetBarCodeDetailsGrid", "T_OUTISSPROCESS") + "','Barno Details','Q_BARNO_" + i + "','Q_BARNO_" + i + "=BARNO=0/Q_MTRLJOBCD_" + i + "=MTRLJOBCD=2/Q_PARTCD_" + i + "=PARTCD=5/Q_ITCD_" + i + "=ITCD/Q_ITNM_" + i + "=ITSTYLE/Q_UOM_" + i + "=UOMCD/Q_ITGRPCD_" + i + "=ITGRPCD/Q_ITGRPNM_" + i + "=ITGRPNM/Q_COLRCD_" + i + " =COLRCD/Q_SIZECD_" + i + " =SIZECD/Q_COLRNM_" + i + "=COLRNM','Q_MTRLJOBCD_" + i + "/Q_PARTCD_" + i + "/DOCDT/TAXGRPCD/GOCD/PRCCD/Q_MTRLJOBCD_" + i + "');", @placeholder = "barno", @class = " atextBoxFor textbox_image" })
                                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetBarCodeDetailsGrid", "T_OUTISSPROCESS")','Barno Details','Q_BARNO_@i','Q_BARNO_@i=BARNO=0/Q_MTRLJOBCD_@i=MTRLJOBCD=2/Q_PARTCD_@i=PARTCD=5/Q_ITCD_@i=ITCD/Q_ITNM_@i=ITSTYLE/Q_UOM_@i=UOMCD/Q_ITGRPCD_@i=ITGRPCD/Q_ITGRPNM_@i=ITGRPNM/Q_COLRCD_@i =COLRCD/Q_SIZECD_@i =SIZECD/Q_COLRNM_@i=COLRNM','Q_MTRLJOBCD_@i/Q_PARTCD_@i/DOCDT/TAXGRPCD/GOCD/PRCCD/Q_MTRLJOBCD_@i');" />*@
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGBOM[i].ITGRPCD, new { id = "Q_ITGRPCD_" + i, maxlength = 8, onkeydown = "GetHelpBlur('" + @Url.Action("GetItemGroupDetails", "T_OUTISSPROCESS") + "','Group Details','" + "Q_ITGRPCD_" + i + "','" + "Q_ITGRPCD_" + i + "=itgrpcd=1/" + "Q_ITGRPNM_" + i + "=itgrpnm=0');RepeatAboveRow_TPROGBOM('" + i + "');", onblur = "GetHelpBlur('" + @Url.Action("GetItemGroupDetails", "T_OUTISSPROCESS") + "','Group Details','" + "Q_ITGRPCD_" + i + "','" + "Q_ITGRPCD_" + i + "=itgrpcd=1/" + "Q_ITGRPNM_" + i + "=itgrpnm=0');", @placeholder = "ITGRPCD", @class = " atextBoxFor textbox_image" })
                                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetItemGroupDetails", "T_OUTISSPROCESS")','Group Details','Q_ITGRPCD_@i','Q_ITGRPCD_@i=itgrpcd=1/Q_ITGRPNM_@i=itgrpnm=0')" />
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGBOM[i].ITGRPNM, new { id = "Q_ITGRPNM_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })

                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGBOM[i].ITCD, new { id = "Q_ITCD_" + i, maxlength = 10, onkeydown = "GetHelpBlur('" + @Url.Action("GetGridItemDetails", "T_OUTISSPROCESS") + "','Item Details','" + "Q_ITCD_" + i + "','" + "Q_ITCD_" + i + "=ITCD=2/" + "Q_ITNM_" + i + "=ITNM=1/" + "Q_UOM_" + i + "=UOMCD=3/" + "Q_ITNM_" + i + "=ITSTYLE/" + "Q_ITGRPCD_" + i + "=ITGRPCD=5/" + "Q_ITGRPNM_" + i + "=ITGRPNM=4','Q_ITGRPCD_" + i + "');RepeatAboveRow_TPROGBOM('" + i + "');", onblur = "GetHelpBlur('" + @Url.Action("GetGridItemDetails", "T_OUTISSPROCESS") + "','Item Details','" + "Q_ITCD_" + i + "','" + "Q_ITCD_" + i + "=ITCD=2/" + "Q_ITNM_" + i + "=ITNM=1/" + "Q_UOM_" + i + "=UOMCD=3/" + "Q_ITNM_" + i + "=ITSTYLE/" + "Q_ITGRPCD_" + i + "=ITGRPCD=5/" + "Q_ITGRPNM_" + i + "=ITGRPNM=4','Q_ITGRPCD_" + i + " ');", @placeholder = "ITCD", @class = " atextBoxFor textbox_image" })
                                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetGridItemDetails", "T_OUTISSPROCESS")','Item Details','Q_ITCD_@i','Q_ITCD_@i=ITCD=2/Q_ITNM_@i=ITNM=1/Q_UOM_@i=UOMCD=3/Q_ITNM_@i=ITSTYLE/Q_ITGRPCD_@i=ITGRPCD=5/Q_ITGRPNM_@i=ITGRPNM=4','Q_ITGRPCD_@i')" />
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGBOM[i].ITNM, new { id = "Q_ITNM_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })

                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGBOM[i].UOM, new { id = "Q_UOM_" + i, @class = " atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGBOM[i].MTRLJOBCD, new { id = "Q_MTRLJOBCD_" + i, maxlength = 4, onkeydown = "GetHelpBlur('" + @Url.Action("GetMaterialDetails", "T_OUTISSPROCESS") + "','Material Job Details','" + "Q_MTRLJOBCD_" + i + "','" + "Q_MTRLJOBCD_" + i + "=MTRLJOBCD=1/" + "Q_MTRLJOBNM_" + i + "=MTRLJOBNM=0');", onblur = "GetHelpBlur('" + @Url.Action("GetMaterialDetails", "T_OUTISSPROCESS") + "','Material Job Details','" + "Q_MTRLJOBCD_" + i + "','" + "Q_MTRLJOBCD_" + i + "=MTRLJOBCD=1/" + "Q_MTRLJOBNM_" + i + "=MTRLJOBNM=0');", @placeholder = "MTRLJOBCD", @class = " atextBoxFor textbox_image" })
                                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetMaterialDetails", "T_OUTISSPROCESS")','Material Job Details','Q_MTRLJOBCD_@i','Q_MTRLJOBCD_@i=MTRLJOBCD=1/Q_MTRLJOBNM_@i=MTRLJOBNM=0')" />
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGBOM[i].MTRLJOBNM, new { id = "Q_MTRLJOBNM_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGBOM[i].PARTCD, new { id = "Q_PARTCD_" + i, maxlength = 4, onkeydown = "GetHelpBlur('" + @Url.Action("GetPartDetails", "T_OUTISSPROCESS") + "','Part Details','" + "Q_PARTCD_" + i + "','" + "Q_PARTCD_" + i + "=PARTCD=1');", onblur = "GetHelpBlur('" + @Url.Action("GetPartDetails", "T_OUTISSPROCESS") + "','Part Details','" + "Q_PARTCD_" + i + "','" + "Q_PARTCD_" + i + "=PARTCD=1');", @placeholder = "PARTCD", @class = " atextBoxFor textbox_image" })
                                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetPartDetails", "T_OUTISSPROCESS")','Part Details','Q_PARTCD_@i','Q_PARTCD_@i=PARTCD=1')" />

                                        </td>
                                        <td class="">

                                            @Html.TextBoxFor(model => Model.TPROGBOM[i].COLRCD, new { id = "Q_COLRCD_" + i, maxlength = 4, onkeydown = "GetHelpBlur('" + @Url.Action("GetColorDetails", "T_OUTISSPROCESS") + "','Color Details','" + "Q_COLRCD_" + i + "','" + "Q_COLRCD_" + i + "=COLRCD=1/" + "Q_COLRNM_" + i + "=COLRNM=0');", onblur = "GetHelpBlur('" + @Url.Action("GetColorDetails", "T_OUTISSPROCESS") + "','Color Details','" + "Q_COLRCD_" + i + "','" + "Q_COLRCD_" + i + "=COLRCD=1/" + "Q_COLRNM_" + i + "=COLRNM=0');", @placeholder = "COLRCD", @class = " atextBoxFor textbox_image" })
                                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetColorDetails", "T_OUTISSPROCESS")','Color Details','Q_COLRCD_@i','Q_COLRCD_@i=COLRCD=1/Q_COLRNM_@i=COLRNM=0')" />
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGBOM[i].COLRNM, new { id = "Q_COLRNM_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPROGBOM[i].SIZECD, new { id = "Q_SIZECD_" + i, maxlength = 4, onkeydown = "GetHelpBlur('" + @Url.Action("GetSizeDetails", "T_OUTISSPROCESS") + "','Size Details','" + "Q_SIZECD_" + i + "','" + "Q_SIZECD_" + i + "=SIZECD=1');", onblur = "GetHelpBlur('" + @Url.Action("GetSizeDetails", "T_OUTISSPROCESS") + "','Size Details','" + "Q_SIZECD_" + i + "','" + "Q_SIZECD_" + i + "=SIZECD=1');", @placeholder = "SIZECD", @class = " atextBoxFor textbox_image" })
                                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetSizeDetails", "T_OUTISSPROCESS")','Size Details','Q_SIZECD_@i','Q_SIZECD_@i=SIZECD=1')" />
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TPROGBOM[i].BOMQNTY, new { htmlAttributes = new { id = "Q_BOMQNTY_" + i, @class = " atextBoxFor ", @style = "text-align: right;", @onkeypress = "return numericOnly(this,3);", onblur = "CalculateTotalProgBomQnty();", maxlength = 12 } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TPROGBOM[i].EXTRAQNTY, new { htmlAttributes = new { id = "Q_EXTRAQNTY_" + i, @class = " atextBoxFor ", @style = "text-align: right;", @onkeypress = "return numericOnly(this,3);", onblur = "CalculateTotalProgBomQnty();", maxlength = 12 } })
                                        </td>
                                        <td class="" style="padding-left:14px;">
                                            @Html.CheckBoxFor(model => model.TPROGBOM[i].Q_CheckedSample, new { id = "Q_CheckedSample_" + i })
                                        </td>

                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr class="sticky-footer">
                                <td class="sticky-cell" style="width:27px;"> <input type="text" class="atextBoxFor" readonly="readonly" />  </td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td> @Html.EditorFor(model => Model.T_QQNTY, new { htmlAttributes = new { id = "T_QQNTY", @class = "atextBoxFor text-right", style = "font-weight:bold;color:red;", @readonly = "readonly" } })</td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>@*Q_BARNO_*@
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>@*itgrpcd*@
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td> @*RATE*@
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td style="text-align:right;"><input type="text" value="Total:" class="atextBoxFor" style="font-weight:bold;color:red;text-align:right;font-variant:petite-caps;" readonly="readonly" /></td>
                                <td style="text-align:right;">
                                    @Html.EditorFor(model => Model.T_BOMQNTY, new { htmlAttributes = new { id = "T_BOMQNTY", @class = "atextBoxFor text-right", style = "font-weight:bold;color:red;", @readonly = "readonly" } })
                                </td>
                                @*<td><input type="text" class="atextBoxFor" readonly="readonly" /></td>*@
                                <td style="text-align:right;">
                                    @Html.EditorFor(model => Model.T_EXTRAQNTY, new { htmlAttributes = new { id = "T_EXTRAQNTY", @class = "atextBoxFor text-right", style = "font-weight:bold;color:red;", @readonly = "readonly" } })
                                </td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }
    </div>
</div>
