@model Improvar.ViewModels.TransactionPhyStockEntry
<div id="dragclass" style="overflow-y:auto;max-height:500px;height:auto;overflow-x:hidden;background-color:#c4b9b9;padding:7px;border-radius: 7px;transform: translate(0%, 0%);z-index: 1100;width:500px;">
    <div class="table-responsive">
        @if (Model.DefaultView == true)
            {
            @Html.ValidationSummary(true)
            <div class="grid_title">
                <center style="font-size: 11px;color: darkmagenta; border: 1px inset;"><b>Price Update</b></center>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Price Code")
                        <b style="color:Red;">*</b>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.POPUPPRCCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "POPUPPRCCD", onkeydown = "GetHelpBlur('" + @Url.Action("GetPriceDetails", "T_PhyStock") + "','Price Details','POPUPPRCCD','POPUPPRCCD=PRCCD=1/POPUPPRCNM=PRCNM=0')", onblur = "GetHelpBlur('" + @Url.Action("GetPriceDetails", "T_PhyStock") + "','Price Details','POPUPPRCCD','POPUPPRCCD=PRCCD=1/POPUPPRCNM=PRCNM=0');", @placeholder = "Code", maxlength = 4 } })
                        <img src="~/Image/search.png" width="20px" height="20px" id="POPUPPRCCD_HELP" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetPriceDetails", "T_PhyStock")','Price Details','POPUPPRCCD','POPUPPRCCD=PRCCD=1/POPUPPRCNM=PRCNM =0')" />

                    </div>
                </div>
                <div class="col-md-9">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.POPUPPRCNM, new { htmlAttributes = new { @class = "form-control", id = "POPUPPRCNM", @TabIndex = -1, @title = "Price List Name", @placeholder = "Price List Name", @readonly = "readonly" } })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Effective Date")
                        <b style="color:Red;">*</b>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.POPUPEFFDT, new { htmlAttributes = new { @class = "form-control", id = "POPUPEFFDT", onblur = "DocumentDateCHK(this);", autocomplete = "off", @placeholder = "dd/mm/yyyy", maxlength = 10 } })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Price Increase/Decrease (%)")
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.POPUPINCDECPER, new { htmlAttributes = new { @class = "form-control", id = "POPUPINCDECPER", @onkeypress = "return numericOnly(this,2);", maxlength = 14, @title = "(%)", @placeholder = "Price Increase/Decrease (%)" } })
                    </div>
                </div>
            </div>
            @*<div class="row">
                <div class="col-lg-3">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Wholesale %")
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WPPERMANUAL, new { htmlAttributes = new { @class = "form-control", id = "WPPERMANUAL", @onkeypress = "return numericOnly(this,2);", maxlength = 14, @title = "WP", @placeholder = "WP" } })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Retail %")
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.RPPERMANUAL, new { htmlAttributes = new { @class = "form-control", id = "RPPERMANUAL", @onkeypress = "return numericOnly(this,2);", maxlength = 14, @title = "CP", @placeholder = "CP" } })
                    </div>
                </div>
            </div>*@
        }
    </div>
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-3" style="width:auto">
            <div class="text-center"><input type="button" class="btn btn-success" id="btnSaveBar" value="Save" onclick="SavePrice();" /></div>
        </div>
        <div class="col-lg-3" style="width:auto">
            <div class="text-center"><input type="button" class="btn btn-danger" id="btnSaveBar" value="Cancel" onclick="PriceClose();" /></div>
        </div>
    </div>
</div>
