@model Improvar.ViewModels.TransactionPhyStockEntry
<script type="text/javascript">
    $(document).ready(function () {
        resizableTables[resizableTables.length] = new ColumnResize(document.getElementById('_T_PhyStock_GRID'));
        $("td").on("mouseover", function (e) { var titlee = $(this).find("input").val(); $(this).attr('title', titlee); });

    });
</script>

<div style="transform: translate(0%, 0%);z-index: 1100;">
    <div class="table-responsive">
        @if (Model.DefaultView == true)
        {
            @Html.ValidationSummary(true)
            <div class="grid_title">
                @*<input type="text" id="AddRowsMain" name="AddRowsMain" placeholder="rows" style="font-size: 11px;font-weight: bold;width:40px;height:17px;float:left;padding: 2px;" maxlength="3" onkeypress="return numericOnly(this);" />*@
                @*<img src="~/Image/Plus.png" id="btnAddMain" title="Add Row" class="HelB_image_buttonAddRemove" onclick="AddRow('AddRowsMain')" />*@
              
                <img src="~/Image/Minus.png" id="btnDeleteMain" title="Delete Row" class="Help_image_buttonAddRemove" onclick="DeleteRow()" />
                
                <div class="col-md-8">
                    <input type="text" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, '_T_PhyStock_GRID');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                <center style="font-size:11px;color:darkmagenta;border:1px inset;height: 21px;padding: 4px;">
                    <b>Bar Code Details</b>
                </center>
            </div>
            <div class="sticky-table sticky-ltr-cells">
                <div style="height:auto;overflow-y:scroll;max-height:235px;">
                    <table id="_T_PhyStock_GRID" class="resizable table-striped" cellpadding="0px" cellspacing="0px" style="width: 1121px;">
                        <thead>
                            <tr class="sticky-header" style="height:30px;">
                                <th class="sticky-cell" style="width: 20px;"></th>
                                <th class="sticky-cell" style="width: 20px;text-align:center;left:17px">SL No</th>
                                <th class="" style="width: 100px;">Bar No.</th>
                                <th class="" style="width:103px;">Style No</th>
                                @if (Model.M_SYSCNFG.MNTNSHADE == "Y")
                                {
                                    <th class="" style="width: 50px;">Shade</th>
                                }
                                <th class="" style="width:60px;text-align:right;">Length</th>
                                <th class="" style="width:60px;text-align:right;">Nos</th>
                                <th class="" style="width:50px;text-align:right;">Quantity</th>
                                <th class="" style="width:80px;text-align:right;">Rate</th>
                                <th class="" style="width: 34px;">Stock Type</th>
                                <th class="" style="width:160px;">Item Remarks</th>
                                <th class="sticky-cell-opposite" style="width: 34px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.TPHYSTK != null)
                            {
                                for (int i = 0; i <= Model.TPHYSTK.Count - 1; i++)
                                {
                                    <tr style="font-size:12px; font-weight:bold;">
                                        <td class="sticky-cell">
                                            @Html.CheckBoxFor(model => model.TPHYSTK[i].Checked, new { id = "B_Checked_" + i, @TabIndex = -1 })

                                            @Html.HiddenFor(model => model.TPHYSTK[i].BALENO, new { id = "B_BALENO_" + i })
                                            @Html.HiddenFor(model => model.TPHYSTK[i].BALEYR, new { id = "B_BALEYR_" + i })
                                            @Html.HiddenFor(model => model.TPHYSTK[i].LOCABIN, new { id = "B_LOCABIN_" + i })
                                            @Html.HiddenFor(model => model.TPHYSTK[i].MTRLJOBCD, new { id = "B_MTRLJOBCD_" + i })
                                            @Html.HiddenFor(model => model.TPHYSTK[i].ITCD, new { id = "B_ITCD_" + i })
                                            @Html.HiddenFor(model => model.TPHYSTK[i].ITSTYLE, new { id = "B_ITSTYLE_" + i })
                                            @if (Model.M_SYSCNFG.MNTNPART == "Y")
                                            {
                                                @Html.HiddenFor(model => model.TPHYSTK[i].PARTCD, new { id = "B_PARTCD_" + i })

                                            }
                                        </td>
                                        <td class="sticky-cell"  style="left:17px;">
                                            @Html.TextBoxFor(model => Model.TPHYSTK[i].SLNO, new { id = "B_SLNO_" + i, @class = " atextBoxFor ", @style = "text-align:center;", maxlength = 2, @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPHYSTK[i].BARNO, new { id = "B_BARNO_" + i, @class = " atextBoxFor ", @style = "text-align:center;", maxlength = 4, @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TPHYSTK[i].STYLENO, new { htmlAttributes = new { id = "B_STYLENO_" + i, @class = "atextBoxFor", @TabIndex = -1, @readonly = "readonly" } })

                                        </td>
                                       
                                        @if (Model.M_SYSCNFG.MNTNSHADE == "Y")
                                        {
                                            <td class="">
                                                @Html.TextBoxFor(model => Model.TPHYSTK[i].SHADE, new { id = "B_SHADE_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                            </td>
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.TPHYSTK[i].SHADE, new { id = "B_SHADE_" + i })
                                        }
                                      
                                        <td class="">
                                            @Html.EditorFor(model => Model.TPHYSTK[i].CUTLENGTH, new { htmlAttributes = new { id = "B_CUTLENGTH_" + i, @style = "text-align: right;", @onkeypress = "return numericOnly(this,2);", @onchange = "CalculateBargridQnty_('_T_PhyStock_GRID', " + i + ");", @class = " atextBoxFor", maxlength = 6 } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TPHYSTK[i].NOS, new { htmlAttributes = new { id = "B_NOS_" + i, @style = "text-align: right;", @onkeypress = "return numericOnly(this,3);", @onchange = "CalculateBargridQnty_('_T_PhyStock_GRID', " + i + ");", @class = " atextBoxFor", maxlength = 12 } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TPHYSTK[i].QNTY, new { htmlAttributes = new { id = "B_QNTY_" + i, @style = "text-align: right;", @onkeypress = "return numericOnly(this,3);", onblur = "CalculateBargridQnty_('_T_PhyStock_GRID', " + i + ");", @class = " atextBoxFor", maxlength = 12 } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TPHYSTK[i].RATE, new { htmlAttributes = new { id = "B_RATE_" + i, @style = "text-align: right;", @class = " atextBoxFor", maxlength = 14, @TabIndex = -1, @readonly = "readonly" } })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPHYSTK[i].STKTYPE, new { id = "B_STKTYPE_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })

                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TPHYSTK[i].ITREM, new { id = "B_ITREM_" + i, @class = " atextBoxFor ", maxlength = 100, onclick = "OpenZoomTextBoxModal(this.id)", @data_toggle = "modal", @data_target = "#ZoomTextBoxModal" })
                                        </td>
                                            <td class="sticky-cell-opposite">
                                                <button type="button" class="atextBoxFor btn-info" onclick="FillBarcodeArea_('', '_T_PhyStock_GRID', @i);" title="CLICK HERE TO EDIT BARCODEDATA"><span class="glyphicon glyphicon-pencil"></span></button>
                                            </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr class="sticky-footer">
                                <td class="sticky-cell" style="width:20px;"> <input type="text" class="atextBoxFor" readonly="readonly" />  </td>
                                <td class="sticky-cell"  style="left:17px;"><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td style="text-align:right;">
                                    <input type="text" value="Total:" class="atextBoxFor" style="font-weight:bold;color:red;text-align:right" readonly="readonly" />
                                </td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                @if (Model.M_SYSCNFG.MNTNSHADE == "Y")
                                {
                                    <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                }
                             
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td style="text-align:right;">
                                    @Html.EditorFor(model => Model.B_T_NOS, new { htmlAttributes = new { id = "B_T_NOS", @class = "atextBoxFor text-right", style = "font-weight:bold;color:red;", @readonly = "readonly" } })
                                </td>
                                <td style="text-align:right;">
                                    @Html.EditorFor(model => Model.B_T_QNTY, new { htmlAttributes = new { id = "B_T_QNTY", @class = "atextBoxFor text-right", style = "font-weight:bold;color:red;", @readonly = "readonly" } })
                                </td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td class="sticky-cell-opposite"><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                              
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }
    </div>
  
        </div>
