@model Improvar.ViewModels.TransactionSalePosEntry
<script type="text/javascript">
    $(document).ready(function () {
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") {
            modeView();
            $(".sl_bom_grid").prop("disabled", false);
        }
        else if ("@Model.DefaultAction" == "A") {
            // $('form :input:enabled:visible:not([readonly]):first').focus();
        }
        resizableTables[resizableTables.length] = new ColumnResize(document.getElementById('tbl_PopupAdvanceList'));
        $("td").on("mouseover", function (e) { var titlee = $(this).find("input").val(); $(this).attr('title', titlee); });
    });
</script>
<script>
    $("#popup").ready(function () { $("#dragclass").draggable({ cursor: "move" }); if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") { modeView(); } });
</script>
<div id="dragclass" style="overflow-y:auto;max-height:330px;height:auto;background-color:#c4b9b9;padding:7px;border-radius: 7px;transform: translate(0%, 0%);z-index: 1100;left:5%;">
    <div class="table-responsive">
        @if (Model.DefaultView == true)
            {
            @Html.ValidationSummary(true)
            <div class="grid_title">
                <div class="col-md-8">
                    <input type="text" id="search" name="search" style="height: 20px;margin-top: 1px;" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, 'tbl_PopupAdvanceList');" />
                    <img src="~/Image/search.png" title="Help" style="height: 20px;width:20px;margin-top: 1px;" />
                </div>
                <center style="font-size:11px;color:darkmagenta;border:1px inset;height:22px;"><b>Pending Party Order Advance Details</b></center>
            </div>
            <div class="sticky-table sticky-ltr-cells">
                <div style="height:auto;overflow-y:scroll;overflow-x:hidden;max-height:205px;">
                    <table id="tbl_PopupAdvanceList" class="resizable table-striped" cellpadding="0px" cellspacing="0px" style="width:650px;">
                        <thead>
                            <tr class="sticky-header" style="height:30px;">
                                <th class="sticky-cell" style="width: 27px;padding-left:7px;padding-right:7px;">
                                    <input type="checkbox" name="Test" id="allchkord" onclick="SetAllCheckBoxesFilterPADV(this, 'tbl_PopupAdvanceList', 'PAdv_chkid_', 'search')" />
                                </th>
                                <th class="" style="width: 27px;text-align:center;">SL No.</th>
                                <th class="" style="width:178px;">Order No.</th>
                                <th class="" style="width:90px;">Order Date</th>
                                @*<th class="" style="width:90px;">Party Code</th>*@
                                <th class="">Party Name</th>
                                <th class="" style="width:100px;text-align:right;">Bal. Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.PopupAdvanceList != null)
                            {
                                for (int i = 0; i <= Model.PopupAdvanceList.Count - 1; i++)
                                {
                                    <tr style="font-size:12px; font-weight:bold;">
                                        <td class="sticky-cell" style="padding-left:7px;padding-right:7px;">
                                            @Html.CheckBoxFor(model => model.PopupAdvanceList[i].Checked, new { id = "PAdv_chkid_" + i, @TabIndex = -1, Onclick = "totaladv();" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.PopupAdvanceList[i].SLNO, new { id = "PAdv_SLNO_" + i, @class = " atextBoxFor ", @style = "text-align:center;", maxlength = 2, @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.PopupAdvanceList[i].ADVDOCNO, new { id = "PAdv_ADVDOCNO_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.PopupAdvanceList[i].ADVDOCDT, new { id = "PAdv_ADVDOCDT_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                            @Html.HiddenFor(model => model.PopupAdvanceList[i].ADVAUTONO, new { id = "PAdv_ADVAUTONO_" + i })
                                        </td>
                                        @*<td class="">
                                                @Html.TextBoxFor(model => Model.PopupAdvanceList[i].SLCD, new { id = "PAdv_SLCD_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                            </td>*@
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.PopupAdvanceList[i].SLNM, new { id = "PAdv_SLNM_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.PopupAdvanceList[i].BALADVAMT, "{0:0.00}", new { id = "PAdv_BALADVAMT_" + i, @class = " atextBoxFor ", @style = "text-align: right;", @TabIndex = -1, @readonly = "readonly" })
                                            @Html.HiddenFor(model => model.PopupAdvanceList[i].ADVAMT, new { id = "PAdv_ADVAMT_" + i })
                                            @Html.HiddenFor(model => model.PopupAdvanceList[i].PRVADJAMT, new { id = "PAdv_PRVADJAMT_" + i })
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot id="tbl_AdvanceList_tfoot">
                            <tr class="sticky-footer">
                                <td class="sticky-cell" style="width:27px;"> <input type="text" class="atextBoxFor" readonly="readonly" />  </td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td style="text-align:right;"><input type="text" value="Total:" class="atextBoxFor" style="font-weight:bold;color:red;text-align:right;font-variant:petite-caps;" readonly="readonly" /></td>
                                <td style="text-align:right;"><input type="text" class="atextBoxFor" id="TOTBALAMT" style="font-weight:bold;text-align:right;" readonly="readonly" /></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-10">
            @if (Model.DefaultAction != "V")
            {
                <input type="button" class="btn btn-success" id="btnPopupClose" value="Okay" style="margin-top:4px;padding: 2px 5px 2px 5px;" onclick="CloseOrderAdvancePopup();" />
            }
            <input type="button" class="btn btn-danger" id="btnPopupCancel" value="Cancel" style="margin-top:4px;padding: 2px 5px 2px 5px;" onclick="CancelPopupOrderAdvance();" />
        </div>
    </div>
</div>
