@model Improvar.ViewModels.TransactionSalePosEntry
<script type="text/javascript">
    $(document).ready(function () {
        resizableTables[resizableTables.length] = new ColumnResize(document.getElementById('_T_SALE_POS_SALESMAN_GRID'));
        $("td").on("mouseover", function (e) { var titlee = $(this).find("input").val(); $(this).attr('title', titlee); });

    });

</script>

@*<div style="transform: translate(0%, 0%);z-index: 1100;background-color:#c4b9b9;border:5px groove;width: 1200px;">*@
<div style="width: 872px;" overflow-y:auto;">
    <div class="table-responsive">
        @if (Model.DefaultView == true)
        {
            @Html.ValidationSummary(true)
            <div class="grid_title">
                @if (Model.DefaultAction == "A" || Model.DefaultAction == "E")
                {
                    <input type="text" id="AddRowsMain1" name="AddRowsMain1" placeholder="rows" style="font-size: 11px;font-weight: bold;width:40px;height:17px;float:left;padding: 2px;" maxlength="3" onkeypress="return numericOnly(this);" />
                    <img src="~/Image/Plus.png" id="btnAdd" title="Add Row" class="Help_image_buttonAddRemove" onclick="Addrow('AddRowsMain1')" />
                    <img src="~/Image/Minus.png" id="btnDelete" title="Delete Row" class="Help_image_buttonAddRemove" onclick="DeleteRow()" />
                }
                <div class="col-md-8">
                    <input type="text" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, '_T_SALE_POS_SALESMAN_GRID');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                <center style="font-size:11px;color:darkmagenta;border:1px inset;height: 21px;padding: 4px;">
                    <b> Entry SalesMan Details</b>
                </center>
            </div>
            <div class="sticky-table sticky-ltr-cells">
                <div style="height:auto;overflow-y:scroll;OVERFLOW-X: hidden;max-height:291px;">
                    <table id="_T_SALE_POS_SALESMAN_GRID" class="resizable table-striped" cellpadding="0px" cellspacing="0px">
                        <thead>
                            <tr class="sticky-header" style="height:30px;">
                                <th class="sticky-cell" style="width: 27px;"></th>
                                <th class="" style="width: 27px;text-align:center;">SL No.</th>
                                <th class="" style="width:90px;">Salesman</th>
                                <th class="" style="width:428px;">Salesman Name</th>
                                <th class="" style="width:111px;text-align:right;">Percentage (%)</th>
                                <th class="" style="width: 177px;text-align:right;">Gross Amount</th>
                                <th class="" style="width:177px;text-align:right;">Bill Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.TTXNSLSMN != null)
                            {
                                for (int i = 0; i <= Model.TTXNSLSMN.Count - 1; i++)
                                {
                                    <tr style="font-size:12px; font-weight:bold;">
                                        <td class="sticky-cell" style="padding-left:7px;padding-right:7px;">
                                            @Html.CheckBoxFor(model => model.TTXNSLSMN[i].Checked, new { id = "S_chkid_" + i, @TabIndex = -1 })
                                           
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TTXNSLSMN[i].SLNO, new { id = "S_SLNO_" + i, @class = " atextBoxFor ", @style = "text-align:center;", maxlength = 2, @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => model.TTXNSLSMN[i].SLMSLCD, new { htmlAttributes = new { @class = "atextBoxFor textbox_image", id = "SLMSLCD_" + i, onkeydown = "GetHelpBlur('" + @Url.Action("GetSubLedgerDetails", "T_SALE_POS") + "','Salesman Details','" + "SLMSLCD_" + i + "','" + "SLMSLCD_" + i + "=SLCD=1/" + "S_SLMSLNM_" + i + "=SLNM=0','salesmanlinkcd')", onblur = "GetHelpBlur('" + @Url.Action("GetSubLedgerDetails", "T_SALE_POS") + "','Salesman Details','" + "SLMSLCD_" + i + "','" + "SLMSLCD_" + i + "=SLCD=1/" + "S_SLMSLNM_" + i + "=SLNM=0','salesmanlinkcd');CalculateTotal();", @placeholder = "Code", maxlength = 8 } })
                                            <img src="~/Image/search.png" id="PARTY_HELP" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetSubLedgerDetails", "T_SALE_POS")','Salesman Details','SLMSLCD_@i','SLMSLCD_@i=SLCD=1/S_SLMSLNM_@i=SLNM=0','salesmanlinkcd')" />

                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TTXNSLSMN[i].SLMSLNM, new { id = "S_SLMSLNM_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TTXNSLSMN[i].PER, "{0:0.00}", new { id = "S_PER_" + i, @class = " atextBoxFor ", @style = "text-align: right;", @onkeypress = "return numericOnly(this,2);", @onblur = "SalesmanPerChk();", maxlength = 15 })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TTXNSLSMN[i].ITAMT, "{0:0.00}", new { id = "S_ITAMT_" + i, @class = " atextBoxFor ", @style = "text-align: right;", @onkeypress = "return numericOnly(this,2);", @TabIndex = -1, @readonly = "readonly", maxlength = 12 })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TTXNSLSMN[i].BLAMT, "{0:0.00}", new { id = "S_BLAMT_" + i, @class = " atextBoxFor ", @style = "text-align: right;", @onkeypress = "return numericOnly(this,2);", @TabIndex = -1, @readonly = "readonly", maxlength = 15 })
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr class="sticky-footer">
                                <td class="sticky-cell" style="width:27px;"> <input type="text" class="atextBoxFor" readonly="readonly" />  </td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td style="text-align:right;"><input type="text" value="Total:" class="atextBoxFor" style="font-weight:bold;color:red;text-align:right;font-variant:petite-caps;" readonly="readonly" /></td>
                               
                                <td style="text-align:right;">
                                    @Html.EditorFor(model => Model.T_PER, "{0:0.00}", new { htmlAttributes = new { id = "S_T_PER", @class = "atextBoxFor text-right", style = "font-weight:bold;color:red;", @readonly = "readonly" } })
                                </td>
                                <td style="text-align:right;">
                                    @Html.EditorFor(model => Model.T_ITAMT, "{0:0.00}", new { htmlAttributes = new { id = "S_T_ITAMT", @class = "atextBoxFor text-right", style = "font-weight:bold;color:red;", @readonly = "readonly" } })
                                </td>
                                <td style="text-align:right;">
                                    @Html.EditorFor(model => Model.T_BLAMT, "{0:0.00}", new { htmlAttributes = new { id = "S_T_BLAMT", @class = "atextBoxFor text-right", style = "font-weight:bold;color:red;", @readonly = "readonly" } })
                                </td>
                                @*<td><input type="text" class="atextBoxFor" readonly="readonly" /></td>*@
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }
    </div>
</div>
