@model Improvar.ViewModels.TransactionSalePosEntry
@{
    var haspendorddata = "";
}
<script>
    $("#popup").ready(function () {
        $("#dragclass").draggable({ cursor: "move" });
    });

</script>
<script type="text/javascript">
    $(document).ready(function () {
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") { modeView(); }
        $("td").on("mouseover", function (e) { var titlee = $(this).find("input").val(); $(this).attr('title', titlee); });
        resizableTables[resizableTables.length] = new ColumnResize(document.getElementById('_T_SALE_POS_RETURN_POPUP_GRID'));
        FooterFilter('_T_SALE_POS_RETURN_POPUP_GRID');
    });
</script>
<div id="dragclass" style="overflow-y:auto;max-height:500px;height:auto;overflow-x:hidden;background-color:#c4b9b9;padding:7px;border-radius: 7px;transform: translate(0%, 0%);z-index: 1;width: fit-content;">
    <div class="table-responsive">
        @if (Model.DefaultView == true)
            {
            @Html.ValidationSummary(true)
            <div class="grid_title">
                <div class="col-md-8">
                    <input type="text" id="PO_P_IN_FS" name="PO_P_IN_FS" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, '_T_SALE_POS_RETURN_POPUP_GRID');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                <center style="font-size: 11px;color: darkmagenta; border: 1px inset;"><b>Bar No. Details</b></center>
            </div>
            <div class="sticky-table sticky-ltr-cells">
                <div style="height:auto;overflow-y:scroll;overflow-x:hidden;max-height:381px;">
                    <table id="_T_SALE_POS_RETURN_POPUP_GRID" class="resizable table-striped" cellpadding="0px" cellspacing="0px" style="width: 947px;">
                        <thead>
                            <tr class="sticky-header" style="height:30px;">
                                <th class="sticky-cell" style="width: 27px;padding-left:7px;padding-right:7px;">
                                    <input type="checkbox" name="Test" id="allchkord" onclick="SetAllCheckBoxesFilter(this, '_T_SALE_POS_RETURN_POPUP_GRID', 'P_Checked_')" />
                                </th>
                                <th class="sticky-cell" style="width:27px;">SL No.</th>
                                <th class="" style="width:129px;">Against Docno.</th>
                                <th class="" style="width:129px;">Against Doc Date</th>
                                <th class="" style="width:129px;">Bar No.</th>
                                <th class="" style="width:88px;">Item code</th>
                                <th class="">Item Name</th>
                                <th class="" style="width:50px;text-align:right;">Qnty</th>
                            </tr>
                        </thead>
                        <tbody id="_T_SALE_POS_RETURN_POPUP_tbody">
                            @if (Model.TTXNDTLPOPUP != null)
                            {
                                for (int i = 0; i <= Model.TTXNDTLPOPUP.Count - 1; i++)
                                {
                                    <tr style="font-size:12px; font-weight:bold;">
                                        <td class="sticky-cell" style="padding-left:7px;padding-right:7px;">
                                            @Html.CheckBoxFor(model => model.TTXNDTLPOPUP[i].P_Checked, new { id = "P_Checked_" + i })
                                            @Html.HiddenFor(model => model.TTXNDTLPOPUP[i].AUTONO, new { id = "P_AUTONO_" + i })
                                            @Html.HiddenFor(model => model.TTXNDTLPOPUP[i].ITGRPCD, new { id = "P_ITGRPCD_" + i })
                                            @Html.HiddenFor(model => model.TTXNDTLPOPUP[i].ITGRPNM, new { id = "P_ITGRPNM_" + i })
                                            @*@Html.HiddenFor(model => model.TTXNDTLPOPUP[i].TXBLVAL, new { id = "P_TXBLVAL_" + i })*@
                                            @Html.HiddenFor(model => model.TTXNDTLPOPUP[i].IGSTPER, new { id = "P_IGSTPER_" + i })
                                            @Html.HiddenFor(model => model.TTXNDTLPOPUP[i].CGSTPER, new { id = "P_CGSTPER_" + i })
                                            @Html.HiddenFor(model => model.TTXNDTLPOPUP[i].SGSTPER, new { id = "P_SGSTPER_" + i })
                                            @Html.HiddenFor(model => model.TTXNDTLPOPUP[i].CESSPER, new { id = "P_CESSPER_" + i })
                                            @Html.HiddenFor(model => model.TTXNDTLPOPUP[i].STKTYP, new { id = "P_STKTYP_" + i })
                                            @Html.HiddenFor(model => model.TTXNDTLPOPUP[i].UOM, new { id = "P_UOM_" + i })
                                            @Html.HiddenFor(model => model.TTXNDTLPOPUP[i].PRODGRPGSTPER, new { id = "P_PRODGRPGSTPER_" + i })
                                            @Html.HiddenFor(model => model.TTXNDTLPOPUP[i].GLCD, new { id = "P_GLCD_" + i })
                                        </td>
                                        <td class="sticky-cell">
                                            @Html.TextBoxFor(model => Model.TTXNDTLPOPUP[i].SLNO, new { id = "P_SLNO_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TTXNDTLPOPUP[i].AGDOCNO, new { id = "P_AGDOCNO_" + i, @class = "atextBoxFor", @TabIndex = -1, @readonly = "readonly" })

                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TTXNDTLPOPUP[i].AGDOCDT, new { id = "P_AGDOCDT_" + i, @class = "atextBoxFor", @TabIndex = -1, @readonly = "readonly" })

                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TTXNDTLPOPUP[i].BARNO, new { id = "P_BARNO_" + i, @class = "atextBoxFor", @TabIndex = -1, @readonly = "readonly" })

                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TTXNDTLPOPUP[i].ITCD, new { id = "P_ITCD_" + i, @class = "atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                          
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TTXNDTLPOPUP[i].ITSTYLE, new { id = "P_ITSTYLE_" + i, @class = "atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTLPOPUP[i].QNTY, new { htmlattributes = new { id = "P_QNTY_" + i, @class = " atextBoxFor  text-right", @TabIndex = -1, @readonly = "readonly" } })
                                        </td>
                                     
                                    </tr>
                                }
                            }
                        </tbody>
                        @*<tfoot>
                            <tr class="sticky-footer">
                                <th class="sticky-cell"></th>
                                <th class="sticky-cell" title="SL No."></th>
                                <th title="Order No."></th>
                                <th title="Order Date"></th>
                                <th title="ItmGrp"></th>
                                <th title="Item Design"></th>
                                <th title="Color Name"></th>
                                <th title="Size"></th>
                                <th title="Order Qnty"></th>
                                <th title="Bal. Qnty"></th>
                                <th title="Current Adj. Qnty"></th>
                                <th title="Item Code"></th>
                                <th title="Color Code"></th>
                                <th title="Party Design"></th>
                                <th title="Rate"></th>
                            </tr>
                        </tfoot>*@

                    </table>
                </div>
            </div>
        }

    </div>
    <div class="row" style="padding:5px;text-align:center;">
        <input type="hidden" id="pendorderpopup" />
        <input type="button" class="btn btn-success" id="btnSelectTTXNDTLDetails" value="Select" style="padding: 2px 5px 2px 5px;" onclick="SelectTTXNDTLDetails();" />
       
       
        <input type="button" class="btn btn-danger" id="btnCancelTTXNDTLDetails" value="Close" style="padding: 2px 5px 2px 5px;" onclick="CloseTTXNDTLDetails();" />
    </div>
</div>
