@model Improvar.ViewModels.TransactionPackingSlipEntry
<script>
    $("#popupIndent").ready(function () { $("#dragclass").draggable({ cursor: "move" }); });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") { modeView(); }
        $("td").on("mouseover", function (e) { var titlee = $(this).find("input").val(); $(this).attr('title', titlee); });
        resizableTables[resizableTables.length] = new ColumnResize(document.getElementById('_T_SALE_PENDINGORDER_GRID'));
        FooterFilter('_T_SALE_PENDINGORDER_GRID');
    });
</script>
<div id="dragclass" style="overflow-y:auto;max-height:500px;height:auto;overflow-x:hidden;background-color:#c4b9b9;padding:7px;border-radius: 7px;transform: translate(0%, 0%);z-index: 1100;">
    <div class="table-responsive">
        @if (Model.DefaultView == true)
            {
            @Html.ValidationSummary(true)
            <div class="grid_title">
                <div class="col-md-8">
                    <input type="text" id="PO_P_IN_FS" name="PO_P_IN_FS" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, '_T_SALE_PENDINGORDER_GRID');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                <center style="font-size: 11px;color: darkmagenta; border: 1px inset;"><b>Order Details</b></center>
            </div>
            <div class="sticky-table sticky-ltr-cells">
                <div style="height:auto;overflow-y:scroll;overflow-x:hidden;max-height:381px;">
                    <table id="_T_SALE_PENDINGORDER_GRID" class="resizable table-striped" cellpadding="0px" cellspacing="0px" width="100%">
                        <thead>
                            <tr class="sticky-header" style="height:30px;">
                                <th class="sticky-cell" style="width: 27px;"></th>
                                <th class="" style="width:27px;">SL No.</th>
                                <th class="" style="width:228px;">Order No.</th>
                                <th class="" style="width:135px;">Order Date</th>
                                <th class="">ItmGrp</th>
                                <th class="">Item Design</th>
                                <th class="" style="width: 50px;">Color Name</th>
                                <th class="" style="width: 50px;">Size</th>
                                <th class="" style="width:50px;text-align:right;">Order Qnty</th>
                                <th class="" style="width:50px;text-align:right;">Bal. Qnty</th>
                                <th class="" style="width:71px;">Item Code</th>
                                <th class="" style="width: 50px;">Color Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i <= Model.PENDINGORDER.Count - 1; i++)
                            {
                                <tr style="font-size:12px; font-weight:bold;">
                                    <td class="sticky-cell" style="padding-left:7px;padding-right:7px;">
                                        @Html.CheckBoxFor(model => model.PENDINGORDER[i].Ord_Checked, new { id = "Ord_Checked_" + i })
                                    </td>
                                    <td class="">
                                        @Html.TextBoxFor(model => Model.PENDINGORDER[i].SLNO, new { id = "STOCK_SLNO_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                    </td>
                                    <td class="">
                                        @Html.TextBoxFor(model => Model.PENDINGORDER[i].ORDNO, new { id = "STOCK_ORDNO_" + i, @class = "atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                        @Html.HiddenFor(model => Model.PENDINGORDER[i].ORDAUTONO, new { id = "STOCK_ORDAUTONO_" + i })
                                        @Html.HiddenFor(model => Model.PENDINGORDER[i].ORDSLNO, new { id = "STOCK_ORDSLNO_" + i })
                                     </td>
                                    <td class="">
                                        @Html.TextBoxFor(model => Model.PENDINGORDER[i].ORDDT, new { id = "STOCK_ORDDT_" + i, @class = "atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                    </td>
                                    <td class="">
                                        @Html.TextBoxFor(model => Model.PENDINGORDER[i].ITGRPNM, new { id = "STOCK_ITGRPNM_" + i, @class = "atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                    </td>
                                    <td class="">
                                        @Html.TextBoxFor(model => Model.PENDINGORDER[i].ITSTYLE, new { id = "STOCK_ITSTYLE_" + i, @class = "atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                    </td>
                                    <td class="">
                                        @Html.TextBoxFor(model => Model.PENDINGORDER[i].COLRNM, new { id = "STOCK_COLRNM_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                    </td>
                                    <td class="">
                                        @Html.TextBoxFor(model => Model.PENDINGORDER[i].SIZECD, new { id = "STOCK_SIZECD_" + i, @class = "atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                    </td>
                                    <td class="">
                                        @Html.EditorFor(model => Model.PENDINGORDER[i].ORDQTY, new { htmlattributes = new { id = "STOCK_ORDQTY_" + i, @class = " atextBoxFor  text-right", @TabIndex = -1, @readonly = "readonly" } })
                                    </td>
                                    <td class="">
                                        @Html.EditorFor(model => Model.PENDINGORDER[i].BALQTY, new { htmlattributes = new { id = "STOCK_BALQTY_" + i, @class = " atextBoxFor  text-right", @TabIndex = -1, @readonly = "readonly" } })
                                    </td>
                                    <td class="">
                                        @Html.TextBoxFor(model => Model.PENDINGORDER[i].ITCD, new { id = "STOCK_ITCD_" + i, @class = "atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                    </td>
                                   
                                    <td class="">
                                        @Html.TextBoxFor(model => Model.PENDINGORDER[i].COLRCD, new { id = "STOCK_COLRCD_" + i, @class = "atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

    </div>
    <div class="row" style="padding:5px;text-align:center;">
        <input type="button" class="btn btn-success" id="btnCancel" value="Select" style="padding: 2px 5px 2px 5px;" onclick="FillBarcodeArea('', '_T_SALE_PENDINGORDER_GRID');" />
        <input type="button" class="btn btn-danger" id="btnCancel" value="Close" style="padding: 2px 5px 2px 5px;" onclick="CloseBarnoPopup();" />
    </div>
</div>
