@model Improvar.ViewModels.TransactionPackingSlipEntry
<script type="text/javascript">
    $(document).ready(function () {
        resizableTables[resizableTables.length] = new ColumnResize(document.getElementById('_T_SALE_DETAIL_GRID'));
        $("td").on("mouseover", function (e) { var titlee = $(this).find("input").val(); $(this).attr('title', titlee); });

    });

</script>
<div style="transform: translate(0%, 0%);z-index: 1100;">
    <div class="table-responsive">
        @if (Model.DefaultView == true)
        {
            @Html.ValidationSummary(true)
            <div class="grid_title">
                @*<input type="text" id="AddRowsMain" name="AddRowsMain" placeholder="rows" style="font-size: 11px;font-weight: bold;width:40px;height:17px;float:left;padding: 2px;" maxlength="3" onkeypress="return numericOnly(this);" />*@
                @*<img src="~/Image/Plus.png" id="btnAddMain" title="Add Row" class="Help_image_buttonAddRemove" onclick="AddRow('AddRowsMain')" />
                    <img src="~/Image/Minus.png" id="btnDeleteMain" title="Delete Row" class="Help_image_buttonAddRemove" onclick="DeleteRow()" />*@
                <div class="col-md-8">
                    <input type="text" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, '_T_SALE_DETAIL_GRID');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                <center style="font-size:11px;color:darkmagenta;border:1px inset;height: 21px;padding: 4px;">
                    <b>@ViewBag.Title Entry Product Details</b>
                </center>
            </div>
            <div class="sticky-table sticky-ltr-cells">
                <div style="height:auto;overflow-y:scroll;max-height:235px;">
                    <table id="_T_SALE_DETAIL_GRID" class="resizable table-striped" cellpadding="0px" cellspacing="0px" style="width: 3427px;">
                        <thead>
                            <tr class="sticky-header" style="height:30px;">
                                <th class="sticky-cell" style="width: 27px;"></th>
                                <th class="" style="width: 30px;text-align:center;">SL No.</th>
                                <th class="">ItmGrp</th>
                                <th class="" style="width:45px;">Mtrl Type</th>
                                <th class="">Item</th>
                                <th class="" style="width: 34px;">Stock Type</th>
                                <th class="" style="width:50px;">UOM</th>
                                <th class="" style="width:71px;text-align:right;">Nos</th>
                                <th class="" style="width:111px;text-align:right;">Quantity</th>
                                <th class="" style="width:111px;text-align:right;">Flag</th>
                                <th class="" style="width:111px;text-align:right;">Bill Qnty</th>
                                <th class="" style="width:111px;text-align:right;">Rate</th>
                                <th class="" style="width:111px;text-align:right;">Amount</th>
                                <th class="" style="width:50px;">Disc Type</th>
                                <th class="" style="width:111px;text-align:right;">Disc Rate</th>
                                <th class="" style="width:111px;text-align:right;">Disc Amt</th>
                                <th class="" style="width:50px;">Disc-1</th>
                                <th class="" style="width:111px;text-align:right;">Disc1 Rate</th>
                                <th class="" style="width:111px;text-align:right;">Disc1 Amt</th>
                                <th class="" style="width:50px;">Disc-2</th>
                                <th class="" style="width:111px;text-align:right;">Disc2 Rate</th>
                                <th class="" style="width:111px;text-align:right;">Disc2 Amt</th>
                                <th class="" style="width:111px;text-align:right;">Taxable</th>
                                <th class="" style="width:75px;text-align:right;">IGST %</th>
                                <th class="" style="width:111px;text-align:right;">IGST Amt</th>
                                <th class="" style="width:75px;text-align:right;">CGST %</th>
                                <th class="" style="width:111px;text-align:right;">CGST Amt</th>
                                <th class="" style="width:75px;text-align:right;">SGST %</th>
                                <th class="" style="width:111px;text-align:right;">SGST Amt</th>
                                <th class="" style="width:75px;text-align:right;">CESS %</th>
                                <th class="" style="width:111px;text-align:right;">CESS Amt</th>
                                <th class="" style="width:111px;text-align:right;">Net Amount</th>
                                <th class="" style="width:109px;">Hsn Code</th>
                                @if (Model.MENU_PARA == "PB")
                                {
                                    <th class="" style="width:165px;">Bale</th>
                                }
                                <th class="" style="width:109px;">glcd</th>
                                <th class="" style="width:165px;">Image Upload</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.TTXNDTL != null)
                            {
                                for (int i = 0; i <= Model.TTXNDTL.Count - 1; i++)
                                {
                                    <tr style="font-size:12px; font-weight:bold;">
                                        <td class="sticky-cell" style="padding-left:7px;padding-right:7px;">
                                            @Html.CheckBoxFor(model => model.TTXNDTL[i].Checked, new { id = "D_Checked_" + i, @TabIndex = -1 })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TTXNDTL[i].SLNO, new { id = "D_SLNO_" + i, @class = " atextBoxFor ", @style = "text-align:center;", maxlength = 2, @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TTXNDTL[i].ITGRPNM, new { id = "D_ITGRPNM_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                            @Html.HiddenFor(model => model.TTXNDTL[i].ITGRPCD, new { id = "D_ITGRPCD_" + i })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TTXNDTL[i].MTRLJOBCD, new { id = "D_MTRLJOBCD_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                            @Html.HiddenFor(model => model.TTXNDTL[i].MTRLJOBNM, new { id = "D_MTRLJOBNM_" + i })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TTXNDTL[i].ITSTYLE, new { id = "D_ITSTYLE_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                            @Html.HiddenFor(model => model.TTXNDTL[i].ITCD, new { id = "D_ITCD_" + i })
                                            @Html.HiddenFor(model => model.TTXNDTL[i].STYLENO, new { id = "D_STYLENO_" + i })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TTXNDTL[i].STKTYPE, new { id = "D_STKTYPE_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                            @*@Html.HiddenFor(model => model.TTXNDTL[i].STKTYPE, new { id = "D_STKTYPE_" + i })*@
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TTXNDTL[i].UOM, new { id = "D_UOM_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTL[i].NOS, new { htmlAttributes = new { id = "D_NOS_" + i, @style = "text-align: right;", @onkeypress = "return numericOnly(this,3);", @class = " atextBoxFor", maxlength = 12, @TabIndex = -1, @readonly = "readonly" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTL[i].QNTY, new { htmlAttributes = new { id = "D_QNTY_" + i, @style = "text-align: right;", @onkeypress = "return numericOnly(this,3);", @class = " atextBoxFor", maxlength = 12, @TabIndex = -1, @readonly = "readonly" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTL[i].FLAGMTR, new { htmlAttributes = new { id = "D_FLAGMTR_" + i, @style = "text-align: right;", @onkeypress = "return numericOnly(this,3);", @class = " atextBoxFor", maxlength = 12, @TabIndex = -1, @readonly = "readonly" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTL[i].BLQNTY, new { htmlAttributes = new { id = "D_BLQNTY_" + i, @style = "text-align: right;", @onkeypress = "return numericOnly(this,3);", @class = " atextBoxFor", maxlength = 12, @TabIndex = -1, @readonly = "readonly" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTL[i].RATE, new { htmlAttributes = new { id = "D_RATE_" + i, @style = "text-align: right;", @onkeypress = "return numericOnly(this,2);", @class = " atextBoxFor", maxlength = 14, @onchange = "UpdateBarCodeRow_FrmDet(" + i + ");CalculateAmt_Details(" + i + ");" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTL[i].AMT, new { htmlattributes = new { id = "D_AMT_" + i, @class = " atextBoxFor  text-right", maxlength = 12, @onkeypress = "return numericOnly(this,2);", @TabIndex = -1, @readonly = "readonly" } })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TTXNDTL[i].DISCTYPE_DESC, new { id = "D_DISCTYPE_DESC_" + i, @class = " atextBoxFor ", @onchange = "UpdateBarCodeRow_FrmDet(" + i + ")" })
                                            @Html.HiddenFor(model => model.TTXNDTL[i].DISCTYPE, new { id = "D_DISCTYPE_" + i })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTL[i].DISCRATE, new { htmlAttributes = new { id = "D_DISCRATE_" + i, @class = " atextBoxFor text-right", @onchange = "UpdateBarCodeRow_FrmDet(" + i + ");CalculateAmt_Details(" + i + ");" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTL[i].DISCAMT, new { htmlAttributes = new { id = "D_DISCAMT_" + i, @class = " atextBoxFor text-right" } })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TTXNDTL[i].TDDISCTYPE_DESC, new { id = "D_TDDISCTYPE_DESC_" + i, @class = " atextBoxFor ", @onchange = "UpdateBarCodeRow_FrmDet(" + i + ")" })
                                            @Html.HiddenFor(model => model.TTXNDTL[i].TDDISCTYPE, new { id = "D_TDDISCTYPE_" + i })
                                          </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTL[i].TDDISCRATE, new { htmlAttributes = new { id = "D_TDDISCRATE_" + i, @style = "text-align: right;", @onkeypress = "return numericOnly(this,2);", @class = " atextBoxFor", maxlength = 10, @onchange = "UpdateBarCodeRow_FrmDet(" + i + ");CalculateAmt_Details(" + i + ");" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTL[i].TDDISCAMT, new { htmlAttributes = new { id = "D_TDDISCAMT_" + i, @class = " atextBoxFor text-right" } })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TTXNDTL[i].SCMDISCTYPE_DESC, new { id = "D_SCMDISCTYPE_DESC_" + i, @class = " atextBoxFor ", @onchange = "UpdateBarCodeRow_FrmDet(" + i + ")" })
                                            @Html.HiddenFor(model => model.TTXNDTL[i].SCMDISCTYPE, new { id = "D_SCMDISCTYPE_" + i })
                                         </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTL[i].SCMDISCRATE, new { htmlAttributes = new { id = "D_SCMDISCRATE_" + i, @style = "text-align: right;", @onkeypress = "return numericOnly(this,2);", @class = " atextBoxFor", maxlength = 10, @onchange = "UpdateBarCodeRow_FrmDet(" + i + ");CalculateAmt_Details(" + i + ");" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTL[i].SCMDISCAMT, new { htmlAttributes = new { id = "D_SCMDISCAMT_" + i, @class = " atextBoxFor text-right" } })
                                        </td>
                                        <td class="">
                                            @Html.HiddenFor(model => model.TTXNDTL[i].TOTDISCAMT, new { id = "D_TOTDISCAMT_" + i })
                                            @Html.EditorFor(model => Model.TTXNDTL[i].TXBLVAL, new { htmlattributes = new { id = "D_TXBLVAL_" + i, @class = " atextBoxFor  text-right", maxlength = 12, @onkeypress = "return numericOnly(this,2);", @TabIndex = -1, @readonly = "readonly" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTL[i].IGSTPER, new { htmlattributes = new { id = "D_IGSTPER_" + i, @onkeypress = "return numericOnly(this,3);", maxlength = 7, @class = "atextBoxFor text-right", @TabIndex = -1, @readonly = "readonly", @onchange = "CalculateAmt_Details(" + i + ")" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTL[i].IGSTAMT, new { htmlattributes = new { id = "D_IGSTAMT_" + i, onblur = "AmountChange(this,A_AMT_" + i + ",AIGSTPER_" + i + ",ANETAMT_" + i + ",ACGSTAMT_" + i + ",ASGSTAMT_" + i + ",ACESSAMT_" + i + ",ADUTYAMT_" + i + ");", @onkeypress = "return numericOnly(this,2);", maxlength = 12, @class = "atextBoxFor text-right" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTL[i].CGSTPER, new { htmlattributes = new { id = "D_CGSTPER_" + i, @onkeypress = "return numericOnly(this,3);", maxlength = 7, @class = "atextBoxFor", @style = "text-align: right;", @TabIndex = -1, @readonly = "readonly", @onchange = "CalculateAmt_Details(" + i + ")" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTL[i].CGSTAMT, new { htmlattributes = new { id = "D_CGSTAMT_" + i, onblur = "AmountChange(this,A_AMT_" + i + ",ACGSTPER_" + i + ",ANETAMT_" + i + ",AIGSTAMT_" + i + ",ASGSTAMT_" + i + ",ACESSAMT_" + i + ",ADUTYAMT_" + i + ");", @onkeypress = "return numericOnly(this,2);", maxlength = 12, @class = "atextBoxFor text-right" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTL[i].SGSTPER, new { htmlattributes = new { id = "D_SGSTPER_" + i, @onkeypress = "return numericOnly(this,3);", maxlength = 7, @class = "atextBoxFor", @style = "text-align: right;", @TabIndex = -1, @readonly = "readonly", @onchange = "CalculateAmt_Details(" + i + ")" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTL[i].SGSTAMT, new { htmlattributes = new { id = "D_SGSTAMT_" + i, onblur = "AmountChange(this,A_AMT_" + i + ",ASGSTPER_" + i + ",ANETAMT_" + i + ",AIGSTAMT_" + i + ",ACGSTAMT_" + i + ",ACESSAMT_" + i + ",ADUTYAMT_" + i + ");", @onkeypress = "return numericOnly(this,2);", maxlength = 12, @class = "atextBoxFor text-right" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTL[i].CESSPER, new { htmlattributes = new { id = "D_CESSPER_" + i, @onkeypress = "return numericOnly(this,3);", maxlength = 7, @class = "atextBoxFor", @style = "text-align: right;", @TabIndex = -1, @readonly = "readonly", @onchange = "CalculateAmt_Details(" + i + ")" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTL[i].CESSAMT, new { htmlattributes = new { id = "D_CESSAMT_" + i, onblur = "AmountChange(this,A_AMT_" + i + ",ACESSPER_" + i + ",ANETAMT_" + i + ",AIGSTAMT_" + i + ",ACGSTAMT_" + i + ",ASGSTAMT_" + i + ",ADUTYAMT_" + i + ");", @onkeypress = "return numericOnly(this,2);", maxlength = 12, @class = "atextBoxFor text-right" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTL[i].NETAMT, new { htmlattributes = new { id = "D_NETAMT_" + i, @class = " atextBoxFor  text-right", maxlength = 12, @onkeypress = "return numericOnly(this,2);", @TabIndex = -1, @readonly = "readonly" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTL[i].HSNCODE, new { htmlattributes = new { id = "D_HSNCODE_" + i, @class = " atextBoxFor  text-right", maxlength = 12 } })
                                        </td>
                                        @if (Model.MENU_PARA == "PB")
                                        {
                                            <td class="">
                                                @Html.EditorFor(model => Model.TTXNDTL[i].BALENO, new { htmlattributes = new { id = "D_BALENO_" + i, @class = " atextBoxFor  text-right", maxlength = 12 } })
                                            </td>
                                        }
                                        <td class="">
                                            @Html.EditorFor(model => Model.TTXNDTL[i].GLCD, new { htmlattributes = new { id = "D_GLCD_" + i, @class = " atextBoxFor  text-right", maxlength = 12 } })
                                        </td>
                                        <td class="">
                                            <input type="file" class="atextBoxFor" name="ImageData_@i" id="D_ImageData_@i" onchange="fileCheck(this,@i);" />
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr class="sticky-footer">
                                <td class="sticky-cell" style="width:27px;"> <input type="text" class="atextBoxFor" readonly="readonly" />  </td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td style="text-align:right;">
                                    <input type="text" value="Total:" class="atextBoxFor" style="font-weight:bold;color:red;text-align:right" readonly="readonly" />
                                </td>
                                <td style="text-align:right;">
                                    @Html.TextBoxFor(model => Model.T_NOS, new { id = "T_NOS", @class = "atextBoxFor", @style = "text-align: right;", @readonly = "readonly" })
                                </td>
                                <td style="text-align:right;">
                                    @Html.EditorFor(model => Model.T_QNTY, new { htmlAttributes = new { id = "T_QNTY", @class = "atextBoxFor text-right", style = "font-weight:bold;color:red;", @readonly = "readonly" } })
                                </td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td> @*RATE*@
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td style="text-align:right;">
                                    @Html.EditorFor(model => Model.T_AMT, new { htmlattributes = new { id = "T_AMT", @class = "atextBoxFor text-right", style = "font-weight:bold;color:red;", @readonly = "readonly" } })
                                </td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td> @*RATE*@
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td style="text-align:right;">
                                    @Html.EditorFor(model => Model.T_GROSS_AMT, new { htmlattributes = new { id = "T_GROSS_AMT", @class = "atextBoxFor text-right", style = "font-weight:bold;color:red;", @readonly = "readonly" } })
                                </td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td style="text-align:right;">
                                    @Html.EditorFor(model => Model.T_IGST_AMT, new { htmlattributes = new { id = "T_IGST_AMT", @class = "atextBoxFor text-right", style = "font-weight:bold;color:red;", @readonly = "readonly" } })
                                </td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td style="text-align:right;">
                                    @Html.EditorFor(model => Model.T_CGST_AMT, new { htmlattributes = new { id = "T_CGST_AMT", @class = "atextBoxFor text-right", style = "font-weight:bold;color:red;", @readonly = "readonly" } })
                                </td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td style="text-align:right;">
                                    @Html.EditorFor(model => Model.T_SGST_AMT, new { htmlattributes = new { id = "T_SGST_AMT", @class = "atextBoxFor text-right", style = "font-weight:bold;color:red;", @readonly = "readonly" } })
                                </td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td style="text-align:right;">
                                    @Html.EditorFor(model => Model.T_CESS_AMT, new { htmlattributes = new { id = "T_CESS_AMT", @class = "atextBoxFor text-right", style = "font-weight:bold;color:red;", @readonly = "readonly" } })
                                </td>
                                <td style="text-align:right;width:100px">
                                    @Html.EditorFor(model => Model.T_NET_AMT, new { htmlattributes = new { id = "T_NET_AMT", @class = "atextBoxFor text-right", style = "font-weight:bold;color:red;", @readonly = "readonly" } })
                                </td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                @if (Model.MENU_PARA == "PB")
                                {
                                    <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                }
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }
    </div>
</div>
