@model Improvar.ViewModels.SalesOrderEntry
<script type="text/javascript">
    $(document).ready(function () {
        resizableTables[resizableTables.length] = new ColumnResize(document.getElementById('_T_SORD_MAIN_GRID'));
        $("td").on("mouseover", function (e) { var titlee = $(this).find("input").val(); $(this).attr('title', titlee); });

    });

</script>
<div style="transform: translate(0%, 0%);z-index: 1100;">
    <div class="table-responsive">
        @if (Model.DefaultView == true)
        {
            @Html.ValidationSummary(true)
            <div class="grid_title">
                <input type="text" id="AddRowsMain" name="AddRowsMain" placeholder="rows" style="font-size: 11px;font-weight: bold;width:40px;height:17px;float:left;padding: 2px;" maxlength="3" onkeypress="return numericOnly(this);" />
                <img src="~/Image/Plus.png" id="btnAddMain" title="Add Row" class="Help_image_buttonAddRemove" onclick="AddRow('AddRowsMain')" />
                <img src="~/Image/Minus.png" id="btnDeleteMain" title="Delete Row" class="Help_image_buttonAddRemove" onclick="DeleteRow()" />
                <div class="col-md-8">
                    <input type="text" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, '_T_SORD_MAIN_GRID');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                <center style="font-size:11px;color:darkmagenta;border:1px inset;height: 21px;padding: 4px;">
                    <b>Sales Order Entry Item Details</b>
                    @*<a style="color: red;font-variant: petite-caps;font-weight: bolder;"><b style="float:right;margin-right:30px;">Click to Copy First Row Stock Type to All Rows <input type="button" id="SAME_STKTYPE" class="btn btn-success" value="Copy" onclick="CopyStkType();" name="SAME_STKTYPE" style="float: right;margin-top: -4px;height: 18px;width: 40px;font-size: 11px;font-weight: bolder;padding: 1px;margin-left: 5px;" /></b></a>*@
                </center>
            </div>
            <div class="sticky-table sticky-ltr-cells">
                <div style="height:auto;overflow-y:scroll;max-height:235px;">
                    <table id="_T_SORD_MAIN_GRID" class="resizable table-striped" cellpadding="0px" cellspacing="0px" @*style="width: 1633px;"*@>
                        <thead>
                            <tr class="sticky-header" style="height:30px;">
                                <th class="sticky-cell" style="width: 27px;"></th>
                                <th class="" style="width: 30px;text-align:center;">SL No.</th>
                                <th class="" style="width: 59px;">ItmGrp Code</th>
                                <th class="" style="width: 100px;">ItmGrp Name</th>
                                <th class="" style="width: 92px;">Item Code</th>
                                <th class="" style="width: 179px;">Item Name</th>
                                <th class="" style="width: 179px;">Fabric Item Name</th>
                                <th class="" style="width:96px;">Design</th>
                                <th class="" style="width:47px;">UOM</th>
                                <th class="" style="width:111px;text-align:right;">Quantity</th>
                                <th class="" style="width:240px;">Rate</th>
                                <th class="" style="width:150px;">Sizes</th>
                                <th class="" style="width:83px;">Delivery Date</th>
                                <th class="">Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.TSORDDTL != null)
                            {
                                for (int i = 0; i <= Model.TSORDDTL.Count - 1; i++)
                                {
                                    <tr style="font-size:12px; font-weight:bold;">
                                        <td class="sticky-cell" style="padding-left:7px;padding-right:7px;">
                                            @Html.CheckBoxFor(model => model.TSORDDTL[i].Checked, new { id = "chkid_" + i, @TabIndex = -1 })
                                            @Html.HiddenFor(model => model.TSORDDTL[i].ChildData, new { id = "ChildData_" + i, Value = @Model.TSORDDTL[i].ChildData })
                                            @*@Html.HiddenFor(model => model.TSORDDTL[i].AMOUNT, new { id = "AMOUNT_" + i })*@
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TSORDDTL[i].SLNO, new { id = "SLNO_" + i, @class = " atextBoxFor ", @style = "text-align:center;", maxlength = 2, @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TSORDDTL[i].ITGRPCD, new { id = "ITGRPCD_" + i, maxlength = 10, onkeydown = "GetHelpBlur('" + @Url.Action("GetItemGroupDetails", "T_SORD") + "','Item Group Details','" + "ITGRPCD_" + i + "','" + "ITGRPNM_" + i + "=itgrpnm=0/" + "ITGRPCD_" + i + "=itgrpcd=1');", @class = " atextBoxFor textbox_image", onblur = "GetHelpBlur('" + @Url.Action("GetItemGroupDetails", "T_SORD") + "','Item Group Details','" + "ITGRPCD_" + i + "','" + "ITGRPNM_" + i + "=itgrpnm=0/" + "ITGRPCD_" + i + "=itgrpcd=1');" })
                                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetItemGroupDetails", "T_SORD")','Item Group Details','ITGRPCD_@i','ITGRPNM_@i=itgrpnm=0/ITGRPCD_@i=itgrpcd=1')" />
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TSORDDTL[i].ITGRPNM, new { id = "ITGRPNM_" + i, @class = " atextBoxFor ", @style = "text-align:center;", maxlength = 2, @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TSORDDTL[i].ITCD, new { id = "ITCD_" + i, maxlength = 60, onkeydown = "GetHelpBlur('" + @Url.Action("GetItemDetails", "T_SORD") + "','Item Details','" + "ITCD_" + i + "','" + "ITCD_" + i + "=itcd=2/" + "ITNM_" + i + "=itnm=1/" + "UOM_" + i + "=uomcd=3/" + "STYLENO_" + i + "=styleno=0/" + "ITGRPCD_" + i + "=itgrpcd=5/" + "ITGRPNM_" + i + "=itgrpnm/" + "FABITCD_" + i + "=fabitcd=7/" + "FABITNM_" + i + "=fabitnm','" + "ITGRPCD_" + i + "/" + "FABITCD_" + i + "');", onblur = "GetHelpBlur('" + @Url.Action("GetItemDetails", "T_SORD") + "','Item Details','" + "ITCD_" + i + "','" + "ITCD_" + i + "=itcd=2/" + "ITNM_" + i + "=itnm=1/" + "UOM_" + i + "=uomcd=3/" + "STYLENO_" + i + "=styleno=0/" + "ITGRPCD_" + i + "=itgrpcd=5/" + "ITGRPNM_" + i + "=itgrpnm/" + "FABITCD_" + i + "=fabitcd=7/" + "FABITNM_" + i + "=fabitnm','" + "ITGRPCD_" + i + "/" + "FABITCD_" + i + "');", @class = " atextBoxFor textbox_image" })
                                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button_grid" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetItemDetails", "T_SORD")','Item Details','ITCD_@i','ITCD_@i=itcd=2/ITNM_@i=itnm=1/UOM_@i=uomcd=3/STYLENO_@i=styleno=0/ITGRPCD_@i=itgrpcd=5/ITGRPNM_@i=itgrpnm/FABITCD_@i=fabitcd=7/FABITNM_@i=fabitnm','ITGRPCD_@i/FABITCD_@i')" />
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TSORDDTL[i].ITNM, new { id = "ITNM_" + i, @class = " atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TSORDDTL[i].FABITNM, new { id = "FABITNM_" + i, @class = " atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                            @Html.HiddenFor(model => model.TSORDDTL[i].FABITCD, new { id = "FABITCD_" + i })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TSORDDTL[i].STYLENO, new { id = "STYLENO_" + i, @class = " atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TSORDDTL[i].UOM, new { id = "UOM_" + i, @class = " atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @*@Html.EditorFor(model => Model.TSORDDTL[i].QNTY, new { htmlAttributes = new { id = "QNTY_" + i, @style = "text-align: right;", onclick = "OpenSize(this.value,'" + "SLNO_" + i + "','" + "ITCD_" + i + "','" + "ITNM_" + i + "','" + "PCSPERSET_" + i + "','" + "ARTNO_" + i + "','" + "UOM_" + i + "','" + "TOTAL_PCS_" + i + "',NOOFSETS_" + i + ".value,'" + "STKTYPE_" + i + "','" + "FREESTK_" + i + "','1');", onkeydown = "OpenSize(this.value,'" + "SLNO_" + i + "','" + "ITCD_" + i + "','" + "ITNM_" + i + "','" + "PCSPERSET_" + i + "','" + "ARTNO_" + i + "','" + "UOM_" + i + "','" + "TOTAL_PCS_" + i + "',NOOFSETS_" + i + ".value,'" + "STKTYPE_" + i + "','" + "FREESTK_" + i + "','1');", @TabIndex = -1, @class = " atextBoxFor", maxlength = 12 } })*@
                                            @Html.EditorFor(model => Model.TSORDDTL[i].QNTY, new { htmlAttributes = new { id = "QNTY_" + i,placeholder="press any key", @style = "text-align: right;", onclick = "OpenSize(" + i + ",'1');", onkeydown = "OpenSize(" + i + ",'1');", @class = " atextBoxFor", @readonly = "readonly" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TSORDDTL[i].RATE_DISPLAY, new { htmlAttributes = new { id = "RATE_DISPLAY_" + i, @class = " atextBoxFor", @style = "text-align: right;", @TabIndex = -1, @onkeypress = "return numericOnly(this,2);", @readonly = "readonly" } })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TSORDDTL[i].ALL_SIZE, new { id = "ALL_SIZE_" + i, @class = " atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.TSORDDTL[i].DELVDT, new { htmlAttributes = new { id = "DELVDT_" + i, @class = " atextBoxFor", onblur = "DocumentDateCHK(this);", autocomplete = "off", maxlength = 10 } })
                                            @if (Model.DefaultAction != "V")
                                            {
                                                <script>
                                                    $(function () { $("#DELVDT_@i").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate' }); });
                                                </script>
                                            }
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.TSORDDTL[i].ITREM, new { id = "ITREM_" + i, @class = " atextBoxFor", maxlength = 500 })
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr class="sticky-footer">
                                <td class="sticky-cell" style="width:27px;"> <input type="text" class="atextBoxFor" readonly="readonly" />  </td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td style="text-align:right;"><input type="text" value="Total:" class="atextBoxFor" style="font-weight:bold;color:red;text-align:right;font-variant:petite-caps;" readonly="readonly" /></td>
                                <td style="text-align:right;">
                                    @Html.EditorFor(model => Model.TOTAL_QNTY, new { htmlattributes = new { id = "TOTAL_QNTY", @class = "atextBoxFor", @style = "text-align: right;font-weight:bold;", @readonly = "readonly" } })
                                </td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td> @*RATE*@
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                                <td><input type="text" class="atextBoxFor" readonly="readonly" /></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }
    </div>
</div>
