@model Improvar.ViewModels.TransactionSaleEntry
@{
    var haspendorddata = "";
}
<script>
    $("#popup").ready(function () {
        $("#dragclass").draggable({ cursor: "move" });
    });

</script>
<script type="text/javascript">
    $(document).ready(function () {
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") { modeView(); }
        $("td").on("mouseover", function (e) { var titlee = $(this).find("input").val(); $(this).attr('title', titlee); });
        resizableTables[resizableTables.length] = new ColumnResize(document.getElementById('_T_SALE_PENDINGORDER_GRID'));
        FooterFilter('_T_SALE_PENDINGORDER_GRID');
    });
</script>
<div id="dragclass" style="overflow-y:auto;max-height:500px;height:auto;overflow-x:hidden;background-color:#c4b9b9;padding:7px;border-radius: 7px;transform: translate(0%, 0%);z-index: 1100;">
    <div class="table-responsive">
        @if (Model.DefaultView == true)
            {
            @Html.ValidationSummary(true)
            <div class="grid_title">
                <div class="col-md-8">
                    <input type="text" id="PO_P_IN_FS" name="PO_P_IN_FS" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, '_T_SALE_PENDINGORDER_GRID');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                <center style="font-size: 11px;color: darkmagenta; border: 1px inset;"><b>Order Details</b></center>
            </div>
            <div class="sticky-table sticky-ltr-cells">
                <div style="height:auto;overflow-y:scroll;overflow-x:hidden;max-height:381px;">
                    <table id="_T_SALE_PENDINGORDER_GRID" class="resizable table-striped" cellpadding="0px" cellspacing="0px" style="width: 947px;">
                        <thead>
                            <tr class="sticky-header" style="height:30px;">
                                <th class="sticky-cell" style="width: 27px;padding-left:7px;padding-right:7px;">
                                    <input type="checkbox" name="Test" id="allchkord" onclick="SetAllCheckBoxesFilter(this, '_T_SALE_PENDINGORDER_GRID', 'Ord_Checked_')" />
                                </th>
                                <th class="sticky-cell" style="width:27px;">SL No.</th>
                                <th class="" style="width:129px;">Order No.</th>
                                <th class="" style="width:88px;">Order Date</th>
                                <th class="">ItmGrp</th>
                                <th class="">Item Design</th>
                                <th class="" style="width: 50px;">Color Name</th>
                                <th class="" style="width: 50px;">Size</th>
                                <th class="" style="width:50px;text-align:right;">Order Qnty</th>
                                <th class="" style="width:50px;text-align:right;">Bal. Qnty</th>
                                <th class="" style="width:50px;text-align:right;">Current Adj. Qnty</th>
                                <th class="" style="width:71px;">Item Code</th>
                                <th class="" style="width: 50px;">Color Code</th>
                                <th class="" style="width:71px;">Party Design</th>
                                <th class="" style="width:50px;text-align:right;">Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.PENDINGORDER != null)
                            {
                                for (int i = 0; i <= Model.PENDINGORDER.Count - 1; i++)
                                {
                                    <tr style="font-size:12px; font-weight:bold;">
                                        <td class="sticky-cell" style="padding-left:7px;padding-right:7px;">
                                            @Html.CheckBoxFor(model => model.PENDINGORDER[i].Ord_Checked, new { id = "Ord_Checked_" + i })
                                            @Html.HiddenFor(model => model.PENDINGORDER[i].PARTCD, new { id = "Ord_PARTCD_" + i })
                                            @Html.HiddenFor(model => model.PENDINGORDER[i].PARTNM, new { id = "Ord_PARTNM_" + i })
                                            @Html.HiddenFor(model => model.PENDINGORDER[i].PRTBARCODE, new { id = "Ord_PRTBARCODE_" + i })
                                            @Html.HiddenFor(model => model.PENDINGORDER[i].UOM, new { id = "Ord_UOM_" + i })
                                            @Html.HiddenFor(model => model.PENDINGORDER[i].HSNCODE, new { id = "Ord_HSNCODE_" + i })
                                            @Html.HiddenFor(model => model.PENDINGORDER[i].GLCD, new { id = "Ord_GLCD_" + i })
                                            @Html.HiddenFor(model => model.PENDINGORDER[i].PRODGRPGSTPER, new { id = "Ord_PRODGRPGSTPER_" + i })
                                            @Html.HiddenFor(model => model.PENDINGORDER[i].GSTPER, new { id = "Ord_GSTPER_" + i })
                                            @Html.HiddenFor(model => model.PENDINGORDER[i].WPPRICEGEN, new { id = "Ord_WPPRICEGEN_" + i })
                                            @Html.HiddenFor(model => model.PENDINGORDER[i].RPPRICEGEN, new { id = "Ord_RPPRICEGEN_" + i })
                                            @Html.HiddenFor(model => model.PENDINGORDER[i].BarImages, new { id = "Ord_BarImages_" + i })
                                            @Html.HiddenFor(model => model.PENDINGORDER[i].BarImagesCount, new { id = "Ord_BarImagesCount_" + i })
                                            @Html.HiddenFor(model => model.PENDINGORDER[i].MTRLJOBCD, new { id = "Ord_MTRLJOBCD_" + i })
                                            @Html.HiddenFor(model => model.PENDINGORDER[i].MTRLJOBNM, new { id = "Ord_MTRLJOBNM_" + i })
                                            @Html.HiddenFor(model => model.PENDINGORDER[i].MTBARCODE, new { id = "Ord_MTBARCODE_" + i })
                                            @Html.HiddenFor(model => model.PENDINGORDER[i].NEGSTOCK, new { id = "Ord_NEGSTOCK_" + i })
                                        </td>
                                        <td class="sticky-cell">
                                            @Html.TextBoxFor(model => Model.PENDINGORDER[i].SLNO, new { id = "Ord_SLNO_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.PENDINGORDER[i].ORDDOCNO, new { id = "Ord_ORDDOCNO_" + i, @class = "atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                            @Html.HiddenFor(model => Model.PENDINGORDER[i].ORDAUTONO, new { id = "Ord_ORDAUTONO_" + i })
                                            @Html.HiddenFor(model => Model.PENDINGORDER[i].ORDSLNO, new { id = "Ord_ORDSLNO_" + i })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.PENDINGORDER[i].ORDDOCDT, new { id = "Ord_ORDDOCDT_" + i, @class = "atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.PENDINGORDER[i].ITGRPNM, new { id = "Ord_ITGRPNM_" + i, @class = "atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                            @Html.HiddenFor(model => Model.PENDINGORDER[i].ITGRPCD, new { id = "Ord_ITGRPCD_" + i })
                                            @Html.HiddenFor(model => Model.PENDINGORDER[i].BARGENTYPE, new { id = "Ord_BARGENTYPE_" + i })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.PENDINGORDER[i].ITSTYLE, new { id = "Ord_ITSTYLE_" + i, @class = "atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.PENDINGORDER[i].COLRNM, new { id = "Ord_COLRNM_" + i, @class = " atextBoxFor ", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.PENDINGORDER[i].SIZECD, new { id = "Ord_SIZECD_" + i, @class = "atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                            @Html.HiddenFor(model => model.PENDINGORDER[i].SIZENM, new { id = "Ord_SIZENM_" + i })
                                            @Html.HiddenFor(model => model.PENDINGORDER[i].SZBARCODE, new { id = "Ord_SZBARCODE_" + i })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.PENDINGORDER[i].ORDQTY, new { htmlattributes = new { id = "Ord_ORDQTY_" + i, @class = " atextBoxFor  text-right", @TabIndex = -1, @readonly = "readonly" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.PENDINGORDER[i].BALQTY, new { htmlattributes = new { id = "Ord_BALQTY_" + i, @class = " atextBoxFor  text-right", @TabIndex = -1, @readonly = "readonly" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.PENDINGORDER[i].CURRENTADJQTY, new { htmlattributes = new { id = "Ord_CURRENTADJQTY_" + i, @class = " atextBoxFor  text-right", @TabIndex = -1, @readonly = "readonly" } })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.PENDINGORDER[i].ITCD, new { id = "Ord_ITCD_" + i, @class = "atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                        </td>

                                        <td class="">
                                            @Html.TextBoxFor(model => Model.PENDINGORDER[i].COLRCD, new { id = "Ord_COLRCD_" + i, @class = "atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                            @Html.HiddenFor(model => model.PENDINGORDER[i].CLRBARCODE, new { id = "Ord_CLRBARCODE_" + i })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.PENDINGORDER[i].PDESIGN, new { id = "Ord_PDESIGN_" + i, @class = "atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.PENDINGORDER[i].RATE, new { htmlattributes = new { id = "Ord_RATE_" + i, @class = "atextBoxFor text-right", @TabIndex = -1, @readonly = "readonly" } })
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr class="sticky-footer">
                                <th class="sticky-cell"></th>
                                <th class="sticky-cell" title="SL No."></th>
                                <th title="Order No."></th>
                                <th title="Order Date"></th>
                                <th title="ItmGrp"></th>
                                <th title="Item Design"></th>
                                <th title="Color Name"></th>
                                <th title="Size"></th>
                                <th title="Order Qnty"></th>
                                <th title="Bal. Qnty"></th>
                                <th title="Current Adj. Qnty"></th>
                                <th title="Item Code"></th>
                                <th title="Color Code"></th>
                                <th title="Party Design"></th>
                                <th title="Rate"></th>
                            </tr>
                        </tfoot>

                    </table>
                </div>
            </div>
        }

    </div>
    <div class="row" style="padding:5px;text-align:center;">
        <input type="hidden" id="pendorderpopup" />
        <input type="button" class="btn btn-success" id="btnSelectPendOrder" value="Select" style="padding: 2px 5px 2px 5px;display:none" onclick="SelectPendOrder();" />
        <input type="button" class="btn btn-success" id="btnSlctPOBar" value="Add to Barcode Area" style="padding: 2px 5px 2px 5px;display:none" onclick="FillOrderToBarcode();" />
        @if (Model.MENU_PARA == "PB" || Model.MENU_PARA == "OP")
        {
            <input type="button" class="btn btn-success" id="btnSlctPOGrid" value="Add to Grid" style="padding: 2px 5px 2px 5px;display:none" onclick="SelectPendOrder('SHOWBTN');" />
        }
        <input type="button" class="btn btn-danger" id="btnCancelPendOrder" value="Close" style="padding: 2px 5px 2px 5px;" onclick="ClosePendOrder();" />
    </div>
</div>
