@model Improvar.ViewModels.RateHistory

<div style="overflow-y:auto;">
    <div class="table-responsive">

            @Html.ValidationSummary(true)
            <div class="grid_title">
                <div class="col-md-10">
                    <input type="text" id="search_part" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, '_T_SALE_RateHistoryGrid');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                <center style="font-size: 11px;color: darkmagenta; border: 1px inset;"><b>Rate History</b></center>
            </div>
            <div class="sticky-table sticky-ltr-cells">
                <div style="height:auto;overflow-y:scroll;max-height:235px;">
                    <table id="_T_SALE_RateHistoryGrid" class="resizable table-striped" cellpadding="0px" cellspacing="0px">
                        <thead>
                            <tr class="sticky-header" style="height:30px;">
                                <th class="sticky-cell" style="width:27px;">SL. No.</th>
                                <th class="" style="width:110px;">DOCDT</th>
                                <th class="" style="width:257px;">DOCNO</th>
                                <th class="" style="width:47px;">Party Name</th>
                                <th class="" style="width:47px;">CITY</th>
                                <th class="" style="width:111px;text-align:right;">Quantity</th>
                                <th class="" style="width:111px;text-align:right;">Rate</th>
                                <th class="" style="width:50px;">Disc (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.RateHistoryGrid != null)
                            {
                                for (int i = 0; i <= Model.RateHistoryGrid.Count - 1; i++)
                                {
                                    <tr style="font-size:12px; font-weight:bold;">
                                        <td class="sticky-cell">
                                            @Html.TextBoxFor(model => Model.RateHistoryGrid[i].SLNO, new { id = "RateHistory_SLNO_" + i, @class = " atextBoxFor ", @readonly = "readonly", @TabIndex = -1 })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.RateHistoryGrid[i].DOCDT, new { id = "RateHistory_DOCDT_" + i, @class = " atextBoxFor ", @readonly = "readonly", @TabIndex = -1 })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.RateHistoryGrid[i].DOCNO, new { id = "RateHistory_DOCNO_" + i, @class = " atextBoxFor ", @readonly = "readonly", @TabIndex = -1 })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.RateHistoryGrid[i].SLNM, new { id = "RateHistory_SLNM_" + i, @class = " atextBoxFor ", @readonly = "readonly", @TabIndex = -1 })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.RateHistoryGrid[i].CITY, new { id = "RateHistory_CITY_" + i, @class = " atextBoxFor ", @readonly = "readonly", @TabIndex = -1 })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.RateHistoryGrid[i].QNTY, new { id = "RateHistory_QNTY_" + i,  style = "text-align:right;", @readonly = "readonly", @class = " atextBoxFor ", @TabIndex = -1 })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.RateHistoryGrid[i].RATE, new { id = "RateHistory_RATE_" + i,  style = "text-align:right;", @readonly = "readonly", @class = " atextBoxFor ", @TabIndex = -1 })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.RateHistoryGrid[i].SCMDISCRATE, new { id = "RateHistory_SCMDISCRATE_" + i,  style = "text-align:right;", @readonly = "readonly", @class = " atextBoxFor ", @TabIndex = -1 })
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>
