@model Improvar.ViewModels.SalePymtEntry
<script type="text/javascript">
    $(document).ready(function () {
        $("td").on("mouseover", function (e) { var titlee = $(this).find("input").val(); $(this).attr('title', titlee); });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") {
            $("#BALCLASS1CD").attr("readonly", "readonly");
            modeView();
        }
        else if ("@Model.DefaultAction" == "E") {

        }
        else if ("@Model.DefaultAction" == "A") {
            $('form :input:enabled:visible:not([readonly]):first').focus();
        }
        var viewbagAmt = GlobalFormatNumber('@ViewBag.AMT', "en-IN", "2");
        $("#viewbagAMT").html(viewbagAmt);
        document.getElementById("main_amount").value = viewbagAmt;
        //$("#main_amount").html(viewbagAmt);
    });
</script>
<script>
    if ("@Model.DefaultAction" == "A" || "@Model.DefaultAction" == "E") {
        $("#STARTDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate' });
        $("#ENDDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate' });
    }
</script>
@if (Model.DefaultView == true)
{
    <div class="table-responsive">
        @Html.ValidationSummary(true)
        <div class="grid_title" style=" ">
            <div class="col-md-8">
                <input type="text" id="FilterSearch" name="FilterSearch" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, 'VOUCHER_BILLADJ_GRID');" />
                <img src="~/Image/search.png" title="Help" />
            </div>
        </div>
        <div class="sticky-table sticky-ltr-cells">
            <div style="height:auto;overflow-y:scroll;max-height:260px;overflow-x:hidden;">
                <table id="tblBILLADJ_GRID" class="resizable table-striped" cellpadding="0px" cellspacing="0px" style="width:1270px;">
                    <thead>
                        <tr class="sticky-header" style="height:30px;">
                            <th class="sticky-cell" style="width:30px;">
                                All
                                <input type="checkbox" id="ALLINVOICE" name="Test" onclick="AllCheckAdjustInvoice(this, 'tblBILLADJ_GRID', 'I_chkid_')" />
                            </th>
                            <th class="" style="width:90px;">DOC No.</th>
                            <th class="" style="width:80px;">Date</th>
                            <th class="" style="width:150px;">Bill No.</th>
                            <th class="" style="width:80px;">Bill Date</th>
                            <th class="" style="text-align:right;width:110px;">Amount</th>
                            <th class="" style="text-align:right;width:110px;">Previous Adjusted Amt</th>
                            <th class="" style="text-align:right;width:110px;">Adj. Amt</th>
                            <th class="" style="text-align:right;width:110px;">Bal. Amt</th>
                            <th class="" style="width:80px;">Due Date</th>
                            <th class="" style="">Pymt Remarks</th>
                            <th class="" style="width:50px;">Class 1 Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.SLPYMTADJ != null)
                        {
                            for (int i = 0; i <= Model.SLPYMTADJ.Count - 1; i++)
                            {
                                    <tr style="font-size:12px; font-weight:bold;">
                                        <td class="sticky-cell" style="padding-left:7px;padding-right:7px;">
                                            @if (Model.DefaultAction == "A" || Model.DefaultAction == "E")
                                            {
                                                @Html.CheckBoxFor(model => model.SLPYMTADJ[i].Checked, new { id = "I_Checked_" + i, onclick = "AllCheckAdjDNCN(this, 'tblBILLADJ_GRID', RowCheckID)" })
                                            }
                                            else
                                            {
                                                @Html.CheckBoxFor(model => model.SLPYMTADJ[i].Checked, new { id = "I_Checked_" + i })
                                            }
                                            @Html.HiddenFor(model => Model.SLPYMTADJ[i].AUTONO, new { id = "I_AUTONO_" + i })
                                            @Html.HiddenFor(model => Model.SLPYMTADJ[i].SLNO, new { id = "I_SLNO_" + i })
                                            @Html.HiddenFor(model => Model.SLPYMTADJ[i].I_AUTONO, new { id = "I_AUTONO_" + i })
                                            @Html.HiddenFor(model => Model.SLPYMTADJ[i].I_SLNO, new { id = "I_SLNO_" + i })
                                            @Html.HiddenFor(model => Model.SLPYMTADJ[i].I_AMT, new { id = "I_AMT_" + i })
                                            @Html.HiddenFor(model => model.SLPYMTADJ[i].ParentSerialNo, new { id = "I_ParentSerialNo_" + i })
                                            @Html.HiddenFor(model => model.SLPYMTADJ[i].ParentAMT, new { id = "I_ParentAMT_" + i })
                                            @Html.HiddenFor(model => model.SLPYMTADJ[i].MainParentAMT, new { id = "MainParentAMT_" + i })
                                   
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.SLPYMTADJ[i].DOCNO, new { id = "I_DOCNO_" + i, @class = " atextBoxFor", @TabIndex = -1, maxlength = 8, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.SLPYMTADJ[i].DOCDT, new { htmlAttributes = new { id = "I_DOCDT_" + i, @class = "atextBoxFor", maxlength = 10, @TabIndex = -1, @readonly = "readonly" } })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.SLPYMTADJ[i].BILLNO, new { id = "I_BILLNO_" + i, @class = " atextBoxFor", @TabIndex = -1, maxlength = 16, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.SLPYMTADJ[i].BILLDT, new { htmlAttributes = new { id = "I_BILLDT_" + i, @class = "atextBoxFor", maxlength = 10, @TabIndex = -1, @readonly = "readonly" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.SLPYMTADJ[i].AMT, new { htmlAttributes = new { id = "I_AMT_" + i, @class = " atextBoxFor", @style = "text-align: right;", maxlength = 12, @onkeypress = "return numericOnly(this,2);", @readonly = "readonly" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.SLPYMTADJ[i].PRE_ADJ_AMT, new { htmlAttributes = new { id = "I_PRE_ADJ_AMT_" + i, @class = " atextBoxFor", @style = "text-align: right;", maxlength = 12, @onkeypress = "return numericOnly(this,2);", @readonly = "readonly" } })
                                        </td>
                                        <td class="">
                                           @Html.EditorFor(model => Model.SLPYMTADJ[i].ADJ_AMT, new { htmlAttributes = new { id = "I_ADJ_AMT_" + i, onchange = "CalculateAdjRow(tablename, rowindex, callfrom)", @class = " atextBoxFor", @style = "text-align: right;", maxlength = 12, @onkeypress = "return numericOnly(this,2);" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.SLPYMTADJ[i].BAL_AMT, new { htmlAttributes = new { id = "I_BAL_AMT_" + i, @class = " atextBoxFor", @style = "text-align: right;", maxlength = 12, @onkeypress = "return numericOnly(this,2);", @readonly = "readonly" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.SLPYMTADJ[i].DUE_DT, new { htmlAttributes = new { id = "DUE_DT_" + i, @class = " atextBoxFor", @TabIndex = -1, @readonly = "readonly" } })
                                        </td>
                                        <td class="">
                                            @Html.EditorFor(model => Model.SLPYMTADJ[i].PYMTREM, new { htmlAttributes = new { id = "PYMTREM_" + i, @class = "atextBoxFor" } })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.SLPYMTADJ[i].CLASS1NM, new { id = "CLASS1NM_" + i, @class = " atextBoxFor", @TabIndex = -1, @readonly = "readonly" })
                                            @Html.HiddenFor(model => Model.SLPYMTADJ[i].CLASS1CD, new { id = "CLASS1CD_" + i })
                                        </td>
                                    </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr class="sticky-footer">
                            <td class="sticky-cell" style="width:30px;"><input type="text" class="atextBoxFor" readonly /> </td>
                            <td><input type="text" class="atextBoxFor" readonly /></td>
                            <td><input type="text" class="atextBoxFor" readonly/></td>
                            <td><input type="text" class="atextBoxFor" readonly/></td>
                            <td style="text-align:right;"><input type="text" value="Total : " class="atextBoxFor" style="font-weight:bold;color:red;text-align:right;font-variant:petite-caps;" readonly/></td>
                            <td style="text-align:right;">
                                @Html.EditorFor(model => Model.TOT_AMT, new { htmlAttributes = new { id = "TOT_AMT", @class = "atextBoxFor", @style = "text-align:right;font-weight:600;color:blue;", @TabIndex = -1, @readonly = "readonly" } })
                            </td>
                            <td style="text-align:right;">
                                @Html.EditorFor(model => Model.TOT_PRE_ADJ, new { htmlAttributes = new { id = "TOT_PRE_ADJ", @class = "atextBoxFor", @style = "text-align:right;font-weight:600;color:blue;", @TabIndex = -1, @readonly = "readonly" } })
                            </td>
                            <td style="text-align:right;">
                                @Html.EditorFor(model => Model.TOT_ADJ, new { htmlattributes = new { id = "TOT_ADJ", @class = "atextBoxFor", @style = "text-align:right;font-weight:600;color:blue;", @TabIndex = -1, @readonly = "readonly" } })
                            </td>
                            <td style="text-align:right;">
                                @Html.EditorFor(model => Model.TOT_BAL, new { htmlattributes = new { id = "TOT_BAL", @class = "atextBoxFor", @style = "text-align:right;font-weight:600;color:blue;", @TabIndex = -1, @readonly = "readonly" } })
                            </td>
                            <td><input type="text" class="atextBoxFor" readonly/></td>
                            <td><input type="text" class="atextBoxFor" readonly/></td> @*pymtrem*@
                            <td><input type="text" class="atextBoxFor" readonly /></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
}
