@model Improvar.Models.Permission
<script>
        $(document).ready(function () {
            resizableTables[resizableTables.length] = new ColumnResize(document.getElementById('exampleDOC'));
        });
</script>
<script>
    function imgpreview(id) {
        var documentsrc = document.getElementById(id).src;
        var catgr = documentsrc.search('image');
        HTMLCode = "<HTML><HEAD><title>Document/Image Viewer</title>";
        HTMLCode = HTMLCode + "</HEAD><BODY TOPMARGIN=0 LEFTMARGIN=0 MARGINHEIGHT=0 MARGINWIDTH=0 style='background-color:rgba(0, 0, 0, 0.56)'><CENTER>";

        if (catgr == -1) {
            HTMLCode = HTMLCode + "<iframe id='pdfiframe' SRC='" + documentsrc + "' name='pdfiframe' runat='server' width='100%' Height='700px' />";
        }
        else {
            HTMLCode = HTMLCode + "<IMG name='uploadimage' src='" + documentsrc + "' BORDER=0 NAME=FullImage  ";
            HTMLCode = HTMLCode + " STYLE='WIDTH: max-content; height: max-content; MAX-WIDTH:-webkit-fill-available;MAX-HEIGHT:-webkit-fill-available;' >";
        }
        HTMLCode = HTMLCode + "</CENTER></BODY></HTML>";
        if (catgr == -1) {
            mywindow = window.open('', 'PDF', 'toolbar = yes, scrollbars = yes, resizable = yes, top = 30, left = 100, width = 1160, height = 600');
        }
        else {
            mywindow = window.open('', 'image', 'toolbar=0,location=0,menuBar=0,top = 30, left = 100,scrollbars=0,resizable=0,width=1160,height=600');
        }
        mywindow.document.open();
        mywindow.document.write(HTMLCode);
        mywindow.document.close();
    }
</script>
<script>
    function fileCheck(id, index)
    {
        var fileUpload = $(id).get(0);
        var filesSelected = fileUpload.files;
        if (filesSelected.length > 0) {
            var fileToLoad = filesSelected[0];
            var fname = document.getElementById("UploadDOC_" + index.toString() + "__DOC_FILE_NAME");
            fname.value = fileToLoad.name;
            var fileReader = new FileReader();
            fileReader.onload = function (fileLoadedEvent) {
                var textAreaFileContents = document.getElementById("UploadDOC_" + index.toString() + "__DOC_FILE");

                textAreaFileContents.value = fileLoadedEvent.target.result;
                $("#img_" + index.toString()).attr('src', fileLoadedEvent.target.result);
            };
            fileReader.readAsDataURL(fileToLoad);
        }
    }
</script>
<div style="width:1024px; overflow-y:auto;">
    <div class="table-responsive">
        @using (Html.BeginForm())
        {
            if (Model.DefaultView == true)
            {
                @Html.ValidationSummary(true)
                <div class="grid_title">
                    <img src="~/Image/Plus.png" class="Help_image_buttonAddRemove" width="20px" height="20px" id="btnAddDocument" title="Add Row" onclick="AddDOCrow()" />
                    <img src="~/Image/Minus.png" class="Help_image_buttonAddRemove" width="20px" height="20px" id="btnDeleteDocument" title="Delete Row" onclick="DeleteDOCrow()" />

                    <div class="col-md-8">
                        <input type="text"  name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, 'exampleDOC');" />
                        <img src="~/Image/search.png" title="Help" />
                    </div>
                    <center style="font-size: 11px;color: darkmagenta; border: 1px inset;"><b>Uploading Document</b></center>
                </div>
                <table id="exampleDOC" class="resizable grid_table" cellpadding="0px" cellspacing="0px" width="1024px">
                    <thead>
                        <tr style="height:30px">
                            <th class="grid_th">
                                @*<input type="checkbox" name="Test" onclick="SetAllCheckBoxes(this)" />*@
                            </th>
                            <th class="grid_th"> Document Type</th>
                            <th class="grid_th"> Document Description</th>
                            <th class="grid_th">Image</th>
                            <th class="grid_th">Preview</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.UploadDOC != null)
                        {
                            for (int i = 0; i <= Model.UploadDOC.Count - 1; i++)
                            {
                                <tr>
                                    <td class="grid_td" style="padding-left:7px; padding-right:7px">
                                        @Html.CheckBoxFor(model => model.UploadDOC[i].chk, new { @style = " width:inherit", @class = " atextBoxFor " })
                                    </td>
                                    <td class="grid_td">
                                        @Html.DropDownListFor(model => Model.UploadDOC[i].docID, new SelectList(Model.UploadDOC[i].DocumentType, "Value", "Text", Model.UploadDOC[i].docID), "=======Select=======", new { @class = " atextBoxFor select_3d ", @style = "height:35px;" })
                                    </td>
                                    <td class="grid_td">
                                        @Html.TextBoxFor(model => model.UploadDOC[i].DOC_DESC, new { @class = " atextBoxFor ", maxlength = 300, @style = "height:35px;" })
                                    </td>
                                    <td class="grid_td">
                                        <input type="file" class="atextBoxFor" name="ImageData_@i" id="ImageData_@i" onchange="fileCheck(this,@i);" />
                                    </td>
                                    <td align="center" class="grid_td">
                                        @Html.HiddenFor(model => model.UploadDOC[i].DOC_FILE)
                                        @Html.HiddenFor(model => model.UploadDOC[i].DOC_FILE_NAME)
                                        @{
                                            if (Model.UploadDOC[i].DOC_FILE != null)
                                            {
                                                if (Model.UploadDOC[i].DOC_FILE.Contains("pdf") == true && Model.UploadDOC[i].DOC_FILE.Contains("data:image") == false)
                                                {
                                                    <img src="@Model.UploadDOC[i].DOC_FILE" id="img_@i" width="35px" height="35px" style="max-height:100%;display:none; max-width:100%; vertical-align:middle;cursor:pointer" onclick="imgpreview(this.id);">
                                                    <img src="~/Image/pdf_48_icon.png" id="img1_@i" width="35px" height="35px" style="max-height:100%; max-width:100%; vertical-align:middle;cursor:pointer" onclick="imgpreview('img_@i');">
                                                }
                                                else if (Model.UploadDOC[i].DOC_FILE.Contains("text") == true && Model.UploadDOC[i].DOC_FILE.Contains("data:image") == false)
                                                {
                                                    <img src="@Model.UploadDOC[i].DOC_FILE" id="img_@i" width="35px" height="35px" style="max-height:100%;display:none; max-width:100%; vertical-align:middle;cursor:pointer" onclick="imgpreview(this.id);">
                                                    <img src="~/Image/text_48_icon.png" id="img1_@i" width="35px" height="35px" style="max-height:100%; max-width:100%; vertical-align:middle;cursor:pointer" onclick="imgpreview('img_@i');">
                                                }
                                                else if (Model.UploadDOC[i].DOC_FILE.Contains("openxmlformats") == true && Model.UploadDOC[i].DOC_FILE.Contains("data:image") == false)
                                                {
                                                    <img src="@Model.UploadDOC[i].DOC_FILE" id="img_@i" width="35px" height="35px" style="max-height:100%;display:none; max-width:100%; vertical-align:middle;cursor:pointer" onclick="imgpreview(this.id);">
                                                    <img src="~/Image/excel_48_icon.png" id="img1_@i" width="35px" height="35px" style="max-height:100%; max-width:100%; vertical-align:middle;cursor:pointer" onclick="imgpreview('img_@i');">
                                                }
                                                else
                                                {
                                                    <img src="@Model.UploadDOC[i].DOC_FILE" id="img_@i" width="35px" height="35px" style="max-height:100%; max-width:100%; vertical-align:middle;cursor:pointer" onclick="imgpreview(this.id);">
                                                }
                                            }
                                            else
                                            {
                                                <img src="" id="img_@i" width="40px" height="40px" style="max-height:100%; max-width:100%; vertical-align:middle;cursor:pointer" onclick="imgpreview(this.id);">
                                            }
                                        }
                                    </td>
                                </tr>
                                                }

                                            }
                    </tbody>
                </table>

                                                }
                                            }
    </div>
</div>
