@model Improvar.ViewModels.UserGroupLinkDetails
@{
    ViewBag.Title = "User With Group Link";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string PageControllerName = "M_USR_ACS_GRPDTL";
}
<script src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") {
            modeView();
        }
        else if ("@Model.DefaultAction" == "E") {
        }
        else if ("@Model.DefaultAction" == "A") {
            $('form :input:enabled:visible:not([readonly]):first').focus();
        }
        $("#WaitingMode").hide();
    });
</script>
<script>
    function requiredFieldValidator() {
        if (!emptyFieldCheck("Enter Link User Name ", "LINKUSER_ID")) { return false; }
        return true;
    }
</script>
<script>
    @{
        string mldauto = "";
        if (@Model.M_USR_ACS_GRPDTL != null)
        {
            mldauto = Model.M_USR_ACS_GRPDTL.M_AUTONO.ToString();
        }
        else
        {
            mldauto = "";
        }
    }
    function ModifyLogDetails() {
        if ("@Model.DefaultAction" == "V") {
            ModifyLogDtl(@mldauto);
        }
    }
</script>
<script>
    function SelectLINKUSERCode(id, LINKUSER_ID, USER_NAME)
    {
        debugger;
        if (id == "")
        {
            $("#" + LINKUSER_ID.id).val("");
            $("#" + USER_NAME.id).val("");
        }
        else
        {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetLINKUSER_IDhelp", PageControllerName)",
                data: { val: id },
                success: function (result)
                {
                    var MSG = result.indexOf(String.fromCharCode(181));
                    if (MSG >= 0)
                    {
                        $("#tempHDD").val(result);
                        var str = $("#tempHDD").val().split(String.fromCharCode(181));
                        $("#" + LINKUSER_ID.id).val(str[0].toString());
                        $("#" + USER_NAME.id).val(str[1].toString());
                    }
                    else
                    {
                        $("#" + LINKUSER_ID.id).val("");
                        $("#" + USER_NAME.id).val("");
                        msgInfo(result);
                        message_value = LINKUSER_ID.id;
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown)
                {
                    $("#WaitingMode").hide();
                    msgError("Error: " + textStatus + "," + errorThrown);
                }
            });
        }
    }
</script>

@using (Html.BeginForm())
{
    if (Model.DefaultView == true)
    {
        @Html.HiddenFor(a => Model.maxdate)
        @Html.HiddenFor(a => Model.mindate)
        <div class="form-horizontal" style="padding-left:5px;padding-right:5px;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" id="btnSave" value="@Url.Action("SAVE", PageControllerName)" />
            <input type="hidden" id="srhpnl" value="@Url.Action("SearchPannelData", PageControllerName)" />
            @Html.HiddenFor(s => s.DefaultAction)
            @Html.HiddenFor(a => a.M_USR_ACS_GRPDTL.M_AUTONO)

            <div class="row">
                <div class="col-md-3">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Main User")
                        <b style="color:Red;">*</b>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_USR_ACS_GRPDTL.LINKUSER_ID, new { htmlAttributes = new { @class = "form-control textbox_image", id = "LINKUSER_ID", onkeyup = "toUpper(this);GetHelp('" + @Url.Action("GetLINKUSER_IDhelp", PageControllerName) + "','LINKUSER_ID/USER_NAME','0/1','User Details','LINKUSER_ID');", onblur = "SelectLINKUSERCode(this.value,LINKUSER_ID,USER_NAME);", @placeholder = "Code", maxlength = 40, required = "required" } })
                        <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onclick="GetHelp('@Url.Action("GetLINKUSER_IDhelp", PageControllerName)','LINKUSER_ID/USER_NAME','0/1','User Details','LINKUSER_ID')" />
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.USER_APPL.USER_NAME, new { htmlAttributes = new { @class = "form-control", id = "USER_NAME", maxlength = 50, @TabIndex = -1, @title = "Only for View", @placeholder = "User Name", @readonly = "readonly" } })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Note: Select the <u>Check Boxes</u> which are you want to link with Main User </p> 
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div id="partialdivUsrMain" style="height:auto;background-color:#c4b9b9;width:600px;">
                    @Html.Partial("_M_USR_ACS_GRPDTL_Main")
                </div>
            </div>

        </div>
    }
    else
    {
                @ViewBag.ErrorMessage
                }

                <div class="container">
                    <div id="helpDIV">

                    </div>
                </div>
                }


