@model Improvar.ViewModels.TransactionBiltyRMutiaEntry
@{
    string PageControllerName = "T_BiltyR_Mutia";
    ViewBag.Title = "Receive from Mutia";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    .TextAreaRemarks {
        height: 190px;
    }
</style>
<script src="~/Scripts/jquery.min.js"></script>
<link rel="stylesheet" href="~/Content/jquery.stickytable.css">
<script type="text/javascript">
    $("#WaitingMode").show();
    $(document).ready(function () {
        debugger;
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") {
            modeView();
            $(".sl_bom_grid").prop("disabled", false);
        }
        else if ("@Model.DefaultAction" == "E") {
            if ("@Model.Delete" == "child record found") {
                $("#DOCDT").attr("readonly", "readonly");
                $("#DOCDT").attr("style", "pointer-events:none");
            }
        }
        else if ("@Model.DefaultAction" == "A") {
            $('form :input:enabled:visible:not([readonly]):first').focus();
        }
        $("#WaitingMode").hide();
    });
</script>
<script>
    @{
        string mldauto = "";
        if (@Model.T_CNTRL_HDR != null)
        {
            if (@Model.T_CNTRL_HDR.AUTONO != null)
            {
                mldauto = Model.T_CNTRL_HDR.AUTONO.ToString();
                if (Model.T_CNTRL_HDR.CANCEL == "Y")
                {
                    ViewBag.formname = ViewBag.formname + "   " + "(Record Cancelled)";
                }
            }
        }
        else
        {
            mldauto = "";
        }
    }
    function ModifyLogDetails() {
        if ("@Model.DefaultAction" == "V") {
            ModifyLogDtl('@mldauto');
        }
    }
</script>
<script>
    function requiredFieldValidator() {
        if (!emptyFieldCheck("Please Select / Enter Document Date", "DOCDT")) { return false; }
        if (!emptyFieldCheck("Please Select / Enter Party", "MUTSLCD")) { return false; }
        return true;
    }
</script>
<script>
    $(function () {
        if ("@Model.DefaultAction" != "V") {
            $("#DOCDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate', minDate: '@Model.mindate' });
            $("#LRDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate' });
        }
    });
</script>

<script>
    function AddDOCrow() {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("AddDOCRow", PageControllerName)",
            data: $('form').serialize(),
            success: function (result) {
                $("#partialdivDocument").animate({ marginTop: '-10px' }, 50);
                $("#partialdivDocument").html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
    function DeleteDOCrow() {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("DeleteDOCRow", PageControllerName)",
            data: $('form').serialize(),
            success: function (result) {
                $("#partialdivDocument").animate({ marginTop: '0px' }, 50);
                $("#partialdivDocument").html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>
<script>
    function pageprinting() {
        var ty = $("#DOCCD").val();
        $.ajax({
            type: 'get',
            url: "@Url.Action("Print", PageControllerName)",
            data: "DOCNO=" + $("#DOCNO").val() + "&DOC_CD=" + $("#DOCCD").val() + "&DOCDT=" + $("#DOCDT").val(),
            success: function (result) {
                window.open("@Url.Action("Rep_OrdPrint", "Rep_OrdPrint", new { US = Model.UNQSNO_ENCRYPTED })", "_blank")
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>
<script>

    function DeleteRow() {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("DeleteRow", PageControllerName)",
            data: $('form').serialize(),
            success: function (result) {
                var res = result.split("^^^^^^^^^^^^~~~~~~^^^^^^^^^^");
                $("#partialdivMain").animate({ marginTop: '0px' }, 50);
                $("#partialdivMain").html(res[0]);
                $("#BALECOUNT").val(res[1]);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>
<script>
    function GetPendingData() {
        debugger;
        if ("@Model.DefaultAction" != "V") {
            if (!emptyFieldCheck("Please Select / Enter Document Date", "DOCDT")) { return false; }
            var mutslcd = "";
            var docdt = $("#DOCDT").val();
            if ($("#MUTSLCD").val() != "") mutslcd = $("#MUTSLCD").val();
            if (!emptyFieldCheck("Please Select / Enter Party", "MUTSLCD")) { return false; }

            $.ajax({
                type: 'POST',
                url: "@Url.Action("GetPendingData", PageControllerName)",
                beforesend: $("#WaitingMode").show(),
                data: $('form').serialize() + "&DOCDT=" + docdt + "&MUTSLCD=" + mutslcd,
                success: function (result) {
                    if (result == 0) { return msgWarning("Record not Found! Please enter valid Document date and Mutia Name."); }
                    $("#popup").animate({ marginTop: '-10px' }, 50);
                    $("#popup").html(result);
                    $("#WaitingMode").hide();
                    $("#MUTSLCD").attr("readonly", "readonly");
                    $("#PARTY_HELP").hide();
                    $("#DOCDT").attr("readonly", "readonly");
                    $("#DOCDT").attr("style", "pointer-events:none");
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });
        }
    }

</script>
<script>
    //function SelectMatchingCheckBoxes() {
    //    debugger;;
    //    var arr = new Array();
    //    var GridRowMain = $("#T_BiltyR_Mutia_PopUp > tbody > tr").length;
    //    for (i = 0; i <= GridRowMain - 1; i++) {
    //        var chkbox = document.getElementById("chkid_R_POPUP_" + i);
    //        if (chkbox.checked) { arr.push(document.getElementById("BLAUTONO_R_POPUP_" + i)); }

    //    }
    //    for (i = 0; i <= GridRowMain - 1; i++) {
    //        if (arr.indexOf(document.getElementById("BLAUTONO_R_POPUP_" + i)) != -1) {
    //            document.getElementById("chkid_R_POPUP_" + i).checked = true;
    //        }
    //    }

    //}
    //function SelectMatchingCheckBoxes(i) {
    //    debugger;
    //    var id = $("#chkid_R_POPUP_" + i).attr("id");
    //    //var id = $("#chkid_POPUP_").id();
    //    var chkboxid = $("#" + id).val();
    //    var idn = id.split('_');
    //    var idno = idn[3];
    //    var LRNO = $("#LRNO_POPUP" + idno).val();
    //    var chkbox = document.getElementById("chkid_R_POPUP_" + i).checked;
    //    if (chkbox == true) {
    //        var Table_name = "#T_BiltyR_Mutia_PopUp > tbody > tr";
    //        var lngth = $(Table_name).length;
    //        for (var i = 0; i <= lngth - 1; i++) {
    //            //check with lrno
    //            var lrno = $("#LRNO_POPUP" + i).val();
    //            if (LRNO == lrno) {
    //                //$("#chkid_POPUP_" + i).checked = true;
    //                document.getElementById("chkid_R_POPUP_" + i).checked = true;
    //            }
    //        }
    //    }
    //    //else {
    //    //    var Table_name = "#T_BiltyR_Mutia_PopUp > tbody > tr";
    //    //    var lngth = $(Table_name).length;
    //    //    for (var i = 0; i <= lngth - 1; i++) {
    //    //        //check with lrno
    //    //        var lrno = $("#LRNO_POPUP" + i).val();
    //    //        if (LRNO == lrno) {
    //    //            //$("#chkid_POPUP_" + i).checked = true;
    //    //            document.getElementById("chkid_R_POPUP_" + i).checked = false;
    //    //        }
    //    //    }
    //    //}
    //    if (chkbox == false) {
    //        document.getElementById("chkid_R_POPUP_" + i).checked = false;
    //    }
    //}
    function SelectMatchingCheckBoxes(index, checkboxid, matchingid, tableid) {
        debugger;
        var arrIndex = [];
        var k = 0;
        var arrmatchingfld = matchingid.split('/');
        var chkbox = document.getElementById(checkboxid + index).checked;
        if (chkbox == true) {
            var Table_name = "#" + tableid + " > tbody > tr";
            var lngth = $(Table_name).length;
            for (var i = 0; i <= lngth - 1; i++) {
                var flag = true;
                var lrnoflag = false;
                for (var j = 0; j <= arrmatchingfld.length - 1; j++) {
                    if ($("#" + arrmatchingfld[j] + index).val() != $("#" + arrmatchingfld[j] + i).val()) {
                        flag = false;
                        break;
                    }
                    if (arrmatchingfld[j] == "LRNO_POPUP") {
                        lrnoflag = true;
                    }
                }
                var ChildData = "";
                if (tableid == "T_BiltyR_Mutia_Main") {
                    var ChildData = $("#ChildData_" + i).val();
                }
                else {
                    var ChildData = $("#BALEY_R_ChildData_" + i).val();
                }
                if (flag == true && ChildData != "Y") {
                    document.getElementById(checkboxid + i).checked = true;
                    if (lrnoflag == true) {
                        document.getElementById("chkid_R_POPUP_" + i).checked = true;
                    }
                    arrIndex[k] = i;
                    k++;
                }
            }
        }
        else {
            var Table_name = "#" + tableid + " > tbody > tr";
            var lngth = $(Table_name).length;
            for (var i = 0; i <= lngth - 1; i++) {
                var flag = true;
                var lrnoflag = false;
                for (var j = 0; j <= arrmatchingfld.length - 1; j++) {
                    if ($("#" + arrmatchingfld[j] + index).val() != $("#" + arrmatchingfld[j] + i).val()) {
                        flag = false;
                        break;
                    }
                    if (arrmatchingfld[j] == "LRNO_POPUP") {
                        lrnoflag = true;
                    }
                }
                if (flag == true) {
                    document.getElementById(checkboxid + i).checked = false;
                    if (lrnoflag == true) {
                        document.getElementById("chkid_R_POPUP_" + i).checked = false;
                    }
                }
            }
        }      
    }
    function SelectPendingLRNO() {
        debugger;
        var mutslcd = "";
        var docdt = $("#DOCDT").val();
        if ($("#MUTSLCD").val() != "") mutslcd = $("#MUTSLCD").val();
        var Count = 0;
        var GridPendingPO = $("#T_BiltyR_Mutia_PopUp > tbody > tr").length;
        for (var i = 0; i <= GridPendingPO - 1; i++) {
            var Check = document.getElementById("chkid_R_POPUP_" + i).checked;
            if (Check == true) {
                Count = Count + 1;
            }
        }
        if (Count > 0) {
            $.ajax({
                type: 'post',
                url: "@Url.Action("SelectPendingLRNO", PageControllerName )",
                beforesend: $("#WaitingMode").show(),
                data: $('form').serialize() + "&DOCDT=" + docdt + "&MUTSLCD=" + mutslcd,
                success: function (result) {
                    var res = result.split("^^^^^^^^^^^^~~~~~~^^^^^^^^^^");

                    $("#partialdivMain").animate({ marginTop: '0px' }, 50);
                    $("#partialdivMain").html(res[0]);
                    $("#BALECOUNT").val(res[1]);
                    $("#WaitingMode").hide();
                    @*$('#partialdivMain').html(res[0]);
                    if ("@Session["CLIENT_CODE"]" == "ADHU") {
                        $("#OTHREFNO").val(res[1]);
                    }*@
                    $('#popup').html("");
                    $('.PopUp_Backround').fadeOut();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });
        }

    }

    function CancelLRNO() {
        $('#popup').html("");
        $('.PopUp_Backround').fadeOut();
    }
</script>
<script>
    function UpdateStartingNo() {
        debugger;
        var startno = retFloat($("#STRTNO").val());
        var Table_name = "#T_BiltyR_Mutia_Main > tbody > tr";
        var lngth = $(Table_name).length;
        var i = 0;
        while (i <= lngth - 1) {
            var baleno = $("#BALENO_" + i).val();
            while ($("#BALENO_" + i).val() == baleno) {

                $("#RSLNO_" + i).val(startno);
                i++;
                if (i > lngth - 1) break;
            }
            startno++;
            if (i > lngth - 1) break;
        }
    }
</script>
@*<script>
        function pageprinting()
        {
            debugger;
            $("#btnprint").click();
        }
    </script>*@
<script>
    function pageprinting() {
        debugger;
        var ty = $("#DOCCD").val();
        $.ajax({
            type: 'POST',
            url: "@Url.Action("Print", PageControllerName)",
            data: $('form').serialize() + "&DOCNO=" + $("#DOCONLYNO").val() + "&DOC_CD=" + $("#DOCCD").val() + "&DOCDT=" + $("#DOCDT").val(),
            success: function (result) {
                window.open("@Url.Action("Khasra_BaleTrnf_Print", "Khasra_BaleTrnf_Print", new { US = Model.UNQSNO_ENCRYPTED })", "_blank")
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>

@using (Html.BeginForm())
{
    if (Model.DefaultView == true)
    {
        @Html.HiddenFor(a => Model.maxdate)
        @Html.HiddenFor(a => Model.mindate)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" id="btnSave" value="@Url.Action("SAVE", PageControllerName)" />
        <input type="hidden" id="srhpnl" value="@Url.Action("SearchPannelData", PageControllerName)" />
        <input type="hidden" id="urlcancelrecord" value="@Url.Action("cancelRecords", PageControllerName)" />
        <input type="submit" id="btnprint" formtarget="_blank" style="display:none" />
        <input type="hidden" id="partylinkcd" value="T" />
        @Html.HiddenFor(s => s.DefaultAction)
        @Html.HiddenFor(a => a.T_BALE_HDR.AUTONO, new { id = "AUTONO" })
        @Html.HiddenFor(a => a.T_CNTRL_HDR.MNTHCD)
        @Html.HiddenFor(a => a.T_CNTRL_HDR.EMD_NO)
        <div class="form-horizontal">
            @if (Model.DefaultAction == "V")
            {
                @Html.Partial("_FilteredSearch")
            }
            <div class="row" style="margin-top: 5px;">
                <div class="row">
                    <div class="col-md-5" style="margin-top: 6px;">
                        <div class="editor-label">
                            @Html.Label("", "Document Code")
                            <b style="color:Red;">*</b>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="editor-field">
                            @if (Model.DefaultAction == "A")
                            {
                                @Html.DropDownListFor(model => model.T_CNTRL_HDR.DOCCD, new SelectList(Model.DocumentType, "Value", "Text"), new { @class = "form-control", id = "DOCCD", @onchange = "ChangeDoctype();" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.T_CNTRL_HDR.DOCCD, new SelectList(Model.DocumentType, "Value", "Text"), new { @class = "form-control", id = "DOCCD", style = "pointer-events:none;background-color:#eee" })
                            }
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Document Date")
                            <b style="color:Red;">*</b>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.T_CNTRL_HDR.DOCDT, new { htmlAttributes = new { @class = "form-control", id = "DOCDT", onblur = "DocumentDateCHK(this);", autocomplete = "off", @placeholder = "dd/mm/yyyy", maxlength = 10 } })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Document No.")
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.T_CNTRL_HDR.DOCONLYNO, new { htmlAttributes = new { @class = "form-control", id = "DOCONLYNO", @placeholder = "Doc. No.", maxlength = 6, @readonly = "readonly" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Transport")
                            <b style="color:Red;">*</b>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="editor-field">
                            @if (Model.DefaultAction == "A")
                            {
                                @Html.EditorFor(model => model.T_BALE_HDR.MUTSLCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "MUTSLCD", onkeydown = "GetHelpBlur('" + @Url.Action("GetSubLedgerDetails", PageControllerName) + "','Party Details','MUTSLCD','MUTSLCD=MUTSLCD=1/SLNM=slnm=0/REGMOBILE=regmobile','partylinkcd')", onblur = "GetHelpBlur('" + @Url.Action("GetSubLedgerDetails", PageControllerName) + "','Party Details','MUTSLCD','MUTSLCD=SLCD=1/SLNM=slnm=0/REGMOBILE=regmobile','partylinkcd');", @placeholder = "MUTSLCD", maxlength = 8 } })
                                <img src="~/Image/search.png" id="PARTY_HELP" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetSubLedgerDetails", PageControllerName)','Party Details','MUTSLCD','MUTSLCD=slcd=1/SLNM=slnm=0/REGMOBILE=regmobile','partylinkcd')" />

                            }
                            else
                            {
                                @Html.EditorFor(model => model.T_BALE_HDR.MUTSLCD, new { htmlAttributes = new { @class = "form-control", id = "MUTSLCD", maxlength = 8, @title = "Only for View", @placeholder = "MUTSLCD", @readonly = "readonly", tabindex = "-1" } })

                            }
                                                   </div>
                    </div>
                    <div class="col-md-9">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.SLNM, new { htmlAttributes = new { @class = "form-control", id = "SLNM", maxlength = 45, @title = "Only for View", @placeholder = "Party Name", @readonly = "readonly", tabindex = "-1" } })
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.REGMOBILE, new { htmlAttributes = new { @class = "form-control", id = "REGMOBILE", @title = "Only for View", @placeholder = "REGMOBILE", @readonly = "readonly", tabindex = "-1" } })
                        </div>
                    </div>
                    @if (Model.DefaultAction != "V")
                    {

                        <div class="col-md-7">
                            <div class="editor-field" style="margin-top: 2px;">
                                <input type="button" class="btn btn-primary" style="padding:2px;" value="Get Pending Data " onclick="GetPendingData()" />
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Starting No")
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.T_BALE_HDR.STARTNO, new { htmlAttributes = new { @class = "form-control", id = "STRTNO", @placeholder = "Start No.", @onkeypress = "return event.charCode > 47 && event.charCode < 58;", maxlength = 4, @onchange = "UpdateStartingNo();" } })

                        </div>
                    </div>

                </div>
            </div>
            <div class="row" style="margin-top:5px;">
                <ul class="nav nav-tabs">
                    <li id="Main_LI4" class="active"><a data-toggle="tab" href="#Main" accesskey="M">Main(M)</a></li>
                    <li id="Remarks_LI4" class=""><a data-toggle="tab" href="#Remarks" accesskey="R">Remarks(R)</a></li>
                    <li id="Documents_LI4" class=""><a data-toggle="tab" href="#Documents" accesskey="U">Documents(U)</a></li>
                </ul>
                <div id="popup" class="row" style="margin-top: 11px;top:15%;left:2%;right:15%;position:absolute;">
                </div>
                <div class="tab-content">
                    <div id="Main" class="tab-pane fade in active" style="margin-top: 10px;margin-left: 11px;">
                        <div class="row" style="margin-top: 11px;background-color:#c4b9b9;border:5px groove;width:fit-content;">
                            <div class="col-lg-8" id="partialdivMain">
                                @Html.Partial("_T_BiltyR_Mutia_Main")
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="editor-label" style="margin-top: 6px;">
                                    @Html.Label("", "Total Bale")
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.BALECOUNT, new { htmlAttributes = new { @class = "form-control", id = "BALECOUNT", @placeholder = "Total Bale", @readonly = "readonly", tabindex = "-1" } })

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Remarks" class="tab-pane fade">
                        <div class="row">
                            <div>
                                <div id="partialdivRemarks">
                                    @Html.Partial("_TRANSACTIONREMARKS")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Documents" class="tab-pane fade" style="margin-top: 10px;">
                        <div class="row" style="background-color:#c4b9b9;border:5px groove;width:fit-content;">
                            <div>
                                <div id="partialdivDocument" style="margin-top:0px;">
                                    @Html.Partial("_UPLOADDOCUMENTS")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
    else
    {
        @ViewBag.ErrorMessage
    }

    <div class="container">
        <div id="helpDIV">

        </div>
    </div>
}
