@model Improvar.ViewModels.BillTypeMaster
@{
    ViewBag.Title = "Bill Type Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") {
            modeView();
            $("#print_nav").hide();
        }
        else if ("@Model.DefaultAction" == "E") {

            $("#BLTYPE").attr("readonly", "readonly");
        }
        else if ("@Model.DefaultAction" == "A") {
            $('form :input:enabled:visible:not([readonly]):first').focus();
        }
        $("#WaitingMode").hide();
   });
</script>
<script>
   function requiredFieldValidator()
   {
       if (!emptyFieldCheck("Enter Bill Type", "BLTYPE")) { return false; }
        return true;
   }
</script>

<script>
    @{
        string mldauto = "";
        if (@Model.M_BLTYPE != null)
        {
            mldauto = Model.M_BLTYPE.M_AUTONO.ToString();
        }
        else
        {
            mldauto = "";
        }
    }
    function ModifyLogDetails() {
        if ("@Model.DefaultAction" == "V") {
            ModifyLogDtl(@mldauto);
        }
    }
</script>

<script>
    function CheckBillType(id) {
        if ("@Model.DefaultAction" == "A") {
            var valu = document.getElementById(id).value;
            if (valu == "") {
            }
            else {
                $.ajax({
                    type: 'GET',
                    url: $("#checkBillType").val(),
                    data: {
                        val: valu
                    },
                    success: function (result) {
                        if (result == "1") {
                            $("#Msgdiv1").show();
                            $("#info").show();
                            $("#BLTYPE").val("");
                            $("#msgbody_info").html("Bill Type Already Exists : Please Enter a Valid Bill Type !! ");
                            $("#btnok").focus();
                            message_value = "BLTYPE";
                            return false;
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#WaitingMode").hide();
                        msgError(XMLHttpRequest.responseText);
                        $("body span h1").remove(); $("#msgbody_error style").remove();
                    }
                });
            }
        }
    }
</script>

@{
    string PageControllerName = "M_BLTYPE";
}
@using (Html.BeginForm())
{
    if (Model.DefaultView == true)
    {
        @Html.HiddenFor(a => Model.maxdate)
        @Html.HiddenFor(a => Model.mindate)
        <div class="form-horizontal" style="padding-left:5px;padding-right:5px;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" id="checkBillType" value="@Url.Action("CheckBillType", PageControllerName)" />
            <input type="hidden" id="btnSave" value="@Url.Action("SAVE", PageControllerName)" />
            <input type="hidden" id="srhpnl" value="@Url.Action("SearchPannelData", PageControllerName)" />
            @Html.HiddenFor(s => s.DefaultAction)
            @Html.HiddenFor(a => a.M_BLTYPE.M_AUTONO)
            @Html.HiddenFor(model => model.Audit_REM, new { id = "Audit_REM" })
 <div class="row">
                <div class="col-md-4">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Bill Type")
                        <b style="color:red"><sup>*</sup></b>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_BLTYPE.BLTYPE, new { htmlAttributes = new { @class = "form-control ", onblur = "CheckBillType('BLTYPE');", id = "BLTYPE", @placeholder = "Bill Type", maxlength = 5, @style = "text-transform:uppercase;" } })

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="editor-label" style="margin-top:0px;margin-bottom: -5px;display: inline-block;">
                        @Html.Label("", "Deactivate")
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-field" style="display: inline-block;">
                        @Html.CheckBoxFor(model => model.Deactive)
                    </div>
                </div>

            </div>

        </div>
    }
    else
    {
        @ViewBag.ErrorMessage
    }

    <div class="container">
        <div id="helpDIV">

        </div>
    </div>
}


