@model Improvar.ViewModels.ReportViewinHtml
@{
    ViewBag.Title = "Rep_Supplier";
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    string PageControllerName = "Rep_Supplier";
    switch (Model.MENU_PARA)
    {
        case "Q":
            ViewBag.Title = "Supplier Wise Report"; break;
        case "A":
            ViewBag.Title = "Supplier Wise Report w/Value"; break;
        default: ViewBag.Title = ""; break;
    }
}
<script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/Content/bootstrap-select.css" />
@Scripts.Render("~/Scripts/Multiple-Select-min.js")
@Scripts.Render("~/Scripts/bootstrap-select.js")
<script src="~/Scripts/jquery.min.js"></script>
<script>
    $(function () {
        $("#FDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true });
        $("#TDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true });
    });
</script>
@using (Html.BeginForm())
{
    if (Model.DefaultView == true)
    {
        <div class="form-horizontal">
            @Html.HiddenFor(s => s.DefaultAction)
            @Html.HiddenFor(s => s.MENU_PARA)
            <div class="report_center" style="background-color:lightgrey; padding:1%;border: 1px solid; margin: 0% 22% 2% 22%;">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "From Date")
                            <sup style="color:red">*</sup>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.FDT, new { htmlAttributes = new { @class = "form-control", id = "FDT", maxlength = 10, onblur = "DocumentDateCHK(this,true);", @placeholder = "dd/mm/yyyy", required = "required" } })
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "To Date")
                            <sup style="color:red">*</sup>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TDT, new { htmlAttributes = new { @class = "form-control", id = "TDT", maxlength = 10, onblur = "DocumentDateCHK(this,true);", @placeholder = "dd/mm/yyyy", required = "required" } })
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:6px">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Party")
                        </div>
                    </div>
                    <div class="col-md-11">
                        @(new HtmlString(Model.Slnm))
                    </div>
                </div>
                <div class="row" style="margin-top:6px">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Group")
                        </div>
                    </div>
                    <div class="col-md-11">
                        @(new HtmlString(Model.Itgrpnm))
                    </div>
                </div>
                <div class="row" style="margin-top:6px">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top:6px">
                            @Html.Label("", "Location")
                        </div>
                    </div>
                    <div class="col-md-4">
                        @(new HtmlString(Model.TEXTBOX5))
                    </div>
                </div>
                <div class="row" style="margin-top:6px">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top:6px">
                            @Html.Label("", "Show Location Breakup")
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="editor-field" style="margin-top: 4px;">
                            @Html.CheckBoxFor(model => model.Checkbox1, true)
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 8px;">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Report Type")
                        </div>
                    </div>
                    <div class="col-lg-8" style="border: 2px groove;width:auto;">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(g => g.TEXTBOX1, "N", new { @checked = "checked" })  @Html.Label("Normal")
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(g => g.TEXTBOX1, "S")  @Html.Label("Standard")
                        </label>
                        @if (Model.Compnm == "LALF")
                        { <label class="radio-inline">
                            @Html.RadioButtonFor(g => g.TEXTBOX1, "AE")  @Html.Label("Aditya Birla Excel")
                        </label>
                        <label class="radio-inline">
                                @Html.RadioButtonFor(g => g.TEXTBOX1, "PE")  @Html.Label("Purchase Wise Excel")
                            </label>
                        }

                    </div>
                </div>
                <div class="row" style="margin-top:10PX">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-6">
                        <input type="submit" value="Show Report" name="submitbutton" class="btn btn-default" formtarget="_blank" />
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="container">
        <div id="helpDIV" style="z-index: 2;">

        </div>
    </div>
}
