@model Improvar.ViewModels.TransactionSalePosEntry
@{
    string PageControllerName = "T_SALE_POS";
    ViewBag.Title = "Cash Sale (Pos)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    switch (Model.MENU_PARA)
    {
        case "SBCM":
            ViewBag.Title = "Cash Memo"; break;
        case "SBCMR":
            ViewBag.Title = "Cash Memo Credit Note"; break;
        default: ViewBag.Title = ""; break;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .TextAreaRemarks {
        height: 190px;
    }
</style>
<script src="~/Scripts/Sale.js?Ver=@System.DateTime.Now"></script>
<script type="text/javascript">
    $("#WaitingMode").show();
    $(document).ready(function () {
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") {
            modeView();
        }
        else if ("@Model.DefaultAction" == "E") {
            var BARGENTYPE = $("#BARGENTYPE").val();
            if (BARGENTYPE == "E") {
                $("#BARGENTYPE").attr("style", "pointer-events:none");
            }
            if ('@Model.MENU_PARA' == "SB") {
                $('#PACKSLIP_HELP').hide("");
                $("#LINKDOCNO").attr("readonly", "readonly");
            }
            else {
                GetAllMtrljobcd();
            }
            Checked_Disable();
            changeBARGENTYPE();
        }
        else if ("@Model.DefaultAction" == "A") {
            $('form :input:enabled:visible:not([readonly]):first').focus();
            if ('@Model.MENU_PARA' != "SB") {
                GetAllMtrljobcd();
            }
        }
        if ("@Model.LINKDOCNO" != "") {
            $('#_T_SALE_POS_DETAIL_GRID input').attr('readonly', 'readonly');
            $('#_T_SALE_POS_PRODUCT_GRID input').attr('readonly', 'readonly');
            $('#_T_SALE_POS_DETAIL_GRID input').removeAttr("onblur");
            $('#_T_SALE_POS_PRODUCT_GRID input').attr('TabIndex', '-1');
            $('#_T_SALE_POS_DETAIL_GRID input').attr('TabIndex', '-1');
        }
        $("#WaitingMode").hide();
    });
</script>
<script>
    function requiredFieldValidator() {
        if (!emptyFieldCheck("Please Select / Enter Document Date", "DOCDT")) { return false; }
        if (!emptyFieldCheck("Please Select / Enter Party", "SLCD")) { return false; }
        if (!emptyFieldCheck("Please Select / Enter Godown", "GOCD")) {
            $("li").removeClass("active").addClass("");
            $(".nav-tabs li:first-child").addClass('active');
            $(".tab-content div").removeClass("active");
            $(".tab-content div:first-child").removeClass("tab-pane fade").addClass("tab-pane fade in active");
            return false;
        }
        if ("@Model.MENU_PARA" == "PB") {
            if (!emptyFieldCheck("Please Enter Purchase bill no", "PREFNO")) {
                $("li").removeClass("active").addClass("");
                $(".nav-tabs li:first-child").addClass('active');
                $(".tab-content div").removeClass("active");
                $(".tab-content div:first-child").removeClass("tab-pane fade").addClass("tab-pane fade in active");
                return false;
            }
            if (!emptyFieldCheck("Please Enter Purchase bill date", "PREFDT")) {
                $("li").removeClass("active").addClass("");
                $(".nav-tabs li:first-child").addClass('active');
                $(".tab-content div").removeClass("active");
                $(".tab-content div:first-child").removeClass("tab-pane fade").addClass("tab-pane fade in active");
                return false;
            }
        }
        return true;
    }
</script>
<script>
    @{
        string mldauto = "";
        if (@Model.T_CNTRL_HDR != null)
        {
            if (@Model.T_CNTRL_HDR.AUTONO != null)
            {
                mldauto = Model.T_CNTRL_HDR.AUTONO.ToString();
                if (Model.T_CNTRL_HDR.CANCEL == "Y")
                {
                    ViewBag.formname = ViewBag.formname + "   " + "(Record Cancelled)";
                }
            }
        }
        else
        {
            mldauto = "";
        }
    }
    function ModifyLogDetails() {
        if ("@Model.DefaultAction" == "V") {
            ModifyLogDtl('@mldauto');
        }
    }
</script>
<script>
    $(function () {
        if ("@Model.DefaultAction" != "V") {
            $("#DOCDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate', minDate: '@Model.mindate' });
            $("#LRDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate' });
            $("#PREFDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate' });
            $("#POREFDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate' });
        }
    });
</script>
<script>
    function SelectBARCODEDetail(id,BARNO, DOCDT) {
        debugger;
        var docdt=document.getElementById(DOCDT.id).value;
        if (id == "") {
            $("#" + BARNO.id).val("");
            //$("#" + CLASS1NM.id).val("");
        }
        else {
            $.ajax({
                type: 'POST',
                beforesend: $("#WaitingMode").show(),
                url: "@Url.Action("GetBarCodeDetails", PageControllerName)",
                data: $('form').serialize() + "&val=" + id + "&Code=" + docdt,
             success: function (result) {
                var MSG = result.indexOf(String.fromCharCode(181));
                if (result != 0) {
                    $("#WaitingMode").hide();
                    $("#partialdivBarCodeTab").animate({ marginTop: '0px' }, 50);
                    $("#partialdivBarCodeTab").html(result);
                }
                else {
                   
                    msgInfo("Invalid Bar Code ! Please Enter a Valid Bar Code !!");
                    message_value = BARNO.id;

                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
    }
</script>
<script>
    function pageprinting() {
        debugger;
        var ty = $("#DOCCD").val();
        $.ajax({
            type: 'get',
            url: "@Url.Action("Print", PageControllerName)",
            data: "DOCNO=" + $("#DOCNO").val() + "&DOC_CD=" + $("#DOCCD").val() + "&DOCDT=" + $("#DOCDT").val(),
            success: function (result) {
                @*window.open("@Url.Action("Rep_OrdPrint", "Rep_OrdPrint", new { US = Model.UNQSNO_ENCRYPTED })", "_blank")*@
                window.open("@Url.Action("SaleBill_Print", "SaleBill_Print", new { US = Model.UNQSNO_ENCRYPTED })", "_blank")
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>
@section Scripts {
    <script>
        function ReloadWithData() {
            var searchValue = $('#AUTONO').val();
            var url = window.location.href;
            var key1 = "searchValue";
            url = updateQueryStringParameter(url, key1, searchValue);
            url = updateQueryStringParameter(url, "loadOrder", "Y");
            window.location = url;
        }
        function ReloadWithPSLIP() {
            var searchValue = $('#LINKAUTONO').val();
            var searchValue1 = $('#LINKDOCNO').val();
            var url = window.location.href;
            var key1 = "searchValue";
            url = updateQueryStringParameter(url, key1, searchValue);
            url = updateQueryStringParameter(url, "loadOrder", searchValue1);
            window.location = url;
        }
    </script>
}
@using (Html.BeginForm())
{
    if (Model.DefaultView == true)
    {
        @Html.HiddenFor(a => Model.maxdate)
        @Html.HiddenFor(a => Model.mindate)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" id="btnSave" value="@Url.Action("SAVE", PageControllerName)" />
        <input type="hidden" id="srhpnl" value="@Url.Action("SearchPannelData", PageControllerName)" />
        <input type="hidden" id="UrlBarnoDetails" value="@Url.Action("GetBarCodeDetails", PageControllerName)" />
        <input type="hidden" id="UrlAddBarCodeRow" value="@Url.Action("FillBarCodeData", PageControllerName)" />
        <input type="hidden" id="UrlFillDetailData" value="@Url.Action("FillDetailData", PageControllerName)" />
        <input type="hidden" id="UrlDeleteRow" value="@Url.Action("DeleteRowBarno", PageControllerName)" />
        <input type="hidden" id="UrlAddDOCRow" value="@Url.Action("AddDOCRow", PageControllerName)" />
        <input type="hidden" id="UrlDeleteDOCRow" value="@Url.Action("DeleteDOCRow", PageControllerName)" />
        <input type="hidden" id="UrlSelectTDSCode" value="@Url.Action("GetTDSDetails", PageControllerName)" />
        <input type="hidden" id="UrlUploadImages" value="@Url.Action("UploadImages", PageControllerName )" />
        <input type="hidden" id="UrlSubLedgerDetails" value="@Url.Action("GetSubLedgerDetails", PageControllerName )" />
        <input type="hidden" id="salesmanlinkcd" value="E" />
        <input type="hidden" id="agentlinkcd" value="A" />
        <input type="hidden" id="courierlinkcd" value="U" />
        <input type="hidden" id="trnsportlinkcd" value="T" />
        <input type="hidden" id="slcd_tag" value="Party" />
        @Html.HiddenFor(s => s.DefaultAction, new { id = "DefaultAction" })
        @Html.HiddenFor(s => s.MENU_PARA, new { id = "MENU_PARA" })
        @Html.HiddenFor(a => a.T_TXN.AUTONO, new { id = "AUTONO" })
        @Html.HiddenFor(a => a.T_CNTRL_HDR.MNTHCD)
        @Html.HiddenFor(a => a.T_CNTRL_HDR.EMD_NO)
        <div class="form-horizontal">
            @if (Model.DefaultAction == "V")
            {
                @Html.Partial("_FilteredSearch")
            }
            <div class="row" style="margin-top: 5px;">
                <div class="row">
                    <div class="col-md-5" style="margin-top: 6px;">
                        <div class="editor-label">
                            @Html.Label("", "Document Code")
                            <b style="color:Red;">*</b>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="editor-field">
                            @if (Model.DefaultAction == "A")
                    {
                                @Html.DropDownListFor(model => model.T_TXN.DOCCD, new SelectList(Model.DocumentType, "Value", "Text"), new { @class = "form-control", id = "DOCCD", @onchange = "ChangeDoctype();" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.T_TXN.DOCCD, new SelectList(Model.DocumentType, "Value", "Text"), new { @class = "form-control", id = "DOCCD", style = "pointer-events:none;background-color:#eee" })
                            }
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Document Date")
                            <b style="color:Red;">*</b>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.T_TXN.DOCDT, new { htmlAttributes = new { @class = "form-control", id = "DOCDT", onblur = "DocumentDateCHK(this);", autocomplete = "off", @placeholder = "dd/mm/yyyy", maxlength = 10 } })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Document No.")
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.T_TXN.DOCNO, new { htmlAttributes = new { @class = "form-control", id = "DOCNO", @placeholder = "Doc. No.", maxlength = 6, @readonly = "readonly" } })
                        </div>
                    </div>
                    @*<div class="col-md-1">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Bill Type")
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="editor-field">
                                @Html.DropDownListFor(model => model.T_TXNOTH.BLTYPE, new SelectList(Model.BL_TYPE, "Value", "Text"), " ", new { @class = "form-control", id = "BLTYPE" })
                            </div>

                        </div>*@

                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Retail")
                            @*<b style="color:Red;">*</b>*@
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.RTDEBCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "RTDEBCD", onkeydown = "GetHelpBlur('" + @Url.Action("GetRefRetailDetails", PageControllerName) + "','Retail Details','RTDEBCD','RTDEBCD=RTDEBCD=1/RTDEBNM=RTDEBNM=0')", onblur = "GetHelpBlur('" + @Url.Action("GetRefRetailDetails", PageControllerName) + "','Retail Details','RTDEBCD','RTDEBCD=RTDEBCD=1/RTDEBNM=RTDEBNM=0/MOBILE=MOBILE/ADDR=ADDR');", @placeholder = "Code", maxlength = 8 } })
                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetRefRetailDetails", PageControllerName)','Retail Details','RTDEBCD','RTDEBCD=RTDEBCD=1/RTDEBNM=RTDEBNM=0')" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.RTDEBNM, new { htmlAttributes = new { @class = "form-control", id = "RTDBNM", maxlength = 15, @title = "Only for View", @placeholder = "Ref Retail Name", @TabIndex = -1, @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="editor-field">
                            @Html.HiddenFor(model => model.MOBILE, new { htmlAttributes = new { @class = "form-control", id = "MOBILE", maxlength = 10, @title = "Only for View" } })
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="editor-field">
                            @Html.HiddenFor(model => model.ADDR, new { htmlAttributes = new { @class = "form-control", id = "ADDR", maxlength = 15, @title = "Only for View" } })
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Name")
                            @*<b style="color:Red;">*</b>*@
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.NM, new { htmlAttributes = new { @class = "form-control", id = "NM", maxlength = 15, @placeholder = "Name" } })
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.MOBNO, new { htmlAttributes = new { @class = "form-control", id = "MOBNO", @onkeypress = "return event.charCode > 47 && event.charCode < 58;", @placeholder = "Mobile No.", maxlength = 10 } })
                        </div>
                    </div>
                    <div class="col-md-5" style="width: auto;">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Inclusive Rate")
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="editor-field" style="margin-top: 6px;">
                            @Html.CheckBoxFor(model => model.INC_RATE, new { htmlAttributes = new { @class = "form-control", id = "INC_RATE" } })
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Net Due")
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.NETDUE, new { htmlAttributes = new { @class = "form-control", id = "NETDUE", maxlength = 15, @placeholder = "Net Due", @TabIndex = -1, @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="col-md-5" style="width: auto;">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Memo Amount")
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.MEMOAMT, new { htmlAttributes = new { @class = "form-control", id = "MEMOAMT", maxlength = 15, @placeholder = "Memo Amount", @TabIndex = -1, @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="col-md-5" style="width: auto;">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Return ")
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.RETAMT, new { htmlAttributes = new { @class = "form-control", id = "RETAMT", maxlength = 15, @placeholder = "Return Amount", @TabIndex = -1, @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="col-md-5" style="width: auto;">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Payable ")
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PAYABLE, new { htmlAttributes = new { @class = "form-control", id = "PAYABLE", maxlength = 15, @placeholder = "Payable Amount", @TabIndex = -1, @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="col-md-5" style="width: auto;">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Payment ")
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PAYAMT, new { htmlAttributes = new { @class = "form-control", id = "PAYAMT", maxlength = 15, @placeholder = "Payment Amount", @TabIndex = -1, @readonly = "readonly" } })
                        </div>
                    </div>

                </div>
            </div>
            <div class="row" style="margin-top:5px;">
                <ul class="nav nav-tabs">
                    <li id="Main_LI4" class="active"><a data-toggle="tab" href="#Main" accesskey="M">Main(M)</a></li>
                    @*<li id="BarCodeTab_LI4" class=""><a data-toggle="tab" href="#BarCodeTab" accesskey="B">Bar Code(B)</a></li>*@
                    <li id="Return_LI4" class=""><a data-toggle="tab" href="#ReturnTab" accesskey="R">Return(R)</a></li>
                    <li id="Amounts_LI" class=""><a data-toggle="tab" href="#Amount" accesskey="A">Amount(A)</a></li>
                    <li id="Payment_LI" class=""><a data-toggle="tab" href="#Payment" accesskey="T">Payment(P)</a></li>
                    <li id="Remarks_LI4" class=""><a data-toggle="tab" href="#Remarks" accesskey="R">Remarks (R)</a></li>
                    <li id="Documents_LI4" class=""><a data-toggle="tab" href="#Documents" accesskey="U">Documents(U)</a></li>
                </ul>
                <div class="tab-content">
                    <div id="Main" class="tab-pane fade in active" style="margin-top: 5px;">
                        <div class="row">

                            <div class="row">
                                @if (Model.DefaultAction != "V")
                                {
                                    <div class="col-md-1">
                                        <div class="editor-label" style="margin-top: 6px;">
                                            @Html.Label("", "Bar Code")
                                            <b style="color:Red;">*</b>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="editor-field">
                                            @Html.EditorFor(model => model.BARCODE, new { htmlAttributes = new { @class = "form-control textbox_image", id = "BARCODE", onkeydown = "GetHelpBlur('" + @Url.Action("GetBarCodeDetails", PageControllerName) + "','Bar Code Details','BARCODE','BARCODE=BARNO=0','DOCDT')", onblur = "SelectBARCODEDetail(this.value,BARCODE,DOCDT)", @placeholder = "Bar Code", maxlength = 25 } })
                                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetBarCodeDetails", PageControllerName)','Bar Code Details','BARCODE','BARCODE=BARNO=0','DOCDT')" />
                                        </div>
                                    </div>
                                }

                            </div>

                            <div class="row">
                                <div class="col-md-3" style="width:auto;">
                                </div>
                            </div>
                            <div style="margin-top:4px;background-color:#c4b9b9;border:5px groove;">
                                <div id="partialdivBarCodeTab">
                                    @Html.Partial("_T_SALE_POS_PRODUCT")
                                </div>
                                @*<div>
                                    <div id="popup" class="row" style="margin-top: 11px;top:15%;left:2%;right:2%;position:absolute;">
                                    </div>
                                </div>*@
                            </div>
                            @*@if (Model.DefaultAction != "V" && Model.MENU_PARA != "SB")
                                {
                                    <div>
                                        <div class="row">
                                            <p class="text-info">* Press <b>F8</b> in Bill Sl./Item Group/Item Code (Bar code area) to copy last row of Bar Code Grid</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1" style="width:auto;">
                                                <input type="button" class="btn btn-info" style="margin-top: 2px;padding: 2px 7px 1px 7px;" name="FillDetail" value="Refresh Detail Data" title="Click to Refresh Data in Details Tab" onclick="Fill_DetailData()" />
                                            </div>
                                        </div>
                                    </div>
                                }*@

                        </div>
                    </div>
                    <div id="ReturnTab" class="tab-pane fade" style="margin-top: 10px;margin-left: 11px;">
                        <div class="row" style="margin-top: 11px;background-color:#c4b9b9;border:5px groove;">
                            <div>
                                <div id="partialdivReturn" style="margin-top:0px;">
                                    @*@Html.Partial("_T_SALE_POS_DETAIL")*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Amount" class="tab-pane fade" style="margin-top: 10px;margin-left: 11px;">
                        <div class="row" style="margin-top: 11px;background-color:#c4b9b9;border:5px groove;">
                            <div>
                                <div id="partialdivAmounts" style="margin-top:0px;">
                                    @*@Html.Partial("_T_SALE_POS_AMOUNT")*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Payment" class="tab-pane fade" style="margin-top: 10px;margin-left: 11px;">
                        <div class="row" style="margin-top: 11px;background-color:#c4b9b9;border:5px groove;width:fit-content;">
                            <div>
                                <div id="partialdivPayment" style="margin-top:0px;">
                                    @Html.Partial("_T_SALE_POS_SALESMAN")
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 11px;background-color:#c4b9b9;border:5px groove;width:fit-content;">
                            <div>
                                <div id="partialdivPayment" style="margin-top:0px;">
                                    @Html.Partial("_T_SALE_POS_PAYMENT")
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="Remarks" class="tab-pane fade">
                        <div class="row">
                            <div>
                                <div id="partialdivRemarks">
                                    @Html.Partial("_TRANSACTIONREMARKS")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Documents" class="tab-pane fade" style="margin-top: 10px;">
                        <div class="row" style="background-color:#c4b9b9;border:5px groove;width:fit-content;">
                            <div>
                                <div id="partialdivDocument" style="margin-top:0px;">
                                    @Html.Partial("_UPLOADDOCUMENTS")
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div id="SalesBillMade" class="tab-pane fade" style="margin-top: 10px;">

                        </div>*@
                </div>
            </div>
        </div>

        <div class="container">
            <!-- Modal -->
            <div class="modal fade" id="ViewImageModal" role="dialog">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Image Preview</h4>
                        </div>
                        <div class="modal-body">
                            <div id="myCarousel" class="carousel" data-ride="carousel">
                                <div class="carousel-inner" id="div_carousel_inner">
                                    <div class="item active">
                                        <img src="" alt="Los Angeles" style="width:100%;">
                                    </div>
                                    <div class="item">
                                        <img src="" alt="Chicago" style="width:100%;">
                                    </div>
                                </div>
                                <!-- Left and right controls -->
                                <a class="left  carousel-control arrow-left" id="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right  carousel-control arrow-right" id="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="pull-left">
                                        <input type="hidden" id="ActiveBarRowIndex" />
                                        <input type="hidden" id="BarImages" />
                                        <button type="button" class="btn btn-danger" onclick="deleteBarImages()"><span class="glyphicon glyphicon-trash"></span></button>
                                    </div>
                                </div>
                                <div class="col-sm-6"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        @ViewBag.ErrorMessage
    }

    <div class="container">
        <div id="helpDIV">

        </div>
    </div>
}

