@model Improvar.ViewModels.TransactionSalePosEntry
@{
    string PageControllerName = "T_SALE_POS";
    ViewBag.Title = "Cash Sale (Pos)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    switch (Model.MENU_PARA)
    {
        case "SBCM":
            ViewBag.Title = "Cash Memo"; break;
        case "SBCMR":
            ViewBag.Title = "Cash Memo Credit Note"; break;
        default: ViewBag.Title = ""; break;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .TextAreaRemarks {
        height: 190px;
    }
</style>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/Cloth.js?Ver=@System.DateTime.Now"></script>
<script src="~/Scripts/SalePos.js?Ver=@System.DateTime.Now"></script>
<script type="text/javascript">
    $("#WaitingMode").show();
    $(document).ready(function () {
        if ("@Model.SHOWMTRLJOBCD" != "Y") {
            $("#divmtrljobcd").hide();
        }
        if ("@Model.SHOWBLTYPE" != "Y") {
            $(".divbltype").hide();
        }
        $("#check_nav").hide();
        if ("@Model.MENU_PARA" == "SBCMR") {
            $("#Return_LI4").addClass("active");
            $("#ReturnTab").removeClass("tab-pane fade");
            $("#ReturnTab").addClass("tab-pane fade in active");
        }
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") {
            modeView();
        }
        else if ("@Model.DefaultAction" == "E") {
            GetAllMtrljobcd();
            Checked_Disable();
        }
        else if ("@Model.DefaultAction" == "A") {
            $('form :input:enabled:visible:not([readonly]):first').focus();
            if ('@Model.MENU_PARA' != "SB") {
                GetAllMtrljobcd();
            }
        }

        $("#WaitingMode").hide();
    });
</script>
<script>
    //focuc on first element of tab
    $(document).keyup(function (event) {
        debugger;
        var KeyID = (window.event) ? event.keyCode : e.keyCode;
        if (event.altKey && KeyID == 77) {//for Alt+M (main code tab)
            $("li").removeClass("active").addClass("");
            $(".nav-tabs li:first-child").addClass('active');
            $(".tab-content div").removeClass("active");
            $(".tab-content div:first-child").removeClass("tab-pane fade").addClass("tab-pane fade in active");
            if ($("#MNTNBARNO").val() == "Y")
            { $("#M_BARCODE").focus(); }
            else
            { $("#M_STYLENO").focus(); }

        }
        if (event.altKey && KeyID == 74) {//for Alt+J (return tab)
            $("li").removeClass("active").addClass("");
            $(".nav-tabs li:nth-child(2)").addClass('active');
            //below set the  child sequence
            $(".tab-content div").removeClass("active");
            $(".tab-content div:nth-child(2)").removeClass("tab-pane fade").addClass("tab-pane fade in active");
            if ($("#MNTNBARNO").val() == "Y")
            { $("#R_BARCODE").focus(); }
            else
            { $("#R_STYLENO").focus(); }

        }

        if (event.altKey && KeyID == 84) {//for Alt+T (Payment tab)
            $("li").removeClass("active").addClass("");
            $(".nav-tabs li:nth-child(4)").addClass('active');
            //below set the  child sequence
            $(".tab-content div").removeClass("active");
            $(".tab-content div:nth-child(4)").removeClass("tab-pane fade").addClass("tab-pane fade in active");
            var GridRowMain = $("#_T_SALE_POS_SALESMAN_GRID > tbody > tr").length;
            if (GridRowMain > 0) {
                $("#SLMSLCD_0").select().focus();
            }
        }
        if (event.altKey && KeyID == 72) {//for Alt+H (amount tab)
            $("li").removeClass("active").addClass("");
            $(".nav-tabs li:nth-child(3)").addClass('active');
            //below set the  child sequence
            $(".tab-content div").removeClass("active");
            $(".tab-content div:nth-child(3)").removeClass("tab-pane fade").addClass("tab-pane fade in active");
            var GridRowMain = $("#_T_SALE_POS_AMOUNT_GRID > tbody > tr").length;
            if (GridRowMain > 0) {
                UpdateTaxPer();
                $("#AMTRATE_0").select().focus();

            }
        }
        if (event.altKey && KeyID == 75) {//for Alt+K (party tab)
            $("li").removeClass("active").addClass("");
            $(".nav-tabs li:nth-child(5)").addClass('active');
            //below set the  child sequence
            $(".tab-content div").removeClass("active");
            $(".tab-content div:nth-child(5)").removeClass("tab-pane fade").addClass("tab-pane fade in active");
            $("#GSTNO").focus();
        }
        if (event.altKey && KeyID == 80) {//for Alt+P Print on
            SaveandPrint();
        }
    });
</script>
<script>
    //$(".agdocdt").on('focus', function () {
    //    var $this = $(this);
    //    if (!$this.data('datepicker')) {
    //        $this.removeClass("hasDatepicker");
    //        $this.datepicker();
    //        $this.datepicker("show");
    //    }
    //});
    //$(function() {
    //    $('.agdocdt').datepicker();
    //});
    function requiredFieldValidator() {
        debugger;
        if (!emptyFieldCheck("Please Select / Enter Document Date", "DOCDT")) { return false; }
        if (!emptyFieldCheck("Please Select / Enter Retail", "RTDEBCD")) { return false; }
        if (!emptyFieldCheck("Please Select / Enter Godown", "GOCD")) { return false; }
        var mainTotNetAmt = $("#B_T_NET_AMT").val();
        var returnTotNetAmt = $("#R_T_NET_AMT").val();
        if (mainTotNetAmt == 0 && returnTotNetAmt == 0)
        { msgWarning("Please Enter Main Tab or Return Tab details !!"); return false; }
        var T_PER = 0;
        var GridRow = $("#_T_SALE_POS_SALESMAN_GRID > tbody > tr").length;
        for (var i = 0; i <= GridRow - 1; i++) {
            var PER_ = $("#PER_" + i).val();
            if (PER_ == "") { PER_ = parseFloat(0); } else { PER_ = parseFloat(PER_) }
            if (PER_ != "") { T_PER = T_PER + parseFloat(PER_); } else { T_PER = T_PER + parseFloat(0); }
            //document.getElementById("PER_" + i).value = PER_.toFixed(2);
        }
        if (T_PER > 100) {
            msgWarning("Total of Percentage(%) Should be 100 !!");
            $("li").removeClass("active").addClass("");
            $(".nav-tabs li:fourth-child").addClass('active');
            $(".tab-content div").removeClass("active");
            $(".tab-content div:fourth-child").removeClass("tab-pane fade").addClass("tab-pane fade in active");
            return false;
        }

        return true;
    }
</script>
<script>
    @{
        string mldauto = "";
        if (@Model.T_CNTRL_HDR != null)
        {
            if (@Model.T_CNTRL_HDR.AUTONO != null)
            {
                mldauto = Model.T_CNTRL_HDR.AUTONO.ToString();
                if (Model.T_CNTRL_HDR.CANCEL == "Y")
                {
                    ViewBag.formname = ViewBag.formname + "   " + "(Record Cancelled)";
                }
            }
        }
        else
        {
            mldauto = "";
        }
    }
    function ModifyLogDetails() {
        if ("@Model.DefaultAction" == "V") {
            ModifyLogDtl('@mldauto');
        }
    }
</script>
<script>
    $(function () {
        if ("@Model.DefaultAction" != "V") {
            $("#DOCDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate', minDate: '@Model.mindate' });
            $("#FDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate' });
            $("#TDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate' });
        }
    });
</script>
<script>
    function pageprinting() {
        debugger;
        var ty = $("#DOCCD").val();
        var MENUPARA = '@Model.MENU_PARA';
        $.ajax({
            type: 'get',
            url: "@Url.Action("Print", PageControllerName)",
            data: "DOCNO=" + $("#DOCNO").val() + "&DOC_CD=" + $("#DOCCD").val() + "&DOCDT=" + $("#DOCDT").val() + "&MENUPARA=" + MENUPARA,
            success: function (result) {
                @*window.open("@Url.Action("Rep_OrdPrint", "Rep_OrdPrint", new { US = Model.UNQSNO_ENCRYPTED })", "_blank")*@
                window.open("@Url.Action("SaleBill_Print", "SaleBill_Print", new { US = Model.UNQSNO_ENCRYPTED })", "_blank")
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
    function SaveandPrint() {
        if ("@Model.DefaultAction" == "V") {
            debugger;
            jQuery("form").attr("target", "_blank");
            jQuery("form").submit();
        }
        else {
            if (requiredFieldValidator() != true) return;
            $.ajax({
                type: 'post',
                url: "@Url.Action("SAVE", PageControllerName)",
                data: $("form").serialize(),
                beforesend: $("#WaitingMode").show(),
                success: function (result) {
                    debugger;
                    $("#WaitingMode").hide();
                    resultIndex = result.substring(0, 1);
                    if (resultIndex == "1") {
                        ClearAllSalePose();
                        $("#M_BARCODE").focus();
                        var strrel = result.split("~");
                        if (strrel.length > 1) {
                            var autono = strrel[1];
                            $("#AUTONO").val(autono);
                            jQuery("form").attr("target", "_blank");
                            jQuery("form").submit();
                        }
                        else {
                            msgWarning(result);
                        }
                    }
                    else if (resultIndex == "2") {
                        debugger;
                        var crntLocation1 = document.location.href;
                        var ViewLocation1 = crntLocation1.replace("op=E", "op=V");
                        location.href = ViewLocation1;
                        jQuery("form").attr("target", "_blank");
                        jQuery("form").submit();
                        window.print();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });
        }
    }
</script>
@using (Html.BeginForm())
{
    if (Model.DefaultView == true)
    {
        @Html.HiddenFor(a => Model.maxdate)
        @Html.HiddenFor(a => Model.mindate)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" id="btnSave" value="@Url.Action("SAVE", PageControllerName)" />
        <input type="hidden" id="srhpnl" value="@Url.Action("SearchPannelData", PageControllerName)" />
        <input type="hidden" id="UrlBarnoDetails" value="@Url.Action("GetBarCodeDetails", PageControllerName)" />
        <input type="hidden" id="UrlAddBarCodeRow" value="@Url.Action("FillBarCodeData", PageControllerName)" />
        <input type="hidden" id="UrlFillDetailData" value="@Url.Action("FillDetailData", PageControllerName)" />
        <input type="hidden" id="UrlDeleteRow" value="@Url.Action("DeleteRowBarno", PageControllerName)" />
        <input type="hidden" id="UrlDeleteReturnRow" value="@Url.Action("DeleteReturnRow", PageControllerName)" />
        <input type="hidden" id="UrlAddDOCRow" value="@Url.Action("AddDOCRow", PageControllerName)" />
        <input type="hidden" id="UrlDeleteDOCRow" value="@Url.Action("DeleteDOCRow", PageControllerName)" />
        <input type="hidden" id="UrlSelectTDSCode" value="@Url.Action("GetTDSDetails", PageControllerName)" />
        <input type="hidden" id="UrlUploadImages" value="@Url.Action("UploadImages", PageControllerName )" />
        <input type="hidden" id="UrlSubLedgerDetails" value="@Url.Action("GetSubLedgerDetails", PageControllerName )" />
        <input type="hidden" id="UrlAddRowPYMT" value="@Url.Action("AddRowPYMT", PageControllerName)" />
        <input type="hidden" id="UrlAddRow" value="@Url.Action("AddRow", PageControllerName)" />
        <input type="hidden" id="UrlDeleteRowSlsman" value="@Url.Action("DeleteRow", PageControllerName)" />
        <input type="hidden" id="UrlDeleteRowPYMT" value="@Url.Action("DeleteRowPYMT", PageControllerName)" />
        <input type="hidden" id="UrlTTXNDTLDetails" value="@Url.Action("GetTTXNDTLDetails", PageControllerName )" />
        <input type="hidden" id="UrlSelectTTXNDTLDetails" value="@Url.Action("SelectTTXNDTLDetails", PageControllerName )" />
        <input type="hidden" id="urlcancelrecord" value="@Url.Action("cancelRecords", PageControllerName)" />
        <input type="hidden" id="urlGetData" value="@Url.Action("GetData", PageControllerName)" />
        <input type="hidden" id="salesmanlinkcd" value="E,M" />
        <input type="hidden" id="agentlinkcd" value="A" />
        <input type="hidden" id="courierlinkcd" value="U" />
        <input type="hidden" id="trnsportlinkcd" value="T" />
        <input type="hidden" id="slcd_tag" value="Party" />
        <input type="hidden" id="MTRLJOBCD" value="" />
        <input type="hidden" id="Defaultbar" value="Bar" />
        <input type="hidden" id="Defaultstyle" value="Style" />
        @Html.HiddenFor(s => s.DefaultAction, new { id = "DefaultAction" })
        @Html.HiddenFor(s => s.MENU_PARA, new { id = "MENU_PARA" })
        @Html.HiddenFor(a => a.T_TXN.AUTONO, new { id = "AUTONO" })
        @Html.HiddenFor(a => a.INCLRATEASK, new { id = "INCLRATEASK" })
        @Html.HiddenFor(a => a.T_CNTRL_HDR.MNTHCD)
        @Html.HiddenFor(a => a.T_CNTRL_HDR.EMD_NO)
        @Html.HiddenFor(a => a.T_CNTRL_HDR.DOCNO)
        @Html.HiddenFor(model => model.T_VCH_GST.SHIPDOCNO, new { htmlAttributes = new { id = "SHIPDOCNO" } })
        @Html.HiddenFor(model => model.T_VCH_GST.SHIPDOCDT, new { htmlAttributes = new { id = "SHIPDOCDT" } })
        @Html.HiddenFor(a => a.M_SYSCNFG.MNTNSIZE, new { id = "MNTNSIZE" })
        @Html.HiddenFor(a => a.M_SYSCNFG.MNTNCOLOR, new { id = "MNTNCOLOR" })
        @Html.HiddenFor(a => a.M_SYSCNFG.MNTNPART, new { id = "MNTNPART" })
        @Html.HiddenFor(a => a.M_SYSCNFG.MNTNFLAGMTR, new { id = "MNTNFLAGMTR" })
        @Html.HiddenFor(a => a.M_SYSCNFG.MNTNSHADE, new { id = "MNTNSHADE" })
        @Html.HiddenFor(a => a.M_SYSCNFG.MNTNBARNO, new { id = "MNTNBARNO" })
        @Html.HiddenFor(a => a.M_SYSCNFG.CMROFFTYPE, new { id = "CMROFFTYPE" })
        @Html.HiddenFor(a => a.M_SYSCNFG.MNTNOURDESIGN, new { id = "MNTNOURDESIGN" })
        <div class="form-horizontal">
            @if (Model.DefaultAction == "V")
            {
                @Html.Partial("_FilteredSearch")
            }
            <div class="row">
                <div class="col-lg-11">
                    <div class="row">
                        <div class="col-md-5" style="margin-top: 6px;">
                            <div class="editor-label">
                                @Html.Label("", "Document Code")
                                <b style="color:Red;">*</b>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="editor-field">
                                @if (Model.DefaultAction == "A")
                                {
                                    @Html.DropDownListFor(model => model.T_TXN.DOCCD, new SelectList(Model.DocumentType, "Value", "Text"), new { @class = "form-control", id = "DOCCD", @onchange = "ChangeDoctype();" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.T_TXN.DOCCD, new SelectList(Model.DocumentType, "Value", "Text"), new { @class = "form-control", id = "DOCCD", style = "pointer-events:none;background-color:#eee" })
                                }
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Document Date")
                                <b style="color:Red;">*</b>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.T_TXN.DOCDT, new { htmlAttributes = new { @class = "form-control", id = "DOCDT", onblur = "DocumentDateCHK(this);", autocomplete = "off", @placeholder = "dd/mm/yyyy", maxlength = 10 } })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Document No.")
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.T_TXN.DOCNO, new { htmlAttributes = new { @class = "form-control", id = "DOCNO", @placeholder = "Doc. No.", maxlength = 6, @readonly = "readonly" } })
                            </div>
                        </div>
                        @if (Model.DefaultAction == "A")
                        {
                            <div class="col-md-3">
                                <div class="editor-label" style="margin-top: 6px;">
                                    @Html.Label("", "Manual Bill #")
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.M_SLIP_NO, new { htmlAttributes = new { @class = "form-control", id = "M_SLIP_NO", maxlength = 6, @onkeypress = "return numericOnly(this);", @placeholder = "Slip No." } })
                                </div>
                            </div>
                        }
                        <div class="col-md-1">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Bill Type")
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="editor-field">
                                @Html.DropDownListFor(model => model.T_TXNOTH.BLTYPE, new SelectList(Model.BL_TYPE, "Value", "Text"), " ", new { @class = "form-control", id = "BLTYPE" })
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Retail")
                                <b style="color:Red;">*</b>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.T_TXNMEMO.RTDEBCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "RTDEBCD", onkeydown = "GetHelpBlur('" + @Url.Action("GetRefRetailDetails", PageControllerName) + "','Retail Details','RTDEBCD','RTDEBCD=RTDEBCD=1/RTDEBNM=RTDEBNM=0','RETDEBSLCD')", onblur = "GetHelpBlur('" + @Url.Action("GetRefRetailDetails", PageControllerName) + "','Retail Details','RTDEBCD','RTDEBCD=RTDEBCD=1/RTDEBNM=RTDEBNM=0/MOBILE=MOBILE/ADDR=ADDR/TAXGRPCD=TAXGRPCD','RETDEBSLCD');", @placeholder = "Code", maxlength = 8 } })
                                <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetRefRetailDetails", PageControllerName)','Retail Details','RTDEBCD','RTDEBCD=RTDEBCD=1/RTDEBNM=RTDEBNM=0','RETDEBSLCD')" />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.RTDEBNM, new { htmlAttributes = new { @class = "form-control", id = "RTDEBNM", maxlength = 15, @title = @Model.ADDR, @placeholder = "Ref Retail Name", @TabIndex = -1, @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.MOBILE, new { htmlAttributes = new { @class = "form-control", id = "MOBILE", maxlength = 10, @title = "Only for View", @placeholder = "Mobile No.", @readonly = "readonly" } })
                                @Html.HiddenFor(model => model.ADDR, new { @class = "form-control", id = "ADDR", maxlength = 15 })
                                @Html.HiddenFor(model => model.RETDEBSLCD, new { @class = "form-control", id = "RETDEBSLCD", maxlength = 15 })
                                @Html.HiddenFor(model => model.EFFDT, new { @class = "form-control", id = "EFFDT", maxlength = 10 })
                            </div>
                        </div>

                        @*<div class="col-md-8">
                                <div class="editor-field">

                                </div>
                            </div>*@
                        <div class="col-md-4">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.T_TXNOTH.TAXGRPCD, new { htmlAttributes = new { @class = "form-control", id = "TAXGRPCD", @title = "Tax Group Code", @placeholder = "Tax Group Code", @readonly = "readonly", tabindex = "-1" } })
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Irn No")
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.T_TXNEINV.IRNNO, new { htmlAttributes = new { @class = "form-control", id = "IRNNO", @Readonly = "Readonly" } })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Name")
                                @*<b style="color:Red;">*</b>*@
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.T_TXNMEMO.NM, new { htmlAttributes = new { @class = "form-control", id = "NM", maxlength = 15, @placeholder = "Name" } })
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.T_TXNMEMO.MOBILE, new { htmlAttributes = new { @class = "form-control", id = "MOBNO", @onkeypress = "return event.charCode > 47 && event.charCode < 58;", @placeholder = "Mobile No.", maxlength = 10 } })
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.T_TXNMEMO.ADDR, new { htmlAttributes = new { @class = "form-control", id = "ADDR_", @placeholder = "Address", maxlength = 200 } })
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.T_TXNMEMO.CITY, new { htmlAttributes = new { @class = "form-control", id = "CITY_", @placeholder = "City", maxlength = 30 } })
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Inclusive Rate")
                            </div>
                        </div>
                        <div class="col-md-1" style="width:auto;">
                            <div class="editor-field" style="margin-top: 6px;">
                                @Html.CheckBoxFor(model => model.INC_RATE, new { htmlAttributes = new { @class = "form-control", id = "INC_RATE" } })
                            </div>
                        </div>
                        <div class="col-md-1" style="width:auto;">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Merge Same Item")
                            </div>
                        </div>
                        <div class="col-md-1" style="width:auto;">
                            <div class="editor-field" style="margin-top: 6px;">
                                @Html.CheckBoxFor(model => model.MergeItem, new { htmlAttributes = new { @class = "form-control", id = "MergeItem" } })
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Godown")
                                <b style="color:Red;">*</b>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.T_TXN.GOCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "GOCD", onkeydown = "GetHelpBlur('" + @Url.Action("GetGodownDetails", PageControllerName) + "','Godown Details','GOCD','GOCD=GOCD=1/GONM=GONM=0')", onblur = "GetHelpBlur('" + @Url.Action("GetGodownDetails", PageControllerName) + "','Godown Details','GOCD','GOCD=GOCD=1/GONM=GONM=0');", @placeholder = "Code", maxlength = 6 } })
                                <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetGodownDetails", PageControllerName)','Godown Details','GOCD','GOCD=GOCD=1/GONM=GONM=0')" />
                                @*@Html.HiddenFor(model => model.GONM, new { id = "GONM" })*@
                            </div>
                        </div>
                        @*</div>
                            <div class="row">*@

                        <div class="col-md-1">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.GONM, new { htmlAttributes = new { @class = "form-control", @TabIndex = -1, @title = "Godown Name", @placeholder = "Godown Name", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Price Code")
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.T_TXNOTH.PRCCD, new { htmlAttributes = new { @class = "form-control", id = "PRCCD", @TabIndex = -1, @title = "Only for View", @placeholder = "Code", @readonly = "readonly" } })
                                @*@Html.EditorFor(model => model.T_TXNOTH.PRCCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "PRCCD", onkeydown = "GetHelpBlur('" + @Url.Action("GetPriceDetails", PageControllerName) + "','Price Details','PRCCD','PRCCD=PRCCD=1/PRCNM=PRCNM=0')", onblur = "GetHelpBlur('" + @Url.Action("GetPriceDetails", PageControllerName) + "','Price Details','PRCCD','PRCCD=PRCCD=1/PRCNM=PRCNM=0');", @placeholder = "Code", maxlength = 4 } })
                                    <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetPriceDetails", PageControllerName)','Price Details','PRCCD','PRCCD=PRCCD =1/PRCNM =PRCNM =0')" />*@
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Round Off")
                            </div>
                        </div>
                        <div class="col-md-1" style="margin-right: -41px;">
                            <div class="editor-field" style="margin-top:6px;">
                                @Html.CheckBoxFor(model => model.RoundOff, new { id = "RoundOff", onclick = "CalculateTotal();" })
                                @Html.DropDownListFor(model => Model.T_TXN.REVCHRG, new SelectList(Model.Reverse_Charge, "Value", "Text"), "No", new { id = "REVCHRG", @style = "display:none", onchange = "ReverceCharges();" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.T_TXN.ROAMT, new { htmlAttributes = new { @class = "form-control", id = "ROAMT", maxlength = 6, @TabIndex = -1, @placeholder = "Rounded off", @readonly = "readonly" } })
                            </div>
                        </div>
                        @if (Model.DefaultAction != "V")
                        {
                            <div class="col-md-5" style="width: auto;">
                                <div class="editor-label" style="margin-top: 6px;">
                                    @Html.Label("", "Discount On Bill")
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.DISCONBILL, new { htmlAttributes = new { @class = "form-control", id = "DISCONBILL", maxlength = 15, @placeholder = "Discount On Bill", @onkeypress = "return numericOnly(this,2);", @style = "text-align:right", onblur = "CalculateDiscOnBill();" } })
                                </div>
                            </div>
                        }
                        @if (Model.DefaultAction == "A" || Model.DefaultAction == "E")
                        {
                            <div class="col-md-5">
                                <input onclick="SaveandPrint()" class="btn btn-info btn-sm" style="margin-top: 2px; padding: 2px 7px 1px 7px;" id="SaveAndPrint" value="Save & Print (Alt+P)" title="Save & Print" />
                            </div>
                        }
                        else
                        {
                            <div class="col-md-5">
                                <input onclick="SaveandPrint()" class="btn btn-info btn-sm" style="margin-top: 2px; padding: 2px 7px 1px 7px;" id="SaveAndPrint" value="Direct Print (Alt+P)" title="Direct Print" />
                            </div>
                        }
                    </div>
                    @*<div class="row">
                            <div class="col-md-5">
                                <div class="editor-label" style="margin-top: 6px;">
                                    @Html.Label("", "Party GST No.")

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.GSTNO, new { htmlAttributes = new { @class = "form-control", id = "GSTNO", @title = "Party GST No.", maxlength = 15, @placeholder = "Party GST No." } })
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="editor-label" style="margin-top: 6px;">
                                    @Html.Label("", "Party GST Name")

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.GSTSLNM, new { htmlAttributes = new { @class = "form-control", id = "GSTSLNM", @title = "Party GST No.", maxlength = 50, @placeholder = "Party GST Name" } })
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="editor-label" style="margin-top: 6px;">
                                    @Html.Label("", "Party GST Address")

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.GSTSLADD1, new { htmlAttributes = new { @class = "form-control", id = "GSTSLADD1", @title = "Party GST Address", maxlength = 60, @placeholder = "Party GST Address" } })
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="editor-label" style="margin-top: 6px;">
                                    @Html.Label("", "Party GST District")

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.GSTSLDIST, new { htmlAttributes = new { @class = "form-control", id = "GSTSLDIST", @title = "Party GST District", maxlength = 50, @placeholder = "Party GST District" } })
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="editor-label" style="margin-top: 6px;">
                                    @Html.Label("", "Party GST PinCode")

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.GSTSLPIN, new { htmlAttributes = new { @class = "form-control", id = "GSTSLPIN", @title = "Party GST PinCode", @onkeypress = "return event.charCode > 47 && event.charCode < 58;", maxlength = 7, @placeholder = "Party GST PinCod" } })
                                </div>
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="col-md-5">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Net Due")
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.NETDUE, new { htmlAttributes = new { @class = "form-control", id = "NETDUE", maxlength = 15, @placeholder = "Net Due", @style = "text-align:right;font-weight:bold;font-size:15px;text-align:right", @TabIndex = -1, @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="col-md-5" style="width: auto;">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Receivable")
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.T_TXN.BLAMT, new { htmlAttributes = new { @class = "form-control", id = "BLAMT", maxlength = 14, @placeholder = "Payable Amount", @style = "text-align:right;font-weight:bold;font-size:15px;text-align:right", @TabIndex = -1, @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="col-md-5" style="width: auto;">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Payment ")
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.PAYAMT, new { htmlAttributes = new { @class = "form-control", id = "PAYAMT", maxlength = 15, @placeholder = "Payment Amount", @style = "text-align:right", @TabIndex = -1, @readonly = "readonly" } })
                            </div>
                        </div>

                        <div class="col-md-5" style="width: auto;">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Other Amount ")
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.OTHAMT, new { htmlAttributes = new { @class = "form-control", id = "OTHAMT", maxlength = 15, @placeholder = "Other Amount", @style = "text-align:right", @TabIndex = -1, @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="col-md-5" style="width: auto;">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Memo Amount")
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.MEMOAMT, new { htmlAttributes = new { @class = "form-control", id = "MEMOAMT", maxlength = 15, @placeholder = "Memo Amount", @TabIndex = -1, @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="col-md-5" style="width: auto;">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Return Amount")
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.RETAMT, new { htmlAttributes = new { @class = "form-control", id = "RETAMT", maxlength = 15, @placeholder = "Return Amount", @style = "text-align:right", @TabIndex = -1, @readonly = "readonly" } })
                            </div>
                        </div>

                    </div>
                    <div class="row" style="margin-top: 6px;background-color:#c4b9b9;border:5px groove;width:fit-content;">
                        <div>
                            <div id="partialdivSalesman" style="margin-top:0px;">
                                @Html.Partial("_T_SALE_POS_SALESMAN")
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-1" id="divmtrljobcd">
                    <div class="editor-field" style="margin-top:5px;width:auto;height:60px; overflow:auto;border:5px groove;overflow-x: hidden;">
                        <table id="exampleLT" border="1" style="width: auto;">
                            @for (int i = 0; i < Model.DropDown_list_MTRLJOBCD.Count; i++)
                            {
                                <tr>
                                    <td align="center">
                                        @Html.CheckBoxFor(model => model.DropDown_list_MTRLJOBCD[i].Checked, new { id = "MaterialJobChk_" + i, onclick = "GetAllMtrljobcd();" })
                                    </td>
                                    <td align="center">
                                        @{ string STRC = Model.DropDown_list_MTRLJOBCD[i].MTRLJOBCD.ToString();}
                                        @Html.DisplayFor(model => STRC)
                                        @Html.HiddenFor(model => model.DropDown_list_MTRLJOBCD[i].MTRLJOBCD, new { id = "MaterialJobCode_" + i })
                                    </td>
                                    <td align="center">
                                        @{ string STRC1 = Model.DropDown_list_MTRLJOBCD[i].MTRLJOBNM.ToString();}
                                        @Html.DisplayFor(model => STRC1)
                                    </td>
                                </tr>
                                            }
                        </table>
                    </div>
                    @Html.HiddenFor(model => model.ALLMTRLJOBCD, new { id = "ALLMTRLJOBCD" })
                </div>
            </div>
            @*<div class="row">
                    <div class="col-md-3">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Round Off")
                        </div>
                    </div>
                    <div class="col-md-1" style="margin-right: -41px;">
                        <div class="editor-field" style="margin-top:6px;">
                            @Html.CheckBoxFor(model => model.RoundOff, new { id = "RoundOff", onclick = "BillAmountCalculate();" })
                            @Html.DropDownListFor(model => Model.T_TXN.REVCHRG, new SelectList(Model.Reverse_Charge, "Value", "Text"), "No", new {  id = "REVCHRG", @style = "display:none", onchange = "ReverceCharges();" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.T_TXN.ROAMT, new { htmlAttributes = new { @class = "form-control", id = "ROAMT", maxlength = 6, @TabIndex = -1, @placeholder = "Rounded off", @readonly = "readonly" } })
                        </div>
                    </div>

                </div>*@

        </div>
        <div class="row" style="margin-top:5px;">
            <ul class="nav nav-tabs">
                @if (Model.MENU_PARA != "SBCMR")
                {
                    <li id="Main_LI4" class="active"><a data-toggle="tab" href="#Main">Main(M)</a></li>
                }
                @*<li id="BarCodeTab_LI4" class=""><a data-toggle="tab" href="#BarCodeTab" accesskey="B">Bar Code(B)</a></li>*@
                <li id="Return_LI4" class=""><a data-toggle="tab" href="#ReturnTab">Return(J)</a></li>
                <li id="Amounts_LI" class=""><a data-toggle="tab" href="#Amount" onclick="UpdateTaxPer();">Amount(H)</a></li>
                <li id="Payment_LI" class=""><a data-toggle="tab" href="#Payment">Payment(T)</a></li>
                <li id="Party_LI" class=""><a data-toggle="tab" href="#Party">Party(K)</a></li>
                <li id="Remarks_LI4" class=""><a data-toggle="tab" href="#Remarks" accesskey="R">Remarks (R)</a></li>
                <li id="Documents_LI4" class=""><a data-toggle="tab" href="#Documents" accesskey="U">Documents(U)</a></li>
            </ul>
            <div class="tab-content">
                @if (Model.MENU_PARA != "SBCMR")
                {
                    <div id="Main" class="tab-pane fade in active" style="margin-top: 5px;">
                        <div class="row">

                            <div class="row">
                                @if (Model.DefaultAction != "V")
                                {
                                    if (Model.M_SYSCNFG.MNTNBARNO == "Y")
                                    {
                                        <div class="col-md-1">
                                            <div class="editor-label" style="margin-top: 6px;">
                                                @Html.Label("", "Bar Code")
                                                <b style="color:Red;">*</b>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="editor-field">
                                                @Html.EditorFor(model => model.BARCODE, new { htmlAttributes = new { @class = "form-control textbox_image", id = "M_BARCODE", onkeydown = "toUpper(this);GetHelpBlur('" + @Url.Action("GetBarCodeDetails", PageControllerName) + "','Bar Code Details','M_BARCODE','M_BARCODE=BARNO=0/MTRLJOBCD=MTRLJOBCD=2/PARTCD=PARTCD=5/M_STYLENO=STYLENO=3','MTRLJOBCD/PARTCD/DOCDT/TAXGRPCD/GOCD/PRCCD/ALLMTRLJOBCD/Defaultbar/M_BARCODE');", onblur = "GetBarnoDetails('M_BARCODE',Defaultbar.value);", @placeholder = "Bar Code", maxlength = 25 } })
                                                <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetBarCodeDetails", PageControllerName)','Bar Code Details','M_BARCODE','M_BARCODE=BARNO=0/MTRLJOBCD=MTRLJOBCD=2/PARTCD=PARTCD=5/M_STYLENO=STYLENO=3','MTRLJOBCD/PARTCD/DOCDT/TAXGRPCD/GOCD/PRCCD/ALLMTRLJOBCD/Defaultbar/M_BARCODE')" />
                                                @Html.HiddenFor(a => a.PARTCD, new { id = "PARTCD" })
                                                @*@Html.EditorFor(model => model.BARCODE, new { htmlAttributes = new { @class = "form-control textbox_image", id = "BARCODE", onkeydown = "GetHelpBlur('" + @Url.Action("GetBarCodeDetails", PageControllerName) + "','Bar Code Details','BARCODE','BARCODE=BARNO=0','DOCDT')", onblur = "SelectBARCODEDetail(this.value,BARCODE,DOCDT)", @placeholder = "Bar Code", maxlength = 25 } })
                                                    <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetBarCodeDetails", PageControllerName)','Bar Code Details','BARCODE','BARCODE=BARNO=0','DOCDT')" />*@
                                            </div>
                                        </div>
                                    }
                                    <div class="col-md-1">
                                        <div class="editor-label" style="margin-top: 6px;">
                                            @Html.Label("", "Design No.")
                                            <b style="color:Red;">*</b>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="editor-field">
                                            @Html.EditorFor(model => model.STYLENO, new { htmlAttributes = new { @class = "form-control textbox_image", id = "M_STYLENO", onkeydown = "GetHelpBlur('" + @Url.Action("GetBarCodeDetails", PageControllerName) + "','Design No Details','M_STYLENO','M_STYLENO=STYLENO=3/M_BARCODE=BARNO=0/MTRLJOBCD=MTRLJOBCD=2/PARTCD=PARTCD=5','MTRLJOBCD/PARTCD/DOCDT/TAXGRPCD/GOCD/PRCCD/ALLMTRLJOBCD/Defaultstyle/M_BARCODE')", onblur = "GetBarnoDetails('M_STYLENO',Defaultstyle.value);", @placeholder = "Design No", maxlength = 25 } })
                                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetBarCodeDetails", PageControllerName)','Design No Details','M_STYLENO','M_STYLENO=STYLENO=3/M_BARCODE=BARNO=0/MTRLJOBCD=MTRLJOBCD=2/PARTCD=PARTCD=5','MTRLJOBCD/PARTCD/DOCDT/TAXGRPCD/GOCD/PRCCD/ALLMTRLJOBCD/Defaultstyle/M_BARCODE')" />

                                            @if (Model.M_SYSCNFG.MNTNBARNO != "Y")
                                            {
                                                @Html.HiddenFor(model => model.BARCODE, new { id = "M_BARCODE" })

                                            }
                                        </div>

                                    </div>

                                }

                            </div>

                            <div class="row">
                                <div class="col-md-3" style="width:auto;">
                                </div>
                            </div>
                            <div style="margin-top:4px;background-color:#c4b9b9;border:5px groove;">
                                <div id="partialdivBarCodeTab">
                                    @Html.Partial("_T_SALE_POS_PRODUCT")
                                </div>

                            </div>
                            @if (Model.DefaultAction != "V")
                            { <div class="row">
                                <p class="text-info" style="margin-top:10px;">
                                    ** Press <b>F4</b> on Disc Rate column to <b>Copy</b> respective Disc Type & Disc Rate in all rows<br />
                                    *** Press <b>F9</b> on Disc Rate column to <b>Remove</b> respective Disc Type & Disc Rate in all rows
                                </p>
                            </div> }

                            @*@if (Model.DefaultAction != "V" && Model.MENU_PARA != "SB")
                                {
                                    <div>
                                        <div class="row">
                                            <p class="text-info">* Press <b>F8</b> in Bill Sl./Item Group/Item Code (Bar code area) to copy last row of Bar Code Grid</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1" style="width:auto;">
                                                <input type="button" class="btn btn-info" style="margin-top: 2px;padding: 2px 7px 1px 7px;" name="FillDetail" value="Refresh Detail Data" title="Click to Refresh Data in Details Tab" onclick="Fill_DetailData()" />
                                            </div>
                                        </div>
                                    </div>
                                }*@

                        </div>
                    </div>
                }
                <div id="ReturnTab" class="tab-pane fade" style="margin-top: 10px;margin-left: 11px;">
                    <div class="row">

                        <div class="row">
                            @if (Model.DefaultAction != "V")
                            {
                                if (Model.M_SYSCNFG.MNTNBARNO == "Y")
                                {
                                    <div class="col-md-1">
                                        <div class="editor-label" style="margin-top: 6px;">
                                            @Html.Label("", "Bar Code")
                                            <b style="color:Red;">*</b>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="editor-field">
                                            @Html.EditorFor(model => model.BARCODE, new { htmlAttributes = new { @class = "form-control textbox_image", id = "R_BARCODE", onkeydown = "toUpper(this);GetHelpBlur('" + @Url.Action("GetBarCodeDetails", PageControllerName) + "','Bar Code Details','R_BARCODE','R_BARCODE=BARNO=0/MTRLJOBCD=MTRLJOBCD=2/PARTCD=PARTCD=5/R_STYLENO=STYLENO=3','MTRLJOBCD/PARTCD/DOCDT/TAXGRPCD/GOCD/PRCCD/ALLMTRLJOBCD/Defaultbar/R_BARCODE');", onblur = "GetBarnoDetails('R_BARCODE',Defaultbar.value);", @placeholder = "Bar Code", maxlength = 25 } })
                                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetBarCodeDetails", PageControllerName)','Bar Code Details','R_BARCODE','R_BARCODE=BARNO=0/MTRLJOBCD=MTRLJOBCD=2/PARTCD=PARTCD=5/R_STYLENO=STYLENO=3','MTRLJOBCD/PARTCD/DOCDT/TAXGRPCD/GOCD/PRCCD/ALLMTRLJOBCD/Defaultbar/R_BARCODE')" />
                                            @Html.HiddenFor(a => a.PARTCD, new { id = "PARTCD" })
                                            @*@Html.EditorFor(model => model.BARCODE, new { htmlAttributes = new { @class = "form-control textbox_image", id = "BARCODE", onkeydown = "GetHelpBlur('" + @Url.Action("GetBarCodeDetails", PageControllerName) + "','Bar Code Details','BARCODE','BARCODE=BARNO=0','DOCDT')", onblur = "SelectBARCODEDetail(this.value,BARCODE,DOCDT)", @placeholder = "Bar Code", maxlength = 25 } })
                                                <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetBarCodeDetails", PageControllerName)','Bar Code Details','BARCODE','BARCODE=BARNO=0','DOCDT')" />*@
                                        </div>
                                    </div>
                                }
                                <div class="col-md-1">
                                    <div class="editor-label" style="margin-top: 6px;">
                                        @Html.Label("", "Design No.")
                                        <b style="color:Red;">*</b>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.STYLENO, new { htmlAttributes = new { @class = "form-control textbox_image", id = "R_STYLENO", onkeydown = "GetHelpBlur('" + @Url.Action("GetBarCodeDetails", PageControllerName) + "','Design No Details','R_STYLENO','R_STYLENO=STYLENO=3/R_BARCODE=BARNO=0/MTRLJOBCD=MTRLJOBCD=2/PARTCD=PARTCD=5','MTRLJOBCD/PARTCD/DOCDT/TAXGRPCD/GOCD/PRCCD/ALLMTRLJOBCD/Defaultstyle/R_BARCODE')", onblur = "GetBarnoDetails('R_STYLENO',Defaultstyle.value);", @placeholder = "Design No", maxlength = 25 } })
                                        <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetBarCodeDetails", PageControllerName)','Design No Details','R_STYLENO','R_STYLENO=STYLENO=3/R_BARCODE=BARNO=0/MTRLJOBCD=MTRLJOBCD=2/PARTCD=PARTCD=5','MTRLJOBCD/PARTCD/DOCDT/TAXGRPCD/GOCD/PRCCD/ALLMTRLJOBCD/Defaultstyle/R_BARCODE')" />
                                        @if (Model.M_SYSCNFG.MNTNBARNO != "Y")
                                        {
                                            @Html.HiddenFor(model => model.BARCODE, new { id = "R_BARCODE" })

                                        }
                                    </div>
                                </div>
                                <div class="col-md-1" style="width:auto;">
                                    <div class="editor-label" style="margin-top: 6px;">
                                        @Html.Label("", "From Date")
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.FDT, new { htmlAttributes = new { @class = "form-control", id = "FDT", onblur = "DocumentDateCHK(this);", autocomplete = "off", @placeholder = "dd/mm/yyyy", maxlength = 10 } })
                                    </div>
                                </div>
                                <div class="col-md-1" style="width:auto;">
                                    <div class="editor-label" style="margin-top: 6px;">
                                        @Html.Label("", "To Date")
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.TDT, new { htmlAttributes = new { @class = "form-control", id = "TDT", onblur = "DocumentDateCHK(this);", autocomplete = "off", @placeholder = "dd/mm/yyyy", maxlength = 10 } })
                                    </div>
                                </div>
                                <div class="col-md-1" style="width:auto;">
                                    <div class="editor-label" style="margin-top: 6px;">
                                        @Html.Label("", "Doc No.")
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.R_DOCNO, new { htmlAttributes = new { @class = "form-control", id = "R_DOCNO", @placeholder = "DOCNO", maxlength = 6 } })
                                    </div>
                                </div>
                                <div class="col-md-1" style="width:auto;">
                                    <div class="editor-label" style="margin-top: 6px;">
                                        @Html.Label("", "Bar No.")
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.BARNO, new { htmlAttributes = new { @class = "form-control", id = "R_BARNO", @placeholder = "BARNO", maxlength = 25 } })
                                    </div>
                                </div>
                                <div class="col-md-1" style="width:auto;">
                                    <input type="button" class="btn btn-success" style="margin-top: 2px;padding: 2px 7px 1px 7px;" id="Ret_Search" value="Search" title="Click to Get Barno" onclick="GetTTXNDTLDetails()" />
                                </div>
                                <div class="row">
                                    <div id="popup" class="row" style="margin-top: 11px;top:15%;left:2%;right:2%;position:absolute;">
                                    </div>
                                </div>
                            }

                        </div>

                        <div class="row">
                            <div class="col-md-3" style="width:auto;">
                            </div>
                        </div>
                        <div style="margin-top:4px;background-color:#c4b9b9;border:5px groove;">
                            <div id="partialdivReturn">
                                @Html.Partial("_T_SALE_POS_RETURN")
                            </div>

                        </div>
                        @if (Model.DefaultAction != "V")
                        { <div class="row">
                            <p class="text-info" style="margin-top:10px;">
                                ** Press <b>F4</b> on Disc Rate column to <b>Copy</b> respective Disc Type & Disc Rate in all rows<br />
                                *** Press <b>F9</b> on Disc Rate column to <b>Remove</b> respective Disc Type & Disc Rate in all rows
                            </p>
                        </div> }
                    </div>

                    @*<div class="row" style="margin-top: 11px;background-color:#c4b9b9;border:5px groove;">
                            <div>
                                <div id="partialdivReturn" style="margin-top:0px;">
                                    @Html.Partial("_T_SALE_POS_RETURN")
                                </div>
                            </div>
                        </div>*@
                </div>
                <div id="Amount" class="tab-pane fade" style="margin-top: 10px;margin-left: 11px;">
                    <div class="row" style="margin-top: 11px;background-color:#c4b9b9;border:5px groove;">
                        <div>
                            <div id="partialdivAmounts" style="margin-top:0px;">
                                @Html.Partial("_T_SALE_POS_AMOUNT")
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Payment" class="tab-pane fade" style="margin-top: 10px;margin-left: 11px;">
                    @*<div class="row" style="margin-top: 11px;background-color:#c4b9b9;border:5px groove;width:fit-content;">
                            <div>
                                <div id="partialdivSalesman" style="margin-top:0px;">
                                    @Html.Partial("_T_SALE_POS_SALESMAN")
                                </div>
                            </div>
                        </div>*@
                    <div class="row" style="margin-top: 11px;background-color:#c4b9b9;border:5px groove;width:fit-content;">
                        <div>
                            <div id="partialdivPayment" style="margin-top:0px;">
                                @Html.Partial("_T_SALE_POS_PAYMENT")
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Party" class="tab-pane fade" style="margin-top: 10px;margin-left: 11px;">

                    <div class="row">
                        <div class="col-md-5">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Party GST No.")
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.GSTNO, new { htmlAttributes = new { @class = "form-control", id = "GSTNO", @title = "Party GST No.", maxlength = 15, @placeholder = "Party GST No." } })
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Party GST Name")
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.GSTSLNM, new { htmlAttributes = new { @class = "form-control", id = "GSTSLNM", @title = "Party GST Name", maxlength = 50, @placeholder = "Party GST Name" } })
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Party GST Address")
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.GSTSLADD1, new { htmlAttributes = new { @class = "form-control", id = "GSTSLADD1", @title = "Party GST Address", maxlength = 60, @placeholder = "Party GST Address" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Party GST District")
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.GSTSLDIST, new { htmlAttributes = new { @class = "form-control", id = "GSTSLDIST", @title = "Party GST District", maxlength = 50, @placeholder = "Party GST District" } })
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Party GST PinCode")
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.GSTSLPIN, new { htmlAttributes = new { @class = "form-control", id = "GSTSLPIN", @title = "Party GST PinCode", @onkeypress = "return event.charCode > 47 && event.charCode < 58;", maxlength = 7, @placeholder = "Party GST PinCod" } })
                            </div>
                        </div>
                    </div>

                </div>

                <div id="Remarks" class="tab-pane fade">
                    <div class="row">
                        <div>
                            <div id="partialdivRemarks">
                                @Html.Partial("_TRANSACTIONREMARKS")
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Documents" class="tab-pane fade" style="margin-top: 10px;">
                    <div class="row" style="background-color:#c4b9b9;border:5px groove;width:fit-content;">
                        <div>
                            <div id="partialdivDocument" style="margin-top:0px;">
                                @Html.Partial("_UPLOADDOCUMENTS")
                            </div>
                        </div>
                    </div>
                </div>
                @*<div id="SalesBillMade" class="tab-pane fade" style="margin-top: 10px;">

                    </div>*@
            </div>
        </div>
                                            //  </div>

                                            <div class="container">
                                                <!-- Modal -->
                                                <div class="modal fade" id="ViewImageModal" role="dialog">
                                                    <div class="modal-dialog modal-md">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">Image Preview</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div id="myCarousel" class="carousel" data-ride="carousel">
                                                                    <div class="carousel-inner" id="div_carousel_inner">
                                                                        <div class="item active">
                                                                            <img src="" alt="Los Angeles" style="width:100%;">
                                                                        </div>
                                                                        <div class="item">
                                                                            <img src="" alt="Chicago" style="width:100%;">
                                                                        </div>
                                                                    </div>
                                                                    <!-- Left and right controls -->
                                                                    <a class="left  carousel-control arrow-left" id="prev">
                                                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                                                    </a>
                                                                    <a class="right  carousel-control arrow-right" id="next">
                                                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <div class="pull-left">
                                                                            <input type="hidden" id="ActiveBarRowIndex" />
                                                                            <input type="hidden" id="BarImages" />
                                                                            @*<button type="button" class="btn btn-danger" onclick="deleteBarImages()"><span class="glyphicon glyphicon-trash"></span></button>*@
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            }
                                            else
                                            {
                                                @ViewBag.ErrorMessage
                                            }

                                            <div class="container">
                                                <div id="helpDIV">

                                                </div>
                                            </div>
                                            }
