@model Improvar.ViewModels.StockAdjustmentsConversionEntry
@{
    string PageControllerName = "T_StockAdj";
    string MP = Model.MENU_PARA;
    switch (MP)
    {
        case "ADJ": ViewBag.Title = "Stock Adjustments"; break;
        case "CNV": ViewBag.Title = "Stock Conversion"; break;
        case "WAS": ViewBag.Title = "Wastage Generation"; break;
        default: ViewBag.Title = ""; break;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.min.js"></script>
<style>
    .TextAreaRemarks {
        height: 200px;
    }
</style>
<script type="text/javascript">
    $("#WaitingMode").show();
    $(document).ready(function () {
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") {
            modeView();
        }
        else if ("@Model.DefaultAction" == "E") {
            CalculateTotal('OUT_', '_T_StockAdj_OUT_TAB_GRID');
            CalculateTotal('IN_', '_T_StockAdj_IN_TAB_GRID')
        }
        else if ("@Model.DefaultAction" == "A") {
            $('form :input:enabled:visible:not([readonly]):first').focus();
        }
        $("#WaitingMode").hide();
    });
</script>
<script>
    function requiredFieldValidator() {
        //if (!emptyFieldCheck("Please Select / Enter a Valid Party", "SLCD")) { return false; }
        // if (!emptyFieldCheck("Please Select / Enter a Valid Delivery At", "CONSLCD")) { return false; }
        if (!emptyFieldCheck("Please Select / Enter Godown", "GOCD")) { return false; }
        var flagout = true; var errmsgout = ""; var errmsgin = "";
        for (var i = 0; i <= $("#_T_StockAdj_OUT_TAB_GRID > tbody > tr").length - 1; i++) {
            if ($("#OUT_BARNO_" + i).val() != "" && retFloat($("#OUT_QNTY_" + i).val()) != 0) {
                if ($("#OUT_MTRLJOBCD_" + i).val() == "") {
                    errmsgout += $("#OUT_SLNO_" + i).val() + ", ";
                }
            }
        }
        if (errmsgout != "") {
            msgInfo("Please add(out tab) MTRL JOBCD at slno : " + errmsgout);
            $("li").removeClass("active").addClass("");
            $(".nav-tabs li:first-child").addClass('active');
            $(".tab-content div").removeClass("active");
            $(".tab-content div:first-child").removeClass("tab-pane fade").addClass("tab-pane fade in active");
            return false;
        }
        for (var i = 0; i <= $("#_T_StockAdj_IN_TAB_GRID > tbody > tr").length - 1; i++) {
            if ($("#IN_BARNO_" + i).val() != "" && retFloat($("#IN_QNTY_" + i).val()) != 0) {
                if ($("#IN_MTRLJOBCD_" + i).val() == "") {
                    errmsgin += $("#IN_SLNO_" + i).val() + ", ";
                }
            }
        }
        if (errmsgin != "") {
            msgInfo("Please add(in tab) MTRL JOBCD at slno : " + errmsgin);
            $("li").removeClass("active").addClass("");
            $(".nav-tabs li:nth-child(2)").addClass('active');
            //below set the  child sequence
            $(".tab-content div").removeClass("active");
            $(".tab-content div:nth-child(2)").removeClass("tab-pane fade").addClass("tab-pane fade in active");
            return false;
        }

        return true;
    }
</script>
<script>
    if ("@Model.DefaultAction" == "A") {
        $(function () { $("#DOCDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate', minDate: '@Model.mindate' }); });
    }
</script>
<script>
    function pageprinting() {
        $.ajax({
            type: 'post',
            url: "@Url.Action("Print", PageControllerName)",
            data: $('form').serialize(),
            success: function (result) {
                window.open("@Url.Action("Rep_Doc_Print", "Rep_Doc_Print", new { US = Model.UNQSNO_ENCRYPTED })", "_blank")
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>
<script>
    @{
        string mldauto = "";
        if (@Model.T_TXN != null)
        {
            if (@Model.T_TXN.AUTONO != null)
            {
                mldauto = Model.T_TXN.AUTONO.ToString();
                if (Model.T_CNTRL_HDR.CANCEL == "Y")
                {
                    ViewBag.formname = ViewBag.formname + "   " + "(Record Cancelled) <span style='font-size: small;'>" + Model.T_CNTRL_HDR.CANC_REM + "</span>";
                    //ViewBag.formname = ViewBag.formname + "   " + "(Record Cancelled)";
                }
            }
        }
        else
        {
            mldauto = "";
        }
    }
    function ModifyLogDetails() {
        if ("@Model.DefaultAction" == "V") {
            ModifyLogDtl('@mldauto');
        }
    }
</script>
<script>
    function AddDOCrow() {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("AddDOCRow", PageControllerName)",
            data: $('form').serialize(),
            success: function (result) {
                $("#partialdivDocument").animate({ marginTop: '-10px' }, 50);
                $("#partialdivDocument").html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
    function DeleteDOCrow() {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("DeleteDOCRow", PageControllerName)",
            data: $('form').serialize(),
            success: function (result) {
                $("#partialdivDocument").animate({ marginTop: '0px' }, 50);
                $("#partialdivDocument").html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>
<script>
    function AddGridRow(ID, TABLE) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AddGridRow", PageControllerName)',
            data: $('form').serialize() + "&TABLE=" + TABLE,
            success: function (result) {
                if (TABLE == "_T_StockAdj_IN_TAB_GRID") {
                    $("#partialdivIN").html(result);
                    CalculateTotal(ID, TABLE);
                }
                else {
                    $("#partialdivOUT").html(result);
                    CalculateTotal(ID, TABLE);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
    function DeleteGridRow(ID, TABLE) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteGridRow", PageControllerName)',
            data: $('form').serialize() + "&TABLE=" + TABLE,
            success: function (result) {
                if (TABLE == "_T_StockAdj_IN_TAB_GRID") {
                    $("#partialdivIN").html(result);
                    CalculateTotal(ID, TABLE);
                }
                else {
                    $("#partialdivOUT").html(result);
                    CalculateTotal(ID, TABLE);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>
<script>
    function CalculateTotal(ID, TABLE) {
        var TOTAL_IN = 0; var TOTAL_OUT = 0;
        var GridRow = $("#" + TABLE + " > tbody > tr").length;
        for (var i = 0; i <= $("#_T_StockAdj_STK_TYPE_QNTY_GRID > tbody > tr").length - 1; i++) {
            var T_STKQNTY = 0; var T_QNTY = 0;
            var stktype = $("#S_T_STKTYPE_VALUE_" + i).val();
            for (var j = 0; j <= GridRow - 1; j++) {
                var QNTY = retFloat($("#" + ID + "QNTY_" + j).val());
                T_QNTY += retFloat(QNTY);
                var STK_TYPE = document.getElementById(ID + "STKTYPE_" + j).value;
                if (STK_TYPE == stktype) {
                    T_STKQNTY += retFloat(QNTY);
                }
            }
            if (ID == "IN_") {
                $("#S_T_IN_QNTY_" + i).val(retFloat(T_STKQNTY).toFixed(3));
            }
            else {
                $("#S_T_OUT_QNTY_" + i).val(retFloat(T_STKQNTY).toFixed(3));
            }
            TOTAL_IN += retFloat($("#S_T_IN_QNTY_" + i).val());
            TOTAL_OUT += retFloat($("#S_T_OUT_QNTY_" + i).val());
        }

        document.getElementById(ID + "T_QNTY").value = parseFloat(T_QNTY).toFixed(3);
        document.getElementById("TOTAL_IN_QNTY").value = parseFloat(TOTAL_IN).toFixed(3);
        document.getElementById("TOTAL_OUT_QNTY").value = parseFloat(TOTAL_OUT).toFixed(3);
    }
</script>
<script>
    function Barcodeprinting() {
        debugger;
        var AUTONO = $("#AUTONO").val();
        var DOCDT = $("#DOCDT").val();
        var BARNO = ""; var callfrm = "T_StockAdj";
        for (var i = 0; i <= $("#_T_StockAdj_IN_TAB_GRID > tbody > tr").length - 1; i++) {
            BARNO += "'" + $("#IN_BARNO_" + i).val() + "',";
        }
        BARNO = BARNO.substring(0, BARNO.length - 1);
        window.open("@Url.Action("Rep_BarcodePrint", "Rep_BarcodePrint")?US=" + '@Model.UNQSNO_ENCRYPTED' + "&autono=" + AUTONO + "&docdt=" + DOCDT + "&barno=" + BARNO + "&callfrm=" + callfrm, "_blank")
    }
</script>
<script>
    function GetMobStockData() {
        if (!emptyFieldCheck("Please Select / Enter Document Date", "DOCDT")) { return false; }
        if (!emptyFieldCheck("Please Select / Enter Godown", "GOCD")) { return false; }

        var GOCD = $("#GOCD").val();
        var DOCDT = $("#DOCDT").val();
        var SKIPAUTONO = $("#AUTONO").val();
        $.ajax({
            type: 'POST',
            beforesend: $("#WaitingMode").show(),
            url: '@Url.Action("GetMobStockData", PageControllerName)',
            data: $('form').serialize() + "&GOCD=" + GOCD + "&DOCDT=" + DOCDT + "&SKIPAUTONO=" + SKIPAUTONO,
            success: function (result) {
                $("#popup").html(result);
                $("#WaitingMode").hide();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
    function SelectMobStockDetails() {
        var Count = 0;
        var GridRow = $("#T_StockAdj_PopuMob_GRID > tbody > tr").length;
        for (var i = 0; i <= GridRow - 1; i++) {
            var Check = document.getElementById("Mob_Checked_" + i).checked;
            if (Check == true) {
                Count = Count + 1;
            }
        }
        if (Count == 0) {
            msgInfo("Please select Barno !");
            return false;
        }
        $.ajax({
            type: 'post',
            beforesend: $("#WaitingMode").show(),
            url: "@Url.Action("SelectMobStockDetails", PageControllerName)",
            data: $('form').serialize(),
            success: function (result) {
                var MSG = result.indexOf('_T_StockAdj_OUT_TAB_GRID');
                if (MSG >= 0) {
                    $("#partialdivOUT").html(result);
                    $("#popup").html("");
                }
                else {
                    msgInfo("" + result + " !");
                }
                $("#WaitingMode").hide();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });

    }
    function CloseMobStockDetails() {
        $("#popup").html("");
    }
</script>
@using (Html.BeginForm())
{
    if (Model.DefaultView == true)
    {
        <div class="form-horizontal" style="padding-left:5px;padding-right:5px;margin-top: -15px;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" id="btnSave" value="@Url.Action("SAVE", PageControllerName)" />
            <input type="hidden" id="urlcancelrecord" value="@Url.Action("cancelRecords", PageControllerName)" />
            <input type="hidden" id="srhpnl" value="@Url.Action("SearchPannelData", PageControllerName)" />
            @Html.HiddenFor(s => s.DefaultAction)
            @Html.HiddenFor(a => a.T_TXN.AUTONO, new { id = "AUTONO" })
            @Html.HiddenFor(a => a.T_CNTRL_HDR.MNTHCD)
            @Html.HiddenFor(m => m.MENU_PARA)
            @Html.HiddenFor(a => a.M_SYSCNFG.MNTNSIZE, new { id = "MNTNSIZE" })
            @Html.HiddenFor(a => a.M_SYSCNFG.MNTNCOLOR, new { id = "MNTNCOLOR" })
            @Html.HiddenFor(a => a.M_SYSCNFG.MNTNPART, new { id = "MNTNPART" })
            <div class="row">
                <div class="col-lg-8">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-7">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Document Code")
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="editor-field">
                                @if (Model.DefaultAction == "A")
                    {
                                    @Html.DropDownListFor(model => model.T_TXN.DOCCD, new SelectList(Model.DocumentType, "Value", "Text"), new { @class = "form-control", id = "DOCCD" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.T_TXN.DOCCD, new SelectList(Model.DocumentType, "Value", "Text"), new { @class = "form-control", id = "DOCCD", style = "pointer-events:none;background-color:#eee" })
                                }
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Document Date")
                                <b style="color:Red;">*</b>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.T_TXN.DOCDT, new { htmlAttributes = new { @class = "form-control", id = "DOCDT", maxlength = 10, @placeholder = "dd/mm/yyyy", onblur = "DocumentDateCHK(this)" } })
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Document No.")
                                <b style="color:Red;">*</b>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.T_TXN.DOCNO, new { htmlAttributes = new { @class = "form-control", id = "DOCNO", maxlength = 6, @placeholder = "Doc. No.", @readonly = "readonly" } })
                            </div>
                        </div>
                        @if ((Model.MENU_PARA == "CNV") && Model.DefaultAction == "V")
                    {
                            <div class="col-md-3">
                                <input type="button" class="btn btn-primary" style="margin-top: 2px;padding: 2px 7px 1px 7px;" id="Print_Barcode" value="Print Barcode" title="Click to Print Barcode" onclick="Barcodeprinting()" />
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Godown")
                                <b style="color:Red;">*</b>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.T_TXN.GOCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "GOCD", onkeydown = "GetHelpBlur('" + @Url.Action("GetGodownDetails", PageControllerName) + "','Godown Details','GOCD','GOCD=GOCD=1/GodownName=GONM=0')", onblur = "GetHelpBlur('" + @Url.Action("GetGodownDetails", PageControllerName) + "','Godown Details','GOCD','GOCD=GOCD=1/GodownName=GONM=0');", @placeholder = "Code", maxlength = 6 } })
                                <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetGodownDetails", PageControllerName)','Godown Details','GOCD','GOCD=GOCD=1/GodownName=GONM=0')" />
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.GodownName, new { htmlAttributes = new { @class = "form-control", id = "GodownName", maxlength = 30, @TabIndex = -1, @placeholder = "Godown Name", @readonly = "readonly" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Remarks")
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="editor-field">
                                @Html.TextAreaFor(model => model.T_TXNOTH.DOCREM, new { id = "DOCREM1", @class = "form-control", @style = "width:430px;height:60px;resize: none;", @placeholder = "Remarks", maxlength = 100 })
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-top: 6px;">
                            <div class="editor-label">
                                @Html.Label("", "Bar Generation")
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="editor-field">
                                @Html.DropDownListFor(model => model.T_TXN.BARGENTYPE, new SelectList(Model.BARGEN_TYPE, "Value", "Text"), new { @class = "form-control", id = "BARGENTYPE" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" style="margin-left:-10px;margin-top:10px;">
                    <div class="col-md-6" style="width:auto;overflow:no-display;">
                        <div>
                            <div id="partialdivTOTALQNTY">
                                @if (Model.STOCK_ADJUSTMENT != null && Model.STOCK_ADJUSTMENT.Count > 0)
                                {
                                    @Html.Partial("_T_StockAdj_STK_TYPE_QNTY")
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:5px;">
                <ul class="nav nav-tabs">
                    <li id="OutTab_LI" class="active"><a data-toggle="tab" href="#OutTab">Out Tab</a></li>
                    <li id="InTab_LI" class=""><a data-toggle="tab" href="#InTab">In Tab</a></li>
                    <li id="Remarks_LI" class=""><a data-toggle="tab" href="#Remarks">Remarks</a></li>
                    <li id="Documents_LI" class=""><a data-toggle="tab" href="#Documents">Documents</a></li>
                </ul>
                <div class="tab-content">
                    <div id="OutTab" class="tab-pane fade in active" style="margin-top: 10px;">
                        @if (Model.DefaultAction != "V")
                        {
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="button" class="btn btn-success" style="margin-top: 2px;padding: 2px 7px 1px 7px;" id="GetStock" accesskey="Z" value="Get Stock" title="Click to Get Stock" onclick="GetMobStockData()" />
                                </div>
                            </div>
                        }
                        <div class="row" style="margin-top: 4px;background-color:#c4b9b9;border:5px groove;">
                            <div>
                                <div id="partialdivOUT">
                                    @Html.Partial("_T_StockAdj_OUT_TAB")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <div id="popup" class="row" style="margin-top: 11px;top:15%;left:13%;right:2%;position:absolute;width:fit-content;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="InTab" class="tab-pane fade" style="margin-top: 10px;">
                        <div class="row" style="margin-top: 4px;background-color:#c4b9b9;border:5px groove;">
                            <div>
                                <div id="partialdivIN">
                                    @Html.Partial("_T_StockAdj_IN_TAB")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Remarks" class="tab-pane fade" style="margin-top: 10px;margin-left: 11px;">
                        <div class="row">
                            <div>
                                <div id="partialdivRemarks">
                                    @Html.Partial("_TRANSACTIONREMARKS")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Documents" class="tab-pane fade" style="margin-top: 10px;">
                        <div class="row" style="background-color:#c4b9b9;border:5px groove;">
                            <div>
                                <div id="partialdivDocument" style="margin-top:0px;">
                                    @Html.Partial("_UPLOADDOCUMENTS")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="PopUp_Backround">
                        <div id="popup" class="row" style="margin-top: 11px;top:10%;left:35%;position:absolute;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        @ViewBag.ErrorMessage
    }

    <div class="container">
        <div id="helpDIV">

        </div>
    </div>
}
