@model Improvar.ViewModels.BOMMasterEntry
@{
    switch (Model.MENU_PARA)
    {
        case "OPR": ViewBag.Title = "BOM (Operation)"; break;
        case "MTRL": ViewBag.Title = "BOM (Materials)"; break;
        case "APRV": ViewBag.Title = "BOM (Approval)"; break;
        default: ViewBag.Title = ""; break;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string PageControllerName = "M_BOM";
}
<script src="~/Scripts/jquery.min.js"></script>
<link rel="stylesheet" href="~/Content/jquery.stickytable.css">
<script type="text/javascript">
    $(document).ready(function () {
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") {
            modeView();
            $("#ITCD").attr("disabled", "ture");
            $(".sl_bom_grid").prop("disabled", false);
            $(".image_button_grid_AddRemove").hide();
        }
        else if ("@Model.DefaultAction" == "E") {            
            $("#EFFDT").attr("readonly", "readonly");
            $("#ITCD").attr("readonly", "readonly");
            $("#STYLE_HELP").hide();
            $("#ITCD_HELP").hide();
        }
        else if ("@Model.DefaultAction" == "A") {
            //$('form :input:enabled:visible:first').focus();
        }
        $("#WaitingMode").hide();
    });
</script>
<script>
    function requiredFieldValidator() {
        if (!emptyFieldCheck("Select Effective Date ", "EFFDT")) { return false; }
        if (!emptyFieldCheck("Enter Item Code", "ITCD")) { return false; }
        var GridRowM = $("#M_BOM_MATERIAL > tbody > tr").length;
        for (i = 0; i <= GridRowM - 1; i++) {
            var ITEM = document.getElementById("ITCDM_" + i).value;
            if (ITEM == "") {
                $("#Msgdiv1").show();
                $("#info").show();
                $("#msg_ok_info").focus();
                $("#msgbody_info").html("Enter Item Code IN METERIAL GRID !! ");
                message_value = "ITCDM_" + i;
                return false;
            }
        }
        return true;
    }
</script>
<script>
    @{
        string mldauto = "";
        if (@Model.M_SITEMBOM != null)
        {
            mldauto = Model.M_SITEMBOM.M_AUTONO.ToString();
        }
        else
        {
            mldauto = "";
        }
    }
    function ModifyLogDetails() {
        if ("@Model.DefaultAction" == "V") {
            ModifyLogDtl(@mldauto);
        }
    }
</script>
<script>
    if ("@Model.DefaultAction" == "A") {
        $(function () { $("#EFFDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true }); });
    }
</script>
<script>
    function GetCodeBlurData(id, CODE, NAME, URLNAME, TAG) {
        if ("@Model.DefaultAction" != "V") {
            if (id == "") {
                ClearAllTextBoxes((CODE + "," + NAME));
            }
            else {
                var ITCD = ""; if (TAG == "Y") { ITCD = $("#ITCD").val(); }
                $.ajax({
                    type: 'POST',
                    url: "../@PageControllerName/" + URLNAME,
                    data: { val: id, Code: ITCD, },
                    success: function (result) {
                        var MSG = result.indexOf(String.fromCharCode(181));
                        if (MSG >= 0) {
                            $("#tempHDD").val(result);
                            var str = $("#tempHDD").val().split(String.fromCharCode(181));
                            $("#" + CODE).val(str[0].toString());
                            $("#" + NAME).val(str[1].toString());
                        }
                        else {
                            $("#Msgdiv1").show();
                            $("#info").show();
                            ClearAllTextBoxes((CODE + "," + NAME));
                            $("#btnok").focus();
                            $("#msgbody_info").html(result);
                            message_value = CODE;
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#WaitingMode").hide();
                        msgError(XMLHttpRequest.responseText);
                        $("body span h1").remove(); $("#msgbody_error style").remove();
                    }
                });
            }
        }
    }
</script>
<script>
    function inputSJ(id, id1, id2, id3, id4) {
        var str = $("#tempHDD").val().split(String.fromCharCode(181));
        $("#" + id.id).val(str[0]);
        $("#" + id1.id).val(str[1].toString());
        $("#" + id2.id).val(str[2].toString());
        $("#" + id3.id).val(str[3].toString());
        $("#" + id4.id).val(str[4]);
    }
    function SelectSubJobCode(id, SJOBCD_, SJOBNM_, JOBCD_, JOBNM_, STD_SJ_JOBRT_) {
        var EFF_DT = document.getElementById("EFFDT").value;
        if (id == "") {
            $("#" + SJOBCD_.id).val("");
            $("#" + SJOBNM_.id).val("");
            $("#" + JOBCD_.id).val("");
            $("#" + JOBNM_.id).val("");
        }
        else {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("SUBJOBCode", PageControllerName)",
                data: {
                    val: id,
                    val1: EFF_DT
                },
                success: function (result) {
                    if (result == "0") {
                        $("#Msgdiv1").show();
                        $("#info").show();
                        $("#" + SJOBCD_.id).val("");
                        $("#" + SJOBNM_.id).val("");
                        $("#" + JOBCD_.id).val("");
                        $("#" + JOBNM_.id).val("");
                        $("#" + STD_SJ_JOBRT_.id).val("");
                        $("#msgbody_info").html("Invalid Sub Job Code ! Please Enter a Valid Code !! ");
                        message_value = SJOBCD_.id;
                    }
                    else {
                        $("#tempHDD").val(result);
                        inputSJ(SJOBCD_, SJOBNM_, JOBCD_, JOBNM_, STD_SJ_JOBRT_);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });
        }
    }
</script>
<script>
    function CheckSize(SIZECD, SIZENM, PART, JOB) {
        var valu = document.getElementById(SIZECD.id).value;
        if (valu != "") {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("CheckSizeCode", PageControllerName)",
                data: $('form').serialize() + "&SIZE=" + valu + "&PART=" + PART + "&JOB=" + JOB,
                success: function (result) {
                    if (result != "0") {
                        $("#Msgdiv1").show();
                        $("#info").show();
                        $("#msg_ok_info").focus();
                        $("#" + SIZECD.id).val("");
                        $("#" + SIZENM.id).val("");
                        $("#msgbody_info").html(result);
                        message_value = SIZECD.id;
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });
        }
    }
</script>
<script>
    function CheckArticleItem(ITCD, STYLENO, ITNM, UOMNM) {
        if ("@Model.DefaultAction" != "V") {
            var valu = document.getElementById(ITCD).value;
            if (valu != "") {
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("CheckArticleItem", PageControllerName)",
                    data: $('form').serialize() + "&ITEM=" + valu,
                    success: function (result) {
                        if (result != "0") {
                            if (confirm("Article / Item Already Exists with Effective Date : " + result + " !\nDo you want to Continue with Same Article ? If Yes then Click on Ok or Click on Cancel !! ")) {

                            }
                            else {
                                ClearAllTextBoxes((ITCD + "," + ITNM + "," + STYLENO + "," + UOMNM));
                                $("#" + STYLENO).focus();
                            }
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#WaitingMode").hide();
                        msgError(XMLHttpRequest.responseText);
                        $("body span h1").remove(); $("#msgbody_error style").remove();
                    }
                });
            }
        }
    }
</script>
<script>
    function inputUOM(id, id1) {
        var str = $("#tempHDD").val().split(String.fromCharCode(181));
        $("#" + id.id).val(str[0]);
        $("#" + id1.id).val(str[1].toString());
    }
    function SelectUOMCode(id, UOMCD, UOMNM) {
        if (id == "") {
            $("#UOMCD").val("");
            $("#UOMNM").val("");
        }
        else {
            $.ajax({
                type: 'GET',
                url: $("#urlnameUOM").val(),
                data: {
                    val: id
                },
                success: function (result) {
                    if (result == "0") {
                        $("#Msgdiv1").show();
                        $("#info").show();
                        $("#msgbody_info").html(" Invalid  UOM Code !! ");
                        $("#UOMCD").val("");
                        $("#UOMNM").val("");
                        $("#btnok").focus();
                        message_value = "UOM";
                    }
                    else {
                        $("#tempHDD").val(result);
                        inputUOM(UOMCD, UOMNM);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });
        }
    }
</script>
<script>
    function AddDOCrow() {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("AddDOCRow", PageControllerName )",
            data: $('form').serialize(),
            success: function (result) {
                $("#partialdivDocument").animate({ marginTop: '-10px' }, 50);
                $("#partialdivDocument").html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
    function DeleteDOCrow() {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("DeleteDOCRow", PageControllerName )",
            data: $('form').serialize(),
            success: function (result) {
                $("#partialdivDocument").animate({ marginTop: '0px' }, 50);
                $("#partialdivDocument").html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>

<script>
    function input443(id, id1, id2) {
        var str = $("#tempHDD").val().split(String.fromCharCode(181));
        $("#" + id.id).val(str[0]);
        $("#" + id1.id).val(str[1].toString());
        $("#" + id2.id).val(str[2].toString());
    }
    function SelectINVCODE(id, INVCD, ITDESCN, INVUOM) {
        if (id == "") {
            $("#INVCD").val("");
            $("#ITDESCN").val("");
            $("#INVUOM").val("");
        }
        else {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("INVCode", PageControllerName)",
                data: {
                    val: id
                },
                success: function (result) {
                    if (result == "0") {
                        $("#Msgdiv1").show();
                        $("#info").show();
                        $("#msg_ok_info").focus();
                        $("#INVCD").val("");
                        $("#ITDESCN").val("");
                        $("#INVUOM").val("");
                        $("#msgbody_info").html("Invalid INV Code !! ");
                        message_value = "INVCD";
                    }
                    else {
                        $("#tempHDD").val(result);
                        input443(INVCD, ITDESCN, INVUOM);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });
        }
    }
</script>
<script>
    function AddRowMAIN(urlstring, id) {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("AddRowMAIN", PageControllerName)",
            data: $('form').serialize(),
            success: function (result) {
                $("#partialdivMain").animate({ marginTop: '-10px' }, 50);
                $("#partialdivMain").html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
    function DeleteRowMAIN(urlstring, id) {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("DeleteRowMAIN", PageControllerName)",
            data: $('form').serialize(),
            success: function (result) {
                $("#partialdivMain").animate({ marginTop: '0px' }, 50);
                $("#partialdivMain").html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
    function AddRowOPERATION(urlstring, id) {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("AddRowOPERATION", PageControllerName )",
            data: $('form').serialize(),
            success: function (result) {
                $("#partialdivOperation").animate({ marginTop: '-10px' }, 50);
                $("#partialdivOperation").html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
    function DeleteRowOPERATION(urlstring, id) {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("DeleteRowOPERATION", PageControllerName)",
            data: $('form').serialize(),
            success: function (result) {
                $("#partialdivOperation").animate({ marginTop: '0px' }, 50);
                $("#partialdivOperation").html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>
<script>
    function AddRowMATERIAL(urlstring, id) {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("AddRowMATERIAL", PageControllerName)",
            data: $('form').serialize(),
            success: function (result) {
                //$("#partialdivMaterials").animate({ marginTop: '-10px' }, 50);
                //$("#partialdivMaterials").html(result);

                $('#popup').html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
    function DeleteRowMATERIAL(urlstring, id) {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("DeleteRowMATERIAL", PageControllerName)",
            data: $('form').serialize(),
            success: function (result) {
                //$("#partialdivMaterials").animate({ marginTop: '0px' }, 50);
                //$("#partialdivMaterials").html(result);
                $('#popup').html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>
<script>
    function AddRowRMPM(urlstring, id) {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("AddRowRMPM", PageControllerName)",
            data: $('form').serialize(),
            success: function (result) {
                $('#popup').html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
    function DeleteRowRMPM(urlstring, id) {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("DeleteRowRMPM", PageControllerName)",
            data: $('form').serialize(),
            success: function (result) {
                $('#popup').html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>
<script>
    function AddDOCrow() {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("AddDOCRow", PageControllerName )",
            data: $('form').serialize(),
            success: function (result) {
                $("#partialdivDocument").animate({ marginTop: '-10px' }, 50);
                $("#partialdivDocument").html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
    function DeleteDOCrow() {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("DeleteDOCRow", PageControllerName )",
            data: $('form').serialize(),
            success: function (result) {
                $("#partialdivDocument").animate({ marginTop: '0px' }, 50);
                $("#partialdivDocument").html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>
<script>
    function OpenMaterial(id, SLNO, JOB) {
        var SerialNo = document.getElementById(SLNO).value;
        var JOBCODE = document.getElementById(JOB).value;
        $("#hiddensrl").val(SerialNo);
        if (JOBCODE.toString() != "") {
            $.ajax({
                type: 'post',
                url: "@Url.Action("OpenMaterial", PageControllerName)",
                beforesend: $("#WaitingMode").show(),
                data: $('form').serialize() + "&SerialNo=" + SerialNo + "&JOBCODE=" + JOBCODE,
                success: function (result) {
                    $("#WaitingMode").hide();
                    $('#popup').html(result);
                    $('.PopUp_Backround').show();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });
        }
    }
    function CloseMaterial() {
        $.ajax({
            type: 'post',
            url: "@Url.Action("CloseMaterial", PageControllerName)",
            beforesend: $("#WaitingMode").show(),
            data: $('form').serialize(),
            success: function (result) {
                $("#WaitingMode").hide();
                $('#partialdivMain').html(result);
                $("#popup").html("");
                $('.PopUp_Backround').fadeOut();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
    function CancelMaterial() {
        $('#popup').html("");
        $('.PopUp_Backround').fadeOut();
    }
</script>
<script>
    function OpenRMPM(id, SLNO, JOB) {
        var SerialNo = document.getElementById(SLNO).value;
        var JOBCODE = document.getElementById(JOB).value;
        $("#hiddensrl").val(SerialNo);
        if (JOBCODE.toString() != "") {
            $.ajax({
                type: 'post',
                url: "@Url.Action("OPEN_RMPM", PageControllerName)",
                beforesend: $("#WaitingMode").show(),
                data: $('form').serialize() + "&SerialNo=" + SerialNo + "&JOBCODE=" + JOBCODE,
                success: function (result) {
                    $("#WaitingMode").hide();
                    $('#popup').html(result);
                    $('.PopUp_Backround').show();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });
        }
    }
    function CloseRMPM() {
        $.ajax({
            type: 'post',
            url: "@Url.Action("CLOSE_RMPM", PageControllerName)",
            beforesend: $("#WaitingMode").show(),
            data: $('form').serialize(),
            success: function (result) {
                $("#WaitingMode").hide();
                $('#partialdivMain').html(result);
                $("#popup").html("");
                $('.PopUp_Backround').fadeOut();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
    function CancelRMPM() {
        $('#popup').html("");
        $('.PopUp_Backround').fadeOut();
    }
</script>
<script>
    function SelectArticleItemCode(id, srchfld) {
        if ("@Model.DefaultAction" != "V") {
            debugger;
            if (id == "") {
                //ClearAllTextBoxes("ITEM_CODE,ITEM_NAME,FABSTYLENO,UOM_CODE");
                ClearAllTextBoxes("ITEM_CODE,ITEM_NAME,UOM_CODE,STYLENUMBER");
            }
            else {
                var linkcd = $("#fabitcdlinkcd").val();
                $.ajax({
                    type: 'POST',
                    beforesend: $("#WaitingMode").show(),
                    url: "@Url.Action("GetItemDetails", PageControllerName)",
                    data: { val: id, },
                    success: function (result) {
                        var MSG = result.indexOf('#helpDIV');
                        if (MSG >= 0) {
                            //ClearAllTextBoxes("ITEM_CODE,ITEM_NAME,FABSTYLENO,UOM_CODE");
                            ClearAllTextBoxes("ITEM_CODE,ITEM_NAME,UOM_CODE,STYLENUMBER");
                            $('#SearchFldValue').val(srchfld);
                            $('#helpDIV').html(result);
                            //$('#ReferanceFieldID').val("ITEM_CODE/ITEM_NAME/FABSTYLENO/UOM_CODE");
                            $('#ReferanceFieldID').val("ITEM_CODE/ITEM_NAME/UOM_CODE/STYLENUMBER");
                            $('#ReferanceColumn').val("2/1/3/0");
                            $('#helpDIV_Header').html("Facbric Item Details");
                        }
                        else {
                            var MSG = result.indexOf(String.fromCharCode(181));
                            if (MSG >= 0) {
                                $("#ITEM_CODE").val(returncolvalue(result, "itcd"));
                                $("#ITEM_NAME").val(returncolvalue(result, "itnm"));
                                //$("#FABSTYLENO").val(returncolvalue(result, "styleno"));
                                $("#UOM_CODE").val(returncolvalue(result, "uomcd"));
                                $("#STYLENUMBER").val(returncolvalue(result, "styleno"));
                                $.ajax({
                                    type: 'GET',
                                    url: '@Url.Action("GetOperationData", PageControllerName)',
                                    beforesend: $("#WaitingMode").show(),
                                    data: { ITEM: returncolvalue(result, "itcd"), },
                                    success: function (result) {
                                        $("#WaitingMode").hide();
                                        $("#REMARKS").focus();
                                        if (result == "NODATA") {
                                            $("#Msgdiv1").show();
                                            $("#info").show();
                                            $("#msg_ok_info").focus();
                                            $("#msgbody_info").html("Operation Data Not Available for Particular Item : " + "' " + returncolvalue(result, "itnm") + " '" + " ! </br>  You have to Enter Operation Details !! ");
                                        }
                                        else {
                                            if (confirm("If you want to get the Previous Operation Details for Particular Item : " + "' " + returncolvalue(result, "itnm") + " '" + " !\nThen Click on OK or Click on Cancel !!  ")) {
                                                $("#partialdivOperation").html(result);
                                            }
                                        }
                                    },
                                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                        $("#WaitingMode").hide();
                                        msgError(XMLHttpRequest.responseText);
                                        $("body span h1").remove(); $("#msgbody_error style").remove();
                                    }
                                });
                            }
                            else {
                                $('#helpDIV').html("");
                                msgInfo("" + result + " !");
                                //ClearAllTextBoxes("ITEM_CODE,ITEM_NAME,FABSTYLENO,UOM_CODE");
                                ClearAllTextBoxes("ITEM_CODE,ITEM_NAME,UOM_CODE,STYLENUMBER");
                                message_value = srchfld;
                            }
                        }
                        $("#WaitingMode").hide();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#WaitingMode").hide();
                        msgError(XMLHttpRequest.responseText);
                        $("body span h1").remove(); $("#msgbody_error style").remove();
                    }
                });
            }
        }
    }
    @*function SelectArticleItemCode(id, STYLENO, ITCD, ITNM, UOMNM, TAG, COPY_TAG) {
        if ("@Model.DefaultAction" != "V") {
            var ID_VAL = document.getElementById(ITCD).value;
            if (id == "") { id = ID_VAL; TAG = "C"; }
            if (id == "") {
                ClearAllTextBoxes((STYLENO + "," + ITCD + "," + ITNM + "," + UOMNM));
            }
            else {
                $.ajax({
                    type: 'GET',
                    url: "@Url.Action("GetItemDetails", PageControllerName)",
                    data: { val: id, TAG: TAG },
                    success: function (result) {
                        var MSG = result.indexOf(String.fromCharCode(181));
                        if (MSG >= 0) {
                            $("#tempHDD").val(result);
                            var str = $("#tempHDD").val().split(String.fromCharCode(181));
                            document.getElementById(STYLENO).value = str[0].toString();
                            document.getElementById(ITCD).value = str[1].toString();
                            document.getElementById(ITNM).value = str[2].toString();
                            document.getElementById(UOMNM).value = str[3].toString();
                            if (COPY_TAG == "SIMILAR") {
                                $.ajax({
                                    type: 'GET',
                                    url: '@Url.Action("GetOperationData", PageControllerName)',
                                    beforesend: $("#WaitingMode").show(),
                                    data: { ITEM: str[1].toString(), },
                                    success: function (result) {
                                        $("#WaitingMode").hide();
                                        $("#REMARKS").focus();
                                        if (result == "NODATA") {
                                            $("#Msgdiv1").show();
                                            $("#info").show();
                                            $("#msg_ok_info").focus();
                                            $("#msgbody_info").html("Operation Data Not Available for Particular Item : " + "' " + str[2].toString() + " '" + " ! </br>  You have to Enter Operation Details !! ");
                                        }
                                        else {
                                            if (confirm("If you want to get the Previous Operation Details for Particular Item : " + "' " + str[2].toString() + " '" + " !\nThen Click on OK or Click on Cancel !!  ")) {
                                                $("#partialdivOperation").html(result);
                                            }
                                        }
                                    },
                                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                        $("#WaitingMode").hide();
                                        msgError(XMLHttpRequest.responseText);
                                        $("body span h1").remove(); $("#msgbody_error style").remove();
                                    }
                                });
                            }
                        }
                        else {
                            $("#Msgdiv1").show();
                            $("#info").show();
                            ClearAllTextBoxes((STYLENO + "," + ITCD + "," + ITNM + "," + UOMNM));
                            $("#btnok").focus();
                            $("#msgbody_info").html(result);
                            message_value = STYLENO;
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#WaitingMode").hide();
                        msgError(XMLHttpRequest.responseText);
                        $("body span h1").remove(); $("#msgbody_error style").remove();
                    }
                });
            }
        }
    }*@
</script>
<script>
    function SelectMachineCode(id, MCCD, MCNM) {
        if (id == "") {
            $("#" + MCCD.id).val("");
            $("#" + MCNM.id).val("");
        }
        else {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetMachineDetails", PageControllerName)',
                data: { val: id, },
                success: function (result) {
                    var MSG = result.indexOf(String.fromCharCode(181));
                    if (MSG >= 0) {
                        $("#tempHDD").val(result);
                        var str = $("#tempHDD").val().split(String.fromCharCode(181));
                        document.getElementById(MCCD.id).value = str[0].toString();
                        document.getElementById(MCNM.id).value = str[1].toString();
                    }
                    else {
                        $("#Msgdiv1").show();
                        $("#info").show();
                        $("#" + MCCD.id).val("");
                        $("#" + MCNM.id).val("");
                        $("#btnok").focus();
                        $("#msgbody_info").html(result);
                        message_value = MAKECD_.id;
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });
        }
    }
</script>
<script>
    function SelectRMPMItemCode(id, ITCD, ITNM, UOMNM) {
        if (id == "") {
            $("#" + ITCD.id).val("");
            $("#" + ITNM.id).val("");
            $("#" + UOMNM.id).val("");
        }
        else {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetRMPMITEMDETAILS", PageControllerName)",
                data: {
                    val: id
                },
                success: function (result) {
                    if (result == "0") {
                        $("#Msgdiv1").show();
                        $("#info").show();
                        $("#" + ITCD.id).val("");
                        $("#" + ITNM.id).val("");
                        $("#" + UOMNM.id).val("");
                        $("#" + ITCD.id).focus();
                        $("#msgbody_info").html("Invalid Item Code ! Please Enter a Valid Code !! ");
                        message_value = ITCD.id;
                    }
                    else {
                        $("#tempHDD").val(result);
                        var str = $("#tempHDD").val().split(String.fromCharCode(181));
                        document.getElementById(ITCD.id).value = str[0].toString();
                        document.getElementById(ITNM.id).value = str[1].toString();
                        document.getElementById(UOMNM.id).value = str[2].toString();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });
        }
    }
</script>

<script>
    function pageprinting() {
        $("#btnprint").click();
    }
</script>
<script>
    function CopyData(COPY_SIZE, P_SLNO) {
        var SIZE_CODE = document.getElementById(COPY_SIZE).value;
        if (SIZE_CODE != "") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSizeWiseItemData", PageControllerName)',
                beforesend: $("#WaitingMode").show(),
                data: $('form').serialize() + "&SIZE_CODE=" + SIZE_CODE + "&P_SLNO=" + P_SLNO,
                success: function (result) {
                    $("#WaitingMode").hide();
                    if (result == "NODATA") {
                        $("#Msgdiv1").show();
                        $("#info").show();
                        $("#msg_ok_info").focus();
                        $("#msgbody_info").html("Item Data Not Available for Particular Size : " + "' " + SIZE_CODE + " '" + " ! </br> Please Enter a Valid Size Code !! ");
                    }
                    else {
                        //if (confirm("If you want to get the Previous Item Details for Particular Size : " + "' " + SIZE_CODE + " '" + " !\nThen Click on OK or Click on Cancel !!  "))
                        //{
                        //    $('#popup').html(result);
                        //    $('.PopUp_Backround').show();
                        //}
                        $('#popup').html(result);
                        $('.PopUp_Backround').show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });
        }
        else {
            $("#Msgdiv1").show();
            $("#info").show();
            $("#msg_ok_info").focus();
            $("#msgbody_info").html("Please Enter a Size to Get the Item Details !! ");
            message_value = COPY_SIZE;
        }
    }
</script>
<script>
    function Check_Size(SIZE, PSLNO) {
        if (SIZE != "") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Check_Copy_Size", PageControllerName)',
                beforesend: $("#WaitingMode").show(),
                data: $('form').serialize() + "&P_SLNO=" + PSLNO + "&val=" + SIZE,
                success: function (result) {
                    $("#WaitingMode").hide();
                    if (result != "1") {
                        $("#Msgdiv1").show();
                        $("#info").show();
                        $("#COPY_SIZE").val("");
                        $("#msg_ok_info").focus();
                        $("#msgbody_info").html(result);
                        message_value = "COPY_SIZE";
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });
        }
    }
</script>
@using (Html.BeginForm())
{
    if (Model.DefaultView == true)
    {
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" id="btnSave" value="@Url.Action("SAVE", PageControllerName)" />
            <input type="submit" id="btnprint" formtarget="_blank" style="display:none" />
            <input type="hidden" id="srhpnl" value="@Url.Action("SearchPannelData", PageControllerName)" />
            <input type="hidden" id="itgrptype" value="F" />
            @Html.HiddenFor(s => s.DefaultAction)
            @Html.HiddenFor(a => a.M_SITEMBOM.M_AUTONO)
            @Html.HiddenFor(a => a.M_SITEMBOM.BOMCD)
            @Html.HiddenFor(model => model.Audit_REM, new { id = "Audit_REM" })
 <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "BOM Code")
                                <b style="color:Red;">*</b>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.M_SITEMBOM.BOMCD, new { htmlAttributes = new { @class = "form-control", id = "BOMCD", maxlength = 10, @placeholder = "Code", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Effective Date")
                                <b style="color:Red;">*</b>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.M_SITEMBOM.EFFDT, new { htmlAttributes = new { @class = "form-control", id = "EFFDT", maxlength = 10, @placeholder = "Code" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Item")
                                <b style="color:Red;">*</b>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="editor-field">
                             @Html.EditorFor(model => model.M_SITEMBOM.ITCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "ITCD", onkeydown = "GetHelpBlur('" + @Url.Action("GetItemDetails", PageControllerName) + "','DesignWise Item Details','ITCD','ITCD=itcd=2/ITNM=itnm=1/UOMNM=uomcd=3/STYLENO=styleno=0','itgrptype')", onblur = "GetHelpBlur('" + @Url.Action("GetItemDetails", PageControllerName) + "','DesignWise Item Details','ITCD','ITCD=itcd=2/ITNM=itnm=1/UOMNM=uomcd=3/STYLENO=styleno=0','itgrptype');", @placeholder = "Code", maxlength = 10 } })
                                <img src="~/Image/search.png" id="ITCD_HELP" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetItemDetails", PageControllerName)','DesignWise Item Details','ITCD','ITCD=itcd=2/ITNM=itnm=1/UOMNM=uomcd=3/STYLENO=styleno=0','itgrptype')" />
                             </div>
                        </div>
                        <div class="col-md-7">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.M_SITEM.STYLENO, new { htmlAttributes = new { @class = "form-control", id = "STYLENO", maxlength = 8, @TabIndex = -1, @title = "Only for View", @placeholder = "Design Number", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.M_SITEM.ITNM, new { htmlAttributes = new { @class = "form-control", id = "ITNM", maxlength = 60, @TabIndex = -1, @title = "Only for View", @placeholder = "Item Name", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.M_UOM.UOMNM, new { htmlAttributes = new { @class = "form-control textbox_image", id = "UOMNM", @placeholder = "UOM", maxlength = 5, @TabIndex = -1, @readonly = "readonly" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Base Quantity")
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.M_SITEMBOM.BASEQNTY, new { htmlAttributes = new { @class = "form-control", id = "BASEQNTY", @placeholder = "Base Qnty", @onkeypress = "return numericOnly(this,2);", maxlength = 12 } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Remarks")
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.M_SITEMBOM.REMARKS, new { htmlAttributes = new { @class = "form-control", id = "REMARKS", @placeholder = "Remarks", maxlength = 50 } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "De - Activate")
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="editor-field" style="margin-top:6px;">
                                @Html.CheckBoxFor(model => model.Checked)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    @if (Model.DefaultAction == "V")
                    {
                        <div class="row" style="margin-top: 11px;width:100%;background-color:#c4b9b9;overflow-x:scroll;border:5px groove;">
                            <div>
                                <div id="partialdivPrint" style="margin-top:0px;">
                                    @Html.Partial("_M_BOM_OPERATION_PRINT")
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @if (Model.DefaultAction == "A" && Model.MENU_PARA == "OPR")
            {
                @*<div class="row">
                    <div class="col-md-6">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Copy From Other Item")
                            <b style="color:Red;">*</b>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ITEM_CODE, new { htmlAttributes = new { @class = "form-control textbox_image", id = "ITEM_CODE", onkeydown = "GetHelpBlur('" + @Url.Action("GetItemDetails", PageControllerName) + "','DesignWise Item Details','ITEM_CODE','ITEM_CODE=itcd=2/ITEM_NAME=itnm=1/UOM_CODE=uomcd=3/STYLENUMBER=styleno=0')", onblur = "SelectArticleItemCode(this.value,'ITEM_CODE');", @placeholder = "Code", maxlength = 8 } })
                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetItemDetails", PageControllerName)','DesignWise Item Details','ITEM_CODE','ITEM_CODE=itcd=2/ITEM_NAME=itnm=1/UOM_CODE=uomcd=3/STYLENUMBER=styleno=0')" />

                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.STYLENUMBER, new { htmlAttributes = new { @class = "form-control", id = "STYLENUMBER", maxlength = 60, @TabIndex = -1, @title = "Only for View", @placeholder = "Item Name", @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ITEM_NAME, new { htmlAttributes = new { @class = "form-control", id = "ITEM_NAME", maxlength = 60, @TabIndex = -1, @title = "Only for View", @placeholder = "Item Name", @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.UOM_CODE, new { htmlAttributes = new { @class = "form-control", id = "UOM_CODE", @placeholder = "UOM", maxlength = 5, @TabIndex = -1, @readonly = "readonly" } })
                        </div>
                    </div>
                </div>*@
            }
            <div class="row">
                <ul class="nav nav-tabs">
                    @if (Model.MENU_PARA == "MTRL")
                    {
                        <li id="Standard_LI" class="active"><a data-toggle="tab" href="#Standard">Standard</a></li>
                    }
                    else if (Model.MENU_PARA == "OPR")
                    {
                        <li id="Operations_LI" class="active"><a data-toggle="tab" href="#Operations">Operations</a></li>
                    }
                    <li id="Documents_LI" class=""><a data-toggle="tab" href="#Documents">Documents</a></li>
                </ul>
                <div class="tab-content">
                    @if (Model.MENU_PARA == "MTRL")
                    {
                        <div id="Standard" class="tab-pane fade in active" style="margin-top: 10px;">
                            <div class="row" style="margin-top: 11px;background-color:#c4b9b9;border:5px groove;">
                                <div>
                                    <div id="partialdivMain" style="margin-top:0px;">
                                        @Html.Partial("_M_BOM_MAIN")
                                    </div>
                                </div>
                                <div class="PopUp_Backround">
                                    <div id="popup" class="row" style="margin-top: 11px;top:7%;position:absolute;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else if (Model.MENU_PARA == "OPR")
                    {
                        <div id="Operations" class="tab-pane fade in active" style="margin-top: 10px;">
                            <div class="row" style="background-color:#c4b9b9;border:5px groove;">
                                <div>
                                    <div id="partialdivOperation" style="margin-top:0px;">
                                        @Html.Partial("_M_BOM_OPERATION")
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else if (Model.MENU_PARA == "APRV")
                    {}
                    <div id="Documents" class="tab-pane fade " style="margin-top: 10px;">
                        <div class="row" style="background-color:#c4b9b9;border:5px groove;">
                            <div>
                                <div id="partialdivDocument" style="margin-top:0px;">
                                    @Html.Partial("_UPLOADDOCUMENTS")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        @ViewBag.ErrorMessage
    }
    <div class="container">
        <div id="helpDIV">

        </div>
    </div>
}

