@model Improvar.ViewModels.RepMiscQryUpdt
@{
    ViewBag.Title = "Misc Update Queries";
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    string PageControllerName = "Rep_Misc_Qry_Updt";
}
<script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/Content/bootstrap-select.css" />
@Scripts.Render("~/Scripts/Multiple-Select-min.js")
@Scripts.Render("~/Scripts/bootstrap-select.js")
<script src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // $("#1stdiv").hide();
        // $("#2nddiv").hide();
        ChangeStylePageNo();
    });
</script>
<script>
    $(function () {
        $("#FDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true });
        $("#TDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true });
        $("#NEWPREFDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate' });
    });
</script>
<script>
    function Show_rep() {
        debugger;
        var val = ($("#TEXTBOX1").find(":selected").val());
        if (val == "Change Style") {
            if (!emptyFieldCheck("Select/Enter Bale No.", "BALENO1")) { return false; }
            if (!emptyFieldCheck("Select/Enter New Style No.", "NEWSTYLENO")) { return false; }
            if ($("#OLDITCD").val() == $("#NEWITCD").val()) {
                msgInfo("Old Style No and New Style No is same !!");
                message_value = "NEWSTYLENO";
                return false;
            }
        }

        else if (val == "Change BaleNo") {
            if (!emptyFieldCheck("Select/Enter Bale No.", "NEWBALENO")) { return false; }
        }
        else if (val == "Change PREFNO && PREFDT") {
            if (!emptyFieldCheck("Select/Enter Document No.", "DOCNO")) { return false; }
            if (!emptyFieldCheck("Select/Enter New Party Bill No.", "NEWPREFNO")) { return false; }
            if (!emptyFieldCheck("Select/Enter New Party Bill Date", "NEWPREFDT")) { return false; }
        }
        else if (val == "Change Opening Rate") {
            if (!emptyFieldCheck("Select/Enter Document No.", "DOCNO5")) { return false; }
            //if (!emptyFieldCheck("Select/Enter New Rate", "NEWRATE")) { return false; }
            if(retFloat($("#NEWRATE").val()) == 0){
                msgInfo("Select/Enter New Rate !!");
                message_value = "NEWRATE";
                return false;
            }
        }
        else {
            if (!emptyFieldCheck("Select/Enter Bale No.", "BALENO2")) { return false; }
            if (!emptyFieldCheck("Select/Enter New Page No.", "NEWPAGENO")) { return false; }
            if (!emptyFieldCheck("Select/Enter New Page SlNo.", "NEWPAGESLNO")) { return false; }
            if ($("#OLDPAGENO").val() == $("#NEWPAGENO").val() && $("#OLDPAGESLNO").val() == $("#NEWPAGESLNO").val()) {
                msgInfo("Old Page No and New Page No,Old Page SlNo and New Page SlNo is same !!");
                message_value = "NEWPAGENO";
                return false;
            }
        }
        $.ajax({
            type: 'post',
            beforesend: $("#WaitingMode").show(),
            url: "@Url.Action("Save", PageControllerName)",
            data: $('form').serialize(),
            success: function (result) {
                $("#WaitingMode").hide();
                msgSuccess1(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>
<script>
    function ChangeStylePageNo() {
        debugger;
        var val = ($("#TEXTBOX1").find(":selected").val());
        if (val == "Change Style") {
            $("#1stdiv").show(); $("#2nddiv").hide(); $("#3rddiv").hide(); $("#4thdiv").hide(); $("#5thdiv").hide();
        }
        else if (val == "Change BaleNo") {
            $("#2nddiv").hide(); $("#1stdiv").hide(); $("#3rddiv").show(); $("#4thdiv").hide();$("#5thdiv").hide();
        }
        else if (val == "Change PREFNO && PREFDT") {
            $("#1stdiv").hide(); $("#2nddiv").hide(); $("#3rddiv").hide(); $("#4thdiv").show();$("#5thdiv").hide();
        }
        else if (val == "Change Opening Rate") {
            $("#1stdiv").hide(); $("#2nddiv").hide(); $("#3rddiv").hide(); $("#4thdiv").hide(); $("#5thdiv").show();
        }
        else {
            $("#1stdiv").hide(); $("#3rddiv").hide(); $("#2nddiv").show(); $("#4thdiv").hide();$("#5thdiv").hide();
        }
    }
</script>
<script>
    function ChkBaleno() {
        var NEWBALENO = $("#NEWBALENO").val();
        if (NEWBALENO != "") {
            $.ajax({
                type: 'post',
                beforesend: $("#WaitingMode").show(),
                url: "@Url.Action("CheckBaleno", PageControllerName)",
                data: { BALENO: NEWBALENO },
                success: function (result) {
                    if (result == "1") {
                        msgInfo("Bale No Already Exists, Please Enter a Different Bale No. !! ");
                        message_value = "NEWBALENO";
                        $("#NEWBALENO").val("");
                        return false;
                    }
                    $("#WaitingMode").hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });

        }

    }
</script>
<script>
    function ChkPrefno() {
        var NEWPREFNO = $("#NEWPREFNO").val();
        var NEWPREFDT = $("#NEWPREFDT").val();
        if (NEWPREFNO != "" && NEWPREFDT != "") {
            $.ajax({
                type: 'post',
                beforesend: $("#WaitingMode").show(),
                url: "@Url.Action("CheckPrefno", PageControllerName)",
                data: { PREFNO: NEWPREFNO, PREFDT: NEWPREFDT },
                success: function (result) {
                    if (result == "1") {
                        msgInfo("Party Bill No. && Party Bill Date Already Exists, Please Enter a Different Party Bill No. && Party Bill Date !! ");
                        message_value = "NEWPREFNO";
                        $("#NEWPREFNO").val("");
                        return false;
                    }
                    $("#WaitingMode").hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });

        }

    }


    function CheckBillNumber() {
        debugger;
        var BILL_NO = $("#NEWPREFNO").val();
        var SUPPLIER = $("#SLCD").val();
        var AUTO_NO = $("#BLAUTONO4").val();
        if (BILL_NO != "") {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("CheckBillNumber", PageControllerName)",
                data:
                {
                    BILL_NO: BILL_NO, SUPPLIER: SUPPLIER, AUTO_NO: AUTO_NO,
                },
                success: function (result) {
                    if (result == "1") {
                        msgInfo("Bill Number Already Exists, for Particular Supplier Code : Please Enter a Different Bill Number !! ");
                        message_value = "NEWPREFNO";
                        $("#NEWPREFNO").val("");
                        return false;
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });
        }
    }
</script>
@using (Html.BeginForm("", PageControllerName, FormMethod.Post, new { id = "form1", enctype = "multipart/form-data" }))
{
    if (Model.DefaultView == true)
    {
        <div class="form-horizontal">
            @Html.HiddenFor(s => s.DefaultAction)
            <input type="hidden" id="urlSLCDHLP" value="@Url.Action("GetSLCDhelp", PageControllerName)" />
            <div class="col-md-5">
                <div class="editor-label" style="margin-top: 10px;">
                    @Html.Label("", "Update In")
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    @Html.DropDownListFor(model => Model.TEXTBOX1, new SelectList(Model.DropDown_list1, "Value", "Text", Model.TEXTBOX1), new { @class = "form-control", id = "TEXTBOX1", onchange = "ChangeStylePageNo();" })
                </div>
            </div>
            <div id="1stdiv">
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 10px;">
                            @Html.Label("", "Bale No")
                            <b style="color:Red;">*</b>
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-top: 10px;">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.BALENO1, new { htmlAttributes = new { @class = "form-control textbox_image", id = "BALENO1", onkeydown = "GetHelpBlur('" + @Url.Action("GetBaleNoDetails", PageControllerName) + "','Bale No. Details','BALENO1','BALENO1=baleno=0/BALEYR1=baleyr=1/LRNO1=lrno=3/LRDT1=lrdt=4/OLDSTYLENO=styleno=2/NEWSTYLENO=styleno=2/BLAUTONO1=blautono=6/GOCD1=gocd=5/OLDITCD=itcd=7/NEWITCD=itcd=7/OLDBARNO=BARNO/BLSLNO1=BLSLNO','TEXTBOX1/GOCD1/OLDITCD')", onblur = "GetHelpBlur('" + @Url.Action("GetBaleNoDetails", PageControllerName) + "','Bale No. Details','BALENO1','BALENO1=baleno=0/BALEYR1=baleyr=1/LRNO1=lrno=3/LRDT1=lrdt=4/OLDSTYLENO=styleno=2/NEWSTYLENO=styleno=2/BLAUTONO1=blautono=6/GOCD1=gocd=5/OLDITCD=itcd=7/NEWITCD=itcd=7/OLDBARNO=BARNO/BLSLNO1=BLSLNO','TEXTBOX1/GOCD1/OLDITCD');", @placeholder = "Bale No", maxlength = 30, @title = "Bale No", autocomplete = "off" } })
                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetBaleNoDetails", PageControllerName)','Bale No. Details','BALENO1','BALENO1=baleno=0/BALEYR1=baleyr=1/LRNO1=lrno=3/LRDT1=lrdt=4/OLDSTYLENO=styleno=2/NEWSTYLENO=styleno=2/BLAUTONO1=blautono=6/GOCD1=gocd=5/OLDITCD=itcd=7/NEWITCD=itcd=7/OLDBARNO=BARNO/BLSLNO1=BLSLNO','TEXTBOX1/GOCD1/OLDITCD')" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="editor-label" style="margin-top: 10px;">
                            @Html.Label("", "Bale Year")
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 10px;">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.BALEYR1, new { htmlAttributes = new { @class = "form-control", id = "BALEYR1", maxlength = 15, @placeholder = "Bale year", @TabIndex = -1, @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="editor-label" style="margin-top: 10px;">
                            @Html.Label("", "LR Number")
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 10px;">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.LRNO1, new { htmlAttributes = new { @class = "form-control", id = "LRNO1", maxlength = 20, @title = "Only for View", @placeholder = "LR No.", @readonly = "readonly", @TabIndex = -1 } })
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="editor-label" style="margin-top: 10px;">
                            @Html.Label("", "LR Date")
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 10px;">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.LRDT1, new { htmlAttributes = new { @class = "form-control", id = "LRDT1", maxlength = 10, @title = "Only for View", @placeholder = "LR Date", @readonly = "readonly", @TabIndex = -1 } })
                            @Html.HiddenFor(model => model.BLAUTONO1, new { id = "BLAUTONO1" })
                            @Html.HiddenFor(model => model.BLSLNO1, new { id = "BLSLNO1" })
                            @Html.HiddenFor(model => model.GOCD1, new { id = "GOCD1" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Old Style No")
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OLDSTYLENO, new { htmlAttributes = new { @class = "form-control", id = "OLDSTYLENO", maxlength = 30, @placeholder = "Old Style No", @TabIndex = -1, @readonly = "readonly" } })
                            @Html.HiddenFor(model => model.ITCD1, new { id = "OLDITCD" })
                            @Html.HiddenFor(model => model.OLDBARNO, new { id = "OLDBARNO" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "New Style No")
                            <b style="color:Red;">*</b>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.NEWSTYLENO, new { htmlAttributes = new { @class = "form-control textbox_image", id = "NEWSTYLENO", onkeydown = "GetHelpBlur('" + @Url.Action("GetBarCodeDetails", PageControllerName) + "','Design No Details','NEWSTYLENO','NEWSTYLENO=STYLENO=3/NEWBARNO=BARNO=0/MTRLJOBCD=MTRLJOBCD=2/PARTCD=PARTCD=5/NEWITCD=itcd','NEWBARNO')", onblur = "GetHelpBlur('" + @Url.Action("GetBarCodeDetails", PageControllerName) + "','Design No Details','NEWSTYLENO','NEWSTYLENO=STYLENO=3/NEWBARNO=BARNO=0/MTRLJOBCD=MTRLJOBCD=2/PARTCD=PARTCD=5/NEWITCD=itcd','NEWBARNO')", @placeholder = "Design No", maxlength = 25 } })
                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetBarCodeDetails", PageControllerName)','Design No Details','NEWSTYLENO','NEWSTYLENO=STYLENO=3/NEWBARNO=BARNO=0/MTRLJOBCD=MTRLJOBCD=2/PARTCD=PARTCD=5/NEWITCD=itcd','NEWBARNO')" />
                            @Html.HiddenFor(model => model.ITCD2, new { id = "NEWITCD" })
                            @Html.HiddenFor(model => model.NEWBARNO, new { id = "NEWBARNO" })
                        </div>
                    </div>
                </div>
            </div>
            <div id="2nddiv">
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 10px;">
                            @Html.Label("", "Bale No")
                            <b style="color:Red;">*</b>
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-top: 10px;">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.BALENO2, new { htmlAttributes = new { @class = "form-control textbox_image", id = "BALENO2", onkeydown = "GetHelpBlur('" + @Url.Action("GetBaleNoDetails", PageControllerName) + "','Bale No. Details','BALENO2','BALENO2=baleno=0/BALEYR2=baleyr=1/LRNO2=lrno=3/LRDT2=lrdt=4/OLDPAGENO=pageno/OLDPAGESLNO=pageslno/NEWPAGENO=pageno/NEWPAGESLNO=pageslno/BLAUTONO2=blautono=6/GOCD2=gocd=5/ITCD3=itcd=7/OLDPAGENOSLNO=pagenoslno=2/BLSLNO2=BLSLNO','TEXTBOX1/GOCD2/ITCD3/OLDPAGENOSLNO')", onblur = "GetHelpBlur('" + @Url.Action("GetBaleNoDetails", PageControllerName) + "','Bale No. Details','BALENO2','BALENO2=baleno=0/BALEYR2=baleyr=1/LRNO2=lrno=3/LRDT2=lrdt=4/OLDPAGENO=pageno/OLDPAGESLNO=pageslno/NEWPAGENO=pageno/NEWPAGESLNO=pageslno/BLAUTONO2=blautono=6/GOCD2=gocd=5/ITCD3=itcd=7/OLDPAGENOSLNO=pagenoslno=2/BLSLNO2=BLSLNO','TEXTBOX1/GOCD2/ITCD3/OLDPAGENOSLNO');", @placeholder = "Bale No", maxlength = 30, @title = "Bale No", autocomplete = "off" } })
                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetBaleNoDetails", PageControllerName)','Bale No. Details','BALENO2','BALENO2=baleno=0/BALEYR2=baleyr=1/LRNO2=lrno=3/LRDT2=lrdt=4/OLDPAGENO=pageno/OLDPAGESLNO=pageslno/NEWPAGENO=pageno/NEWPAGESLNO=pageslno/BLAUTONO2=blautono=6/GOCD2=gocd=5/ITCD3=itcd=7/OLDPAGENOSLNO=pagenoslno=2/BLSLNO2=BLSLNO','TEXTBOX1/GOCD2/ITCD3/OLDPAGENOSLNO')" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="editor-label" style="margin-top: 10px;">
                            @Html.Label("", "Bale Year")
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 10px;">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.BALEYR2, new { htmlAttributes = new { @class = "form-control", id = "BALEYR2", maxlength = 15, @placeholder = "Bale year", @TabIndex = -1, @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="editor-label" style="margin-top: 10px;">
                            @Html.Label("", "LR Number")
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 10px;">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.LRNO2, new { htmlAttributes = new { @class = "form-control", id = "LRNO2", maxlength = 10, @title = "Only for View", @placeholder = "LR No.", @readonly = "readonly", @TabIndex = -1 } })

                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="editor-label" style="margin-top: 10px;">
                            @Html.Label("", "LR Date")
                        </div>
                    </div>
                    <div class="col-md-5" style="margin-top: 10px;">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.LRDT2, new { htmlAttributes = new { @class = "form-control", id = "LRDT2", maxlength = 10, @title = "Only for View", @placeholder = "LR Date", @readonly = "readonly", @TabIndex = -1 } })
                            @Html.HiddenFor(model => model.BLAUTONO2, new { id = "BLAUTONO2" })
                            @Html.HiddenFor(model => model.BLSLNO2, new { id = "BLSLNO2" })
                            @Html.HiddenFor(model => model.GOCD2, new { id = "GOCD2" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Old Page No")
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OLDPAGENO, new { htmlAttributes = new { @class = "form-control", id = "OLDPAGENO", maxlength = 15, @placeholder = "Old Page No", @TabIndex = -1, @readonly = "readonly" } })
                            @Html.HiddenFor(model => model.ITCD3, new { id = "ITCD3" })
                            @Html.HiddenFor(model => model.OLDPAGENOSLNO, new { id = "OLDPAGENOSLNO" })
                        </div>
                    </div>
                    <div class="col-md-1" style="width:auto">
                        @Html.Label("", "/")
                    </div>
                    <div class="col-md-6">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OLDPAGESLNO, new { htmlAttributes = new { @class = "form-control", id = "OLDPAGESLNO", maxlength = 15, @placeholder = "Old Page Sl No", @TabIndex = -1, @readonly = "readonly" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "New Page No")
                            <b style="color:Red;">*</b>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.NEWPAGENO, new { htmlAttributes = new { @class = "form-control", id = "NEWPAGENO", maxlength = 6, @onkeypress = "return numericOnly(this);", @placeholder = "New Page No", autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="col-md-1" style="width:auto">
                        @Html.Label("", "/")
                    </div>
                    <div class="col-md-6">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.NEWPAGESLNO, new { htmlAttributes = new { @class = "form-control", id = "NEWPAGESLNO", maxlength = 6, @onkeypress = "return numericOnly(this);", @placeholder = "New Page SL No", autocomplete = "off" } })
                        </div>
                    </div>
                </div>
            </div>
            <div id="3rddiv">
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 10px;">
                            @Html.Label("", "Bale No")
                            <b style="color:Red;">*</b>
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-top: 10px;">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OLDBALENO, new { htmlAttributes = new { @class = "form-control textbox_image", id = "OLDBALENO", onkeydown = "GetHelpBlur('" + @Url.Action("GetBaleNoDetails", PageControllerName) + "','Bale No. Details','OLDBALENO','OLDBALENO=baleno=0/BALEYR3=baleyr=1/LRNO3=lrno=2/LRDT3=lrdt=3/BLAUTONO3=blautono=5/GOCD3=gocd=4/BLSLNO3=BLSLNO','TEXTBOX1/GOCD3')", onblur = "GetHelpBlur('" + @Url.Action("GetBaleNoDetails", PageControllerName) + "','Bale No. Details','OLDBALENO','OLDBALENO=baleno=0/BALEYR3=baleyr=1/LRNO3=lrno=2/LRDT3=lrdt=3/BLAUTONO3=blautono=5/GOCD3=gocd=4/BLSLNO3=BLSLNO','TEXTBOX1/GOCD3');", @placeholder = "Bale No", maxlength = 30, @title = "Bale No", autocomplete = "off" } })
                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetBaleNoDetails", PageControllerName)','Bale No. Details','OLDBALENO','OLDBALENO=baleno=0/BALEYR3=baleyr=1/LRNO3=lrno=2/LRDT3=lrdt=3/BLAUTONO3=blautono=5/GOCD3=gocd=4/BLSLNO3=BLSLNO','TEXTBOX1/GOCD3')" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="editor-label" style="margin-top: 10px;">
                            @Html.Label("", "Bale Year")
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 10px;">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.BALEYR3, new { htmlAttributes = new { @class = "form-control", id = "BALEYR3", maxlength = 15, @placeholder = "Bale year", @TabIndex = -1, @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="editor-label" style="margin-top: 10px;">
                            @Html.Label("", "LR Number")
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 10px;">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.LRNO3, new { htmlAttributes = new { @class = "form-control", id = "LRNO3", maxlength = 20, @title = "Only for View", @placeholder = "LR No.", @readonly = "readonly", @TabIndex = -1 } })
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="editor-label" style="margin-top: 10px;">
                            @Html.Label("", "LR Date")
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 10px;">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.LRDT3, new { htmlAttributes = new { @class = "form-control", id = "LRDT3", maxlength = 10, @title = "Only for View", @placeholder = "LR Date", @readonly = "readonly", @TabIndex = -1 } })
                            @Html.HiddenFor(model => model.BLAUTONO3, new { id = "BLAUTONO3" })
                            @Html.HiddenFor(model => model.BLSLNO3, new { id = "BLSLNO3" })
                            @Html.HiddenFor(model => model.GOCD3, new { id = "GOCD3" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "New Bale No")
                            <b style="color:Red;">*</b>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.NEWBALENO, new { htmlAttributes = new { @class = "form-control", id = "NEWBALENO", maxlength = 30, @placeholder = "New Bale No", autocomplete = "off", onchange = "ChkBaleno();" } })
                        </div>
                    </div>
                </div>
            </div>
            <div id="4thdiv">
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Document No.")
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.DOCNO, new { htmlAttributes = new { @class = "form-control textbox_image", id = "DOCNO", onkeydown = "GetHelpBlur('" + @Url.Action("GetDOCNO", PageControllerName) + "','Document Details','DOCNO','DOCNO=DOCNO=0/DOCDT=DOCDT=1/SLCD=SLCD=2/SLNM=SLNM=3/BLAUTONO4=AUTONO=4/OLDPREFNO=PREFNO/OLDPREFDT=PREFDT/NEWPREFNO=PREFNO/NEWPREFDT=PREFDT')", onblur = "GetHelpBlur('" + @Url.Action("GetDOCNO", PageControllerName) + "','Document Details','DOCNO','DOCNO=DOCNO=0/DOCDT=DOCDT=1/SLCD=SLCD=2/SLNM=SLNM=3/BLAUTONO4=AUTONO=4/OLDPREFNO=PREFNO/OLDPREFDT=PREFDT/NEWPREFNO=PREFNO/NEWPREFDT=PREFDT');", @placeholder = "Code", maxlength = 30 } })
                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetDOCNO", PageControllerName)','Proforma Details','DOCNO','DOCNO=DOCNO=0/DOCDT=DOCDT=1/SLCD=SLCD=2/SLNM=SLNM=3/BLAUTONO4=AUTONO=4/OLDPREFNO=PREFNO/OLDPREFDT=PREFDT/NEWPREFNO=PREFNO/NEWPREFDT=PREFDT')" />

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Document Date")
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 6px;">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.DOCDT, new { htmlAttributes = new { @class = "form-control", id = "DOCDT", maxlength = 10, @placeholder = "dd/mm/yyyy", @TabIndex = -1, @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Supplier Code")
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 6px;">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.SLCD, new { htmlAttributes = new { @class = "form-control", id = "SLCD", maxlength = 20, @title = "Only for View", @placeholder = "Supplier Code", @readonly = "readonly", @TabIndex = -1 } })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="editor-label" style="margin-top:6px;">
                            @Html.Label("", "Supplier Name")
                        </div>
                    </div>
                    <div class="col-md-8" style="margin-top: 6px;">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.SLNM, new { htmlAttributes = new { @class = "form-control", id = "SLNM", maxlength = 10, @title = "Only for View", @placeholder = "Supplier Name", @readonly = "readonly", @TabIndex = -1 } })
                            @Html.HiddenFor(model => model.BLAUTONO4, new { id = "BLAUTONO4" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Old Party Bill No.")
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OLDPREFNO, new { htmlAttributes = new { @class = "form-control", id = "OLDPREFNO", maxlength = 30, @placeholder = "Old Party Bill No", @TabIndex = -1, @readonly = "readonly" } })

                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Old Party Bill Date")
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OLDPREFDT, new { htmlAttributes = new { @class = "form-control", id = "OLDPREFDT", maxlength = 30, @placeholder = "dd/mm/yyyy", @TabIndex = -1, @readonly = "readonly" } })

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "New Party Bill No.")
                            <b style="color:Red;">*</b>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.NEWPREFNO, new { htmlAttributes = new { @class = "form-control", id = "NEWPREFNO", maxlength = 16, @placeholder = "New Party Bill No", onblur = "CheckBillNumber();" } })
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "New Party Bill Date")
                            <b style="color:Red;">*</b>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.NEWPREFDT, new { htmlAttributes = new { @class = "form-control", id = "NEWPREFDT", onchange = "DocdtChange(this);", autocomplete = "off", @placeholder = "dd/mm/yyyy", maxlength = 10 } })

                        </div>
                    </div>
                </div>
            </div>
            <div id="5thdiv">
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Document No.")
                            <b style="color:Red;">*</b>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.DOCNO, new { htmlAttributes = new { @class = "form-control textbox_image", id = "DOCNO5", onkeydown = "GetHelpBlur('" + @Url.Action("GetOPDOCNO", PageControllerName) + "','Document Details','DOCNO5','DOCNO5=DOCNO=0/DOCDT5=DOCDT=1/STYLENO5=ITSTYLE=2/ITCD5=ITCD/AUTONO5=AUTONO=6/SLNO5=SLNO=5/OLDRATE=RATE=4/BALENO5=BALENO=3','AUTONO5/SLNO5')", onblur = "GetHelpBlur('" + @Url.Action("GetOPDOCNO", PageControllerName) + "','Document Details','DOCNO5','DOCNO5=DOCNO=0/DOCDT5=DOCDT=1/STYLENO5=ITSTYLE=2/ITCD5=ITCD/AUTONO5=AUTONO=6/SLNO5=SLNO=5/OLDRATE=RATE=4/BALENO5=BALENO=3','AUTONO5/SLNO5');", @placeholder = "Code", maxlength = 30 } })
                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetOPDOCNO", PageControllerName)','Document Details','DOCNO5','DOCNO5=DOCNO=0/DOCDT5=DOCDT=1/STYLENO5=ITSTYLE=2/ITCD5=ITCD/AUTONO5=AUTONO=6/SLNO5=SLNO=5/OLDRATE=RATE=4/BALENO5=BALENO=3','AUTONO5/SLNO5')" />

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Document Date")
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.DOCDT, new { htmlAttributes = new { @class = "form-control", id = "DOCDT5", maxlength = 10, @placeholder = "dd/mm/yyyy", @TabIndex = -1, @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Style No")
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.STYLENO, new { htmlAttributes = new { @class = "form-control", id = "STYLENO5", maxlength = 30, @placeholder = "Style No", @TabIndex = -1, @readonly = "readonly" } })
                                @Html.HiddenFor(model => model.ITCD, new { id = "ITCD5" })
                                @*@Html.HiddenFor(model => model.BARNO, new { id = "BARNO5" })*@
                                @Html.HiddenFor(model => model.AUTONO, new { id = "AUTONO5" })
                                @Html.HiddenFor(model => model.SLNO, new { id = "SLNO5" })
                                @*@Html.HiddenFor(model => model.QNTY, new { id = "QNTY5" })*@
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="editor-label" style="margin-top: 6px;">
                                @Html.Label("", "Bale No")
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.BALENO, new { htmlAttributes = new { @class = "form-control", id = "BALENO5", maxlength = 30, @placeholder = "Bale No", @TabIndex = -1, @readonly = "readonly" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Old Rate")
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OLDRATE, new { htmlAttributes = new { @class = "form-control", id = "OLDRATE", maxlength = 30, @placeholder = "Old Rate", @TabIndex = -1, @readonly = "readonly" } })

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "New Rate")
                            <b style="color:Red;">*</b>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.NEWRATE, new { htmlAttributes = new { @class = "form-control", id = "NEWRATE", maxlength = 14, @placeholder = "New Rate", @onkeypress = "return numericOnly(this,3);" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10PX">
                <div class="col-md-5">
                </div>
                <div class="col-lg-6">
                    <input type="button" value="Update (Alt+A)" name="submitbutton" class="btn btn-info" formtarget="_blank" accesskey="A" onclick="Show_rep()" />
                </div>
            </div>
        </div>
    }
    <div class="container">
        <div id="helpDIV" style="z-index: 2;">
        </div>
    </div>
}
