@model Improvar.ViewModels.RepMiscQryUpdt
@{
    ViewBag.Title = "Misc Update Queries";
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    string PageControllerName = "Rep_Misc_Qry_Updt";
}
<script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/Content/bootstrap-select.css" />
@Scripts.Render("~/Scripts/Multiple-Select-min.js")
@Scripts.Render("~/Scripts/bootstrap-select.js")
<script src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // $("#1stdiv").hide();
       // $("#2nddiv").hide();
        ChangeStylePageNo();
    });
</script>
<script>
    $(function () {
        $("#FDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true });
        $("#TDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true });
    });
</script>

<script>
    function Show_rep() {
        debugger;
        var val = ($("#TEXTBOX1").find(":selected").val());
        if (val == "Change Style") {
            if (!emptyFieldCheck("Select/Enter Bale No.", "BALENO1")) { return false; }
          //  if (!emptyFieldCheck("Select/Enter New Style No.", "NEWSTYLENO")) { return false; }
        } else {
            if (!emptyFieldCheck("Select/Enter Bale No.", "BALENO2")) { return false; }

        }
        $.ajax({
            type: 'post',
            beforesend: $("#WaitingMode").show(),
            url: "@Url.Action("Save", PageControllerName)",
            data: $('form').serialize(),
            success: function (result) {
                $("#WaitingMode").hide();
                if (result == "1")
                { msgSuccess1("Update Successfully !"); }
               
                
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>
<script>
    function SelectBaleNo(id, BALENO, BALEYR, LRNO, LRDT, OLDSTYLENO, BLAUTONO1, BLSLNO1) {
        debugger;
        if (id == "") {
            $("#" + BALEYR.id).val("");
            $("#" + BALENO.id).val("");
            $("#" + LRNO.id).val("");
            $("#" + LRDT.id).val("");
            $("#" + OLDSTYLENO.id).val("");
            $("#" + BLAUTONO1.id).val("");
           
        }
        else {
            var blslno = "";
            var val = ($("#TEXTBOX1").find(":selected").val());
            if (val == "Change Style")
            {
                blslno = $("#BLSLNO1").val();
            } else
            { blslno = $("#BLSLNO2").val(); }
           
            var balnoyr = $("#" + BALENO.id).val();
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetBaleNoDetails", PageControllerName)",
                data:
            {
                val: balnoyr,
                BLSLNO: blslno
            },
                success: function (result) {
                    var a = result;
                    var MSG = result.indexOf(String.fromCharCode(181));
                    if (MSG >= 0) {
                        $("#tempHDD").val(result);
                        var str = $("#tempHDD").val().split(String.fromCharCode(181));
                        $("#" + BALENO.id).val(str[0]);
                        $("#" + BALEYR.id).val(str[1].toString());
                        $("#" + LRNO.id).val(str[4].toString());
                        $("#" + LRDT.id).val(str[5].toString());
                        var val = ($("#TEXTBOX1").find(":selected").val());
                        if (val == "Change Style")
                        {
                            $("#" + OLDSTYLENO.id).val(str[2].toString());
                            $("#NEWSTYLENO").val(str[2].toString());
                            $("#BLSLNO1").val(str[7].toString());
                            $("#ITCD1").val(str[8].toString());
                            $("#GOCD1").val(str[9].toString());
                        }
                        else {
                            var pgnoslno = str[3].toString().split('/');
                            $("#OLDPAGENO").val(pgnoslno[0]);
                            $("#OLDPAGESLNO").val(pgnoslno[1]);
                            $("#NEWPAGENO").val(pgnoslno[0]);
                            $("#NEWPAGESLNO").val(pgnoslno[1]);
                            $("#BLSLNO2").val(str[7].toString());
                            $("#ITCD2").val(str[8].toString());
                            $("#GOCD2").val(str[9].toString());
                        }
                        $("#" + BLAUTONO1.id).val(str[6].toString());
                        
                    }
                    else {
                        if (a == "") {
                            msgInfo("Select/Enter Bale No. !!");
                            $("#" + BALEYR.id).val("");
                            $("#" + LRNO.id).val("");
                            $("#" + BALENO.id).val("");
                            $("#" + LRDT.id).val("");
                            $("#" + OLDSTYLENO.id).val("");
                            $("#" + BLAUTONO1.id).val("");
                            $("#" + BLSLNO1.id).val("");
                            message_value = BALENO.id;
                        }
                        else {
                            $("#" + BALEYR.id).val("");
                            $("#" + LRNO.id).val("");
                            $("#" + BALENO.id).val("");
                            $("#" + LRDT.id).val("");
                            $("#" + OLDSTYLENO.id).val("");
                            $("#" + BLAUTONO1.id).val("");
                            $("#" + BLSLNO1.id).val("");
                            msgInfo("Invalid Bale No. ! Please Enter a Valid Bale No. !!");
                            message_value = BALENO.id;
                        }
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });
        }
    }
</script>
<script>
    function ChangeStylePageNo() {
        debugger;
        var val = ($("#TEXTBOX1").find(":selected").val());
        if (val == "Change Style")
        { $("#2nddiv").hide(); $("#1stdiv").show(); }
        else { $("#1stdiv").hide(); $("#2nddiv").show(); }
    }
</script>
<script></script>

@using (Html.BeginForm("", PageControllerName, FormMethod.Post, new { id = "form1", enctype = "multipart/form-data" }))
{
    if (Model.DefaultView == true)
    {
        <div class="form-horizontal">
            @Html.HiddenFor(s => s.DefaultAction)
            <input type="hidden" id="urlSLCDHLP" value="@Url.Action("GetSLCDhelp", PageControllerName)" />
            <div class="col-md-5">
                <div class="editor-label" style="margin-top: 10px;">
                    @Html.Label("", "Update In")
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    @Html.DropDownListFor(model => Model.TEXTBOX1, new SelectList(Model.DropDown_list1, "Value", "Text", Model.TEXTBOX1), new { @class = "form-control", id = "TEXTBOX1", onchange = "ChangeStylePageNo(TEXTBOX1);" })
                </div>
            </div>
            <div id="1stdiv">
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 10px;">
                            @Html.Label("", "Bale No")
                            <b style="color:Red;">*</b>
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-top: 10px;">
                        <div class="editor-field">
                            @*@Html.EditorFor(model => model.BALENO1, new { htmlAttributes = new { @class = "form-control textbox_image", id = "BALENO1", @placeholder = "Bale No.", maxlength = 34, onkeyup = "GetHelp('" + @Url.Action("GetBaleNoDetails", PageControllerName) + "','BALENO1/BALEYR1/LRNO1/LRDT1/OLDSTYLENO/BLAUTONO1/BLSLNO1','0/1/4/5/2/7/8','Bale No. Details','BALENO1');", onblur = "SelectBaleNo(this.value,BALENO1,BALEYR1,LRNO1,LRDT1,OLDSTYLENO,BLAUTONO1,BLSLNO1);" } })
                            <img src="~/Image/search.png" width="20px" class="Help_image_button" height="20px" title="Help" onclick="GetHelp('@Url.Action("GetBaleNoDetails", PageControllerName)','BALENO1/BALEYR1/LRNO1/LRDT1/OLDSTYLENO/BLAUTONO1/BLSLNO1','0/1/4/5/2/7/8','Bale No. Details','BALENO1')" />*@

                            @Html.EditorFor(model => model.BALENO1, new { htmlAttributes = new { @class = "form-control textbox_image", id = "BALENO1", onkeydown = "GetHelpBlur('" + @Url.Action("GetBaleNoDetails", PageControllerName) + "','Bale No. Details','BALENO1','BALENO1=baleno=0/BALEYR1=baleyr=1/LRNO1=lrno=4/LRDT1=lrdt=5/OLDSTYLENO=styleno=2/NEWSTYLENO=styleno=2/BLAUTONO1=blautono=7/GOCD1=gocd=6/OLDITCD=itcd/NEWITCD=itcd','GOCD1/OLDITCD')", onblur = "GetHelpBlur('" + @Url.Action("GetBaleNoDetails", PageControllerName) + "','Bale No. Details','BALENO1','BALENO1=baleno=0/BALEYR1=baleyr=1/LRNO1=lrno=4/LRDT1=lrdt=5/OLDSTYLENO=styleno=2/NEWSTYLENO=styleno=2/BLAUTONO1=blautono=7/GOCD1=gocd=6/OLDITCD=itcd/NEWITCD=itcd','GOCD1/OLDITCD');", @placeholder = "Bale No", maxlength = 4, @title = "Bale No" } })
                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetBaleNoDetails", PageControllerName)','Bale No. Details','BALENO1','BALENO1=baleno=0/BALEYR1=baleyr=1/LRNO1=lrno=4/LRDT1=lrdt=5/OLDSTYLENO=styleno=2/NEWSTYLENO=styleno=2/BLAUTONO1=blautono=7/GOCD1=gocd=6/OLDITCD=itcd/NEWITCD=itcd','GOCD1/OLDITCD')" />

                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 10px;">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.BALEYR1, new { htmlAttributes = new { @class = "form-control", id = "BALEYR1", maxlength = 15, @placeholder = "Bale year", @TabIndex = -1, @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 10px;">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.LRNO1, new { htmlAttributes = new { @class = "form-control", id = "LRNO1", maxlength = 10, @title = "Only for View", @placeholder = "LR No.", @readonly = "readonly" } })


                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 10px;">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.LRDT1, new { htmlAttributes = new { @class = "form-control", id = "LRDT1", maxlength = 10, @title = "Only for View", @placeholder = "LR Date", @readonly = "readonly" } })
                            @Html.HiddenFor(model => model.BLAUTONO1, new { id = "BLAUTONO1" })
                            @Html.HiddenFor(model => model.BLSLNO1, new { id = "BLSLNO1" })
                            @Html.HiddenFor(model => model.GOCD1, new { id = "GOCD1" })
                            @Html.HiddenFor(model => model.M_BARCODE, new { id = "M_BARCODE" })
                            @Html.HiddenFor(model => model.MTRLJOBCD, new { id = "MTRLJOBCD" })
                            @Html.HiddenFor(model => model.PARTCD, new { id = "PARTCD" })
                            @Html.HiddenFor(model => model.DOCDT, new { id = "DOCDT" })
                            @Html.HiddenFor(model => model.TAXGRPCD, new { id = "TAXGRPCD" })
                            @Html.HiddenFor(model => model.PRCCD, new { id = "PRCCD" })
                            @Html.HiddenFor(model => model.ALLMTRLJOBCD, new { id = "ALLMTRLJOBCD" })
                            <input type="hidden" id="Defaultstyle" value="Style" />

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "old Style No")
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OLDSTYLENO, new { htmlAttributes = new { @class = "form-control", id = "OLDSTYLENO", maxlength = 30, @placeholder = "old Style No", @TabIndex = -1, @readonly = "readonly" } })
                        
                            @Html.HiddenFor(model => model.ITCD1, new { id = "OLDITCD" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "New Style No")
                            @*<b style="color:Red;">*</b>*@
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="editor-field">
                            @*@Html.EditorFor(model => model.NEWSTYLENO, new { htmlAttributes = new { @class = "form-control", id = "NEWSTYLENO", maxlength = 30, @placeholder = "New Style No" } })*@

                            @Html.EditorFor(model => model.NEWSTYLENO, new { htmlAttributes = new { @class = "form-control textbox_image", id = "NEWSTYLENO", onkeydown = "GetHelpBlur('" + @Url.Action("GetBarCodeDetails", PageControllerName) + "','Design No Details','NEWSTYLENO','NEWSTYLENO=STYLENO=3/M_BARCODE=BARNO=0/MTRLJOBCD=MTRLJOBCD=2/PARTCD=PARTCD=8/NEWITCD=itcd','MTRLJOBCD/PARTCD/DOCDT/TAXGRPCD/GOCD1/PRCCD/ALLMTRLJOBCD/Defaultstyle/M_BARCODE')", onblur = "GetHelpBlur('" + @Url.Action("GetBarCodeDetails", PageControllerName) + "','Design No Details','NEWSTYLENO','NEWSTYLENO=STYLENO=3/M_BARCODE=BARNO=0/MTRLJOBCD=MTRLJOBCD=2/PARTCD=PARTCD=8/NEWITCD=itcd','MTRLJOBCD/PARTCD/DOCDT/TAXGRPCD/GOCD1/PRCCD/ALLMTRLJOBCD/Defaultstyle/M_BARCODE')", @placeholder = "Design No", maxlength = 25 } })
                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetBarCodeDetails", PageControllerName)','Design No Details','NEWSTYLENO','NEWSTYLENO=STYLENO=3/M_BARCODE=BARNO=0/MTRLJOBCD=MTRLJOBCD=2/PARTCD=PARTCD=8/NEWITCD=itcd','MTRLJOBCD/PARTCD/DOCDT/TAXGRPCD/GOCD1/PRCCD/ALLMTRLJOBCD/Defaultstyle/M_BARCODE')" />
                            @Html.HiddenFor(model => model.ITCD2, new { id = "NEWITCD" })

                        </div>
                    </div>
                </div>

            </div>
            <div id="2nddiv">
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 10px;">
                            @Html.Label("", "Bale No")
                            <b style="color:Red;">*</b>
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-top: 10px;">
                        <div class="editor-field">
                            @*@Html.EditorFor(model => model.BALENO2, new { htmlAttributes = new { @class = "form-control textbox_image", id = "BALENO2", @placeholder = "Bale No", maxlength = 34, onkeyup = "GetHelp('" + @Url.Action("GetBaleNoDetails", PageControllerName) + "','BALENO2/BALEYR2/LRNO2/LRDT2/BLAUTONO2/BLSLNO2','0/1/4/5/7/8','Bale No. Details','BALENO2');", onblur = "SelectBaleNo(this.value,BALENO2,BALEYR2,LRNO2,LRDT2,OLDPAGENO,BLAUTONO2,BLSLNO2);" } })
                            <img src="~/Image/search.png" width="20px" class="Help_image_button" height="20px" title="Help" onclick="GetHelp('@Url.Action("GetBaleNoDetails", PageControllerName)','BALENO2/BALEYR2/LRNO2/LRDT2/BLAUTONO2/BLSLNO2','0/1/4/5/7/8','Bale No. Details','BALENO2')" />*@

                            @Html.EditorFor(model => model.BALENO2, new { htmlAttributes = new { @class = "form-control textbox_image", id = "BALENO2", onkeydown = "GetHelpBlur('" + @Url.Action("GetBaleNoDetails", PageControllerName) + "','Bale No. Details','BALENO2','BALENO2=baleno=0/BALEYR2=baleyr=1/LRNO2=lrno=4/LRDT2=lrdt=5/OLDPAGENO=pageno/OLDPAGESLNO=pageslno/NEWPAGENO=pageno/NEWPAGESLNO=pageslno/BLAUTONO2=blautono=7/GOCD2=gocd=6/ITCD3=itcd','GOCD2/ITCD3')", onblur = "GetHelpBlur('" + @Url.Action("GetBaleNoDetails", PageControllerName) + "','Bale No. Details','BALENO2','BALENO2=baleno=0/BALEYR2=baleyr=1/LRNO2=lrno=4/LRDT2=lrdt=5/OLDPAGENO=pageno/OLDPAGESLNO=pageslno/NEWPAGENO=pageno/NEWPAGESLNO=pageslno/BLAUTONO2=blautono=7/GOCD2=gocd=6/ITCD3=itcd','GOCD2/ITCD3');", @placeholder = "Bale No", maxlength = 4, @title = "Bale No" } })
                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetBaleNoDetails", PageControllerName)','Bale No. Details','BALENO2','BALENO2=baleno=0/BALEYR2=baleyr=1/LRNO2=lrno=4/LRDT2=lrdt=5/OLDPAGENO=pageno/OLDPAGESLNO=pageslno/NEWPAGENO=pageno/NEWPAGESLNO=pageslno/BLAUTONO2=blautono=7/GOCD2=gocd=6/ITCD3=itcd','GOCD2/ITCD3')" />
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 10px;">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.BALEYR2, new { htmlAttributes = new { @class = "form-control", id = "BALEYR2", maxlength = 15, @placeholder = "Bale year", @TabIndex = -1, @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 10px;">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.LRNO2, new { htmlAttributes = new { @class = "form-control", id = "LRNO2", maxlength = 10, @title = "Only for View", @placeholder = "LR No.", @readonly = "readonly" } })


                        </div>
                    </div>
                    <div class="col-md-5" style="margin-top: 10px;">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.LRDT2, new { htmlAttributes = new { @class = "form-control", id = "LRDT2", maxlength = 10, @title = "Only for View", @placeholder = "LR Date", @readonly = "readonly" } })
                            @Html.HiddenFor(model => model.BLAUTONO2, new { id = "BLAUTONO2" })
                            @Html.HiddenFor(model => model.BLSLNO2, new { id = "BLSLNO2" })
                         
                            @Html.HiddenFor(model => model.GOCD2, new { id = "GOCD2" })

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Old Page No")
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OLDPAGENO, new { htmlAttributes = new { @class = "form-control", id = "OLDPAGENO", maxlength = 15, @placeholder = "Old Page No", @TabIndex = -1, @readonly = "readonly" } })
                            @Html.HiddenFor(model => model.ITCD3, new { id = "ITCD3" })
                        </div>
                    </div>
                    <div class="col-md-1" style="width:auto">
                        @Html.Label("", "/")
                    </div>
                    <div class="col-md-6">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OLDPAGESLNO, new { htmlAttributes = new { @class = "form-control", id = "OLDPAGESLNO", maxlength = 15, @placeholder = "Old Page Sl No", @TabIndex = -1, @readonly = "readonly" } })
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "New Page No")

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.NEWPAGENO, new { htmlAttributes = new { @class = "form-control", id = "NEWPAGENO", maxlength = 6, @onkeypress = "return numericOnly(this);", @placeholder = "New Page No" } })
                        </div>
                    </div>
                    <div class="col-md-1" style="width:auto">
                        @Html.Label("", "/")
                        </div>
                        <div class="col-md-6">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.NEWPAGESLNO, new { htmlAttributes = new { @class = "form-control", id = "NEWPAGESLNO", maxlength = 6, @onkeypress = "return numericOnly(this);", @placeholder = "New Page SL No" } })
                            </div>
                        </div>
                    </div>
            </div>

            <div class="row" style="margin-top:10PX">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-6">
                    <input type="button" value="Update" name="submitbutton" class="btn btn-info" formtarget="_blank" onclick="Show_rep()" />
                </div>
            </div>

        </div>
    }
    <div class="container">
        <div id="helpDIV" style="z-index: 2;">

        </div>
    </div>
}
