@model Improvar.ViewModels.SubLedgerSDdtlMasterEntry
@{
    ViewBag.Title = "Tax & Credit Limit Party & Company wise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string PageControllerName = "M_SubLeg_SDdtl";
}
<script src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") {
            modeView();
            $("#SRC_FLAG").attr("readonly", false);
        }
        else if ("@Model.DefaultAction" == "E") {

        }
        else if ("@Model.DefaultAction" == "A") {
            $('form :input:enabled:visible:not([readonly]):first').focus();
        }
        $("#WaitingMode").hide();
    });
</script>
<script>
    function requiredFieldValidator() {
        if (!emptyFieldCheck("Enter Sub Ledger Code", "SLCD")) { return false; }
        return true;
    }
</script>
<script>
    @{
        string mldauto = "";
        if (@Model.M_CNTRL_HDR != null)
        {
            mldauto = Model.M_CNTRL_HDR.M_AUTONO.ToString();
        }
        else
        {
            mldauto = "";
        }
    }
    function ModifyLogDetails() {
        if ("@Model.DefaultAction" == "V") {
            ModifyLogDtl(@mldauto);
        }
    }
</script>
<script>
    function inputhelp(id, id1, id2, id3) {
        var str = $("#tempHDD").val().split(String.fromCharCode(181));
        $("#" + id.id).val(str[0]);
        $("#" + id1.id).val(str[1].toString());
        $("#" + id2.id).val(str[2].toString());
        $("#" + id3.id).val(str[3].toString());
    }
    function SelectSLCDCode(valu, fld1, fld2,fld3,fld4, code) {
        if (valu == "") {
            $("#" + fld1.id).val("");
            $("#" + fld2.id).val("");
            $("#" + fld3.id).val("");
            $("#" + fld4.id).val("");
        }
        else {
            $.ajax({
                type: 'GET',
                url: $("#urlSLCDHLP").val(),
                data: {
                    val: valu,
                    Code: code
                },
                success: function (result) {
                    if (result == "1") {
                        $("#Msgdiv1").show();
                        $("#info").show();
                        $("#msgbody_info").html("Sub Ledger Code already exist !! ");
                        $("#" + fld1.id).val("");
                        $("#" + fld2.id).val("");
                        $("#" + fld3.id).val("");
                        $("#" + fld4.id).val("");
                        $("#btnok").focus();
                        message_value = fld1.id;
                    }
                    else if (result == "0") {
                        $("#Msgdiv1").show();
                        $("#info").show();
                        $("#msgbody_info").html(" Invalid SUB LEDGER Code !! ");
                        $("#" + fld1.id).val("");
                        $("#" + fld2.id).val("");
                        $("#" + fld3.id).val("");
                        $("#" + fld4.id).val("");
                        $("#btnok").focus();
                        message_value = fld1.id;
                    }
                    else {
                        $("#tempHDD").val(result);
                        inputhelp(fld1, fld2, fld3,fld4);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError("Error: " + textStatus + "," + errorThrown);
                }
            });
        }
    }
    function SelectGridTAXGRPCD(valu, fld1, fld2) {
        if (valu == "") {
            $("#" + fld1.id).val("");
            $("#" + fld2.id).val("");
        }
        else {
            $.ajax({
                type: 'GET',
                url: $("#urlTAXGRPHLP").val(),
                data: {
                    val: valu
                },
                success: function (result) {
                    if (result == "0") {
                        $("#Msgdiv1").show();
                        $("#info").show();
                        $("#msgbody_info").html(" Invalid Tax Group Code !! ");
                        $("#" + fld1.id).val("");
                        $("#" + fld2.id).val("");
                        $("#btnok").focus();
                        message_value = fld1.id;
                    }
                    else {
                        $("#tempHDD").val(result);
                        inputhelp(fld1, fld2);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError("Error: " + textStatus + "," + errorThrown);
                }
            });
        }
    }




    function SelectPRICECODE(valu, fld1, fld2) {
        if (valu == "") {
            $("#" + fld1.id).val("");
            $("#" + fld2.id).val("");
        }
        else {
            $.ajax({
                type: 'GET',
                url: $("#urlPRICEHLP").val(),
                data: {
                    val: valu
                },
                success: function (result) {
                    if (result == "0") {
                        $("#Msgdiv1").show();
                        $("#info").show();
                        $("#msgbody_info").html(" Invalid Price List Code !! ");
                        $("#" + fld1.id).val("");
                        $("#" + fld2.id).val("");
                        $("#btnok").focus();
                        message_value = fld1.id;
                    }
                    else {
                        $("#tempHDD").val(result);
                        inputhelp(fld1, fld2);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError("Error: " + textStatus + "," + errorThrown);
                }
            });
        }
    }
</script>
<script>
    function input(id, id1) {
        var str = $("#tempHDD").val().split(String.fromCharCode(181));
        $("#" + id.id).val(str[0]);
        $("#" + id1.id).val(str[1].toString());
    }
    function SelectAreaCode(id, AREACD, AREANM) {
        if (id == "") {
            $("#" + AREACD.id).val("");
            $("#" + AREANM.id).val("");
        }
        else {
            $.ajax({
                type: 'GET',
                url: $("#urlnameAREA").val(),
                data: {
                    val: id
                },
                success: function (result) {
                    if (result == "0") {
                        $("#Msgdiv1").show();
                        $("#info").show();
                        $("#" + AREACD.id).val("");
                        $("#" + AREANM.id).val("");
                        $("#" + AREACD.id).focus();
                        $("#msgbody_info").html("Invalid Area Code ! Please Enter a Valid Code !! ");
                        message_value = AREACD.id;
                    }
                    else {
                        $("#tempHDD").val(result);
                        input(AREACD, AREANM);
                    }
                }
            });
        }
    }
</script>
<script>
    function input(id, id1) {
        var str = $("#tempHDD").val().split(String.fromCharCode(181));
        $("#" + id.id).val(str[0]);
        $("#" + id1.id).val(str[1].toString());
    }
    function SelectDiscRtCode(id, DISCRTCD, DISCRTNM) {
        if (id == "") {
            $("#" + DISCRTCD.id).val("");
            $("#" + DISCRTNM.id).val("");
        }
        else {
            $.ajax({
                type: 'GET',
                url: $("#urlnameDISCRATE").val(),
                data: {
                    val: id
                },
                success: function (result) {
                    if (result == "0") {
                        $("#Msgdiv1").show();
                        $("#info").show();
                        $("#" + DISCRTCD.id).val("");
                        $("#" + DISCRTNM.id).val("");
                        $("#" + DISCRTCD.id).focus();
                        $("#msgbody_info").html("Invalid Discount Rate Code ! Please Enter a Valid Code !! ");
                        message_value = DISCRTCD.id;
                    }
                    else {
                        $("#tempHDD").val(result);
                        input(DISCRTCD, DISCRTNM);
                    }
                }
            });
        }
    }
</script>
<script>
    function input(id, id1) {
        var str = $("#tempHDD").val().split(String.fromCharCode(181));
        $("#" + id.id).val(str[0]);
        $("#" + id1.id).val(str[1].toString());
    }
    function SelectBrandCode(id, BRANDCD, BRANDNM) {
        if (id == "") {
            $("#" + BRANDCD.id).val("");
            $("#" + BRANDNM.id).val("");
        }
        else {
            $.ajax({
                type: 'GET',
                url: $("#urlnameBRAND").val(),
                data: {
                    val: id
                },
                success: function (result) {
                    var MSG = result.indexOf(String.fromCharCode(181));
                    if (MSG >= 0) {
                        $("#tempHDD").val(result);
                        input(BRANDCD, BRANDNM);
                    }
                    else {
                        $("#BRANDCD").val("");
                        $("#BRANDNM").val("");
                        msgInfo("Invalid Brand Code !!");
                        message_value = "BRANDCD";
                    }
                }
            });
        }
    }
</script>
<script>
    function Addrow() {
        $.ajax({
            type: 'POST',
            url: $("#btnAdd").val(),
            beforesend: $("#WaitingMode").show(),
            data: $('form').serialize(),
            success: function (result) {
                $("#WaitingMode").hide();
                $("#partialdivBrand").animate({ marginTop: '-10px' }, 50);
                $("#partialdivBrand").html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError("Error: " + textStatus + "," + errorThrown);
            }
        });
    }
    function Deleterow() {
        $.ajax({
            type: 'POST',
            url: $("#btnDelete").val(),
            beforesend: $("#WaitingMode").show(),
            data: $('form').serialize(),
            success: function (result) {
                $("#WaitingMode").hide();
                $("#partialdivBrand").animate({ marginTop: '0px' }, 50);
                $("#partialdivBrand").html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError("Error: " + textStatus + "," + errorThrown);
            }
        });
    }


</script>
<script>
    function AddDOCrow() {
        $.ajax({
            type: 'POST',
            url: $("#add_doc_url").val(),
            data: $('form').serialize(),
            success: function (result) {
                $("#partialdivDocument").animate({ marginTop: '-10px' }, 50);
                $("#partialdivDocument").html(result);
            }
        });
    }
    function DeleteDOCrow() {
        $.ajax({
            type: 'POST',
            url: $("#del_doc_url").val(),
            data: $('form').serialize(),
            success: function (result) {
                $("#partialdivDocument").animate({ marginTop: '0px' }, 50);
                $("#partialdivDocument").html(result);
            }
        });
    }
</script>
<script>
    function pageprinting() {
        alert("Print will be Loged(current) Company Data.");
        $("#btnprint").click();
    }
</script>
<script>
    function AddToPrivious() {
        $.ajax({
            type: 'post',
            url: "@Url.Action("SavePreviousYrData", PageControllerName)",
            beforesend: $("#WaitingMode").show(),
            data: $('form').serialize(),
            success: function (result) {
                $("#WaitingMode").hide();
                if (result == "1") {
                   msgSuccess1("Previous year data save sucessfully");
                    message_value = "btnPrvyr";
                }
                else {
                    msgWarning(result);
                    message_value = "btnPrvyr";
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>

@using (Html.BeginForm())
{
    if (Model.DefaultView == true)
    {
        @Html.HiddenFor(a => Model.maxdate)
        @Html.HiddenFor(a => Model.mindate)
        @Html.HiddenFor(model => model.Audit_REM, new { id = "Audit_REM" })
<div class="form-horizontal" style="padding-left:5px;padding-right:5px;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" id="btnSave" value="@Url.Action("SAVE", PageControllerName)" />
            <input type="hidden" id="urlSLCDHLP" value="@Url.Action("GetSLCDhelp", PageControllerName)" />
            <input type="hidden" id="urlTAXGRPHLP" value="@Url.Action("GetTAXGRPCDhelp", PageControllerName)" />
            <input type="hidden" id="urlPRICEHLP" value="@Url.Action("GetPRCCDhelp", PageControllerName)" />
            <input type="hidden" id="urlnameAREA" value="@Url.Action("AREACode", PageControllerName)" />
            <input type="hidden" id="urlnameBRAND" value="@Url.Action("GetBrandDetails", PageControllerName)" />
            <input type="hidden" id="urlnameDISCRATE" value="@Url.Action("DISCRATECode", PageControllerName)" />
            <input type="hidden" id="btnAdd" value="@Url.Action("Addrow", PageControllerName)" />
            <input type="hidden" id="btnDelete" value="@Url.Action("Deleterow", PageControllerName)" />
            <input type="hidden" id="add_doc_url" value="@Url.Action("AddDOCRow", PageControllerName )" />
            <input type="hidden" id="del_doc_url" value="@Url.Action("DeleteDOCRow", PageControllerName )" />
            <input type="submit" id="btnprint" formtarget="_blank" style="display:none" />
            <input type="hidden" id="srhpnl" value="@Url.Action("SearchPannelData", PageControllerName)" />
            <input type="hidden" id="agent" value="A" />
            <input type="hidden" id="transporter" value="T" />
            <input type="hidden" id="courier" value="U" />
            <input type="hidden" id="hslcd" value="D" />
            @if (Model.DefaultAction == "V")
            {
                <div class="row" style="border: 2px groove;background-color:#bddbf5;margin-top: 5px;">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="editor-label" style="margin-top: 6px;">
                                <label for="SrcFlagCaption">@Html.DisplayFor(model => model.SrcFlagCaption) </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="SRC_FLAG" class="form-control" placeholder="Flag" maxlength=20 />
                        </div>
                    </div>
                </div>
            }
            @Html.HiddenFor(s => s.DefaultAction)
            @Html.HiddenFor(a => a.M_SUBLEG_COM.M_AUTONO)
            <div class="row">
                <div class="col-md-6">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Sub Ledger Code")
                        <b style="color:red"><sup>*</sup></b>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-field">
                        @if (Model.DefaultAction == "A")
                        {
                            @Html.EditorFor(model => model.M_SUBLEG_COM.SLCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "SLCD", maxlength = 10, onkeyup = "GetHelp_WithId('" + @Url.Action("GetSLCDhelp", PageControllerName) + "','SLCD/SLNM/GSTNO/DISTRICT','1/0/2/3','Sub Ledger details','SLCD','hslcd');", onblur = "SelectSLCDCode(this.value,SLCD,SLNM,GSTNO,DISTRICT,'');", @placeholder = "Code" } })
                            <img src="~/Image/search.png" width="20px" id="shlp" style="margin-top:5px;" height="20px" class="Help_image_button" title="Help" onclick="GetHelp_WithId('@Url.Action("GetSLCDhelp", PageControllerName)','SLCD/SLNM/GSTNO/DISTRICT','1/0/2/3','Sub Ledger Details','SLCD','hslcd')" />
                        }
                        else
                        {
                            @Html.EditorFor(model => model.M_SUBLEG_COM.SLCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "SLCD", maxlength = 10, @placeholder = "Code", @readonly = "readonly" } })

                        }
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_SUBLEG.SLNM, new { htmlAttributes = new { @class = "form-control", id = "SLNM", maxlength = 45, @placeholder = "Sub Ledger Name", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DISTRICT, new { htmlAttributes = new { @class = "form-control", id = "DISTRICT", maxlength = 40, @placeholder = "District", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.GSTNO, new { htmlAttributes = new { @class = "form-control", id = "GSTNO", maxlength = 45, @placeholder = "GST NO", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="col-md-4" style="margin-top: 2px;">
                    @if (Model.DefaultAction == "V")
                    {
                        if (Model.isPresentinLastYrSchema == "ADD")
                        {<button type="button" id="btnPrvyr" style="padding-left:1px;padding-right:1px" value="PRVSCHM" name="button" class="btn btn-info btn-sm" onclick="AddToPrivious();">Add to last year schema</button>
                        }
                        if (Model.isPresentinLastYrSchema == "EDIT")
                        {<button type="button" id="btnPrvyr" style="padding-left:1px;padding-right:1px" value="PRVSCHM" name="button" class="btn btn-info btn-sm" onclick="AddToPrivious();">Modify to last year schema</button>
                        }
                    }

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Agent Code")
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_SUBLEG_COM.AGSLCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "AGSLCD", maxlength = 8, onkeyup = "GetHelp_WithId('" + @Url.Action("GetSLCDhelp", PageControllerName) + "','AGSLCD/AGSLNM','1/0','Sub Ledger details','AGSLCD','agent');", onblur = "SelectSLCDCode(this.value,AGSLCD,AGSLNM,'','A');", @placeholder = "Code" } })
                        <img src="~/Image/search.png" width="20px" style="margin-top:5px;" height="20px" class="Help_image_button" title="Help" onclick="GetHelp_WithId('@Url.Action("GetSLCDhelp", PageControllerName)','AGSLCD/AGSLNM','1/0','Sub Ledger Details','AGSLCD','agent')" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.AGSLNM, new { htmlAttributes = new { @class = "form-control", id = "AGSLNM", maxlength = 45, @title = "Only for View", @placeholder = "Agent Name", @readonly = "readonly" } })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Credit Limit")
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_SUBLEG_COM.CRLIMIT, new { htmlAttributes = new { @class = "form-control ", id = "CRLIMIT", @placeholder = "Credit Limit", @onkeypress = "return numericOnly(this,2);" } })
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Credit Days")
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_SUBLEG_COM.CRDAYS, new { htmlAttributes = new { @class = "form-control ", id = "CRDAYS", @placeholder = "Credit Days", @onkeypress = "return numericOnly(this,2);" } })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Cash Disc %")
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_SUBLEG_COM.CASHDISCPR, new { htmlAttributes = new { @class = "form-control ", id = "CASHDISCPR", @placeholder = "Cash Disc Days", @onkeypress = "return numericOnly(this,2);" } })
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Price List Code")
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_SUBLEG_COM.PRCCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "PRCCD", onkeydown = "GetHelpBlur('" + @Url.Action("GetPriceDetails", PageControllerName) + "','Price Details','PRCCD','PRCCD=PRCCD=1/PRCNM=PRCNM=0')", onblur = "GetHelpBlur('" + @Url.Action("GetPriceDetails", PageControllerName) + "','Price Details','PRCCD','PRCCD=PRCCD=1/PRCNM=PRCNM=0');", @placeholder = "Code", maxlength = 4 } })
                        <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetPriceDetails", PageControllerName)','Price Details','PRCCD','PRCCD=PRCCD=1/PRCNM=PRCNM=0')" />

                        @*@Html.EditorFor(model => model.M_SUBLEG_COM.PRCCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "PRCCD", maxlength = 4, onkeyup = "GetHelp('" + @Url.Action("GetPRCCDhelp", PageControllerName) + "','PRCCD/PRCNM','1/0','Price List details','PRCCD');", onblur = "SelectPRICECODE(this.value,PRCCD,PRCNM);", @placeholder = "Code" } })
                        <img src="~/Image/search.png" width="20px" style="margin-top:5px;" height="20px" class="Help_image_button" title="Help" onclick="GetHelp('@Url.Action("GetPRCCDhelp", PageControllerName)','PRCCD/PRCNM','1/0','Price List Details','PRCCD')" />*@
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_PRCLST.PRCNM, new { htmlAttributes = new { @class = "form-control", id = "PRCNM", maxlength = 30, @TabIndex = -1, @title = "Only for View", @placeholder = "Price List Name", @readonly = "readonly" } })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Delvery Type")
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="editor-field" style="margin-top:4px;">
                        @Html.DropDownListFor(model => model.M_SUBLEG_COM.COD, new SelectList(Model.DropDown_list_DelvType, "Value", "Text"), "Select", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="editor-field" style="margin-top: 6px;">
                        @Html.Label("", "Document Th.")
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.M_SUBLEG_COM.DOCTH, new SelectList(Model.DocumentThrough, "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Scheme Area Code")
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_SUBLEG_COM.AREACD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "AREACD", maxlength = 6, onkeyup = "GetHelp('" + @Url.Action("GetAreaDetails", PageControllerName) + "','AREACD/AREANM','1/0','Sub Ledger details','AREACD');", onblur = "SelectAreaCode(this.value,AREACD,AREANM);", @placeholder = "Code" } })
                        <img src="~/Image/search.png" width="20px" style="margin-top:5px;" height="20px" class="Help_image_button" title="Help" onclick="GetHelp('@Url.Action("GetAreaDetails", PageControllerName)','AREACD/AREANM','1/0','Sub Ledger Details','AREACD')" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_AREACD.AREANM, new { htmlAttributes = new { @class = "form-control", id = "AREANM", maxlength = 30, @TabIndex = -1, @title = "Only for View", @placeholder = "Scheme Area Name", @readonly = "readonly" } })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Discount Rate Code")
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_SUBLEG_COM.DISCRTCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "DISCRTCD", maxlength = 6, onkeyup = "GetHelp('" + @Url.Action("GetDiscRateDetails", PageControllerName) + "','DISCRTCD/DISCRTNM','1/0','Discount Rate details','DISCRTCD');", onblur = "SelectDiscRtCode(this.value,DISCRTCD,DISCRTNM);", @placeholder = "Code" } })
                        <img src="~/Image/search.png" width="20px" style="margin-top:5px;" height="20px" class="Help_image_button" title="Help" onclick="GetHelp('@Url.Action("GetDiscRateDetails", PageControllerName)','DISCRTCD/DISCRTNM','1/0','Discount Rate Details','DISCRTCD')" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_DISCRT.DISCRTNM, new { htmlAttributes = new { @class = "form-control", id = "DISCRTNM", maxlength = 30, @TabIndex = -1, @title = "Only for View", @placeholder = "Discount Rate Name", @readonly = "readonly" } })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "SAP code")
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_SUBLEG_COM.SAPCODE, new { htmlAttributes = new { @class = "form-control", id = "SAPCODE", maxlength = 20, @placeholder = "SAP code" } })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="editor-label" style="margin-top:0px;margin-bottom: -5px;display: inline-block;">
                        @Html.Label("", "Deactivate")
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="editor-field" style="display: inline-block;">
                        @Html.CheckBoxFor(model => model.Deactive)
                    </div>
                </div>

            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#Brand">Brand wise Agent</a></li>
                <li><a data-toggle="tab" href="#Location">Location wise details</a></li>
                <li><a data-toggle="tab" href="#Document">Document</a></li>
            </ul>
            <div class="tab-content">
                <div id="Brand" class="tab-pane fade in active" style="margin-top: 10px;">
                    <div class="row" style="height:auto;width:500px;background-color:#c4b9b9">
                        <div id="partialdivBrand">
                            @Html.Partial("_M_SubLeg_SDdtl_Brand")
                        </div>
                    </div>
                </div>
                <div id="Location" class="tab-pane fade" style="margin-top: 10px;">
                    <div class="row" style="height:auto;background-color:#c4b9b9">
                        <div id="partialdivLocation">
                            @Html.Partial("_M_SubLeg_SDdtl_Location")
                        </div>
                    </div>
                </div>
                <div id="Document" class="tab-pane fade" style="margin-top: 10px;">
                    <div class="row" style="width:1024px;height:auto;background-color:#c4b9b9">
                        <div id="partialdivDocument">
                            @Html.Partial("_UPLOADDOCUMENTS")
                        </div>
                    </div>
                </div>
            </div>




        </div>
    }
    else
    {
        @ViewBag.ErrorMessage
    }

    <div class="container">
        <div id="helpDIV">

        </div>
    </div>
}


