@model Improvar.ViewModels.TranAltBill
@{
    string PageControllerName = "T_AltBill";
    switch (Model.MENU_PARA)
    {
        case "ST":
            ViewBag.Title = "Stiching"; break;
        case "AT":
            ViewBag.Title = "Alteration"; break;
        default: ViewBag.Title = ""; break;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    .TextAreaRemarks {
        height: 190px;
    }
</style>
<script src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript">
    $("#WaitingMode").show();
    $(document).ready(function () {
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") {
            modeView();
        }
        else if ("@Model.DefaultAction" == "E") {

        }
        else if ("@Model.DefaultAction" == "A") {
            $('form :input:enabled:visible:not([readonly]):first').focus();
        }
        $("#WaitingMode").hide();
    });
</script>
<script>
    @{
        string mldauto = "";
        if (@Model.T_CNTRL_HDR != null)
        {
            if (@Model.T_CNTRL_HDR.AUTONO != null)
            {
                mldauto = Model.T_CNTRL_HDR.AUTONO.ToString();
                if (Model.T_CNTRL_HDR.CANCEL == "Y")
                {
                    ViewBag.formname = ViewBag.formname + "   " + "(Record Cancelled)";
                }
            }
        }
        else
        {
            mldauto = "";
        }
    }
    function ModifyLogDetails() {
        if ("@Model.DefaultAction" == "V") {
            ModifyLogDtl('@mldauto');
        }
    }
</script>
<script>
    function requiredFieldValidator() {
        if (!emptyFieldCheck("Please Select / Enter Document Date", "DOCDT")) { return false; }
        return true;
    }
</script>
<script>
    $(function () {
        if ("@Model.DefaultAction" != "V") {
            $("#DOCDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate', minDate: '@Model.mindate' });
            $("#POREFDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, maxDate: '@Model.maxdate' });
        }
    });
</script>

<script>
    function AddDOCrow() {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("AddDOCRow", PageControllerName)",
            data: $('form').serialize(),
            success: function (result) {
                $("#partialdivDocument").animate({ marginTop: '-10px' }, 50);
                $("#partialdivDocument").html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
    function DeleteDOCrow() {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("DeleteDOCRow", PageControllerName)",
            data: $('form').serialize(),
            success: function (result) {
                $("#partialdivDocument").animate({ marginTop: '0px' }, 50);
                $("#partialdivDocument").html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>
<script>
    function CalculateRowAmt(GridId, i) {
        debugger;
        var DefaultAction = $("#DefaultAction").val();
        if (DefaultAction == "V") return true;

        if (GridId == "_T_SALE_POS_AMOUNT_GRID") {
            var A_NOS = retFloat($("#B_T_NOS").val());
            var B_QNTY = retFloat($("#B_T_QNTY").val());
            var D_GROSS_AMT = retFloat($("#T_B_GROSSAMT").val());
            var E_NET_AMT = retFloat($("#B_T_NET_AMT").val());
            var RT = retFloat($("#AMTRATE_" + i).val());
            var IGST_PER = retFloat($("#AIGSTPER_" + i).val());
            var CGST_PER = retFloat($("#ACGSTPER_" + i).val());
            var SGST_PER = retFloat($("#ASGSTPER_" + i).val());
            var CESS_PER = retFloat($("#ACESSPER_" + i).val());
            var DUTY_PER = retFloat($("#ADUTYPER_" + i).val());
            var CALC_TYPE = $("#CALCTYPE_" + i).val();
            var CALC_FORMULA = retFloat($("#CALCFORMULA_" + i).val());

            var AMOUNT = 0;
            if (CALC_TYPE == "F") { AMOUNT = parseFloat(RT); }
            else if (CALC_TYPE == "P") {
                if (CALC_FORMULA == "A") { AMOUNT = parseFloat(A_NOS) * parseFloat(RT); }
                else if (CALC_FORMULA == "B") { AMOUNT = parseFloat(B_QNTY) * parseFloat(RT); }
                else if (CALC_FORMULA == "D") { AMOUNT = parseFloat(D_GROSS_AMT) * parseFloat(RT); }
                else if (CALC_FORMULA == "E") { AMOUNT = parseFloat(E_NET_AMT) * parseFloat(RT); }
            }
            $("#A_AMT_" + i).val(AMOUNT);
            var IGST_AMT = 0; var CGST_AMT = 0; var SGST_AMT = 0; var CESS_AMT = 0; var DUTY_AMT = 0;

            // IGST CALCULATION
            $("#AIGSTPER_" + i).val(IGST_PER);
            IGST_AMT = (AMOUNT * IGST_PER) / 100;
            var NEWIGST_AMT = $("#AIGSTAMT_" + i).val();
            var BAL_AMT = Math.abs(parseFloat(NEWIGST_AMT) - parseFloat(IGST_AMT));
            if (BAL_AMT <= 1) {
                $("#AIGSTAMT_" + i).val(parseFloat(NEWIGST_AMT).toFixed(2));
            }
            else {
                $("#AIGSTAMT_" + i).val(parseFloat(IGST_AMT).toFixed(2));
            }
            //END

            // CGST CALCULATION
            $("#ACGSTPER_" + i).val(CGST_PER);
            CGST_AMT = (AMOUNT * CGST_PER) / 100;

            var NEWCGST_AMT = $("#ACGSTAMT_" + i).val();
            var BAL_AMT = Math.abs(parseFloat(NEWCGST_AMT) - parseFloat(CGST_AMT));
            if (BAL_AMT <= 1) {
                $("#ACGSTAMT_" + i).val(parseFloat(NEWCGST_AMT).toFixed(2));
            }
            else {
                $("#ACGSTAMT_" + i).val(parseFloat(CGST_AMT).toFixed(2));
            }

            //END
            // SGST CALCULATION
            $("#ASGSTPER_" + i).val(SGST_PER);
            SGST_AMT = (AMOUNT * SGST_PER) / 100;

            var NEWSGST_AMT = $("#ASGSTAMT_" + i).val();
            var BAL_AMT = Math.abs(parseFloat(NEWSGST_AMT) - parseFloat(SGST_AMT));
            if (BAL_AMT <= 1) {
                $("#ASGSTAMT_" + i).val(parseFloat(NEWSGST_AMT).toFixed(2));
            }
            else {
                $("#ASGSTAMT_" + i).val(parseFloat(SGST_AMT).toFixed(2));
            }
            //END
            // CESS CALCULATION
            $("#ACESSPER_" + i).val(CESS_PER);
            CESS_AMT = (AMOUNT * CESS_PER) / 100;

            var NEWCESS_AMT = $("#ACESSAMT_" + i).val();
            var BAL_AMT = Math.abs(parseFloat(NEWCESS_AMT) - parseFloat(CESS_AMT));
            if (BAL_AMT <= 1) {
                $("#ACESSAMT_" + i).val(parseFloat(NEWCESS_AMT).toFixed(2));
            }
            else {
                $("#ACESSAMT_" + i).val(parseFloat(CESS_AMT).toFixed(2));
            }
            //END
            // DUTY CALCULATION

            $("#ADUTYPER_" + i).val(DUTY_PER);
            DUTY_AMT = (AMOUNT * DUTY_PER) / 100;

            var NEWDUTY_AMT = $("#ADUTYAMT_" + i).val();
            var BAL_AMT = Math.abs(parseFloat(NEWDUTY_AMT) - parseFloat(DUTY_AMT));
            if (BAL_AMT <= 1) {
                $("#ADUTYAMT_" + i).val(parseFloat(NEWDUTY_AMT).toFixed(2));
            }
            else {
                $("#ADUTYAMT_" + i).val(parseFloat(DUTY_AMT).toFixed(2));
            }
            //END

            var NET_AMT = AMOUNT + parseFloat($("#AIGSTAMT_" + i).val()) + parseFloat($("#ACGSTAMT_" + i).val()) +
                         parseFloat($("#ASGSTAMT_" + i).val()) + parseFloat($("#ACESSAMT_" + i).val()) + parseFloat($("#ADUTYAMT_" + i).val());
            $("#ANETAMT_" + i).val(parseFloat(NET_AMT).toFixed(2));

        }

        CalculateTotal();
    }
    function CalculateTotal() {
        debugger;
        var DefaultAction = $("#DefaultAction").val();
        if (DefaultAction == "V") return true;
        var MENU_PARA = $("#MENU_PARA").val();

        //AMT GRID TOTAL
        var T_CURR_AMT = 0; var T_AMT = 0; var T_IGST_AMT = 0; var T_CGST_AMT = 0; var T_SGST_AMT = 0; var T_CESS_AMT = 0; var T_DUTY_AMT = 0; var T_NET_AMT = 0;
        var GridRow = $("#_T_SALE_POS_AMOUNT_GRID > tbody > tr").length;
        for (var i = 0; i <= GridRow - 1; i++) {
            var CURR_AMT = retFloat($("#ACURR_AMT_" + i).val());
            var AMT = retFloat($("#A_AMT_" + i).val());
            var IGST_AMT = retFloat($("#AIGSTAMT_" + i).val());
            var CGST_AMT = retFloat($("#ACGSTAMT_" + i).val());
            var SGST_AMT = retFloat($("#ASGSTAMT_" + i).val());
            var CESS_AMT = retFloat($("#ACESSAMT_" + i).val());
            var DUTY_AMT = retFloat($("#ADUTYAMT_" + i).val());
            var NET_AMT = retFloat($("#ANETAMT_" + i).val());

            T_CURR_AMT += CURR_AMT; T_AMT += parseFloat(AMT); T_IGST_AMT += parseFloat(IGST_AMT); T_CGST_AMT += parseFloat(CGST_AMT); T_SGST_AMT += parseFloat(SGST_AMT);
            T_CESS_AMT += parseFloat(CESS_AMT); T_DUTY_AMT += parseFloat(DUTY_AMT); T_NET_AMT += parseFloat(NET_AMT);

        }
        $("#A_T_CURR").val(parseFloat(T_CURR_AMT).toFixed(2));
        $("#A_T_AMOUNT").val(parseFloat(T_AMT).toFixed(2));
        $("#A_T_IGST").val(parseFloat(T_IGST_AMT).toFixed(2));
        $("#A_T_CGST").val(parseFloat(T_CGST_AMT).toFixed(2));
        $("#A_T_SGST").val(parseFloat(T_SGST_AMT).toFixed(2));
        $("#A_T_CESS").val(parseFloat(T_CESS_AMT).toFixed(2));
        $("#A_T_DUTY").val(parseFloat(T_DUTY_AMT).toFixed(2));
        $("#A_T_NET").val(parseFloat(T_NET_AMT).toFixed(2));

        //PAYMENT GRID TOTAL
        var T_AMT = 0;
        var GridRow = $("#_T_SALE_POS_PAYMENT > tbody > tr").length;
        for (var i = 0; i <= GridRow - 1; i++) {
            var AMT = retFloat($("#P_AMT_" + i).val());
            T_AMT += parseFloat(AMT);
        }
        $("#T_PYMT_AMT").val(T_AMT.toFixed(2));

        CalculateBlamt();


    }
</script>
<script>
    function CalculateBlamt() {
        debugger;
        var TOTTAX = 0;
        var TAXABVAL = retFloat($("#TAXABVAL").val());
        var GSTPER = retFloat($("#GSTPER").val());
        var IGSTPER = retFloat($("#IGSTPER").val());
        if (IGSTPER == 0) {
            GSTPER = GSTPER / 2;
            TOTTAX = retFloat((TAXABVAL * GSTPER / 100).toFixed(2));
            TOTTAX = TOTTAX * 2;
        }
        else {
            TOTTAX = retFloat((TAXABVAL * GSTPER / 100).toFixed(2));
        }

        $("#TOTTAX").val(TOTTAX);
        var blamt = 0;
        var RoundOfchk = document.getElementById("RoundOff").checked;
        if (RoundOfchk) {
            blamt = TAXABVAL + TOTTAX;
            var blafterround = retFloat(RoundOff(blamt, 0));
            var roundamt = blafterround - blamt;
            $("#ROAMT").val(roundamt.toFixed(2));
            $("#BLAMT").val(blafterround);
        }
        else {
            blamt = TAXABVAL + TOTTAX;
            var blafterround = blamt;
            var roundamt = 0;
            $("#ROAMT").val(roundamt.toFixed(2));
            $("#BLAMT").val(blafterround);
        }
    }
</script>
<script>
    function CalculateInclusiveRate() {
        debugger;// 50,000*18/118= Rs. 7627
        var DefaultAction = $("#DefaultAction").val();
        if (DefaultAction == "V") return true;
        var itemrate = 0;
        var INCLRATE = retFloat($("#BLAMT").val());
        var GSTPER = retFloat($("#GSTPER").val());
        var GSTamount = (INCLRATE * GSTPER / (100 + GSTPER));
        var TAXABVAL = RoundOff((INCLRATE - GSTamount), 2);
        $("#TAXABVAL").val(TAXABVAL);
        CalculateBlamt();
    }
</script>
<script>
    function pageprinting() {
        debugger;
        var ty = $("#DOCCD").val();
        var MENUPARA = '@Model.MENU_PARA';
        $.ajax({
            type: 'get',
            url: "@Url.Action("Print", PageControllerName)",
            data: "DOCNO=" + $("#DOCONLYNO").val() + "&DOC_CD=" + $("#DOCCD").val() + "&DOCDT=" + $("#DOCDT").val() + "&MENUPARA=" + MENUPARA,
            success: function (result) {
                window.open("@Url.Action("SaleBill_Print", "SaleBill_Print", new { US = Model.UNQSNO_ENCRYPTED })", "_blank")
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>

@using (Html.BeginForm())
{
    if (Model.DefaultView == true)
    {
        @Html.HiddenFor(a => Model.maxdate)
        @Html.HiddenFor(a => Model.mindate)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" id="btnSave" value="@Url.Action("SAVE", PageControllerName)" />
        <input type="hidden" id="srhpnl" value="@Url.Action("SearchPannelData", PageControllerName)" />
        <input type="hidden" id="urlcancelrecord" value="@Url.Action("cancelRecords", PageControllerName)" />
        @Html.HiddenFor(s => s.DefaultAction)
        @Html.HiddenFor(a => a.T_CNTRL_HDR.AUTONO, new { id = "AUTONO" })
        @Html.HiddenFor(a => a.T_CNTRL_HDR.MNTHCD)
        @Html.HiddenFor(a => a.T_CNTRL_HDR.EMD_NO)
        @Html.HiddenFor(a => a.T_CNTRL_HDR.DOCNO)
        <div class="form-horizontal">
            @if (Model.DefaultAction == "V")
            {
                @Html.Partial("_FilteredSearch")
            }
            <div class="row">
                <div class="col-md-5" style="margin-top: 6px;">
                    <div class="editor-label">
                        @Html.Label("", "Document Code")
                        <b style="color:Red;">*</b>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="editor-field">
                        @if (Model.DefaultAction == "A")
                        {
                            @Html.DropDownListFor(model => model.T_CNTRL_HDR.DOCCD, new SelectList(Model.DocumentType, "Value", "Text"), new { @class = "form-control", id = "DOCCD", @onchange = "ChangeDoctype();" })
                        }
                        else
                        {
                            @Html.DropDownListFor(model => model.T_CNTRL_HDR.DOCCD, new SelectList(Model.DocumentType, "Value", "Text"), new { @class = "form-control", id = "DOCCD", style = "pointer-events:none;background-color:#eee" })
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Document Date")
                        <b style="color:Red;">*</b>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.T_CNTRL_HDR.DOCDT, new { htmlAttributes = new { @class = "form-control", id = "DOCDT", onblur = "DocumentDateCHK(this);", autocomplete = "off", @placeholder = "dd/mm/yyyy", maxlength = 10 } })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Document No.")
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.T_CNTRL_HDR.DOCONLYNO, new { htmlAttributes = new { @class = "form-control", id = "DOCONLYNO", @placeholder = "Doc. No.", maxlength = 6, @readonly = "readonly" } })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Retail")
                        <b style="color:Red;">*</b>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.T_TXNMEMO.RTDEBCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "RTDEBCD", onkeydown = "GetHelpBlur('" + @Url.Action("GetRefRetailDetails", PageControllerName) + "','Retail Details','RTDEBCD','RTDEBCD=RTDEBCD=1/RTDEBNM=RTDEBNM=0','RETDEBSLCD')", onblur = "GetHelpBlur('" + @Url.Action("GetRefRetailDetails", PageControllerName) + "','Retail Details','RTDEBCD','RTDEBCD=RTDEBCD=1/RTDEBNM=RTDEBNM=0/MOBILE=MOBILE/ADDR=ADDR/TAXGRPCD=TAXGRPCD','RETDEBSLCD');", @placeholder = "Code", maxlength = 8 } })
                        <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetRefRetailDetails", PageControllerName)','Retail Details','RTDEBCD','RTDEBCD=RTDEBCD=1/RTDEBNM=RTDEBNM=0','RETDEBSLCD')" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.RTDEBNM, new { htmlAttributes = new { @class = "form-control", id = "RTDEBNM", maxlength = 15, @title = @Model.ADDR, @placeholder = "Ref Retail Name", @TabIndex = -1, @readonly = "readonly" } })
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.MOBILE, new { htmlAttributes = new { @class = "form-control", id = "MOBILE", maxlength = 10, @title = "Only for View", @placeholder = "Mobile No.", @readonly = "readonly" } })
                        @Html.HiddenFor(model => model.ADDR, new { @class = "form-control", id = "ADDR", maxlength = 15 })
                        @Html.HiddenFor(model => model.RETDEBSLCD, new { @class = "form-control", id = "RETDEBSLCD", maxlength = 15 })
                        @Html.HiddenFor(model => model.EFFDT, new { @class = "form-control", id = "EFFDT", maxlength = 10 })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.T_TXNOTH.TAXGRPCD, new { htmlAttributes = new { @class = "form-control", id = "TAXGRPCD", @title = "Tax Group Code", @placeholder = "Tax Group Code", @readonly = "readonly", tabindex = "-1" } })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Name")
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.T_TXNMEMO.NM, new { htmlAttributes = new { @class = "form-control", id = "NM", maxlength = 15, @placeholder = "Name" } })
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.T_TXNMEMO.MOBILE, new { htmlAttributes = new { @class = "form-control", id = "MOBNO", @onkeypress = "return event.charCode > 47 && event.charCode < 58;", @placeholder = "Mobile No.", maxlength = 10 } })
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.T_TXNMEMO.ADDR, new { htmlAttributes = new { @class = "form-control", id = "ADDR_", @placeholder = "Address", maxlength = 200 } })
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.T_TXNMEMO.CITY, new { htmlAttributes = new { @class = "form-control", id = "CITY_", @placeholder = "City", maxlength = 30 } })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Job")
                        <b style="color:Red;">*</b>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.T_TXN.JOBCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "JOBCD", onkeydown = "GetHelpBlur('" + @Url.Action("GetJobDetails", PageControllerName) + "','Job Details','JOBCD','JOBCD=jobcd=1/JOBNM=jobnm=0/JOBHSNCODE=HSNCODE/JOBEXPGLCD=EXPGLCD/GSTPER=GSTPER/IGSTPER=IGSTPER','DOCDT/TAXGRPCD')", onblur = "GetHelpBlur('" + @Url.Action("GetJobDetails", PageControllerName) + "','Job Details','JOBCD','JOBCD=jobcd=1/JOBNM=jobnm=0/JOBHSNCODE=HSNCODE/JOBEXPGLCD=EXPGLCD/GSTPER=GSTPER/IGSTPER=IGSTPER','DOCDT/TAXGRPCD');", @placeholder = "Job Code", maxlength = 2 } })
                        <img src="~/Image/search.png" id="PARTY_HELP" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetJobDetails", PageControllerName)','Job Details','JOBCD','JOBCD=jobcd=1/JOBNM=jobnm=0/JOBHSNCODE=HSNCODE/JOBEXPGLCD=EXPGLCD/GSTPER=GSTPER/IGSTPER=IGSTPER','DOCDT/TAXGRPCD')" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.JOBNM, new { htmlAttributes = new { @class = "form-control", id = "JOBNM", maxlength = 45, @title = "Only for View", @placeholder = "Job Name", @readonly = "readonly", tabindex = "-1" } })
                        @Html.HiddenFor(model => model.JOBHSNCODE, new { id = "JOBHSNCODE" })
                        @Html.HiddenFor(model => model.JOBEXPGLCD, new { id = "JOBEXPGLCD" })
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Inclusive Rate")
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="editor-field" style="margin-top: 6px;">
                        @Html.CheckBoxFor(model => model.INC_RATE, new { htmlAttributes = new { @class = "form-control", id = "INC_RATE" } })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="editor-field" style="margin-top: 6px;">
                        @Html.Label("", "Party Order No")
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.T_TXNOTH.POREFNO, new { htmlAttributes = new { @class = "form-control", id = "POREFNO", maxlength = 30, @placeholder = "POREFNO" } })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-field" style="margin-top: 6px;">
                        @Html.Label("", "Order dt/ Due On")
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.T_TXNOTH.POREFDT, new { htmlAttributes = new { @class = "form-control", id = "POREFDT", onblur = "DocumentDateCHK(this);", autocomplete = "off", @placeholder = "dd/mm/yyyy", maxlength = 10 } })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Doc. Remarks")
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.T_TXNOTH.DOCREM, new { htmlAttributes = new { @class = "form-control", id = "DOCREMOTH", @placeholder = "Doc. Remarks", maxlength = 100 } })
                    </div>
                </div>
                @*<div class="col-md-4">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Payment Remarks")
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.T_TXNOTH.PAYTERMS, new { htmlAttributes = new { @class = "form-control", id = "PAYTERMS", @placeholder = "Payment Remarks", maxlength = 30 } })
                        </div>
                    </div>*@
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Taxable Value")
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.TAXABVAL, new { htmlAttributes = new { @class = "form-control", id = "TAXABVAL", @style = "text-align: right;", @TabIndex = -1, @placeholder = "Taxable Value", onblur = "CalculateBlamt();" } })
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Tax%")
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.GSTPER, new { htmlAttributes = new { @class = "form-control", id = "GSTPER", @style = "text-align: right;", @TabIndex = -1, @placeholder = "Total Tax", @readonly = "readonly" } })
                        @Html.HiddenFor(model => model.IGSTPER)
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Total Tax")
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.TOTTAX, new { htmlAttributes = new { @class = "form-control", id = "TOTTAX", @style = "text-align: right;", @TabIndex = -1, @placeholder = "Total Tax", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Round Off")
                    </div>
                </div>
                <div class="col-md-1" style="margin-right: -41px;">
                    <div class="editor-field" style="margin-top:6px;">
                        @Html.CheckBoxFor(model => model.RoundOff, new { id = "RoundOff", onclick = "CalculateBlamt();" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.T_TXN.ROAMT, new { htmlAttributes = new { @class = "form-control", id = "ROAMT", maxlength = 6, @TabIndex = -1, @placeholder = "Rounded off", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Bill Amount")
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.T_TXN.BLAMT, new { htmlAttributes = new { @class = "form-control", id = "BLAMT", maxlength = 14, @TabIndex = -1, @placeholder = "Bill Amount", onblur = "CalculateInclusiveRate();", @style = "font-weight:bold;font-size:15px;text-align:right" } })
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:5px;">
                <ul class="nav nav-tabs">
                    @*<li id="Amounts_LI" class="active"><a data-toggle="tab" href="#Amount" onclick="UpdateTaxPer();">Amount(H)</a></li>*@
                    <li id="Payment_LI" class="active"><a data-toggle="tab" href="#Payment">Payment(T)</a></li>
                    <li id="Remarks_LI4" class=""><a data-toggle="tab" href="#Remarks" accesskey="R">Remarks(R)</a></li>
                    <li id="Documents_LI4" class=""><a data-toggle="tab" href="#Documents" accesskey="U">Documents(U)</a></li>
                </ul>
                <div id="popup" class="row" style="margin-top: 11px;top:15%;left:2%;right:2%;position:absolute;width:750px;">
                </div>
                <div class="tab-content">
                    @*<div id="Amount" class="tab-pane fade in active" style="margin-top: 10px;margin-left: 11px;">
                            <div class="row" style="margin-top: 11px;background-color:#c4b9b9;border:5px groove;">
                                <div id="partialdivAmounts" style="margin-top:0px;">
                                    @Html.Partial("_T_AltBill_AMOUNT")
                                </div>
                            </div>
                        </div>*@
                    <div id="Payment" class="tab-pane fade in active" style="margin-top: 10px;margin-left: 11px;">
                        <div class="row" style="margin-top: 11px;background-color:#c4b9b9;border:5px groove;width:fit-content;">
                            <div id="partialdivPayment" style="margin-top:0px;">
                                @Html.Partial("_T_AltBill_PAYMENT")
                            </div>
                        </div>
                    </div>
                    <div id="Remarks" class="tab-pane fade">
                        <div class="row">
                            <div>
                                <div id="partialdivRemarks">
                                    @Html.Partial("_TRANSACTIONREMARKS")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Documents" class="tab-pane fade" style="margin-top: 10px;">
                        <div class="row" style="background-color:#c4b9b9;border:5px groove;width:fit-content;">
                            <div>
                                <div id="partialdivDocument" style="margin-top:0px;">
                                    @Html.Partial("_UPLOADDOCUMENTS")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
    else
    {
        @ViewBag.ErrorMessage
    }

    <div class="container">
        <div id="helpDIV">

        </div>
    </div>
}
