@model Improvar.ViewModels.ImageLinkBarcode
@{
    ViewBag.Title = "Image Linkup with Barcode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string PageControllerName = "Image_Link_Barcode";
}

<script type="text/javascript">
    $(document).ready(function () {
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") {
            modeView();
        }
        else if ("@Model.DefaultAction" == "E") {
        }
        else if ("@Model.DefaultAction" == "A") {
            $('form :input:enabled:visible:not([readonly]):first').focus();
        }
        $("#WaitingMode").hide();
    });
</script>
<script>
    function requiredFieldValidator() {
        if (!emptyFieldCheck("Enter Design", "BARNO")) {
            return false;
        }
        return true;
    }
</script>

<script>
    function fileTypeCheck(id) {
        var fileUpload = $(id).get(0);
        var filesSelected = fileUpload.files;
        if (filesSelected.length > 0) {
            var fileToLoad = filesSelected[0];
            document.getElementById("ImageName").value = fileToLoad.name;
            var fileReader = new FileReader();
            fileReader.onload = function (fileLoadedEvent) {
                document.getElementById("ImageStr").value = fileLoadedEvent.target.result;
            };
            fileReader.readAsDataURL(fileToLoad);
        }
    }
    function UploadBarnoImage() {
        debugger;
        var ImageDesc = $('#ImageDesc').val();
        if (document.getElementById("ImageName").value == "") return;
        $.ajax({
            type: 'POST',
            url: "@Url.Action("UploadImages", PageControllerName )",
            beforesend: $("#WaitingMode").show(),
            data: "ImageStr=" + $('#ImageStr').val() + "&ImageName=" + $('#ImageName').val() + "&ImageDesc=" + ImageDesc,
            success: function (result) {
                $("#WaitingMode").hide();
                //var id = (result.split('/')[2]).split('.')[0];
                //var newid = $("#BarImages").val() + String.fromCharCode(179) + (result.split('/')[2] + '~' + ImageDesc);
                var addarr = result.split('/');
                var id = (addarr[addarr.length - 1]).split('.')[0];
                var newid = $("#BarImages").val() + String.fromCharCode(181) + (result + '~' + ImageDesc);
                $("#BarImages").val(newid);
                var htm = '';
                htm += '<div class="col-lg-4" id="' + id + '">';
                htm += '       <div class="thumbnail">';
                htm += '           <button type="button" style="position:absolute;top:5px;right:11px;padding:0px 5px;cursor:pointer;border-radius:10px;" class="btn-danger" onclick= deleteBarImages("' + id + '")>X</button>';
                htm += '           <a href="' + result + '" target="_blank">';
                htm += '                <img src="' + result + '" alt="" style="width:100%;height:300px;">';
                htm += '                <div class="caption">';
                htm += '                   ' + ImageDesc;
                htm += '          </div>';
                htm += '      </a>';
                htm += '  </div>';
                htm += '</div>';
                $("#divUploadImage").append(htm);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
    function deleteBarImages(id) {
        debugger;
        var arr = $("#BarImages").val().split(String.fromCharCode(181)); var deleteindex = 0;
        $.each(arr, function (index, value) {
            var addarr = value.split('/');
            var divid = (addarr[addarr.length - 1]).split('.')[0];
            if (id == divid) {
                deleteindex = index;
            }
        });
        arr.splice(deleteindex, 1);
        $("#" + id).remove();
        var newimg = arr.join(String.fromCharCode(181));
        $("#BarImages").val(newimg);
    }
</script>
<script>
    function CompPermission() {
        $.ajax({
            type: 'post',
            url: "@Url.Action("Save", PageControllerName)",
            beforesend: $("#WaitingMode").show(),
            data: $('form').serialize(),
            success: function (result) {
                $("#WaitingMode").hide();
                if (result == "1") {
                    msgSuccess1("Company Permission SuccessFully.");
                    message_value = "btnCompPermission";
                }
                else {
                    msgWarning(result);
                    message_value = "btnCompPermission";
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>
<script>
    function GetBarCode1(id) {
        debugger;
        if (id == "") {
            ClearAllTextBoxes("BARNO,STYLENO,ITGRPNM,FABITNM,PDESIGN,BLSLNO");
        }
        else {
            var BARNO = $('#BARNO').val();
            var Defaultbar = $('#Defaultbar').val();
            var MTRLJOBCD = $('#MTRLJOBCD').val();
            var ALLMTRLJOBCD = $('#ALLMTRLJOBCD').val();
            var code = BARNO + String.fromCharCode(181) + Defaultbar + String.fromCharCode(181) + MTRLJOBCD + String.fromCharCode(181) + ALLMTRLJOBCD;
            $.ajax({
                type: 'POST',
                beforesend: $("#WaitingMode").show(),
                url: "@Url.Action("GetBarCodeDetails", PageControllerName)",
                data: "&val=" + id + "&Code=" + code,
                success: function (result) {
                    var MSG = result.indexOf('#helpDIV');
                    if (MSG >= 0) {
                        $('#helpDIV').html(result);
                        return;
                    }
                        var MSG = result.indexOf(String.fromCharCode(181));
                        if (MSG >= 0) {
                            $("#BARNO").val(returncolvalue(result, "barno"));
                            $("#BarImages").val(returncolvalue(result, "BARIMAGE"));
                            ShowBarImage();
                            $("#STYLENO").val(returncolvalue(result, "styleno"));
                            //$("#FABSTYLENO").val(returncolvalue(result, "styleno"));
                            $("#ITGRPNM").val(returncolvalue(result, "itgrpnm"));
                            $("#FABITNM").val(returncolvalue(result, "itnm"));
                            $("#PDESIGN").val(returncolvalue(result, "pdesign"));
                            $("#BLSLNO").val(returncolvalue(result, "balnos"));
                        }                    
                    else {
                        $('#helpDIV').html("");
                        msgInfo("" + result + " !");
                        ClearAllTextBoxes("BARNO,STYLENO,ITGRPNM,FABITNM,PDESIGN,BLSLNO");
                        message_value = "BARNO";
                    }
                    $("#WaitingMode").hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });
        }
    }
    function ShowBarImage() {
        debugger;   
        var barimg = $("#BarImages").val();
        if (barimg != "") {
            var arr = $("#BarImages").val().split(String.fromCharCode(179));
            $.each(arr, function (index, value) {
                var imgname = (value.split('~')[0]);
                var id = (imgname).split('.')[0];
                var ImageDesc = (value.split('~')[1]);
                var htm = "";
                htm += '<div class="col-lg-4" id="' + id + '">';
                htm += '       <div class="thumbnail">';
                htm += '           <button type="button" style="position:absolute;top:5px;right:11px;padding:0px 5px;cursor:pointer;border-radius:10px;" class="btn-danger" onclick= deleteBarImages("' + id + '")>X</button>';
                htm += '           <a href="' + imgname + '"  target="_blank">';
                htm += '                <img src="' + imgname + '"  alt="" style="width:100%;height:300px;">';
                htm += '                <div class="caption">';
                htm += '                   ' + ImageDesc;
                htm += '          </div>';
                htm += '      </a>';
                htm += '  </div>';
                htm += '</div>';
                $("#divUploadImage").append(htm);
            });
        }
    }
</script>

@using (Html.BeginForm(Model.ActionName, PageControllerName, FormMethod.Post))
{
    if (Model.DefaultView == true)
    {
        <div class="form-horizontal">
            @Html.HiddenFor(s => s.DefaultAction)
            <input type="hidden" id="btnSave" value="@Url.Action("SAVE", PageControllerName)" />
            <input type="hidden" id="ImageName" value="" />
            <input type="hidden" id="ImageStr" value="" />
            <input type="hidden" id="Defaultstyle" value="Style" />
            <input type="hidden" id="Defaultbar" value="Bar" />
            <input type="hidden" id="Onclicktbar" value="" />

            <div class="col-md-1">
                <div class="editor-label" style="margin-top: 6px;">
                    @Html.Label("", "Bar Code")
                    <b style="color:Red;">*</b>
                </div>
            </div>
            <div class="col-md-6">
                <div class="editor-field">
                    @Html.EditorFor(model => model.BARNO, new { htmlAttributes = new { @class = "form-control textbox_image", id = "BARNO", onkeydown = "GetHelpBlur('" + @Url.Action("GetBarCodeDetails", PageControllerName) + "','Bar Code Details','BARNO','BARNO=BARNO=0','Onclicktbar/Defaultbar/MTRLJOBCD/ALLMTRLJOBCD')", onblur = "GetBarCode1(this.value)", @placeholder = "Bar Code", maxlength = 25 } })
                    <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetBarCodeDetails", PageControllerName)','Bar Code Details','BARNO','BARNO=BARNO=0','Onclicktbar/Defaultbar/MTRLJOBCD/ALLMTRLJOBCD')" />
                    <input type="hidden" id="FDT" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="editor-label" style="margin-top: 6px;">
                        @Html.Label("", "Style No")
                        <b style="color:Red;">*</b>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.STYLENO, new { htmlAttributes = new { @class = "form-control textbox_image", id = "STYLENO", onkeydown = "GetHelpBlur('" + @Url.Action("GetBarCodeDetails", PageControllerName) + "','Design No Details','STYLENO','STYLENO=STYLENO=3/BARNO=BARNO=0/MTRLJOBCD=MTRLJOBCD=2/PARTCD=PARTCD=5/ITCD=itcd','Onclicktbar/Defaultstyle/MTRLJOBCD/ALLMTRLJOBCD')", onblur = "GetHelpBlur('" + @Url.Action("GetBarCodeDetails", PageControllerName) + "','Design No Details','STYLENO','STYLENO=STYLENO=3/BARNO=BARNO=0/MTRLJOBCD=MTRLJOBCD=2/ITGRPNM=ITGRPNM/FABITNM=itnm/PDESIGN=pdesign/BLSLNO=balnos','BARNO/Defaultstyle/MTRLJOBCD/ALLMTRLJOBCD')", @placeholder = "Design No", maxlength = 25 } })
                        <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetBarCodeDetails", PageControllerName)','Design No Details','STYLENO','STYLENO=STYLENO=3/BARNO=BARNO=0/MTRLJOBCD=MTRLJOBCD=2/PARTCD=PARTCD=5/ITCD=itcd','Onclicktbar/Defaultstyle/MTRLJOBCD/ALLMTRLJOBCD')" />
                        <input type="hidden" id="MTRLJOBCD" />
                        <input type="hidden" id="PARTCD" />
                        <input type="hidden" id="ITCD" />
                    </div>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="editor-field" style="margin-top:5px;width:auto;height:60px; overflow:auto;border:5px groove;overflow-x: hidden;">
                    <table id="exampleLT" border="1" style="width: auto;">
                        @for (int i = 0; i < Model.DropDown_list_MTRLJOBCD.Count; i++)
                        {
                            <tr>
                                <td align="center">
                                    @Html.CheckBoxFor(model => model.DropDown_list_MTRLJOBCD[i].Checked, new { id = "MaterialJobChk_" + i, onclick = "GetAllMtrljobcd();" })
                                </td>
                                <td align="center">
                                    @{ string STRC = Model.DropDown_list_MTRLJOBCD[i].MTRLJOBCD.ToString();}
                                    @Html.DisplayFor(model => STRC)
                                    @Html.HiddenFor(model => model.DropDown_list_MTRLJOBCD[i].MTRLJOBCD, new { id = "MaterialJobCode_" + i })
                                </td>
                                <td align="center">
                                    @{ string STRC1 = Model.DropDown_list_MTRLJOBCD[i].MTRLJOBNM.ToString();}
                                    @Html.DisplayFor(model => STRC1)
                                </td>
                            </tr>
                                        }
                    </table>
                </div>
                @Html.HiddenFor(model => model.ALLMTRLJOBCD, new { id = "ALLMTRLJOBCD" })
            </div>
            <div class="row">
                @*<div class="col-md-3">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.STYLENO, new { htmlAttributes = new { @class = "form-control", id = "STYLENO", @title = "STYLENO", @placeholder = "STYLENO", @readonly = "readonly", @TabIndex = -1 } })
                    </div>
                </div>*@
                <div class="col-md-3">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.ITGRPNM, new { htmlAttributes = new { @class = "form-control", id = "ITGRPNM", @title = "ITGRPNM", @placeholder = "ITGRPNM", @readonly = "readonly", @TabIndex = -1 } })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.FABITNM, new { htmlAttributes = new { @class = "form-control", id = "FABITNM", @title = "FABITNM", @placeholder = "FABITNM", @readonly = "readonly", @TabIndex = -1 } })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.PDESIGN, new { htmlAttributes = new { @class = "form-control", id = "PDESIGN", @title = "PDESIGN", @placeholder = "PDESIGN", @readonly = "readonly", @TabIndex = -1 } })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.BLSLNO, new { htmlAttributes = new { @class = "form-control", id = "BLSLNO", @title = "BLSLNO", @placeholder = "BLSLNO", @readonly = "readonly", @TabIndex = -1 } })
                    </div>
                </div>
            </div>
            <div class="row">
                @Html.HiddenFor(model => model.BarImages)
                <div class="col-md-5"><div class="editor-label" style="margin-top: 6px;">@Html.Label("", "Upload Product Image") </div></div>
                <div class="col-lg-2"><input type="text" id="ImageDesc" value="" class="form-control" placeholder="Description" /></div>
                <div class="col-lg-2"><input type="file" class="form-control" name="Imageupload" accept="image/*" onchange="fileTypeCheck(this);" /></div>
                <div class="col-lg-1"><input type="button" value="Upload" class="btn-sm" onclick="UploadBarnoImage();"></div>
            </div>

            <div class="row" id="divUploadImage">
                @*<div class="col-lg-4" id="@v.docID">
                        <div class="thumbnail">
                            <button type="button" style="position:absolute;top:5px;right:11px;padding:0px 5px;cursor:pointer;border-radius:10px;" class="btn-danger" onclick="deleteBarImages('@v.docID')">X</button>
                            <a href="@v.DOC_FILE" target="_blank">
                                <img src="@v.DOC_FILE" alt="" style="width:100%;height:300px;">
                                <div class="caption">
                                    @v.DOC_DESC
                                </div>
                            </a>
                        </div>
                    </div>*@
            </div>

        </div>
                                        }
                                        <div class="container">
                                            <div id="helpDIV" style="z-index: 2;">

                                            </div>
                                        </div>
                                        }
