@model Improvar.ViewModels.LineMasterEntry
@{
    ViewBag.Title = "Line Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") {
            modeView();
            $("#LINECD").attr("disabled", "true");
        }
        else if ("@Model.DefaultAction" == "E") {

            $("#LINECD").attr("disabled", "true");
            $("#LINECD").attr("readonly", "readonly");
        }
        else if ("@Model.DefaultAction" == "A") {
            $('form :input:enabled:visible:not([readonly]):first').focus();
        }
        $("#WaitingMode").hide();
   });
</script>
<script>
   function requiredFieldValidator()
   {
       if (!emptyFieldCheck("Enter Line Code", "LINECD")) { return false; }
       if (!emptyFieldCheck("Enter Line Name", "LINENM")) { return false; }
       if (!emptyFieldCheck("Enter Floor Code", "FLRCD")) { return false; }
        return true;
   }
</script>

<script>
    @{
        string mldauto = "";
        if (@Model.M_LINEMAST != null)
        {
            mldauto = Model.M_LINEMAST.M_AUTONO.ToString();
        }
        else
        {
            mldauto = "";
        }
    }
    function ModifyLogDetails() {
        if ("@Model.DefaultAction" == "V") {
            ModifyLogDtl(@mldauto);
        }
    }
</script>

<script>
    function CheckLineCode(id) {
        if ("@Model.DefaultAction" == "A") {
            var valu = document.getElementById(id).value;
            if (valu == "") {
            }
            else {
                $.ajax({
                    type: 'GET',
                    url: $("#checklINEcode").val(),
                    data: {
                        val: valu
                    },
                    success: function (result) {
                        if (result == "1") {
                            $("#Msgdiv1").show();
                            $("#info").show();
                            $("#LINECD").val("");
                            $("#msgbody_info").html("Code Already Exists : Please Enter a Valid Code !! ");
                            $("#btnok").focus();
                            message_value = "LINECD";
                            return false;
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#WaitingMode").hide();
                        msgError(XMLHttpRequest.responseText);
                        $("body span h1").remove(); $("#msgbody_error style").remove();
                    }
                });
            }
        }
    }
</script>
<script>
    function inputfloor(id, id1) {
        var str = $("#tempHDD").val().split(String.fromCharCode(181));
        $("#" + id.id).val(str[0]);
        $("#" + id1.id).val(str[1].toString());
    }

    function SelectFLRCD(id, FLRCD, FLRNM) {
        if (id == "") {
            $("#FLRNM").val("");
        }
        else {
            $.ajax({
                type: 'GET',
                url: $("#SelectFloor").val(),
                data: {
                    val: id
                },
                success: function (result) {
                    if (result == "0") {
                        $("#Msgdiv1").show();
                        $("#info").show();
                        $("#FLRCD").val("");
                        $("#FLRNM").val("");
                        $("#btnok").focus();
                        $("#msgbody_info").html("Invalid Job Price Code !! ");
                        message_value = "FLRCD";
                    }
                    else {
                        $("#tempHDD").val(result);
                        inputfloor(FLRCD, FLRNM);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });
        }
    }

</script>

@{
    string PageControllerName = "M_Line";
}
@using (Html.BeginForm())
{
    if (Model.DefaultView == true)
    {
        @Html.HiddenFor(a => Model.maxdate)
        @Html.HiddenFor(a => Model.mindate)
        <div class="form-horizontal" style="padding-left:5px;padding-right:5px;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" id="checklINEcode" value="@Url.Action("CheckLineCode", PageControllerName)" />
            <input type="hidden" id="btnSave" value="@Url.Action("SAVE", PageControllerName)" />
            <input type="hidden" id="SelectFloor" value="@Url.Action("FloorCode", PageControllerName)" />
            <input type="hidden" id="srhpnl" value="@Url.Action("SearchPannelData", PageControllerName)" />
  @Html.HiddenFor(s => s.DefaultAction)
            @Html.HiddenFor(a => a.M_LINEMAST.M_AUTONO)
            <div class="row">
                <div class="col-md-4">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Line Code")
                        <b style="color:red"><sup>*</sup></b>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_LINEMAST.LINECD, new { htmlAttributes = new { @class = "form-control ", onblur = "CheckLineCode('LINECD');", id = "LINECD", @placeholder = "Code", maxlength = 5, @style = "text-transform:uppercase;" } })

                        @Html.HiddenFor(a => a.M_LINEMAST.LINECD)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Line Name")
                        <b style="color:red"><sup>*</sup></b>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_LINEMAST.LINENM, new { htmlAttributes = new { @class = "form-control ", id = "LINENM", @placeholder = "Name", maxlength = 10 } })

                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-4">
                    <div class="editor-field" style="margin-top: 4px;">
                        @Html.Label("", "Floor Code")
                        <b style="color:red"><sup>*</sup></b>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_LINEMAST.FLRCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "FLRCD", @placeholder = "Code", maxlength = 3, onkeyup = "GetHelp('" + @Url.Action("GetFloorCode", PageControllerName) + "','FLRCD/FLRNM','1/0','Floor Details','FLRCD');", onblur = "SelectFLRCD(this.value,FLRCD,FLRNM);" } })
                        <img src="~/Image/search.png" width="20px" class="Help_image_button" height="20px" title="Help" onclick="GetHelp('@Url.Action("GetFloorCode", PageControllerName)','FLRCD/FLRNM','1/0','Floor Details','FLRCD')" />


                    </div>
                </div>
                <div class="col-md-7">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.M_FLRLOCA.FLRNM, new { htmlAttributes = new { @class = "form-control ", id = "FLRNM", @placeholder = " Name", maxlength = 15, @readonly = "readonly" } })
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-6">
                    <div class="editor-label" style="margin-top:0px;margin-bottom: -5px;display: inline-block;">
                        @Html.Label("", "Deactivate")
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="editor-field" style="display: inline-block;">
                        @Html.CheckBoxFor(model => model.Deactive)
                    </div>
                </div>

            </div>

        </div>
    }
    else
    {
        @ViewBag.ErrorMessage
    }

    <div class="container">
        <div id="helpDIV">

        </div>
    </div>
}


