@model Improvar.ViewModels.ReportViewinHtml
@{
    ViewBag.Title = "Job Work Register";
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    string PageControllerName = "Rep_Job_reg";
}
<script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/Content/bootstrap-select.css" />
@Scripts.Render("~/Scripts/Multiple-Select-min.js")
@Scripts.Render("~/Scripts/bootstrap-select.js")
<script src="~/Scripts/jquery.min.js"></script>
<script>
    $(function () {
        $("#FDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true });
        $("#TDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true });
        $("#TEXTBOX1").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true });
    });
</script>
<script>
    function Show_rep() {
        debugger;
        //if (!emptyFieldCheck("Enter/Select To Date ", "TDT")) { return false; }
        $("#form1").attr('target', '_blank');
        $("#form1").attr('action', 'Rep_Job_reg');
        $("#form1").submit();

    }
</script>
@using (Html.BeginForm("", PageControllerName, FormMethod.Post, new { id = "form1", enctype = "multipart/form-data" }))
{
    if (Model.DefaultView == true)
    {
        <div class="form-horizontal">
            @Html.HiddenFor(s => s.DefaultAction)
            <input type="hidden" id="urlSLCDHLP" value="@Url.Action("GetSLCDhelp", PageControllerName)" />
            <div class="report_center" style="background-color:lightgrey; padding:1%;border: 1px solid; margin: 0% 22% 2% 22%;">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "From Issue Doc Date")
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.FDT, new { htmlAttributes = new { @class = "form-control", id = "FDT", @TabIndex = -1, @placeholder = "DD/MM/YYY", onblur = "DocumentDateCHK(this)", autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "To Issue Doc Date")
                            <sup style="color:red">*</sup>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TDT, new { htmlAttributes = new { @class = "form-control", id = "TDT", @TabIndex = -1, @placeholder = "DD/MM/YYY", onblur = "DocumentDateCHK(this)", autocomplete = "off" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-field" style="margin-top: 4px;">
                            @Html.Label("", "Job Name")
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="editor-field">
                            @Html.DropDownListFor(model => Model.JOBCD, new SelectList(Model.DropDown_list_JOBCD, "Value", "Text", Model.JOBCD), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:6px">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Jobber")
                        </div>
                    </div>
                    <div class="col-md-11">
                        @(new HtmlString(Model.Slnm))
                    </div>
                </div>
                <div class="row" style="margin-top:6px">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Item/Style")
                        </div>
                    </div>
                    <div class="col-md-11">
                        @(new HtmlString(Model.Itnm))
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Receive Date")
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TEXTBOX1, new { htmlAttributes = new { @class = "form-control", id = "TEXTBOX1", @placeholder = "DD/MM/YYY", onblur = "DocumentDateCHK(this)", autocomplete = "off" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Show Value")
                        </div>
                    </div>
                    <div class="col-lg-2" style="border: 2px groove;">
                        <label class="checkbox-inline">
                            @Html.CheckBoxFor(model => model.Checkbox1)  @Html.Label("Show Value")
                        </label>
                    </div>
                </div>
                <div class="row" style="margin-top: 8px;">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Show")
                        </div>
                    </div>
                    <div class="col-lg-8" style="border: 2px groove;width:auto;">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(g => g.TEXTBOX2, "SHOWALL", new { @checked = "checked" })  @Html.Label("Show All")
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(g => g.TEXTBOX2, "PENDING")  @Html.Label("Pending")
                        </label>
                    </div>
                </div>
                <div class="row" style="margin-top: 8px;">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Report Type")
                        </div>
                    </div>
                    <div class="col-lg-8" style="border: 2px groove;width:auto;">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(g => g.TEXTBOX3, "DETAIL", new { @checked = "checked" })  @Html.Label("Detail")
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(g => g.TEXTBOX3, "SUMARRY")  @Html.Label("Summary")
                        </label>
                    </div>
                </div>
                <div class="row" style="margin-top: 8px;">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Report Format")
                        </div>
                    </div>
                    <div class="col-lg-8" style="border: 2px groove;width:auto;">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(g => g.TEXTBOX4, "STANDARD")  @Html.Label("Standard")
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(g => g.TEXTBOX4, "JOBBERWISE", new { @checked = "checked" })  @Html.Label("Jobber Wise")
                        </label>
                    </div>
                </div>
                <div class="row" style="margin-top:10PX">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-6">
                        <input type="button" value="Show Report" name="command" class="btn btn-default" formtarget="_blank" onclick="Show_rep()" />
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="container">
        <div id="helpDIV" style="z-index: 2;">

        </div>
    </div>
}
