@model Improvar.ViewModels.BrandEntry
@{
    ViewBag.Title = "Brand Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if ("@Model.DefaultAction" == "V" || "@Model.DefaultAction" == "D") {
            modeView();
        }
        else if ("@Model.DefaultAction" == "E") {

            $("#BRANDCD").attr("readonly", "readonly");
        }
        else if ("@Model.DefaultAction" == "A") {
            $('form :input:enabled:visible:not([readonly]):first').focus();
        }
        $("#WaitingMode").hide();
    });
</script>
<script>
    function requiredFieldValidator() {
        if (!emptyFieldCheck("Enter Brand Code", "BRANDCD")) { return false; }
        if ($("#BRANDCD").val().length != 4) { msgInfo(" BRANDCD=4 charecter"); return false; }
        if (!emptyFieldCheck("Enter Brand Name", "BRANDNM")) { return false; }
        return true;
    }
</script>
<script>
    @{
        string mldauto = "";
        if (@Model.M_BRAND != null)
        {
            mldauto = Model.M_BRAND.M_AUTONO.ToString();
        }
        else
        {
            mldauto = "";
        }
    }
    function ModifyLogDetails() {
        if ("@Model.DefaultAction" == "V") {
            ModifyLogDtl(@mldauto);
        }
    }
</script>
<script>

    function AddDOCrow() {
        $.ajax({
            type: 'POST',
            url: $("#add_doc_url").val(),
            data: $('form').serialize(),
            success: function (result) {
                $("#partialdivDocument").animate({ marginTop: '-10px' }, 50);
                $("#partialdivDocument").html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
    function DeleteDOCrow() {
        $.ajax({
            type: 'POST',
            url: $("#del_doc_url").val(),
            data: $('form').serialize(),
            success: function (result) {
                $("#partialdivDocument").animate({ marginTop: '0px' }, 50);
                $("#partialdivDocument").html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#WaitingMode").hide();
                msgError(XMLHttpRequest.responseText);
                $("body span h1").remove(); $("#msgbody_error style").remove();
            }
        });
    }
</script>
<script>
    function CheckBrandCode(id) {
        var valu = document.getElementById(id).value;
        if (valu == "") {
        }
        else {
            $.ajax({
                type: 'GET',
                url: $("#urlname").val(),
                data: {
                    val: valu
                },
                success: function (result) {
                    if (result == "1") {
                        $("#Msgdiv1").show();
                        $("#info").show();
                        $("#msg_ok_info").focus();
                        $("#msgbody_info").html("Code Already Exists : Please Enter a Valid Code !! ");
                        $("#BRANDCD").val("");
                        message_value = "BRANDCD";

                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });
        }
    }
</script>
<script>
    function fileCheck(id, index) {
        var fileUpload = $(id).get(0);
        var filesSelected = fileUpload.files;
        if (filesSelected.length > 0) {
            var fileToLoad = filesSelected[0];
            var fname = document.getElementById("UploadDOC_" + index.toString() + "__DOC_FILE_NAME");
            fname.value = fileToLoad.name;
            var fileReader = new FileReader();

            fileReader.onload = function (fileLoadedEvent) {
                var textAreaFileContents = document.getElementById("UploadDOC_" + index.toString() + "__DOC_FILE");

                textAreaFileContents.value = fileLoadedEvent.target.result;
                $("#img_" + index.toString()).attr('src', fileLoadedEvent.target.result);
            };

            fileReader.readAsDataURL(fileToLoad);
        }
    }

</script>
@{
    string PageControllerName = "M_Brand";
}
@using (Html.BeginForm())
{
    if (Model.DefaultView == true)
    {
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" id="btnSave" value="@Url.Action("SAVE", PageControllerName)" />
            <input type="hidden" id="urlname" value="@Url.Action("CheckBrandCode", PageControllerName)" />
            <input type="hidden" id="add_doc_url" value="@Url.Action("AddDOCRow", PageControllerName )" />
            <input type="hidden" id="del_doc_url" value="@Url.Action("DeleteDOCRow", PageControllerName )" />
            <input type="hidden" id="srhpnl" value="@Url.Action("SearchPannelData", PageControllerName)" />
            @Html.HiddenFor(s => s.DefaultAction)
            @Html.HiddenFor(a => a.M_BRAND.M_AUTONO)
            @Html.HiddenFor(e => e.M_BRAND.EMD_NO)
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#Standard">Standard</a></li>
                <li><a data-toggle="tab" href="#Documents">Documents</a></li>
            </ul>
            <div class="tab-content">
                <div id="Standard" class="tab-pane fade in active" style="margin-top: 10px;">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="editor-label" style="margin-top: 6px; float:left;">
                                @Html.Label("", "Brand Code")
                                <b style="color:Red;">*</b>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="editor-field">
                                @if (Model.DefaultAction == "A")
                                {
                                    @Html.EditorFor(model => model.M_BRAND.BRANDCD, new { htmlAttributes = new { @class = "form-control", id = "BRANDCD", onblur = "CheckBrandCode('BRANDCD');", @placeholder = "Code", @style = "text-transform:uppercase;", maxlength = 4 } })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.M_BRAND.BRANDCD, new { htmlAttributes = new { @class = "form-control", id = "BRANDCD", @placeholder = "Code", @style = "text-transform:uppercase;", @onkeyup = "toUpper(this);", maxlength = 4 } })
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="editor-label" style="margin-top: 6px; float:left;">
                                @Html.Label("", "Brand Name")
                                <b style="color:Red;">*</b>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.M_BRAND.BRANDNM, new { htmlAttributes = new { @class = "form-control", id = "BRANDNM", @placeholder = "Brand Name", maxlength = 15 } })
                            </div>
                        </div>
                    </div>
                  
                    <div class="row">
                        <div class="col-md-2">
                            <div class="editor-label" style="margin-top: 6px; float:left;">
                                @Html.Label("", "De - Activate")
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="editor-field" style="margin-top:6px;">
                                @Html.CheckBoxFor(model => model.Checked)
                            </div>
                        </div>
                    </div>
                  
                </div>
                <div id="Documents" class="tab-pane fade" style="margin-top: 10px;margin-left: 11px;">
                    <div class="row" style="margin-top: 11px;width:1024px;height:auto;background-color:#c4b9b9">
                        <div id="partialdivDocument">
                            @Html.Partial("_UPLOADDOCUMENTS")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        @ViewBag.ErrorMessage
    }
    <div class="container">
        <div id="helpDIV">

        </div>
    </div>
}
