@model Improvar.ViewModels.ReportViewinHtml
@{   
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}

<script src="~/Scripts/jquery.min.js"></script>

<script>
    $(function () {
        $("#FDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true });
        $("#TDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true });
    });
</script>
<script>
    function Show_rep()
    {
        debugger;
        var reptype = $('[id="TEXTBOX3"]:checked').val();
        $("#form1").attr('target', '_blank');

        if (reptype == "PhysicalActualStock")
        {
            $("#form1").attr('action', 'StockDiffPrint');
            $("#form1").submit();
        }
        else
        {
            $("#form1").attr('action', 'PhyStockDetailsPrint');
            $("#form1").submit();
        }
    }
    function RemoveDate() {
        var reptype = $('[id="TEXTBOX3"]:checked').val();
        if (reptype == "PhysicalActualStock")
        {
            $("#FDT").val("");
        }
    }
</script>
@{
    string PageControllerName = "PhyStockPrint";
}
@using (Html.BeginForm("", PageControllerName, FormMethod.Post, new { id = "form1", enctype = "multipart/form-data" }))
{
    if (Model.DefaultView == true)
    {
        <div class="form-horizontal">
            @Html.HiddenFor(s => s.DefaultAction)
            @Html.HiddenFor(model => model.maxdate)
            @Html.HiddenFor(model => model.MENU_PARA)
            <input type="hidden" id="partylinkcd" value="D,C" />

            <div class="report_center" style="background-color:lightgrey; padding:1%;border: 1px solid; margin: 2% 22% 2% 22%;">

                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Doc Code")
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.DOCCD, new { htmlAttributes = new { @class = "form-control textbox_image", id = "DOCCD", onkeyup = "GetHelp('" + @Url.Action("Getdocno", PageControllerName) + "','DOCCD/TEXTBOX2','1/0','Select UOM Details','DOCCD');", @placeholder = "Code", maxlength = 4, required = "required" } })
                            @*<img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onclick="GetHelp('@Url.Action("Getdocno", PageControllerName)','DOCCD/TEXTBOX2','1/0','Select Docno and Docdt Details','DOCCD')" />*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "From Doc No")
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.FDOCNO, new { htmlAttributes = new { @class = "form-control", id = "FDOCNO", @placeholder = "FDOCNO", maxlength = 8 } })

                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "To Doc No")
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TDOCNO, new { htmlAttributes = new { @class = "form-control", id = "TDOCNO", @placeholder = "FDOCNO", maxlength = 8 } })


                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "From Date")
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="editor-field">
                            @*<input name="FDT" id="FDT" class="form-control" onblur="DocumentDateCHK(this)" autocomplete="off" />*@
                            @Html.EditorFor(model => model.FDT, new { htmlAttributes = new { @class = "form-control", id = "FDT", @style = "text-transform:uppercase;", @placeholder = "dd/mm/yyyy", maxlength = 10, autocomplete = "off", onblur = "DocumentDateCHK(this)" } })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "To Date")
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="editor-field">
                            @*<input name="TDT" id="TDT" class="form-control" onblur="DocumentDateCHK(this)" autocomplete="off" />*@
                            @Html.EditorFor(model => model.TDT, new { htmlAttributes = new { @class = "form-control", id = "TDT", @style = "text-transform:uppercase;", @placeholder = "dd/mm/yyyy", maxlength = 10, autocomplete = "off", onblur = "DocumentDateCHK(this)" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="editor-field" style="margin-top: 4px;">
                            @Html.Label("", "Godown")
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TEXTBOX1, new { htmlAttributes = new { @class = "form-control textbox_image", id = "GOCD", onkeydown = "GetHelpBlur('" + @Url.Action("GetGodownDetails", PageControllerName) + "','Godown Details','GOCD','GOCD=GOCD=1/GONM=GONM=0')", onblur = "GetHelpBlur('" + @Url.Action("GetGodownDetails", PageControllerName) + "','Godown Details','GOCD','GOCD=GOCD=1/GONM=GONM=0');", @placeholder = "Code", maxlength = 6 } })
                            <img src="~/Image/search.png" width="20px" height="20px" class="Help_image_button" title="Help" onmousedown="GetHelpBlur('@Url.Action("GetGodownDetails", PageControllerName)','Godown Details','GOCD','GOCD=GOCD=1/GONM=GONM=0')" />
                   </div>
                    </div>
                    <div class="col-md-10">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TEXTBOX2, new { htmlAttributes = new { @class = "form-control", id = "GONM", @TabIndex = -1, @placeholder = "Party Name", maxlength = 45, @readonly = "readonly" } })
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:6px">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Item")
                        </div>
                    </div>
                    <div class="col-md-6">
                        @(new HtmlString(Model.Itnm))
                    </div>
                </div>
                <div class="row" style="margin-top:6px">
                    <div class="col-lg-2">
                        <div class="editor-label" style="margin-top:5px">
                            @Html.Label("", "Material Job")
                        </div>
                    </div>
                    <div class="col-md-6">
                        @(new HtmlString(Model.Mtrljobnm))
                    </div>
                </div>
                <div class="row" style="margin-top:10PX">
                    <div class="col-md-8">
                        <div class="editor-label" style="margin-top: 6px;">
                            @Html.Label("", "Report Type")
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.TEXTBOX3, "Details", new { @checked = "checked", id = "TEXTBOX3", onclick = "RemoveDate();" })  @Html.Label("Details")
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.TEXTBOX3, "Date Wise Summary", new {  id = "TEXTBOX3" , onclick = "RemoveDate();" })  @Html.Label("Date Wise Summary")
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.TEXTBOX3, "Super Summary", new { id = "TEXTBOX3", onclick = "RemoveDate();" })  @Html.Label("Super Summary")
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.TEXTBOX3, "PhysicalActualStock", new { id = "TEXTBOX3", onclick = "RemoveDate();" })  @Html.Label("Physical stock v/s Actual stock")
                        </label>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-lg-2">
                        <div class="editor-field" style="margin-top: 4px;">
                            @Html.Label("", "Date Wise Club")
                        </div>
                    </div>
                    <div class="col-md-1" style="margin-right: -41px;">
                        <div class="editor-field" style="margin-top:6px;">
                            @Html.CheckBoxFor(model => model.Checkbox1, new { id = "Checkbox1" })
                        </div>
                    </div>
                </div>*@
               <div class="row" style="margin-top:10PX">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-md-3">
                        <div class="editor-field" style="margin-top:8px;">
                            <input type="button" value="Show Report" name="Command" class="btn btn-default" sstyle="width:66px;" formtarget="_blank" onclick="Show_rep()"/>
                        </div>
                    </div>
                </div>
               


            </div>

        </div>
    }
    <div class="container">
        <div id="helpDIV" style="z-index: 2;">

        </div>
    </div>
}
